unpackaged/main/default/flows/B2C_Commerce_Process_Update_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Country_Name</name>
        <label>Get Country Name</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <actionName>CountryNameManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Fields_Value_to_Update</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isoCode</name>
            <value>
                <elementReference>sourceContact.Country__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CountryNameManager</nameSegment>
        <outputParameters>
            <assignToReference>sourceContact.MailingCountry</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>... this action remove the read-only PersonAccount properties attached to a Contact from the Contact -- so that the Contact record can be independently updated.</description>
        <name>ia_removeROAccountPropertiesFromContact</name>
        <label>Remove Read-Only Account Properties</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <actionName>B2CIARemovePAPropertiesFromContact</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>recUpd_sourceContactUpdate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contact</name>
            <value>
                <elementReference>Contact</elementReference>
            </value>
        </inputParameters>
        <nameSegment>B2CIARemovePAPropertiesFromContact</nameSegment>
        <outputParameters>
            <assignToReference>Contact</assignToReference>
            <name>processedContact</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Error_while_update_the_account</name>
        <label>Error while updating the account</label>
        <locationX>490</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>errors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Error while updating the Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>... Success Message returning Account and Contact</description>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errors</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Contact Updated SuccessFully</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Account_from_Contact_Updated</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>... evaluate if QA Mode is enabled -- and act accordingly.</description>
        <name>dec_isQAModeEnabled</name>
        <label>Is QA Mode Enabled?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Does_Country_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Enabled</defaultConnectorLabel>
        <rules>
            <name>decOut_qaModeEnabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_qaMode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sub_overrideTheContact</targetReference>
            </connector>
            <label>Is Enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Country_exist</name>
        <label>Does Country exist and PII should be update ?</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Assign_Fields_Value_to_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>doest not exist of PII shouldn&apos;t be update</defaultConnectorLabel>
        <rules>
            <name>decout_Country_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sourceContact.Country__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sourceContact.Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_PIItoUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Country_Name</targetReference>
            </connector>
            <label>exist</label>
        </rules>
    </decisions>
    <description>... this flow is used to execute Contact Processing requests from B2C Commerce -- and update a Contact record within the Salesforce Platform.</description>
    <environments>Default</environments>
    <interviewLabel>B2C Commerce : Process : Update Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2C Commerce : Process : Update Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>...Get the account just updated</description>
        <name>get_Account_from_Contact_Updated</name>
        <label>get Account from Contact Updated</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Updated.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>... Get the contact just updated</description>
        <name>Get_Contact_Updated</name>
        <label>Get Contact Updated</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Account_from_Contact_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>... update the sourceContact record accordingly.</description>
        <name>recUpd_sourceContactUpdate</name>
        <label>Update the Contact Record</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Get_Contact_Updated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_while_update_the_account</targetReference>
        </faultConnector>
        <inputReference>Contact</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_isQAModeEnabled</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>... Assign all fields values from Source Contact to Contact to update according to the existing contact fields values</description>
        <name>Assign_Fields_Value_to_Update</name>
        <label>Assign Fields Value to Update</label>
        <locationX>182</locationX>
        <locationY>842</locationY>
        <connector>
            <targetReference>ia_removeROAccountPropertiesFromContact</targetReference>
        </connector>
        <flowName>B2CCommerce_ContactAssignment_Helper</flowName>
        <inputAssignments>
            <name>originalExistingContact</name>
            <value>
                <elementReference>var_originalContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sourceContact</name>
            <value>
                <elementReference>sourceContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_PIItoUpdate</name>
            <value>
                <elementReference>var_PIItoUpdate</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Contact</assignToReference>
            <name>ContactToUpdate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_contactResolutionError</assignToReference>
            <name>Error</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>sourceContact</assignToReference>
            <name>sourceContact</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>... use the QA Helper to override the contact being processed with configurable values.</description>
        <name>sub_overrideTheContact</name>
        <label>Override the Contact</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>sub_overrideTheCustomInput</targetReference>
        </connector>
        <flowName>B2CCommerce_Process_QAModeHelper</flowName>
        <inputAssignments>
            <name>var_qaAccountId</name>
            <value>
                <elementReference>var_qaCustInputAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaB2CCustomerID</name>
            <value>
                <elementReference>var_qaB2CCustomerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaB2CCustomerListID</name>
            <value>
                <elementReference>var_qaB2CCustomerListID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaB2CCustomerNo</name>
            <value>
                <elementReference>var_qaB2CCustomerNo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaCountry</name>
            <value>
                <elementReference>var_qaCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaEmailAddress</name>
            <value>
                <elementReference>var_qaEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaFirstName</name>
            <value>
                <elementReference>var_qaFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaFullAccount</name>
            <value>
                <elementReference>var_qaFullAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaId</name>
            <value>
                <elementReference>var_qaContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaLastName</name>
            <value>
                <elementReference>var_qaLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaPhone</name>
            <value>
                <elementReference>var_qaPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaSalutation</name>
            <value>
                <elementReference>var_qaSalutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaWebsiteCountry</name>
            <value>
                <elementReference>var_qaWebsiteCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaWebsiteLanguage</name>
            <value>
                <elementReference>var_qaWebsiteLanguage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_qaWebsiteLocale</name>
            <value>
                <elementReference>var_qaWebsiteLocale</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>sourceContact</assignToReference>
            <name>var_qaContact</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>...use the QA Mode CustomInput to override the custom input being processed with configurable values</description>
        <name>sub_overrideTheCustomInput</name>
        <label>Override the Custom Input</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Does_Country_exist</targetReference>
        </connector>
        <flowName>sub_Flow_Process_QA_Mode_CustomInput</flowName>
        <inputAssignments>
            <name>accountID</name>
            <value>
                <elementReference>var_qaCustInputAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>addressConsent</name>
            <value>
                <elementReference>var_qaCustInputAddressConsent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>backInStockSubscriptionSKU</name>
            <value>
                <elementReference>var_qaCustInputBackInStockSKU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>captureContactPointType</name>
            <value>
                <elementReference>var_qaCaptureContactPointType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>captureSource</name>
            <value>
                <elementReference>var_qaCaptureSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CGIConsent</name>
            <value>
                <elementReference>var_qaCustInputCGIConsent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>company</name>
            <value>
                <elementReference>var_qaCustInputCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>customContactPointType</name>
            <value>
                <elementReference>var_qaCustomContactPointType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>emailConsent</name>
            <value>
                <elementReference>var_qaEmailConsent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>optOutContactPointType</name>
            <value>
                <elementReference>var_qaCustInputOptOutContactPointType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>saleChannel</name>
            <value>
                <elementReference>var_qaCustInputSaleChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>store</name>
            <value>
                <elementReference>var_qaCustInputStore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>subscriptionName</name>
            <value>
                <elementReference>var_qaSubscriptionName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>warehouse</name>
            <value>
                <elementReference>var_qaCustInputWareHouse</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>var_CustomInput</assignToReference>
            <name>customInput</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>... represents the resolved Contact Record via non-ContactID means</description>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... represents the collection containing the Contact to resolve</description>
        <name>contactToResolve</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CustomInput</name>
        <apexClass>B2CContactProcessCustomInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>... represents the input parameters used to process a Contact record.</description>
        <name>sourceContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>... variable used to store the B2C CustomerList details that other elements of this flow are dependent on.</description>
        <name>var_b2cCustomerList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2C_CustomerList__c</objectType>
    </variables>
    <variables>
        <description>... represents the error message provided by the contactResolutionHelper.</description>
        <name>var_contactResolutionError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the successFlag value from the contactResolution class.</description>
        <name>var_contactResolutionSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_CustomInput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2CCustomInput__c</objectType>
    </variables>
    <variables>
        <description>... represents the iterative count of resolvedContact items</description>
        <name>var_loopResolvedContactIterationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>... represents the original version of the sourceContact.</description>
        <name>var_originalContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_PIItoUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the customerID used to process the Contact within the flow.</description>
        <name>var_qaB2CCustomerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the B2C CustomerList ID used to test the B2C Contact Process flow.</description>
        <name>var_qaB2CCustomerListID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the customerNo the be used to process the Contact within the flow.</description>
        <name>var_qaB2CCustomerNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_qaCaptureContactPointType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_qaCaptureSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_qaContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_qaCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_qaCustInputAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_qaCustInputAddressConsent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_qaCustInputBackInStockSKU</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_qaCustInputCGIConsent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_qaCustInputCompany</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_qaCustInputOptOutContactPointType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_qaCustInputSaleChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_qaCustInputStore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_qaCustInputWareHouse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_qaCustomContactPointType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the emailAddress used to test the B2CContactProcess sub-flow.</description>
        <name>var_qaEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_qaEmailConsent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_qaFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_qaFullAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... placeholder variable for the contact&apos;s lastName.</description>
        <name>var_qaLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... describes if the current flow is operating in QAMode</description>
        <name>var_qaMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_qaPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_qaSalutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... represents the contactRecord used to overwrite the sourceContact for QA testing.</description>
        <name>var_qaSourceContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_qaSubscriptionName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_qaWebsiteCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_qaWebsiteLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_qaWebsiteLocale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>... used to capture the number of contacts resolved by the B2C CustomerResolution IA.</description>
        <name>var_resolvedContactCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
