unpackaged/main/default/flows/BackInStockFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Verify_Channel_Typ</name>
        <label>Verify Channel Typ</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Channel_Type_is_BackinStock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CommSubscriptionChannelType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BackInStock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateBackInStockField</targetReference>
            </connector>
            <label>If Channel Type is BackinStock</label>
        </rules>
    </decisions>
    <interviewLabel>BackInStockFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Don&#39;tUse_BackInStockFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateBackInStockField</name>
        <label>UpdateBackInStockField</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BackInStock__pc</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BackInStock__pc</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verify_Channel_Typ</targetReference>
        </connector>
        <object>CommSubscriptionConsent</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
