unpackaged/main/default/flows/CLT_TaskPushNotifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Push_Notification</name>
        <label>Send Push Notification</label>
        <locationX>644</locationX>
        <locationY>887</locationY>
        <actionName>CLT_SendPushNotifications</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Get_Notification_Record.Body__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>id</name>
            <value>
                <elementReference>Get_Notification_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>managementId</name>
            <value>
                <elementReference>Get_Notification_Record.NotificationManagementId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedClientId</name>
            <value>
                <elementReference>Get_Notification_Record.Client__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedClientName</name>
            <value>
                <elementReference>Get_Notification_Record.Client__r.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subtype</name>
            <value>
                <elementReference>Get_Notification_Record.Subtype__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Notification_Record.RelatedRecordId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetScreenId</name>
            <value>
                <elementReference>Get_Notification_Record.TargetScreenId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Get_Notification_Record.Title__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>Get_Notification_Record.Type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>Get_Notification_Record.User__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CLT_SendPushNotifications</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Is_Task_Completed</name>
        <label>Is Task Completed</label>
        <locationX>974</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Get_Uncomplete_Task_Notification_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Task Not Completed</defaultConnectorLabel>
        <rules>
            <name>Task_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <label>Task Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Attribution</name>
        <label>Verify Attribution</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Task_Attribution</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Outreach_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TaskType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Birthday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TaskType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Appt Booking outreach reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Task_Attribution_Notification_Metadata</targetReference>
            </connector>
            <label>New Task Attribution</label>
        </rules>
        <rules>
            <name>New_Outreach_Task_Attribution</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TaskType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appt Booking outreach reminder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Outreach_Task_Attribution_Notification_Metadata</targetReference>
            </connector>
            <label>New Outreach Task Attribution</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>CLT Task Push Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLT Task Push Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Notification_Record</name>
        <label>Create Notification Record</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <assignRecordIdToReference>NotificationId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Notification_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Body__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NotificationManagementId__c</field>
            <value>
                <elementReference>Get_New_Task_Attribution_Notification_Metadata.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Read__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seen__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SendingTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype__c</field>
            <value>
                <elementReference>Get_New_Task_Attribution_Notification_Metadata.Subtype__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetScreenId__c</field>
            <value>
                <elementReference>Get_New_Task_Attribution_Notification_Metadata.RedirectionScreen__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Get_New_Task_Attribution_Notification_Metadata.Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Get_New_Task_Attribution_Notification_Metadata.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Notification__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Outreach_Task_Notification_Record</name>
        <label>Create Outreach Task Notification Record</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <assignRecordIdToReference>NotificationId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Notification_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Body__c</field>
            <value>
                <elementReference>Get_Outreach_Task_Attribution_Notification_Metadata.Message__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NotificationManagementId__c</field>
            <value>
                <elementReference>Get_Outreach_Task_Attribution_Notification_Metadata.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Read__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seen__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SendingTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype__c</field>
            <value>
                <elementReference>Get_Outreach_Task_Attribution_Notification_Metadata.Subtype__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetScreenId__c</field>
            <value>
                <elementReference>Get_Outreach_Task_Attribution_Notification_Metadata.RedirectionScreen__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Get_Outreach_Task_Attribution_Notification_Metadata.Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Get_Outreach_Task_Attribution_Notification_Metadata.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Notification__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Uncompleted_Due_Task_Notification</name>
        <label>Create Uncompleted Due Task Notification</label>
        <locationX>1106</locationX>
        <locationY>492</locationY>
        <assignRecordIdToReference>NotificationId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Notification_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Body__c</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NotificationManagementId__c</field>
            <value>
                <elementReference>Get_Uncomplete_Task_Notification_Metadata.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Read__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seen__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SendingTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtype__c</field>
            <value>
                <elementReference>Get_Uncomplete_Task_Notification_Metadata.Subtype__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetScreenId__c</field>
            <value>
                <elementReference>Get_Uncomplete_Task_Notification_Metadata.RedirectionScreen__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>Get_Uncomplete_Task_Notification_Metadata.Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Get_Uncomplete_Task_Notification_Metadata.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Notification__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Task_Attribution_Notification_Metadata</name>
        <label>Get New Task Attribution Notification Metadata</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Notification_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>attributed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CLT_NotificationManagement__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Record</name>
        <label>Get Notification Record</label>
        <locationX>644</locationX>
        <locationY>779</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Push_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NotificationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Notification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Outreach_Task_Attribution_Notification_Metadata</name>
        <label>Get Outreach Task Attribution Notification Metadata</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Outreach_Task_Notification_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>outreach reminder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CLT_NotificationManagement__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Uncomplete_Task_Notification_Metadata</name>
        <label>Get Uncomplete Task Notification Metadata</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Uncompleted_Due_Task_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subtype__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>due</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CLT_NotificationManagement__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verify_Attribution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Outreach_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Arrived_To_Reminder_Date_Time</name>
            <connector>
                <targetReference>Is_Task_Completed</targetReference>
            </connector>
            <label>Arrived To Reminder Date Time</label>
            <maxBatchSize>10</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>ReminderDateTime</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NotificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
