unpackaged/main/default/flows/CommSubscriptionConsent_AfterInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_Account_Success</name>
        <label>assign_Account_Success</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuccessMessageDML</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_BISClosed_Success</name>
        <label>assign_BISClosed_Success</label>
        <locationX>1106</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SuccessMessageDML</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_NoBIS_Success1</name>
        <label>assign_NoBIS_Success1</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NotBackInStockMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_NoBIS_Success2</name>
        <label>assign_NoBIS_Success2</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NotBackInStockMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_StillBIS_Success</name>
        <label>assign_StillBIS_Success</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BackInStockStillActivateMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>error_DML_Account</name>
        <label>error DML Account</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessageDML</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>BackInStockStillActivateMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>There are still backInStock activated CommSubscriptionConsent on the Account</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChanelType_BackInStock</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BackInStock</stringValue>
        </value>
    </constants>
    <constants>
        <name>ErrorMessageDML</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Impossible to update the record</stringValue>
        </value>
    </constants>
    <constants>
        <name>NotBackInStockMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Not a Back In Stock</stringValue>
        </value>
    </constants>
    <constants>
        <name>SuccessMessageDML</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Successfully Update record</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_there_any_BIS_not_Closed</name>
        <label>Is there any BIS not Closed</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>DeactivateBackInStockField</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No there aren&#39;t any</defaultConnectorLabel>
        <rules>
            <name>Yes_there_are_BIS_not_closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAllBackInStockNotClosedFromClient</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_StillBIS_Success</targetReference>
            </connector>
            <label>Yes there are BIS not closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Status</name>
        <label>Record Status</label>
        <locationX>743</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Verify_New_Channel_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not New Record</defaultConnectorLabel>
        <rules>
            <name>is_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_Channel_Typ</targetReference>
            </connector>
            <label>is New Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Channel_Typ</name>
        <label>Verify Channel Typ</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>assign_NoBIS_Success1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Channel_Type_is_BackinStock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CommSubscriptionChannelType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChanelType_BackInStock</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateBackInStockField</targetReference>
            </connector>
            <label>Channel Type is BackinStock</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_New_Channel_Type</name>
        <label>Verify New Channel Type</label>
        <locationX>1172</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>assign_NoBIS_Success2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_BackinStock_closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CommSubscriptionChannelType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChanelType_BackInStock</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EffectiveToDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.EffectiveToDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAllBackInStockNotClosedFromClient</targetReference>
            </connector>
            <label>is BackinStock closed</label>
        </rules>
    </decisions>
    <description>Update BackInStock Client field when CommSubscriptionConsent channel type equal BackInStock</description>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>CommSubscriptionConsent_AfterInsertUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CommSubscriptionConsent_AfterInsertUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllBackInStockNotClosedFromClient</name>
        <label>GetAllBackInStockNotClosedFromClient</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_any_BIS_not_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ChanelType_BackInStock</elementReference>
            </value>
        </filters>
        <filters>
            <field>EffectiveToDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CommSubscriptionConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Deactivate back in stock on the contact if there is no backinstock anymore</description>
        <name>DeactivateBackInStockField</name>
        <label>DeactivateBackInStockField</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>assign_BISClosed_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BackInStock__pc</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BackInStock__pc</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateBackInStockField</name>
        <label>UpdateBackInStockField</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>assign_Account_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_DML_Account</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BackInStock__pc</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BackInStock__pc</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Status</targetReference>
        </connector>
        <object>CommSubscriptionConsent</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
