unpackaged/main/default/flows/CommSubscriptionConsent_AfterInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>ChanelType_BackInStock</name>
        <dataType>String</dataType>
        <value>
            <stringValue>BackInStock</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Record_Status</name>
        <label>Record Status</label>
        <locationX>776</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>Verify_New_Channel_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not New Record</defaultConnectorLabel>
        <rules>
            <name>is_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_Channel_Typ</targetReference>
            </connector>
            <label>is New Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Channel_Typ</name>
        <label>Verify Channel Typ</label>
        <locationX>556</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Channel_Type_is_BackinStock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CommSubscriptionChannelType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChanelType_BackInStock</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateBackInStockField</targetReference>
            </connector>
            <label>Channel Type is BackinStock</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_New_Channel_Type</name>
        <label>Verify New Channel Type</label>
        <locationX>996</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>new_Channel_Type_is_BackinStock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CommSubscriptionChannelType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChanelType_BackInStock</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CommSubscriptionChannelType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ChanelType_BackInStock</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateBackInStockField</targetReference>
            </connector>
            <label>new Channel Type is BackinStock</label>
        </rules>
    </decisions>
    <description>Update BackInStock Client field when CommSubscriptionConsent channel type equal BackInStock</description>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>CommSubscriptionConsent_AfterInsertUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CommSubscriptionConsent_AfterInsertUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateBackInStockField</name>
        <label>UpdateBackInStockField</label>
        <locationX>776</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BackInStock__pc</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>BackInStock__pc</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Record_Status</targetReference>
        </connector>
        <object>CommSubscriptionConsent</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
