unpackaged/main/default/flows/Delete_B2CCustomInput_Records_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Id</name>
        <label>Assign Id to the record</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <assignmentItems>
            <assignToReference>B2CCustomInputrecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.recordID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delete_B2CCustomInput_Record</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Delete B2CCustomInput Records After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete B2CCustomInput Records After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_B2CCustomInput_Record</name>
        <label>Delete B2CCustomInput Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputReference>B2CCustomInputrecord</inputReference>
    </recordDeletes>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Id</targetReference>
        </connector>
        <object>Delete_B2CCustomInput_record__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>B2CCustomInputrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>B2CCustomInput__c</objectType>
    </variables>
</Flow>
