unpackaged/main/default/flows/JBSystemFlow_ContactPointConsent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj6047624368bc8ab6abadaff2492ffd54_FireJBTrigger</name>
        <label>SalesforceObj6047624368bc8ab6abadaff2492ffd54_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;AccountId__c&quot;,&quot;relationshipName&quot;:&quot;AccountId__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>ContactPointConsent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj6047624368bc8ab6abadaff2492ffd54</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>510005026</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;AccountId__r&quot;,&quot;dePrefix&quot;:&quot;ContactPointConsent:AccountId__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;WebsiteLocale__pc&quot;,&quot;WebsiteCountry__pc&quot;,&quot;WebsiteLanguage__pc&quot;,&quot;PersonMailingCountry&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;ContactPointConsent:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;CreatedDate&quot;,&quot;DoubleOptInHash__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj6047624368bc8ab6abadaff2492ffd54</name>
        <label>JB_Decision_Null_Check_SalesforceObj6047624368bc8ab6abadaff2492ffd54</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj6047624368bc8ab6abadaff2492ffd54_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccountId__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj6047624368bc8ab6abadaff2492ffd54_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj6047624368bc8ab6abadaff2492ffd54_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj6047624368bc8ab6abadaff2492ffd54_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj6047624368bc8ab6abadaff2492ffd54_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj6047624368bc8ab6abadaff2492ffd54_Decision</name>
        <label>JB_SalesforceObj6047624368bc8ab6abadaff2492ffd54_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj6047624368bc8ab6abadaff2492ffd54</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  And  (5 AND 6) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.DoubleOptInHash__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.EffectiveTo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.EffectiveFrom</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.PrivacyConsentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OptOut</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactPoint_ContactPointEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactPoint_ContactPointEmail.EmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj6047624368bc8ab6abadaff2492ffd54_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj6047624368bc8ab6abadaff2492ffd54</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_ContactPointConsent</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ContactPoint_ContactPointEmail_lookup</name>
        <label>ContactPoint_ContactPointEmail_lookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6047624368bc8ab6abadaff2492ffd54</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>new_object.ContactPointId</elementReference>
            </value>
        </filters>
        <object>ContactPointEmail</object>
        <outputReference>ContactPoint_ContactPointEmail</outputReference>
        <queriedFields>EmailAddress</queriedFields>
    </recordLookups>
    <startElementReference>ContactPoint_ContactPointEmail_lookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>ContactPoint_ContactPointEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointEmail</objectType>
    </variables>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointConsent</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointConsent</objectType>
    </variables>
</Flow>
