unpackaged/main/default/flows/JBSystemFlow_CommSubscriptionConsent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObja507bab9f84e75b5dfe0cc0061529149_FireJBTrigger</name>
        <label>SalesforceObja507bab9f84e75b5dfe0cc0061529149_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;AccountId__c&quot;,&quot;relationshipName&quot;:&quot;AccountId__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Account&quot;,&quot;fieldName&quot;:&quot;PersonContactId&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>CommSubscriptionConsent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObja507bab9f84e75b5dfe0cc0061529149</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>510005026</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Account&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;AccountId__r&quot;,&quot;dePrefix&quot;:&quot;CommSubscriptionConsent:AccountId__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;LastName&quot;,&quot;FirstName&quot;,&quot;PersonEmail&quot;,&quot;PersonContactId&quot;,&quot;WebsiteLocale__pc&quot;,&quot;WebsiteCountry__pc&quot;,&quot;WebsiteLanguage__pc&quot;,&quot;PersonMailingCountry&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;CommSubscriptionConsent:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;ContactPointId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;CommSubscriptionChannelType&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;CommSubscriptionChannelType&quot;,&quot;dePrefix&quot;:&quot;CommSubscriptionConsent:CommSubscriptionChannelType:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;ContactPointEmail&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;ContactPoint&quot;,&quot;dePrefix&quot;:&quot;CommSubscriptionConsent:ContactPoint:ContactPointEmail:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;EmailAddress&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObja507bab9f84e75b5dfe0cc0061529149</name>
        <label>JB_Decision_Null_Check_SalesforceObja507bab9f84e75b5dfe0cc0061529149</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObja507bab9f84e75b5dfe0cc0061529149_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccountId__r.PersonContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObja507bab9f84e75b5dfe0cc0061529149_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObja507bab9f84e75b5dfe0cc0061529149_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja507bab9f84e75b5dfe0cc0061529149_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja507bab9f84e75b5dfe0cc0061529149_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObja507bab9f84e75b5dfe0cc0061529149_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja507bab9f84e75b5dfe0cc0061529149_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja507bab9f84e75b5dfe0cc0061529149_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja507bab9f84e75b5dfe0cc0061529149_Decision</name>
        <label>JB_SalesforceObja507bab9f84e75b5dfe0cc0061529149_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObja507bab9f84e75b5dfe0cc0061529149</name>
            <conditionLogic>( ( ( (1 AND 2)  AND 3)  AND 4)  And  ( (5 AND 6)  AND  (7 AND 8) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.AccountId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.ContactPointId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.EffectiveFromDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.LastCommunicationSend__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CommSubscriptionChannelTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.CommSubscriptionChannelType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Newsletter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccountId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.AccountId__r.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObja507bab9f84e75b5dfe0cc0061529149_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObja507bab9f84e75b5dfe0cc0061529149</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja507bab9f84e75b5dfe0cc0061529149_State_change_Decision</name>
        <label>JB_SalesforceObja507bab9f84e75b5dfe0cc0061529149_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObja507bab9f84e75b5dfe0cc0061529149</name>
            <conditionLogic>NOT  ( ( (1 AND 2)  AND 3)  AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.AccountId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.ContactPointId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.EffectiveFromDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.LastCommunicationSend__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja507bab9f84e75b5dfe0cc0061529149_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObja507bab9f84e75b5dfe0cc0061529149</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_CommSubscriptionConsent</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObja507bab9f84e75b5dfe0cc0061529149</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CommSubscriptionConsent</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CommSubscriptionConsent</objectType>
    </variables>
</Flow>
