unpackaged/main/default/flows/Mobile_Send_FIeld_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Update_Backup_DateTime</name>
        <label>Update Backup DateTime</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.et4ae5__BackupWorkflow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nullDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_DelayedMobileSend_Field</name>
        <label>Update DelayedMobileSend Field</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.et4ae5__TriggerDelayedSend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_MobileSend_FieldUpdate</name>
        <label>Check MobileSend FieldUpdate</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_BackupSms</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.et4ae5__BackupWorkflow__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Backup_DateTime</targetReference>
            </connector>
            <label>is BackupSms</label>
        </rules>
        <rules>
            <name>is_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewMobileSend</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.et4ae5__Scheduled_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DelayedMobileSend_Field</targetReference>
            </connector>
            <label>is Scheduled</label>
        </rules>
    </decisions>
    <description>This flow is used instead of the related workflow in order to update some specific fields based on different conditions</description>
    <formulas>
        <name>isNewMobileSend</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>nullDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NULL</expression>
    </formulas>
    <interviewLabel>Mobile Send FIeld Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mobile Send FIeld Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_MobileSend_FieldUpdate</targetReference>
        </connector>
        <object>et4ae5__SMSDefinition__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
