unpackaged/main/default/flows/PA_ClientBookingAssignmentHelper.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_AccountId</name>
        <label>assign AccountId</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.AccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.AccountId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Attendance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Attendance_c</name>
        <label>assign Attendance__c</label>
        <locationX>50</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.Attendance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Attendance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_BookingMethod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BookingMethod_c</name>
        <label>assign BookingMethod__c</label>
        <locationX>50</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.BookingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.BookingMethod__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_BookingModificationUrl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BookingModificationUrl_c</name>
        <label>assign BookingModificationUrl__c</label>
        <locationX>50</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.BookingModificationUrl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.BookingModificationUrl__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_ClientCommunication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ClientCommunication_c</name>
        <label>assign ClientCommunication__c</label>
        <locationX>50</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.ClientCommunication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.ClientCommunication__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_ConfirmationNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ConfirmationNumber_c</name>
        <label>assign ConfirmationNumber__c</label>
        <locationX>50</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.ConfirmationNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.ConfirmationNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_CreatedBy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CreatedBy_c</name>
        <label>assign CreatedBy__c</label>
        <locationX>50</locationX>
        <locationY>2042</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.CreatedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.CreatedBy__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_CreatedOn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Duration_c</name>
        <label>assign Duration__c</label>
        <locationX>50</locationX>
        <locationY>2642</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Duration__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Email_c</name>
        <label>assign Email__c</label>
        <locationX>50</locationX>
        <locationY>2942</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Firstname</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Firstname_c</name>
        <label>assign Firstname__c</label>
        <locationX>50</locationX>
        <locationY>3242</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.Firstname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Firstname__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>does_isCompleted_c_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_isCompleted_c</name>
        <label>assign isCompleted__c</label>
        <locationX>50</locationX>
        <locationY>3542</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.isCompleted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.isCompleted__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_isScheduled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_isScheduled_c</name>
        <label>assign isScheduled__c</label>
        <locationX>50</locationX>
        <locationY>3842</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.isScheduled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.isScheduled__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Language</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Language_c</name>
        <label>assign Language__c</label>
        <locationX>50</locationX>
        <locationY>4142</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Language__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Lastname</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Lastname_c</name>
        <label>assign Lastname__c</label>
        <locationX>50</locationX>
        <locationY>4442</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.Lastname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Lastname__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_cMerchantAddressCity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MerchantAddressCity_c</name>
        <label>assign MerchantAddressCity__c</label>
        <locationX>50</locationX>
        <locationY>4742</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.MerchantAddressCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.MerchantAddressCity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_MerchantAddressCountry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MerchantAddressCountry_c</name>
        <label>assign MerchantAddressCountry__c</label>
        <locationX>50</locationX>
        <locationY>5042</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.MerchantAddressCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.MerchantAddressCountry__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_MerchantAddressPostalCode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MerchantAddressPostalCode_c</name>
        <label>assign MerchantAddressPostalCode__c</label>
        <locationX>50</locationX>
        <locationY>5342</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.MerchantAddressPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.MerchantAddressPostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_MerchantAddressState</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MerchantAddressState_c</name>
        <label>assign MerchantAddressState__c</label>
        <locationX>50</locationX>
        <locationY>5642</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.MerchantAddressState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.MerchantAddressState__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_MerchantAddressStreet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MerchantAddressStreet_c</name>
        <label>assign MerchantAddressStreet__c</label>
        <locationX>50</locationX>
        <locationY>5942</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.MerchantAddressStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.MerchantAddressStreet__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_MerchantId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MerchantId_c</name>
        <label>assign MerchantId__c</label>
        <locationX>50</locationX>
        <locationY>6242</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.MerchantId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.MerchantId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_ModifiedBy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ModifiedBy_c</name>
        <label>assign ModifiedBy__c</label>
        <locationX>50</locationX>
        <locationY>6542</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.ModifiedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.ModifiedBy__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_ModifiedOn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ModifiedOn_c</name>
        <label>assign ModifiedOn__c</label>
        <locationX>50</locationX>
        <locationY>6842</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.ModifiedOn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.ModifiedOn__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Notes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Notes_c</name>
        <label>assign Notes__c</label>
        <locationX>50</locationX>
        <locationY>7142</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Origin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_PhoneNumber_c</name>
        <label>assign PhoneNumber__c</label>
        <locationX>50</locationX>
        <locationY>7742</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.PhoneNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.PhoneNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_RessourceId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RessourceId_c</name>
        <label>assign RessourceId__c</label>
        <locationX>50</locationX>
        <locationY>8042</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.RessourceId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.RessourceId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Salutation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Salutation_c</name>
        <label>assign Salutation__c</label>
        <locationX>50</locationX>
        <locationY>8342</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.Salutation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Salutation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_ServiceId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ServiceId_c</name>
        <label>assign ServiceId__c</label>
        <locationX>50</locationX>
        <locationY>8642</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.ServiceId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.ServiceId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_StaffId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_StaffId_c</name>
        <label>assign StaffId__c</label>
        <locationX>50</locationX>
        <locationY>8942</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.StaffId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.StaffId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_StartsOn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_StartsOn_c</name>
        <label>assign StartsOn__c</label>
        <locationX>50</locationX>
        <locationY>9242</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.StartsOn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.StartsOn__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Status_c</name>
        <label>assign Status__c</label>
        <locationX>50</locationX>
        <locationY>9542</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_TimeZone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_TimeZone_c</name>
        <label>assign TimeZone__c</label>
        <locationX>50</locationX>
        <locationY>9842</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.TimeZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.TimeZone__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assing_CreatedOn_c</name>
        <label>assing CreatedOn__c</label>
        <locationX>50</locationX>
        <locationY>2342</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.CreatedOn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.CreatedOn__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Duration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assing_Origin_c</name>
        <label>assign Origin__c</label>
        <locationX>50</locationX>
        <locationY>7442</locationY>
        <assignmentItems>
            <assignToReference>clientBookingToCreate.Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Origin__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_PhoneNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ERROR_MerchantId</name>
        <label>ERROR MerchantId</label>
        <locationX>314</locationX>
        <locationY>6242</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PA_ClientBookingAssignmentHelper - ERROR : no MerchantId in the Query Call</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_ModifiedBy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ERROR_NO_ACCOUNT_ID</name>
        <label>ERROR NO ACCOUNT ID</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PA_ClientBookingAssignmentHelper - ERROR : No AccountID provided in the Query Call</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Attendance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ERROR_ServiceId</name>
        <label>ERROR ServiceId</label>
        <locationX>314</locationX>
        <locationY>8642</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PA_ClientBookingAssignmentHelper - ERROR : no ServiceId in the Query Call</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_StaffId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ERROR_StaffId</name>
        <label>ERROR StaffId</label>
        <locationX>314</locationX>
        <locationY>8942</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PA_ClientBookingAssignmentHelper - ERROR : no StaffID in the Query Call</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_StartsOn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ERROR_StartsOn</name>
        <label>ERROR StartsOn</label>
        <locationX>314</locationX>
        <locationY>9242</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>f_StartsOnErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_AccountId</name>
        <label>does AccountId__c exist ?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>ERROR_NO_ACCOUNT_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_AccountId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.AccountId__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.AccountId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.AccountId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_AccountId</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Attendance</name>
        <label>does Attendance__c exist ?</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>dec_BookingMethod</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_Attendance_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.Attendance__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Attendance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Attendance__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Attendance_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_BookingMethod</name>
        <label>does BookingMethod__c exist ?</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>dec_BookingModificationUrl</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_BookingMethod_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.BookingMethod__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.BookingMethod__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.BookingMethod__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BookingMethod_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_BookingModificationUrl</name>
        <label>does BookingModificationUrl__c exist ?</label>
        <locationX>182</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>dec_ClientCommunication</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_BookingModificationUrl_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.BookingModificationUrl__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.BookingModificationUrl__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.BookingModificationUrl__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BookingModificationUrl_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_ClientCommunication</name>
        <label>does ClientCommunication__c exist ?</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>dec_ConfirmationNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_ClientCommunication_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.ClientCommunication__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.ClientCommunication__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.ClientCommunication__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ClientCommunication_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_cMerchantAddressCity</name>
        <label>does MerchantAddressCity__c exist ?</label>
        <locationX>182</locationX>
        <locationY>4634</locationY>
        <defaultConnector>
            <targetReference>dec_MerchantAddressCountry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_MerchantAddressCity_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.MerchantAddressCity__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.MerchantAddressCity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.MerchantAddressCity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MerchantAddressCity_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_ConfirmationNumber</name>
        <label>does ConfirmationNumber__c exist ?</label>
        <locationX>182</locationX>
        <locationY>1634</locationY>
        <defaultConnector>
            <targetReference>dec_CreatedBy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_ConfirmationNumber_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.ConfirmationNumber__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.ConfirmationNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.ConfirmationNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ConfirmationNumber_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CreatedBy</name>
        <label>does CreatedBy__c exist ?</label>
        <locationX>182</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>dec_CreatedOn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_CreatedBy_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.CreatedBy__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.CreatedBy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.CreatedBy__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CreatedBy_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CreatedOn</name>
        <label>does CreatedOn__c exist ?</label>
        <locationX>182</locationX>
        <locationY>2234</locationY>
        <defaultConnector>
            <targetReference>dec_Duration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_CreatedOn_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.CreatedOn__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.CreatedOn__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assing_CreatedOn_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Duration</name>
        <label>does Duration__c exist ?</label>
        <locationX>182</locationX>
        <locationY>2534</locationY>
        <defaultConnector>
            <targetReference>dec_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_Duration_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.Duration__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Duration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Duration__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Duration_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Email</name>
        <label>does Email__c exist ?</label>
        <locationX>182</locationX>
        <locationY>2834</locationY>
        <defaultConnector>
            <targetReference>dec_Firstname</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_Email_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.Email__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Email_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Firstname</name>
        <label>does Firstname__c exist ?</label>
        <locationX>182</locationX>
        <locationY>3134</locationY>
        <defaultConnector>
            <targetReference>does_isCompleted_c_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_Firstname_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.Firstname__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Firstname__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Firstname__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Firstname_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_isScheduled</name>
        <label>does isScheduled__c exist ?</label>
        <locationX>182</locationX>
        <locationY>3734</locationY>
        <defaultConnector>
            <targetReference>dec_Language</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_isScheduled_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.isScheduled__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.isScheduled__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_isScheduled_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Language</name>
        <label>does Language__c exist ?</label>
        <locationX>182</locationX>
        <locationY>4034</locationY>
        <defaultConnector>
            <targetReference>dec_Lastname</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_Language_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.Language__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Language__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Language__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Language_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Lastname</name>
        <label>does Lastname__c exist ?</label>
        <locationX>182</locationX>
        <locationY>4334</locationY>
        <defaultConnector>
            <targetReference>dec_cMerchantAddressCity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_Lastname_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.Lastname__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Lastname__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Lastname__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Lastname_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_MerchantAddressCountry</name>
        <label>does MerchantAddressCountry__c exist ?</label>
        <locationX>182</locationX>
        <locationY>4934</locationY>
        <defaultConnector>
            <targetReference>dec_MerchantAddressPostalCode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_MerchantAddressCountry_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.MerchantAddressCountry__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.MerchantAddressCountry__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.MerchantAddressCountry__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MerchantAddressCountry_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_MerchantAddressPostalCode</name>
        <label>does MerchantAddressPostalCode exist ?</label>
        <locationX>182</locationX>
        <locationY>5234</locationY>
        <defaultConnector>
            <targetReference>dec_MerchantAddressState</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_MerchantAddressPostalCode_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.MerchantAddressPostalCode__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.MerchantAddressPostalCode__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.MerchantAddressPostalCode__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MerchantAddressPostalCode_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_MerchantAddressState</name>
        <label>does MerchantAddressState exist ?</label>
        <locationX>182</locationX>
        <locationY>5534</locationY>
        <defaultConnector>
            <targetReference>dec_MerchantAddressStreet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_MerchantAddressState_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.MerchantAddressState__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.MerchantAddressState__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.MerchantAddressState__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MerchantAddressState_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_MerchantAddressStreet</name>
        <label>does MerchantAddressStreet exist ?</label>
        <locationX>182</locationX>
        <locationY>5834</locationY>
        <defaultConnector>
            <targetReference>dec_MerchantId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_MerchantAddressStreet_exisrt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.MerchantAddressStreet__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.MerchantAddressStreet__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.MerchantAddressStreet__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MerchantAddressStreet_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_MerchantId</name>
        <label>does MerchantId__c exist ?</label>
        <locationX>182</locationX>
        <locationY>6134</locationY>
        <defaultConnector>
            <targetReference>ERROR_MerchantId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_MerchantId_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.MerchantId__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.MerchantId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.MerchantId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MerchantId_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_ModifiedBy</name>
        <label>does ModifiedBy__c exist ?</label>
        <locationX>182</locationX>
        <locationY>6434</locationY>
        <defaultConnector>
            <targetReference>dec_ModifiedOn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_ModifiedBy_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.ModifiedBy__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.ModifiedBy__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.ModifiedBy__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ModifiedBy_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_ModifiedOn</name>
        <label>does ModifiedOn__c exist ?</label>
        <locationX>182</locationX>
        <locationY>6734</locationY>
        <defaultConnector>
            <targetReference>dec_Notes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_ModifiedOn_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.ModifiedOn__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.ModifiedOn__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ModifiedOn_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Notes</name>
        <label>does Notes__c exist ?</label>
        <locationX>182</locationX>
        <locationY>7034</locationY>
        <defaultConnector>
            <targetReference>dec_Origin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_Notes_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.Notes__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Notes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Notes_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Origin</name>
        <label>does Origin exist?</label>
        <locationX>182</locationX>
        <locationY>7334</locationY>
        <defaultConnector>
            <targetReference>dec_PhoneNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_Origin_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.Origin__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Origin__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Origin__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assing_Origin_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_PhoneNumber</name>
        <label>does PhoneNumber exist ?</label>
        <locationX>182</locationX>
        <locationY>7634</locationY>
        <defaultConnector>
            <targetReference>dec_RessourceId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_PhoneNumber_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.PhoneNumber__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.PhoneNumber__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.PhoneNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_PhoneNumber_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_RessourceId</name>
        <label>does RessourceId__c exist ?</label>
        <locationX>182</locationX>
        <locationY>7934</locationY>
        <defaultConnector>
            <targetReference>dec_Salutation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_RessourceId_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.RessourceId__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.RessourceId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.RessourceId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_RessourceId_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Salutation</name>
        <label>does Salutation__c exist ?</label>
        <locationX>182</locationX>
        <locationY>8234</locationY>
        <defaultConnector>
            <targetReference>dec_ServiceId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_Salutation_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.Salutation__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Salutation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Salutation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Salutation_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_ServiceId</name>
        <label>does ServiceId__c exist ?</label>
        <locationX>182</locationX>
        <locationY>8534</locationY>
        <defaultConnector>
            <targetReference>ERROR_ServiceId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_ServiceId_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.ServiceId__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.ServiceId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.ServiceId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ServiceId_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_StaffId</name>
        <label>does StaffId__c exist ?</label>
        <locationX>182</locationX>
        <locationY>8834</locationY>
        <defaultConnector>
            <targetReference>ERROR_StaffId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_StaffId_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.StaffId__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.StaffId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.StaffId__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_StaffId_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_StartsOn</name>
        <label>does StartsOn__c exist ?</label>
        <locationX>182</locationX>
        <locationY>9134</locationY>
        <defaultConnector>
            <targetReference>ERROR_StartsOn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_StartsOn_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.StartsOn__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_StartsOn_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Status</name>
        <label>does Status__c exist ?</label>
        <locationX>182</locationX>
        <locationY>9434</locationY>
        <defaultConnector>
            <targetReference>dec_TimeZone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_Status_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.Status__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Status_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_TimeZone</name>
        <label>does TimeZone__c exist ?</label>
        <locationX>182</locationX>
        <locationY>9734</locationY>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_TimeZone_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.TimeZone__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.TimeZone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.TimeZone__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_TimeZone_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>does_isCompleted_c_exist</name>
        <label>does isCompleted__c exist ?</label>
        <locationX>182</locationX>
        <locationY>3434</locationY>
        <defaultConnector>
            <targetReference>dec_isScheduled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_isCompleted_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.isCompleted__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.isCompleted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_isCompleted_c</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>...Assign field if they exist ni ClientBooking Object</description>
    <environments>Default</environments>
    <formulas>
        <name>f_StartsOnErrorMessage</name>
        <dataType>String</dataType>
        <expression>&quot;PA_ClientBookingAssignmentHelper - ERROR : StartsOn__c : &quot; + TEXT({!clientBooking.StartsOn__c}) + &quot; the field is incorrectly filled this is the waited format : &quot;+ TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <interviewLabel>Private Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Private Appointment ClientBooking Assignment Helper</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_AccountId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>clientBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ClientBooking__c</objectType>
    </variables>
    <variables>
        <name>clientBookingToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ClientBooking__c</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
