unpackaged/main/default/flows/PA_Event_Assignment_Helper.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Manage_Booking_Translation</name>
        <label>Manage Booking Translation</label>
        <locationX>1502</locationX>
        <locationY>458</locationY>
        <actionName>AP_ClientBookingTrad</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>eventCreation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>firstName</name>
            <value>
                <elementReference>clientBooking.Firstname__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>language</name>
            <value>
                <elementReference>languageISO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lastName</name>
            <value>
                <elementReference>clientBooking.Lastname__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>outreachReason</name>
            <value>
                <elementReference>f_OutreachReasonLabel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectLabel</name>
            <value>
                <stringValue>LABS_AP_eventSubject</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AP_ClientBookingTrad</nameSegment>
        <outputParameters>
            <assignToReference>OutreachReason</assignToReference>
            <name>outreachReason</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>SubjectValue</assignToReference>
            <name>subjectLabel</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_ERROR_AccountNotSet</name>
        <label>ERROR Account not set</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR : No account was set. Account__c is NULL</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_ERROR_No_Appointment_Date</name>
        <label>ERROR No Appointment Date</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR : No Apppointment date was set. StartOn__c is NULL</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_ERROR_No_Duration_Set</name>
        <label>ERROR No Duration Set</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR : No Duration was set. Duration__c is NULL</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_ERROR_Store_NotSet</name>
        <label>ERROR Store Not Set</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR : Store wasn&#39;t set. Store__c is NULL</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_ERROR_User_Notset</name>
        <label>ERROR User Not Set</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR : User wasn&#39;t set. User__c is NULL</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Notes</name>
        <label>Assign Notes</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>bookingEvent.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Success</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Success</name>
        <label>Assign_Success</label>
        <locationX>1502</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>eventCreation</name>
        <label>eventCreation</label>
        <locationX>1502</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>bookingEvent.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Account__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.ActivityDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.StartsOn__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.DurationInMinutes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Appointment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Store__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.ShowAs</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Busy</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.Outreach_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutreachReason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.EN_Outreach_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Service__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.Client_Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Notes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_MandatoryFields</name>
        <label>Does Mandatory fields are set ?</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>getContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Fields are Set</defaultConnectorLabel>
        <rules>
            <name>decout_StartOn_notSet</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.StartsOn__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.StartsOn__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ERROR_No_Appointment_Date</targetReference>
            </connector>
            <label>StartOn not set</label>
        </rules>
        <rules>
            <name>decout_Duration_notSet</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.Duration__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Duration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ERROR_No_Duration_Set</targetReference>
            </connector>
            <label>Duration not set</label>
        </rules>
        <rules>
            <name>decout_Account_notSet</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.Account__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ERROR_AccountNotSet</targetReference>
            </connector>
            <label>Account not Set</label>
        </rules>
        <rules>
            <name>User_not_set</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.User__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ERROR_User_Notset</targetReference>
            </connector>
            <label>User not set</label>
        </rules>
        <rules>
            <name>decout_Store_not_et</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.Store__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>$GlobalConstant.False</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Store__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ERROR_Store_NotSet</targetReference>
            </connector>
            <label>Store not Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Notes</name>
        <label>Does Notes exist ?</label>
        <locationX>1502</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_notesExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.Notes__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Notes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Notes</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>...PA FLOW, use to assign booking value to the of Event</description>
    <environments>Default</environments>
    <formulas>
        <description>Transform the DateTime in Date Only</description>
        <name>ActivityDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!clientBooking.StartsOn__c})</expression>
    </formulas>
    <formulas>
        <name>EndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!clientBooking.StartsOn__c} + ({!clientBooking.Duration__c} /1440)</expression>
    </formulas>
    <formulas>
        <name>f_EventSubject</name>
        <dataType>String</dataType>
        <expression>{!$Label.LABS_AP_eventSubject}  + &quot; &quot; +  {!clientBooking.Firstname__c} +
&quot; &quot; + {!clientBooking.Lastname__c}</expression>
    </formulas>
    <formulas>
        <name>f_notes</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!clientBooking.Notes__c}),&quot;-&quot;,{!clientBooking.Notes__c})</expression>
    </formulas>
    <formulas>
        <name>f_OutreachReasonLabel</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!clientBooking.Service__r.Name}, &quot;Product&quot;), &quot;LABS_AP_Product&quot;, &quot;LABS_AP_Repair&quot;)</expression>
    </formulas>
    <formulas>
        <name>languageISO</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!Get_User_Details.LanguageLocaleKey}), 2)</expression>
    </formulas>
    <interviewLabel>Private Appointment Event Assignment Helper {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Private Appointment Event Assignment Helper</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Details</name>
        <label>Get User Details</label>
        <locationX>1502</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manage_Booking_Translation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>clientBooking.User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>GetContactFromAccountID</description>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>1502</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>clientBooking.AccountId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_MandatoryFields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bookingEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>clientBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ClientBooking__c</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OutreachReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SubjectValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
