unpackaged/main/default/flows/PA_Event_Modification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_CancellationToEvent</name>
        <label>Cancel event</label>
        <locationX>754</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>bookingEvent.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.ShowAs</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Free</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Notes_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Internal_Note</name>
        <label>Assign Internal Note</label>
        <locationX>732</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>bookingEvent.InternalNotes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.InternalNotes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Success</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Appointment_Date</name>
        <label>Assign new Appointment Date</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>bookingEvent.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.StartsOn__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.ActivityDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.StartsOn__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_ServiceChanged</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Staff</name>
        <label>Assign New Staff</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>bookingEvent.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Notes_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Notes</name>
        <label>Assign Notes</label>
        <locationX>732</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>bookingEvent.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Notes__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Internal_Note_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Success</name>
        <label>Assign_Success</label>
        <locationX>864</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Complete_event</name>
        <label>Complete event</label>
        <locationX>1018</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>bookingEvent.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Notes_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Complete_event_when_no_show</name>
        <label>Complete event when no show</label>
        <locationX>1282</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>bookingEvent.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Notes_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>... Assign in Outreach reason Activity field the Service Name</description>
        <name>dec_AssignService</name>
        <label>Assign New Service</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>bookingEvent.EN_Outreach_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Service__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingEvent.Outreach_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Service__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Notes_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ERROR_Type</name>
        <label>ERROR_Type</label>
        <locationX>1546</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ERROR : Event Assignment Type isn&#39;t set properly</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>dec_ModificationType</name>
        <label>What are the modification?</label>
        <locationX>864</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>ERROR_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Modification</defaultConnectorLabel>
        <rules>
            <name>decout_Date_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>modificationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.LABS_AP_eventModification</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_Appointment_Date</targetReference>
            </connector>
            <label>Date Modified</label>
        </rules>
        <rules>
            <name>decout_StaffChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>modificationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.LABS_AP_eventAssignment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Staff</targetReference>
            </connector>
            <label>Staff changed</label>
        </rules>
        <rules>
            <name>decout_Cancellation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>modificationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.LABS_AP_eventCancellation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CancellationToEvent</targetReference>
            </connector>
            <label>Cancellation</label>
        </rules>
        <rules>
            <name>decout_Show</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>modificationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.LABS_AP_eventShow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_event</targetReference>
            </connector>
            <label>Show</label>
        </rules>
        <rules>
            <name>decout_NoShow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>modificationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.LABS_AP_eventNoShow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_event_when_no_show</targetReference>
            </connector>
            <label>NoShow</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_ServiceChanged</name>
        <label>is Service changed ?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Does_Notes_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_serviceChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.Service__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Service__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Service__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dec_AssignService</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Internal_Note_exist</name>
        <label>Does Internal Note exist ?</label>
        <locationX>864</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>Assign_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decout_InternalNote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.InternalNotes__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.InternalNotes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Internal_Note</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Notes_exist</name>
        <label>Does Notes exist ?</label>
        <locationX>864</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Does_Internal_Note_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.Notes__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Notes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Notes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>...PA FLOW, use to modify the of Event of the Booking
Ulrich: 19/11 Manage Note
Ulrich 20/11: Add InternalNote &amp; CreatedByStaffId</description>
    <environments>Default</environments>
    <formulas>
        <description>Transform the DateTime in Date Only</description>
        <name>ActivityDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!clientBooking.StartsOn__c})</expression>
    </formulas>
    <formulas>
        <name>EndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!clientBooking.StartsOn__c} + ({!clientBooking.Duration__c} /1440)</expression>
    </formulas>
    <interviewLabel>Private Appointment Event Modification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Private Appointment Event  Assignment Modification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>738</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_ModificationType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bookingEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>clientBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ClientBooking__c</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>modificationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
