unpackaged/main/default/flows/PA_GetLookUp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_AccountError</name>
        <label>add Error</label>
        <locationX>94</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>errorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getStaff</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_errorRessource</name>
        <label>add Error</label>
        <locationX>94</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>errorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Success</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ErrorService</name>
        <label>add Error</label>
        <locationX>94</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>errorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getRessource</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ErrorStaff</name>
        <label>add Error</label>
        <locationX>94</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>errorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getStore</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ErrorStore</name>
        <label>add Error</label>
        <locationX>94</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>errorList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getService</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Success</name>
        <label>Assign_Success</label>
        <locationX>50</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>write_message</name>
        <label>write message</label>
        <locationX>490</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Build_Error_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Write_separator</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Write_separator</name>
        <label>Write separator</label>
        <locationX>490</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>; </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Error_Message</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_getAccount</name>
        <label>is error on Account ?</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>getStaff</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_getAccount_ErrorExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_AccountError</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_getRessource</name>
        <label>is error on Ressource ?</label>
        <locationX>226</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>Is_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_getRessource_ErrorExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_errorRessource</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_getService</name>
        <label>is error on Service ?</label>
        <locationX>226</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>getRessource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_getService_ErrorExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ErrorService</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_getStaff</name>
        <label>is error on Staff ?</label>
        <locationX>226</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>getStore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_getStaff_ErrorExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ErrorStaff</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_getStore</name>
        <label>is error on Store?</label>
        <locationX>226</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>getService</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_getStore_ErrorExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMessage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ErrorStore</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Success</name>
        <label>Is Success?</label>
        <locationX>226</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>Build_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decout_itsSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Success</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>KO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Success</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>GET Account, User, Store, Service and Ressource.
Return a Success Message and Error Message in case of not found one of the lookup</description>
    <environments>Default</environments>
    <interviewLabel>Private Appointement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Private Appointement getLookUps</label>
    <loops>
        <description>For each ErrorList Message write ErrorMessage as [0];[1];[n]</description>
        <name>Build_Error_Message</name>
        <label>Build Error Message</label>
        <locationX>402</locationX>
        <locationY>2282</locationY>
        <collectionReference>errorList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>write_message</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>dec_getAccount</targetReference>
        </connector>
        <flowName>PA_getAccount</flowName>
        <inputAssignments>
            <name>ClientBooking</name>
            <value>
                <elementReference>ClientBooking</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ClientBooking</assignToReference>
            <name>ClientBooking</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Success</assignToReference>
            <name>Success</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>getRessource</name>
        <label>getRessource</label>
        <locationX>226</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>dec_getRessource</targetReference>
        </connector>
        <flowName>PA_getRessource</flowName>
        <inputAssignments>
            <name>ClientBooking</name>
            <value>
                <elementReference>ClientBooking</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ClientBooking</assignToReference>
            <name>ClientBooking</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Success</assignToReference>
            <name>Success</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>getService</name>
        <label>getService</label>
        <locationX>226</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>dec_getService</targetReference>
        </connector>
        <flowName>PA_getService</flowName>
        <inputAssignments>
            <name>ClientBooking</name>
            <value>
                <elementReference>ClientBooking</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ClientBooking</assignToReference>
            <name>ClientBooking</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Success</assignToReference>
            <name>Success</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>getStaff</name>
        <label>getStaff</label>
        <locationX>226</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>dec_getStaff</targetReference>
        </connector>
        <flowName>PA_getStaff</flowName>
        <inputAssignments>
            <name>ClientBooking</name>
            <value>
                <elementReference>ClientBooking</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ClientBooking</assignToReference>
            <name>ClientBooking</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Success</assignToReference>
            <name>Success</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>getStore</name>
        <label>getStore</label>
        <locationX>226</locationX>
        <locationY>950</locationY>
        <connector>
            <targetReference>dec_getStore</targetReference>
        </connector>
        <flowName>PA_getStore</flowName>
        <inputAssignments>
            <name>ClientBooking</name>
            <value>
                <elementReference>ClientBooking</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ClientBooking</assignToReference>
            <name>ClientBooking</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Success</assignToReference>
            <name>Success</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ClientBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ClientBooking__c</objectType>
    </variables>
    <variables>
        <name>errorList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Success</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
