unpackaged/main/default/flows/PA_QaMode.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_AccountId</name>
        <label>assign AccountId</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.AccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Attendance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Attendance</name>
        <label>assign Attendance</label>
        <locationX>50</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.Attendance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_Attendance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_BookingMethod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_BookingMethod</name>
        <label>assign BookingMethod</label>
        <locationX>50</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.BookingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_BookingMethod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_ClientCommunication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BookingModificationURL</name>
        <label>Assign Booking Modification URL</label>
        <locationX>50</locationX>
        <locationY>9542</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.BookingModificationUrl__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_BookingModificationUrl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_QAMode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ClientCommunication</name>
        <label>assign ClientCommunication</label>
        <locationX>50</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.ClientCommunication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_ClientCommunication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_ConfirmationNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ConfirmationNumber</name>
        <label>assign ConfirmationNumber</label>
        <locationX>50</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.ConfirmationNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_ConfirmationNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_CreatedOn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CreatedBy</name>
        <label>assign CreatedBy</label>
        <locationX>50</locationX>
        <locationY>2042</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.CreatedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_CreatedBy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Duration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_CreatedOn</name>
        <label>assign CreatedOn</label>
        <locationX>50</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.CreatedOn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_CreatedOn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_CreatedBy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Duration</name>
        <label>assign Duration</label>
        <locationX>50</locationX>
        <locationY>2342</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_Duration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_isCompleted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Email</name>
        <label>assign Email</label>
        <locationX>50</locationX>
        <locationY>6842</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_PhoneNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_error</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>9842</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errormessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Required Field not Set</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_FirstName</name>
        <label>assign FirstName</label>
        <locationX>50</locationX>
        <locationY>6242</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.Firstname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_LastName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_isCompleted</name>
        <label>assign isCompleted</label>
        <locationX>50</locationX>
        <locationY>2642</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.isCompleted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_isCompleted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_isScheduled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_isScheduled</name>
        <label>assign isScheduled</label>
        <locationX>50</locationX>
        <locationY>2942</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.isScheduled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_isScheduled</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_MerchantAddressCity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Language</name>
        <label>Assign Language</label>
        <locationX>50</locationX>
        <locationY>9242</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_Language</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_BookingModificationUrl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_LastName</name>
        <label>assign LastName</label>
        <locationX>50</locationX>
        <locationY>6542</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.Lastname__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_LastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MerchantAddressCity</name>
        <label>assign MerchantAddressCity</label>
        <locationX>50</locationX>
        <locationY>3242</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.MerchantAddressCity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_MerchantAddressCity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_MerchantAddressCountry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MerchantAddressCountry</name>
        <label>assign MerchantAddressCountry</label>
        <locationX>50</locationX>
        <locationY>3542</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.MerchantAddressCountry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_MerchantAddressCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_MerchantAddressPostalCode</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MerchantAddressPostalCode</name>
        <label>assign MerchantAddressPostalCode</label>
        <locationX>50</locationX>
        <locationY>3842</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.MerchantAddressPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_MerchantAddressPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_MerchantAddressState</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MerchantAddressState</name>
        <label>assign MerchantAddressState</label>
        <locationX>50</locationX>
        <locationY>4142</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.MerchantAddressState__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_MerchantAddressState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_MerchantAddressStreet</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MerchantAddressStreet</name>
        <label>assign MerchantAddressStreet</label>
        <locationX>50</locationX>
        <locationY>4442</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.MerchantAddressStreet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_MerchantAddressStreet</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_MerchantId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_MerchantId</name>
        <label>assign MerchantId</label>
        <locationX>50</locationX>
        <locationY>4742</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.MerchantId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_MerchantId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_ModifiedBy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ModifiedBy</name>
        <label>assign ModifiedBy</label>
        <locationX>50</locationX>
        <locationY>5042</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.ModifiedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_ModifiedBy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_ModifiedOn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ModifiedOn</name>
        <label>assign ModifiedOn</label>
        <locationX>50</locationX>
        <locationY>5342</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.ModifiedOn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_ModifiedOn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Origin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Origin</name>
        <label>assign Origin</label>
        <locationX>50</locationX>
        <locationY>5642</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_Origin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Salutation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_PhoneNumber</name>
        <label>assign PhoneNumber</label>
        <locationX>50</locationX>
        <locationY>7142</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.PhoneNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_PhoneNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_RessourceId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_RessourceId</name>
        <label>assign RessourceId</label>
        <locationX>50</locationX>
        <locationY>7442</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.RessourceId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_RessourceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_ServiceId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Salutation</name>
        <label>assign Salutation</label>
        <locationX>50</locationX>
        <locationY>5942</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.Salutation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_Salutation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_FirstName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_ServiceId</name>
        <label>assign ServiceId</label>
        <locationX>50</locationX>
        <locationY>7742</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.ServiceId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_ServiceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_StaffId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_staffId</name>
        <label>assign staffId</label>
        <locationX>50</locationX>
        <locationY>8042</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.StaffId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_StaffId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_StartsOn</name>
        <label>assign StartsOn</label>
        <locationX>50</locationX>
        <locationY>8642</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.StartsOn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_StartsOn</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_TimeZone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Status</name>
        <label>assign Status</label>
        <locationX>50</locationX>
        <locationY>8342</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_StartsOn</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Success</name>
        <label>Success</label>
        <locationX>50</locationX>
        <locationY>9842</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errormessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Succesfully set the QA Mode</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_TimeZone</name>
        <label>assign TimeZone</label>
        <locationX>50</locationX>
        <locationY>8942</locationY>
        <assignmentItems>
            <assignToReference>clientBooking.TimeZone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaVar_TimeZone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>dec_Language</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>dec_AccountID</name>
        <label>does AccountID exist</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>dec_Attendance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_AccountId_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_AccountId</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Attendance</name>
        <label>does Attendance exist</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>dec_BookingMethod</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_Attendance_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_Attendance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_Attendance</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Attendance</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_BookingMethod</name>
        <label>does BookingMethod exist</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>dec_ClientCommunication</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_BookingMethod_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_BookingMethod</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_BookingMethod</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BookingMethod</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_BookingModificationUrl</name>
        <label>Does booking modification URL exist ?</label>
        <locationX>182</locationX>
        <locationY>9434</locationY>
        <defaultConnector>
            <targetReference>dec_QAMode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_BookingModificationUrl_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_BookingModificationUrl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_BookingModificationUrl</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BookingModificationURL</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_ClientCommunication</name>
        <label>does ClientCommunication exist</label>
        <locationX>182</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>dec_ConfirmationNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_ClientCommunication_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_ClientCommunication</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_ClientCommunication</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ClientCommunication</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_ConfirmationNumber</name>
        <label>does ConfirmationNumber exist</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>dec_CreatedOn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_ConfirmationNumber_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_ConfirmationNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_ConfirmationNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ConfirmationNumber</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CreatedBy</name>
        <label>does CreatedBy exist ?</label>
        <locationX>182</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>dec_Duration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_CreatedByExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_CreatedBy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_CreatedBy</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CreatedBy</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_CreatedOn</name>
        <label>does CreatedOn exist</label>
        <locationX>182</locationX>
        <locationY>1634</locationY>
        <defaultConnector>
            <targetReference>dec_CreatedBy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_CreatedOn_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_CreatedOn</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_CreatedOn</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Duration</name>
        <label>does Duration exist</label>
        <locationX>182</locationX>
        <locationY>2234</locationY>
        <defaultConnector>
            <targetReference>dec_isCompleted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_Duration_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_Duration</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Duration</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Email</name>
        <label>does Email exist?</label>
        <locationX>182</locationX>
        <locationY>6734</locationY>
        <defaultConnector>
            <targetReference>dec_PhoneNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>decout_Email_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Email</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_FirstName</name>
        <label>does FirstName exist ?</label>
        <locationX>182</locationX>
        <locationY>6134</locationY>
        <defaultConnector>
            <targetReference>dec_LastName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_Firstname_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_FirstName</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_isCompleted</name>
        <label>does isCompleted exist</label>
        <locationX>182</locationX>
        <locationY>2534</locationY>
        <defaultConnector>
            <targetReference>dec_isScheduled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_isCompleted_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_isCompleted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_isCompleted</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_isScheduled</name>
        <label>does isScheduled exist</label>
        <locationX>182</locationX>
        <locationY>2834</locationY>
        <defaultConnector>
            <targetReference>dec_MerchantAddressCity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_isScheduled_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_isScheduled</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_isScheduled</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Language</name>
        <label>Does language exist ?</label>
        <locationX>182</locationX>
        <locationY>9134</locationY>
        <defaultConnector>
            <targetReference>dec_BookingModificationUrl</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_LanguageExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_Language</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_Language</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Language</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_LastName</name>
        <label>does LastName exist ?</label>
        <locationX>182</locationX>
        <locationY>6434</locationY>
        <defaultConnector>
            <targetReference>dec_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_LastName_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_LastName</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_MerchantAddressCity</name>
        <label>does MerchantAddressCity exist</label>
        <locationX>182</locationX>
        <locationY>3134</locationY>
        <defaultConnector>
            <targetReference>dec_MerchantAddressCountry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_MerchantAddressCity_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_MerchantAddressCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_MerchantAddressCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MerchantAddressCity</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_MerchantAddressCountry</name>
        <label>does MerchantAddressCountry exist</label>
        <locationX>182</locationX>
        <locationY>3434</locationY>
        <defaultConnector>
            <targetReference>dec_MerchantAddressPostalCode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_MerchantAddressCountry_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_MerchantAddressCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_MerchantAddressCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MerchantAddressCountry</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_MerchantAddressPostalCode</name>
        <label>does MerchantAddressPostalCode exist</label>
        <locationX>182</locationX>
        <locationY>3734</locationY>
        <defaultConnector>
            <targetReference>dec_MerchantAddressState</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_merchantAddressPostalCode_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_MerchantAddressPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_MerchantAddressPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MerchantAddressPostalCode</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_MerchantAddressState</name>
        <label>does MerchantAddressState exist</label>
        <locationX>182</locationX>
        <locationY>4034</locationY>
        <defaultConnector>
            <targetReference>dec_MerchantAddressStreet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_MerchantAddressState_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_MerchantAddressState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_MerchantAddressState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MerchantAddressState</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_MerchantAddressStreet</name>
        <label>does MerchantAddressStreet exist</label>
        <locationX>182</locationX>
        <locationY>4334</locationY>
        <defaultConnector>
            <targetReference>dec_MerchantId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_MerchantAddressStreet_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_MerchantAddressStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_MerchantAddressStreet</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MerchantAddressStreet</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_MerchantId</name>
        <label>does MerchantId exist</label>
        <locationX>182</locationX>
        <locationY>4634</locationY>
        <defaultConnector>
            <targetReference>dec_ModifiedBy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_MerchantId_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_MerchantId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_MerchantId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_MerchantId</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_ModifiedBy</name>
        <label>does ModifiedBy exist</label>
        <locationX>182</locationX>
        <locationY>4934</locationY>
        <defaultConnector>
            <targetReference>dec_ModifiedOn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_ModifiedBy_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_ModifiedBy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_ModifiedBy</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ModifiedBy</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_ModifiedOn</name>
        <label>does ModifiedOn exist</label>
        <locationX>182</locationX>
        <locationY>5234</locationY>
        <defaultConnector>
            <targetReference>dec_Origin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_ModifiedOn_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_ModifiedOn</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ModifiedOn</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Origin</name>
        <label>does Origin exist</label>
        <locationX>182</locationX>
        <locationY>5534</locationY>
        <defaultConnector>
            <targetReference>dec_Salutation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_Origin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_Origin</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Origin</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_PhoneNumber</name>
        <label>does PhoneNumber exist</label>
        <locationX>182</locationX>
        <locationY>7034</locationY>
        <defaultConnector>
            <targetReference>dec_RessourceId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_PhoneNumber_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_PhoneNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_PhoneNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_PhoneNumber</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_QAMode</name>
        <label>does main Booking Fields are Set ?</label>
        <locationX>182</locationX>
        <locationY>9734</locationY>
        <defaultConnector>
            <targetReference>Assign_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_QAMode_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.AccountId__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.ServiceId__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.StaffId__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.MerchantId__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.StartsOn__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Success</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_RessourceId</name>
        <label>does RessourceId exist</label>
        <locationX>182</locationX>
        <locationY>7334</locationY>
        <defaultConnector>
            <targetReference>dec_ServiceId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_RessourceId_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_RessourceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_RessourceId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_RessourceId</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Salutation</name>
        <label>does Salutation exist ?</label>
        <locationX>182</locationX>
        <locationY>5834</locationY>
        <defaultConnector>
            <targetReference>dec_FirstName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>decout_SalutationExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_Salutation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_Salutation</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Salutation</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_ServiceId</name>
        <label>does ServiceId exist</label>
        <locationX>182</locationX>
        <locationY>7634</locationY>
        <defaultConnector>
            <targetReference>dec_StaffId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_ServiceId_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_ServiceId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_ServiceId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_ServiceId</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_StaffId</name>
        <label>does StaffId exist</label>
        <locationX>182</locationX>
        <locationY>7934</locationY>
        <defaultConnector>
            <targetReference>dec_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_StaffId_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_StaffId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_StaffId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_staffId</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_StartsOn</name>
        <label>does StartsOn exist</label>
        <locationX>182</locationX>
        <locationY>8534</locationY>
        <defaultConnector>
            <targetReference>dec_TimeZone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_StartsOn_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_StartsOn</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_StartsOn</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_Status</name>
        <label>does Status exist</label>
        <locationX>182</locationX>
        <locationY>8234</locationY>
        <defaultConnector>
            <targetReference>dec_StartsOn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_Status_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Status</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>dec_TimeZone</name>
        <label>does TimeZone exist</label>
        <locationX>182</locationX>
        <locationY>8834</locationY>
        <defaultConnector>
            <targetReference>dec_Language</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>decout_TimeZone_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qaVar_TimeZone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>qaVar_TimeZone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_TimeZone</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>...Use to test PA_ProcessBooking. Assign all QA variable to clientBooking Object and return it as it was part of the PayLoad</description>
    <environments>Default</environments>
    <interviewLabel>Private Appointment QaMode {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Private Appointment QaMode</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_AccountID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>clientBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ClientBooking__c</objectType>
    </variables>
    <variables>
        <name>errormessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isQaMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_Attendance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ClientOnly</stringValue>
        </value>
    </variables>
    <variables>
        <name>qaVar_BookingMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_BookingModificationUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_ClientCommunication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_ConfirmationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_CreatedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_CreatedOn</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>qaVar_Duration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>qaVar_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_isCompleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>qaVar_isScheduled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>qaVar_Language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_MerchantAddressCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_MerchantAddressCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_MerchantAddressPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_MerchantAddressState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_MerchantAddressStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_MerchantId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_ModifiedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_ModifiedOn</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>qaVar_Origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_PhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_RessourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_Salutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_ServiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_StaffId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_StartsOn</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qaVar_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Approved</stringValue>
        </value>
    </variables>
    <variables>
        <name>qaVar_TimeZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
