unpackaged/main/default/flows/PA_Timeslot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Event_Assignment</name>
        <label>Event Assignment</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>TimeslotEvent.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeslotEvent.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeslotEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>timeSlot.endOn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeslotEvent.ActivityDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>timeSlot.startOn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeslotEvent.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>timeSlot.type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeslotEvent.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>client.userId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeslotEvent.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeslotEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeslotEvent.Outreach_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>timeSlot.description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TimeslotEvent.Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>client.storeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Timeslot_Event</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>ActivityDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!timeSlot.startOn})</expression>
    </formulas>
    <interviewLabel>PA_Timeslot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PA_Timeslot</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Timeslot_Event</name>
        <label>Create Timeslot Event</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputReference>TimeslotEvent</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Event_Assignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>client</name>
        <apexClass>ClientInputs</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>timeSlot</name>
        <apexClass>TimeslotWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TimeslotEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>TimeslotInputs</name>
        <apexClass>TimeslotInputs</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
