unpackaged/main/default/flows/PA_Task_Assignment_Helper.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Manage_Booking_Translation</name>
        <label>Manage Booking Translation</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>AP_ClientBookingTrad</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_TaskBookingReminder</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingNumber</name>
            <value>
                <elementReference>clientBooking.ConfirmationNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>language</name>
            <value>
                <elementReference>languageISO</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectLabel</name>
            <value>
                <stringValue>LABS_AP_Task_Subject_BookingReminder</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AP_ClientBookingTrad</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>subjectValue</assignToReference>
            <name>subjectLabel</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_TaskBookingReminder</name>
        <label>Task for Booking Reminder</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>bookingTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingTask.Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Store__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subjectValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingTask.TaskSubtype</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.User__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingTask.IsPinned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingTask.HQTask__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingTask.TaskType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Appt Booking outreach reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bookingTask.Client_Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>...Assign Value to Task Field and return the task record
Ulrich 13/01/2025: assign clientBooking to task</description>
    <environments>Default</environments>
    <formulas>
        <name>ActivityDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!clientBooking.StartsOn__c})</expression>
    </formulas>
    <formulas>
        <name>f_OutreachReasonLabel</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!clientBooking.Service__r.Name}, &quot;Product&quot;), &quot;LABS_AP_Product&quot;, &quot;LABS_AP_Repair&quot;)</expression>
    </formulas>
    <formulas>
        <name>f_ReminderSubject</name>
        <dataType>String</dataType>
        <expression>{!$Label.LABS_AP_Task_Subject_BookingReminder} + &quot; &quot; + {!clientBooking.ConfirmationNumber__c}</expression>
    </formulas>
    <formulas>
        <name>languageISO</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!Get_User_Details.LanguageLocaleKey}), 2)</expression>
    </formulas>
    <interviewLabel>Private Appointment Task Assignment Helper {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Private Appointment Task Assignment Helper</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Details</name>
        <label>Get User Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manage_Booking_Translation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>clientBooking.User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>bookingTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>clientBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ClientBooking__c</objectType>
    </variables>
    <variables>
        <name>subjectValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
