unpackaged/main/default/flows/Private_Appointment_Booking_Update_Client_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_email</name>
        <label>Assign email</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Retrieve_Account.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Phone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Checked</name>
        <label>Assign Email Checked</label>
        <locationX>314</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>Retrieve_Account.IsEmailChecked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>client.IsEmailChecked__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_DQE_Phone_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Validity</name>
        <label>Assign Email Validity</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Retrieve_Account.EmailValid__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>client.EmailValid__pc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Phone_Valid_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_other_email</name>
        <label>Assign other email</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Retrieve_Account.OtherEmail__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Retrieve_Account.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Retrieve_Account.OtherEmailValid__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_Account.EmailValid__pc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Phone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_phone</name>
        <label>Assign phone</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Retrieve_Account.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.PhoneNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Email_Valid_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Phone_and_backup_phone2</name>
        <label>Assign Phone and backup phone2</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Retrieve_Account.Phone2__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Retrieve_Account.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.PhoneNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Retrieve_Account.Phone2Valid__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_Account.Phone1Valid__pc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Email_Valid_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Phone_and_backup_phone3</name>
        <label>Assign Phone and backup phone3</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Retrieve_Account.Phone3__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_Account.Phone2__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Retrieve_Account.Phone2__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_Account.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Retrieve_Account.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.PhoneNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Retrieve_Account.Phone2Valid__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_Account.Phone1Valid__pc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Retrieve_Account.Phone3Valid__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_Account.Phone2Valid__pc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Email_Valid_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Phone_Checked</name>
        <label>Assign Phone Checked</label>
        <locationX>314</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Retrieve_Account.IsPhoneChecked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>client.IsPhoneChecked__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Phone_Validity</name>
        <label>Assign Phone Validity</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Retrieve_Account.Phone1Valid__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>client.ValidityPhone__pc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_DQE_Email_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_email</name>
        <label>Update email</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Retrieve_Account.OtherEmail__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Retrieve_Account.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>clientBooking.Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Phone</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_DQE_Email_field</name>
        <label>Check DQE Email field</label>
        <locationX>446</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Check_DQE_Phone_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_was_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>client.IsEmailChecked__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>client.IsEmailChecked__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_Checked</targetReference>
            </connector>
            <label>Email was set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_DQE_Phone_field</name>
        <label>Check DQE Phone field</label>
        <locationX>446</locationX>
        <locationY>1850</locationY>
        <defaultConnector>
            <targetReference>Update_Existing_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phone_was_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>client.IsPhoneChecked__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>client.IsPhoneChecked__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Phone_Checked</targetReference>
            </connector>
            <label>Phone was set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email</name>
        <label>Check Email</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Check_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_not_exist_in_DB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Account.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Email__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_email</targetReference>
            </connector>
            <label>Email not exist in DB</label>
        </rules>
        <rules>
            <name>Email_exist_and_is_different_and_Other_email_not_Exist</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.Email__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Retrieve_Account.PersonEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Retrieve_Account.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Retrieve_Account.PersonEmail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Retrieve_Account.OtherEmail__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_other_email</targetReference>
            </connector>
            <label>Email exist and is different and Other email not Exist</label>
        </rules>
        <rules>
            <name>Email_exist_and_other_email_exist_in_DB_And_email_are_different</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.Email__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Retrieve_Account.PersonEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Retrieve_Account.OtherEmail__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Retrieve_Account.PersonEmail</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Retrieve_Account.OtherEmail__pc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_email</targetReference>
            </connector>
            <label>Email exist and other email exist in DB And email are different</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Email_Valid_field</name>
        <label>Check Email Valid field</label>
        <locationX>446</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Check_Phone_Valid_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Check_Email_Valid_field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>client.EmailValid__pc</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>client.EmailValid__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_Validity</targetReference>
            </connector>
            <label>Is Email Valid Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Phone</name>
        <label>Check Phone</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Check_Email_Valid_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Phone_not_exist_in_DB</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.PhoneNumber__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.PhoneNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Retrieve_Account.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_phone</targetReference>
            </connector>
            <label>Phone not exist in DB</label>
        </rules>
        <rules>
            <name>Phone_exist_and_is_different_and_phone_2_doesn_t_exist_in_DB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.PhoneNumber__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.PhoneNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Retrieve_Account.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Retrieve_Account.Phone2__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Retrieve_Account.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>clientBooking.PhoneNumber__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Phone_and_backup_phone2</targetReference>
            </connector>
            <label>Phone exist and is different and phone 2 doesn&#39;t exist in DB</label>
        </rules>
        <rules>
            <name>Phone_and_phone_2_exist_and_is_different</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>clientBooking.PhoneNumber__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>clientBooking.PhoneNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Retrieve_Account.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Retrieve_Account.Phone2__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Retrieve_Account.Phone2__pc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>clientBooking.PhoneNumber__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Retrieve_Account.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>clientBooking.PhoneNumber__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Phone_and_backup_phone3</targetReference>
            </connector>
            <label>Phone and phone 2 exist and is different</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Phone_Valid_Value</name>
        <label>Check Phone Valid field</label>
        <locationX>446</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Check_DQE_Email_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Phone_Valid_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>client.ValidityPhone__pc</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>client.ValidityPhone__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Phone_Validity</targetReference>
            </connector>
            <label>Is Phone Valid Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Retrived_Account</name>
        <label>Check Retrived Account</label>
        <locationX>732</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasBeenRetrieved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Retrieve_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Email</targetReference>
            </connector>
            <label>hasBeenRetrieved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Private Appointment Booking: Update Client Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Retrieve_Account</name>
        <label>Retrieve Account</label>
        <locationX>732</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Retrived_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>clientBooking.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Account</name>
        <label>Update Existing Account</label>
        <locationX>446</locationX>
        <locationY>2150</locationY>
        <inputReference>Retrieve_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Retrieve_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>client</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>clientBooking</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ClientBooking__c</objectType>
    </variables>
</Flow>
