unpackaged/main/default/flows/SFDC_ClientAnonymization.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Run_Anonymisation_Process</name>
        <label>Copy 1 of Run Anonymisation Process</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <actionName>SFAnonymizationProcess</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>clientIdStr</name>
            <value>
                <elementReference>Put_your_Account_ID_here</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectList</name>
            <value>
                <elementReference>ObjectList.selectedOptionsCSV</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>separator</name>
            <value>
                <elementReference>Select_the_separator</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SFAnonymizationProcess</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_Anonymisation_Process</name>
        <label>Run Anonymisation Process</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <actionName>SFAnonymizationProcess</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>clientIdStr</name>
            <value>
                <elementReference>Put_your_Account_ID_here</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectList</name>
            <value>
                <elementReference>ObjectList.selectedOptionsCSV</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>separator</name>
            <value>
                <elementReference>Select_the_separator</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeStamp</name>
            <value>
                <elementReference>v_currentTimeStamp</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SFAnonymizationProcess</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RunSuppressionProcess</name>
        <label>Run Suppression Process Action 1</label>
        <locationX>578</locationX>
        <locationY>1490</locationY>
        <actionName>SuppressionSFProcess</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>clientIdStr</name>
            <value>
                <elementReference>Copy_2_of_Put_your_Account_ID_here</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectList</name>
            <value>
                <elementReference>ObjectList.selectedOptionsCSV</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>separator</name>
            <value>
                <elementReference>Copy_1_of_Select_the_separator</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SuppressionSFProcess</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Define_Label_Collection</name>
        <label>Define Label Collection</label>
        <locationX>468</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>currentLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Configuration_Label.Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConfigLabelList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Configuration_Label</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Selected_Collection</name>
        <label>Define Selected Collection</label>
        <locationX>468</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CurrentObject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SFConfig_Selected_Object.AnonymizationObject__r.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SFConfig_Selected_Object</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Comma</name>
        <choiceText>Comma</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>.</stringValue>
        </value>
    </choices>
    <choices>
        <name>SemiColon</name>
        <choiceText>Semi Colon</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>;</stringValue>
        </value>
    </choices>
    <choices>
        <name>SFClientDeletion</name>
        <choiceText>Execute SF Clients Delete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>SFInternalAnonymization</name>
        <choiceText>Execute SF Clients Anonymization</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SOMAnonymizationProcess</name>
        <choiceText>Execute SOM Clients Anonymization</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>SOMProcess</name>
        <choiceText>Execute SOM Client Anonymization</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Timestamp</name>
        <choiceText>Timestamp</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>timeStampChoiceValue</elementReference>
        </value>
    </choices>
    <choices>
        <name>UsualAnonymizValue</name>
        <choiceText>Usual Values</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>UsualValuesChoiceVal</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Check_Anonymization_OR_Deletion</name>
        <label>Check Anonymization OR Deletion</label>
        <locationX>380</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Suppression_Process_Definition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Anonymization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SFInternalAnonymization</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Anonymization_Process_Definition</targetReference>
            </connector>
            <label>Anonymization</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Anonymization_Type</name>
        <label>Check Anonymization Type</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Run_Anonymisation_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>timeStamp_Not_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Anonymization_Format</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UsualValuesChoiceVal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Run_Anonymisation_Process</targetReference>
            </connector>
            <label>TimeStamp Not Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Selected_Value</name>
        <label>Check Selected Value</label>
        <locationX>743</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_SF_Anonymization</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SFInternalAnonymization</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SFClientDeletion</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SF_Ano_Config</targetReference>
            </connector>
            <label>is SF Anonymization</label>
        </rules>
        <rules>
            <name>isSOMAnonymization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SOMAnonymizationProcess</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>is SOM Anonymization</label>
        </rules>
    </decisions>
    <description>Ulrich 10/7/2024 : Update Component API names</description>
    <dynamicChoiceSets>
        <name>Test</name>
        <collectionReference>Get_Configuration</collectionReference>
        <dataType>String</dataType>
        <displayField>DeveloperName</displayField>
        <object>AnonymizationObject__mdt</object>
        <valueField>Label</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CurrentTimeStamp</name>
        <dataType>String</dataType>
        <expression>TEXT(UNIXTIMESTAMP(NOW()))</expression>
    </formulas>
    <formulas>
        <name>v_currentTimeStamp</name>
        <dataType>Number</dataType>
        <expression>UNIXTIMESTAMP(NOW())</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SFDC_ClientAnonymization {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFDC_ClientAnonymization</label>
    <loops>
        <name>Get_Configuration_Label</name>
        <label>Get Configuration Label</label>
        <locationX>380</locationX>
        <locationY>866</locationY>
        <collectionReference>Get_Configuration</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Define_Label_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Objects_concerned</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_SFConfig_Selected_Object</name>
        <label>Get SFConfig Selected Object</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_SF_Ano_Config</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Define_Selected_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Configuration</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Configuration</name>
        <label>Get Configuration</label>
        <locationX>380</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Configuration_Label</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AnonymizationObject__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SF_Ano_Config</name>
        <label>Get SF Ano Config</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SFConfig_Selected_Object</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AnonymizationSFProcess__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Anonymization_Process_Definition</name>
        <label>Anonymization Process - Definition</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Anonymization_Type</targetReference>
        </connector>
        <fields>
            <name>Anonymization_Process_Definition_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Anonymization_Process_Definition_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Anonymization_Format</name>
                    <choiceReferences>Timestamp</choiceReferences>
                    <choiceReferences>UsualAnonymizValue</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Anonymization Format</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>TimestampVal</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CurrentTimeStamp</elementReference>
                    </defaultValue>
                    <fieldText>Timestamp Value</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Timestamp</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>UsualFormatInformation</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Selected clients personal data (Full Name, Email address, Phone number, Zip code, Street name/Address/Zip code) will be anonymized.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Text data will be replaced by &quot;XXXXXXXXXX&quot;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Number data will be replaced by &quot;9999999999&quot;.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Email data will be replaced by &quot;XXXXXXXXXX@XXX.XXX&quot;.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>UsualAnonymizValue</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TimestampInformation</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Clients personal data (Full Name, Email address, Phone number, Zip code, Street name/Address/Zip code) will be anonymized by using the defined Timestamp value.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Timestamp</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Anonymization_Process_Definition_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_the_separator</name>
                    <choiceReferences>Comma</choiceReferences>
                    <choiceReferences>SemiColon</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select the separator</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Put_your_Account_ID_here</name>
                    <fieldText>Add Account ID here</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Anonymization_Process_Step_1</name>
        <label>Anonymization Process Step 1</label>
        <locationX>743</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Selected_Value</targetReference>
        </connector>
        <fields>
            <name>Select_the_running_process</name>
            <choiceReferences>SFInternalAnonymization</choiceReferences>
            <choiceReferences>SOMAnonymizationProcess</choiceReferences>
            <choiceReferences>SFClientDeletion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the running process</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_Objects_concerned</name>
        <label>Check Objects concerned</label>
        <locationX>380</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Anonymization_OR_Deletion</targetReference>
        </connector>
        <fields>
            <name>ContentInformation</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;Please be aware that only the selected object will be anonymized according to de custom metadata fields definition.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ObjectList</name>
            <extensionName>c:fsc_dualListBox2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allOptionsStringFormat</name>
                <value>
                    <stringValue>list</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useWhichObjectKeyForData</name>
                <value>
                    <stringValue>value</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useWhichObjectKeyForLabel</name>
                <value>
                    <stringValue>Label</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableReordering</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedLabel</name>
                <value>
                    <stringValue>Process Selected Objects</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sourceLabel</name>
                <value>
                    <stringValue>Available Objects List</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allOptionsStringCollection</name>
                <value>
                    <elementReference>ConfigLabelList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOptionsStringList</name>
                <value>
                    <elementReference>selectedValue</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Suppression_Process_Definition</name>
        <label>Suppression Process - Definition</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RunSuppressionProcess</targetReference>
        </connector>
        <fields>
            <name>Suppression_Process_Definition_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Suppression_Process_Definition_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Select_the_separator</name>
                    <choiceReferences>Comma</choiceReferences>
                    <choiceReferences>SemiColon</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select the separator</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Copy_2_of_Put_your_Account_ID_here</name>
                    <fieldText>Add Account ID here</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>617</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Anonymization_Process_Step_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ConfigLabelList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedValue</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>teejej</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AnonymizationObject__mdt</objectType>
    </variables>
    <variables>
        <name>timeStampChoiceValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>TimeStamp</stringValue>
        </value>
    </variables>
    <variables>
        <name>UsualValuesChoiceVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Usual</stringValue>
        </value>
    </variables>
</Flow>
