unpackaged/main/default/flows/SFSC_Subflow_Assign_Market_zone_on_Case_and_Task_Origin_Phone_Or_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Task_Market_zone_Email</name>
        <label>Assign Task Market zone Email</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Task.Market_zone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Market_zone_MDT_based_on_Email.Market_Zone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task_Email_Market_zone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Market_zone_Web</name>
        <label>Assign Task Market zone Web</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Task.Market_zone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Market_zone_MDT_based_on_Web.Market_Zone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task_Web_Market_zone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Queue_Email_when_case_is_Email</name>
        <label>Get Queue Email when case is Email</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>QueueEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Owner:Group.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Market_zone_MDT_based_on_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Queue_Email_when_case_is_Web</name>
        <label>Get Queue Email when case is Web</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>QueueEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Owner:Group.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Market_zone_MDT_based_on_Web</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Market_Zone_for_Email_exists</name>
        <label>Market Zone for Email exists?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Market_zone_for_Email_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Market_zone_MDT_based_on_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Market_zone_Email</targetReference>
            </connector>
            <label>Yes Market zone for Email exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Market_Zone_for_Web_exists</name>
        <label>Market Zone for Web exists?</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Market_zone_for_Web_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Market_zone_MDT_based_on_Web</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Market_zone_Web</targetReference>
            </connector>
            <label>Yes Market zone for Web exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_Case_origin</name>
        <label>What is Case origin?</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_origin_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Email_when_case_is_Email</targetReference>
            </connector>
            <label>Case origin Email</label>
        </rules>
        <rules>
            <name>Case_origin_Web</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue_Email_when_case_is_Web</targetReference>
            </connector>
            <label>Case origin Web</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SFSC- Subflow - Assign Market zone on Case and Task Origin Phone Or Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFSC- Subflow - Assign Market zone on Case and Task Origin Phone Or Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Market_zone_MDT_based_on_Email</name>
        <label>Get Market zone MDT based on Email</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Market_Zone_for_Email_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HubEmailAddress__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFSC_CaseActivity__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Market_zone_MDT_based_on_Web</name>
        <label>Get Market zone MDT based on Web</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Market_Zone_for_Web_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HubEmailAddress__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFSC_CaseActivity__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task_Email_Market_zone</name>
        <label>Update Task Email  Market zone</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <inputReference>Task</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Web_Market_zone</name>
        <label>Update Task Web Market zone</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <inputReference>Task</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_is_Case_origin</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>QueueEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
