unpackaged/main/default/flows/SFSC_Case_Creation_Record_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>HasNoAccountDecision</name>
        <label>Has No Account Decision</label>
        <locationX>380</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Case_Set_Entitlement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasNoAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Admin_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsPhoneCase</targetReference>
            </connector>
            <label>❌ HasNoAccount</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLanguageNullAndVerifyBypassFlowStatus</name>
        <label>Is Language Null &amp; Verify Bypass Flow Status ?</label>
        <locationX>1238</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Language__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HasCaseFlowsBypass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>POSTCallOutCaseDetectionLanguage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPhoneCase</name>
        <label>IsPhoneCase</label>
        <locationX>182</locationX>
        <locationY>924</locationY>
        <defaultConnector>
            <targetReference>CheckForAnExistingAccountKey1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PhoneChatCaseVoicemail</name>
            <conditionLogic>(1 OR 7 OR 8) AND 2 AND 3 AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FirstName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CustomerEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Voicemail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCase</targetReference>
            </connector>
            <label>📞 Phone / 💬 Chat Case / 🗣️Voicemail</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyBypassFlowStatus</name>
        <label>Verify Bypass Flow Status</label>
        <locationX>611</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Bypass Flow Enabled</defaultConnectorLabel>
        <rules>
            <name>BypassFlowNotEnabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasCaseFlowsBypass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Voicemail</targetReference>
            </connector>
            <label>Bypass Flow Not Enabled</label>
        </rules>
    </decisions>
    <description>Main case flow for After case creation - updated by Victoria N.</description>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>SFSC - Case Creation Record Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFSC - Record Trigger - AFTER Create - Main Case flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>50</locationX>
        <locationY>1032</locationY>
        <connector>
            <targetReference>Set_Generic_Entitlement</targetReference>
        </connector>
        <inputAssignments>
            <field>SlaStartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>798</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VerifyBypassFlowStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseExternalID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>IsLanguageNullAndVerifyBypassFlowStatus</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Case_Hub_Regiobal_Hub_Created_Date_CSC</name>
        <label>Case Hub, Regiobal Hub &amp; Created Date CSC</label>
        <locationX>380</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>HasNoAccountDecision</targetReference>
        </connector>
        <flowName>SFSC_Subflow_Assign_Case_Hub_Regional_Hub_and_Created_Date_CSC</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Set the HubOrigin / FromEmailAddress / Activity / HubHandle according to the case creation method (Web / Email / Manual)</description>
        <name>CaseHubOrigin</name>
        <label>Case Hub Origin</label>
        <locationX>380</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Check_Admin_Case</targetReference>
        </connector>
        <flowName>SFSCCaseHubOrigin</flowName>
        <inputAssignments>
            <name>ISNEW</name>
            <value>
                <elementReference>ISNEW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Check if it is an Admon Case to flag it</description>
        <name>Check_Admin_Case</name>
        <label>Check Admin Case</label>
        <locationX>380</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Case_Hub_Regiobal_Hub_Created_Date_CSC</targetReference>
        </connector>
        <flowName>SFSC_Subflow_Check_Admin_Case</flowName>
        <inputAssignments>
            <name>varCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>If the email is created from a voicemail, the case origin is updated</description>
        <name>Check_if_Voicemail</name>
        <label>Check if Voicemail</label>
        <locationX>380</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>CaseHubOrigin</targetReference>
        </connector>
        <flowName>SFSC_Subflow_Case_Voicemail</flowName>
        <inputAssignments>
            <name>varCase</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Check for an existing Account with the same Last Name, First Name AND (Email OR Phone)</description>
        <name>CheckForAnExistingAccountKey1</name>
        <label>Check for an existing Account Key 1</label>
        <locationX>314</locationX>
        <locationY>1032</locationY>
        <connector>
            <targetReference>Set_Case_Entitlement</targetReference>
        </connector>
        <flowName>Subflow_Check_for_an_existing_Account_Key_1</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_1_of_Case_Set_Entitlement</name>
        <label>Case Set Entitlement</label>
        <locationX>578</locationX>
        <locationY>924</locationY>
        <flowName>SFSC_Subflow_Case_Set_Entitlement</flowName>
        <inputAssignments>
            <name>varCaseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>POST method Webservice for setting the Case language</description>
        <name>POSTCallOutCaseDetectionLanguage</name>
        <label>POST CallOut Case Detection Language</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <flowName>SFSC_POST_CallOut_Case_LanguageDetection</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Set_Case_Entitlement</name>
        <label>Set Case Entitlement</label>
        <locationX>314</locationX>
        <locationY>1140</locationY>
        <flowName>SFSC_Subflow_Case_Set_Entitlement</flowName>
        <inputAssignments>
            <name>varCaseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Use a Generic Account associated to a generic Entitlement according to the case&#39;s hub</description>
        <name>Set_Generic_Entitlement</name>
        <label>Set Generic Entitlement</label>
        <locationX>50</locationX>
        <locationY>1140</locationY>
        <flowName>SFSC_Subflow_Case_Set_Entitlement</flowName>
        <inputAssignments>
            <name>varCaseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <triggerOrder>200</triggerOrder>
    <variables>
        <name>HasCaseFlowsBypass</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Setup.BypassTrigger__c.CaseFlows__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
