unpackaged/main/default/flows/SFSC_Record_Trigger_BEFORE_Update_Case_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>842</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>QueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:Group.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CMDT_SFSC_CaseActivities</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_CMDT_Exist</name>
        <label>Does CMDT Exist?</label>
        <locationX>842</locationX>
        <locationY>827</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CMDT_SFSC_CaseActivities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_owner_hub_pervious_hub</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_case_owner_changed_to_SPAM</name>
        <label>Is the case owner changed to SPAM?</label>
        <locationX>710</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Owner_is_SPAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_SPAM_queue.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_SPAM_Infos</targetReference>
            </connector>
            <label>✅ Yes Owner is SPAM</label>
        </rules>
        <rules>
            <name>No_Owner_is_Not_SPAM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_SPAM_queue.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue</targetReference>
            </connector>
            <label>❌ No Owner is Not SPAM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_owner_hub_pervious_hub</name>
        <label>Is the owner hub = pervious hub</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_the_same_Hub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.HUB_Handle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_CMDT_SFSC_CaseActivities.Hub__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Hub_Handle_Market_zone</targetReference>
            </connector>
            <label>Yes the same Hub</label>
        </rules>
        <rules>
            <name>Not_the_same_Hub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Hub__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_CMDT_SFSC_CaseActivities.Hub__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Hub_Handle_Market_zone_Status</targetReference>
            </connector>
            <label>Not the same Hub</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyBypassFlowStatus</name>
        <label>Verify Bypass Flow Status</label>
        <locationX>1172</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Bypass Flow Enabled</defaultConnectorLabel>
        <rules>
            <name>BypassFlowNotEnabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasCaseFlowsBypass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SPAM_queue</targetReference>
            </connector>
            <label>Bypass Flow Not Enabled</label>
        </rules>
    </decisions>
    <description>A BEFORE save flow is created to bypass Validation Rule &#39; You can not edit a case when the owner is a Queue&quot;.
1.If the owner is a SPAM =&gt; Update type, subtype, contact reason to SPAM &amp; Status to closed
2. If Owner is not a SPAM = &gt; Update Status to New
3. Update Case Hub handle  Based on the Queue</description>
    <interviewLabel>SFSC - Record Trigger - BEFORE Update - Case Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFSC - Record Trigger - BEFORE Update - Case Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CMDT_SFSC_CaseActivities</name>
        <label>Get CMDT SFSC - CaseActivities</label>
        <locationX>842</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_CMDT_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Queue_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFSC_CaseActivity__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SPAM_queue</name>
        <label>Get SPAM queue</label>
        <locationX>710</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_case_owner_changed_to_SPAM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SPAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Case_SPAM_Infos</name>
        <label>Set Case SPAM Infos</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Contact_reason__c</field>
            <value>
                <stringValue>SPAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubType__c</field>
            <value>
                <stringValue>SPAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>SPAM</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Hub_Handle_Market_zone</name>
        <label>Update Case Hub Handle &amp; Market zone</label>
        <locationX>314</locationX>
        <locationY>1043</locationY>
        <inputAssignments>
            <field>HUB_Handle__c</field>
            <value>
                <elementReference>Get_CMDT_SFSC_CaseActivities.Hub__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_zone__c</field>
            <value>
                <elementReference>Get_CMDT_SFSC_CaseActivities.Market_Zone__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Hub_Handle_Market_zone_Status</name>
        <label>Update Case Hub Handle &amp; Market zone &amp; Status</label>
        <locationX>578</locationX>
        <locationY>1043</locationY>
        <inputAssignments>
            <field>HUB_Handle__c</field>
            <value>
                <elementReference>Get_CMDT_SFSC_CaseActivities.Hub__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_zone__c</field>
            <value>
                <elementReference>Get_CMDT_SFSC_CaseActivities.Market_Zone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VerifyBypassFlowStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>00G</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>HasCaseFlowsBypass</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
