unpackaged/main/default/flows/SFSC_Create_Person_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Account_on_Case1</name>
        <label>Set Account on Case</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Client</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Email_or_Phone_filled</name>
        <label>Is Email or Phone filled?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_Client</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formEmailBlank</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Phone.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_Screen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsUserCaseOwner</name>
        <label>Is User Case Owner?</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>NotOwnerErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>❌ Not Owner</defaultConnectorLabel>
        <rules>
            <name>UserIsOwner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseSafeUserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Client</targetReference>
            </connector>
            <label>✅ User Is Owner</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountSalutations</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Salutation</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>title</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Title__pc</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CaseOwnerName</name>
        <dataType>String</dataType>
        <expression>{!Get_Case.Owner:User.FirstName} + &#39; &#39; + {!Get_Case.Owner:User.LastName}</expression>
    </formulas>
    <formulas>
        <name>CaseSafeUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>CurrentUserNAme</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &#39; &#39; + {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>formClientEmail</name>
        <dataType>String</dataType>
        <expression>IF(
         NOT(ISBLANK({!Get_Case.SuppliedEmail})),
          {!Get_Case.SuppliedEmail},

        IF(
               NOT(ISBLANK({!Get_Case.CustomerEmail__c})), 
               {!Get_Case.CustomerEmail__c},
             
               IF(
                          NOT(ISBLANK({!Get_Case.SuppliedEmail__c})), 
                           {!Get_Case.SuppliedEmail__c},
                      
                      IF(
                                NOT(ISBLANK({!Get_Case.ContactEmail})),
                                {!Get_Case.ContactEmail},
                                  &quot;&quot;
                               )
                         )
                   )
         )</expression>
    </formulas>
    <formulas>
        <name>formEmailBlank</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!email.value})</expression>
    </formulas>
    <formulas>
        <name>formFirstName</name>
        <dataType>String</dataType>
        <expression>IF(
       NOT(ISBLANK({!Get_Case.FirstName__c})), 
      {!Get_Case.FirstName__c},     
         &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formLastName</name>
        <dataType>String</dataType>
        <expression>IF(
       NOT(ISBLANK({!Get_Case.LastName__c})), 
      {!Get_Case.LastName__c},      

         &quot;&quot;
        )</expression>
    </formulas>
    <formulas>
        <name>formPhone</name>
        <dataType>String</dataType>
        <expression>IF(
       NOT(ISBLANK({!Get_Case.SuppliedPhone})),
   {!Get_Case.SuppliedPhone},
     IF(
            NOT(ISBLANK({!Get_Case.Phone__c})),
           {!Get_Case.Phone__c},
          &quot;&quot;
                )
             )</expression>
    </formulas>
    <interviewLabel>SFSC - Create Person Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFSC - Screenflow - Create Person Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Client</name>
        <label>Create Client</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Set_Account_on_Case1</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Title1</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsUserCaseOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>New_Client</name>
        <label>New Client</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Email_or_Phone_filled</targetReference>
        </connector>
        <fields>
            <name>Client_Name</name>
            <fieldText>Client Name</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Client_Name_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Title1</name>
                    <choiceReferences>AccountSalutations</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Title</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>formFirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>formLastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Contact</name>
            <fieldText>Contact</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contact_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>formClientEmail</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contact_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>formPhone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>validationRule</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 43, 43);&quot;&gt;You must fill the Email or the Phone field !&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>email.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Phone.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NotOwnerErrorMessage</name>
        <label>Not Owner Error Message</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OwnerMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;❗️&lt;strong&gt;You are not the case owner&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;❗️&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Before creating an account or selecting one, please take ownership of this case&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NotOwnerErrorMessage_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>NotOwnerErrorMessage_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CurrentUser</name>
                    <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;u&gt;Current User&lt;/u&gt; : &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!CurrentUserNAme}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>NotOwnerErrorMessage_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CaseOwner</name>
                    <fieldText>&lt;p&gt;&lt;u style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Owner Name&lt;/u&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; : {!CaseOwnerName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Validation_Screen</name>
        <label>Validation Screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Client</targetReference>
        </connector>
        <fields>
            <name>validationScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(231, 43, 43);&quot;&gt;You must fill the Email or the Phone field !&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
