unpackaged/main/default/flows/SFSC_Trigger_Flow_on_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>HasTheAccountChanged</name>
        <label>Has The Account Changed ?</label>
        <locationX>1150</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>❌ Account Not Changed</defaultConnectorLabel>
        <rules>
            <name>AccountHasChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Set_Entitlement</targetReference>
            </connector>
            <label>✅ Account Has Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasTheOwnerChanged</name>
        <label>Has The Owner Changed ?</label>
        <locationX>831</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>OwnerHasChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_owner_changed_to_a_Queue</targetReference>
            </connector>
            <label>✅ Owner has changed</label>
        </rules>
        <rules>
            <name>Owner_Not_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Case_External_Id_null_1</targetReference>
            </connector>
            <label>❌ Owner Not Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_External_Id_null</name>
        <label>Is Case External Id null?</label>
        <locationX>446</locationX>
        <locationY>1439</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_External_Id_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseExternalID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Hub_Regional_Hub_Created_Date_CSC</targetReference>
            </connector>
            <label>Yes Case External Id is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_External_Id_null_1</name>
        <label>Is Case External Id null?</label>
        <locationX>1150</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>HasTheAccountChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_External_Id_is_null_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseExternalID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Case_Hub_Regional_Hub_Created_Date_CSC</targetReference>
            </connector>
            <label>Yes Case External Id is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_related_to_an_Account</name>
        <label>Is Case related to an Account?</label>
        <locationX>831</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>HasTheOwnerChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_is_not_related</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_Case_to_an_existing_account</targetReference>
            </connector>
            <label>Case is not related</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_owner_updated_via_Make_me_owner</name>
        <label>Is owner updated via &quot;Make me owner&quot; ?</label>
        <locationX>446</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Is_Case_External_Id_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_the_user_assigned_the_case_by_clicking_on_make_me_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hub_Handle_to_case_Satus</targetReference>
            </connector>
            <label>Yes the user assigned the case by clicking on make me owner</label>
        </rules>
        <rules>
            <name>Owner_is_updating_by_the_button_change_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_new_owner_the_same_hub</targetReference>
            </connector>
            <label>Owner is updating by the button change owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_new_owner_the_same_hub</name>
        <label>Is the new owner the same hub ?</label>
        <locationX>446</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Set_Hub_Handle_to_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_the_same_Hub</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Hub__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Owner:User.Hub__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hub_Handle_Status_to_case</targetReference>
            </connector>
            <label>Not the same Hub</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_owner_changed_to_a_Queue</name>
        <label>Is the owner changed to a Queue</label>
        <locationX>116</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>Is_owner_updated_via_Make_me_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Owner_is_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <label>Yes Owner is Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyBypassFlowStatus</name>
        <label>Verify Bypass Flow Status</label>
        <locationX>1320</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Bypass Flow Enabled</defaultConnectorLabel>
        <rules>
            <name>BypassFlowNotEnabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HasCaseFlowsBypass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Case_related_to_an_Account</targetReference>
            </connector>
            <label>Bypass Flow Not Enabled</label>
        </rules>
    </decisions>
    <description>V15 - Ulrich update</description>
    <formulas>
        <name>UserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>SFSC - Trigger Flow on Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFSC - Record Trigger - AFTER Update - Case Trigger Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Hub_Handle_Status_to_case</name>
        <label>Set Hub Handle &amp; Status to case</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Is_Case_External_Id_null</targetReference>
        </connector>
        <inputAssignments>
            <field>HUB_Handle__c</field>
            <value>
                <elementReference>$Record.Owner:User.Hub__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Hub_Handle_to_case</name>
        <label>Set Hub Handle to case</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Is_Case_External_Id_null</targetReference>
        </connector>
        <inputAssignments>
            <field>HUB_Handle__c</field>
            <value>
                <elementReference>$Record.Owner:User.Hub__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Hub_Handle_to_case_Satus</name>
        <label>Set Hub Handle to case &amp; Satus</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Is_Case_External_Id_null</targetReference>
        </connector>
        <inputAssignments>
            <field>HUB_Handle__c</field>
            <value>
                <elementReference>$Record.Owner:User.Hub__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1194</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VerifyBypassFlowStatus</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Case_Hub_Regional_Hub_Created_Date_CSC</name>
        <label>Case Hub, Regional Hub &amp; Created Date CSC</label>
        <locationX>314</locationX>
        <locationY>1547</locationY>
        <flowName>SFSC_Subflow_Assign_Case_Hub_Regional_Hub_and_Created_Date_CSC</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Case_Set_Entitlement</name>
        <label>Case Set Entitlement</label>
        <locationX>1018</locationX>
        <locationY>1247</locationY>
        <flowName>SFSC_Subflow_Case_Set_Entitlement</flowName>
        <inputAssignments>
            <name>varCaseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Copy_1_of_Case_Hub_Regional_Hub_Created_Date_CSC</name>
        <label>Copy 1 of Case Hub, Regional Hub &amp; Created Date CSC</label>
        <locationX>1018</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>HasTheAccountChanged</targetReference>
        </connector>
        <flowName>SFSC_Subflow_Assign_Case_Hub_Regional_Hub_and_Created_Date_CSC</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Link_Case_to_an_existing_account</name>
        <label>Link Case to an existing account</label>
        <locationX>699</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>HasTheOwnerChanged</targetReference>
        </connector>
        <flowName>Subflow_Check_for_an_existing_Account_Key_1</flowName>
        <inputAssignments>
            <name>CaseId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>HasCaseFlowsBypass</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Setup.BypassTrigger__c.CaseFlows__c</elementReference>
        </value>
    </variables>
</Flow>
