unpackaged/main/default/flows/SFSC_Subflow_Case_Voicemail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Case_Origin_to_Voicemail</name>
        <label>Set Case Origin to Voicemail</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Voicemail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase.SuppliedEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase.CustomerEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCase.SuppliedName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Origin</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Stores the value of the subject of an Email created for voicemail</description>
        <name>constEmailSubject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>New voicemail</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_the_Case_a_Voicemail</name>
        <label>Is the Case a Voicemail?</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCase.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>constEmailSubject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Origin_to_Voicemail</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updates the Case origin when it is created from a voicemail (+ empties customer email)</description>
    <environments>Default</environments>
    <interviewLabel>SFSC - Subflow - Case Voicemail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFSC - Subflow - Case Voicemail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Error_log</name>
        <label>Create Error log</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Case_Origin</name>
        <label>Update Case Origin</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <faultConnector>
            <targetReference>Create_Error_log</targetReference>
        </faultConnector>
        <inputReference>varCase</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_the_Case_a_Voicemail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
