unpackaged/main/default/flows/SFSC_Record_Trigger_AFTER_Upsert_Update_task_Case_phone_Market_Zone.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Is_the_Task_linked_to_the_case</name>
        <label>Is the Task linked to the case?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_linked_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SFSC -Record Trigger - AFTER Upsert - Update task &amp; Case phone Market Zone {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFSC -Record Trigger - AFTER Upsert - Update task &amp; Case phone Market Zone</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_linked_Case</name>
        <label>Update linked Case</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Market_zone__c</field>
            <value>
                <elementReference>$Record.Market_zone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Customer_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>$Record.Customer_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Market_zone</name>
        <label>Update Task Market zone</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Is_the_Task_linked_to_the_case</targetReference>
        </connector>
        <inputAssignments>
            <field>Market_zone__c</field>
            <value>
                <stringValue>UAE</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Task_Market_zone</targetReference>
        </connector>
        <filterLogic>(1 AND (2 OR 5 OR 6) ) OR (3 AND 4 AND 1 AND (2 OR 5 OR 6))</filterLogic>
        <filters>
            <field>FX_RecordTypeName_c__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Genesys Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Queue__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>UAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>500</stringValue>
            </value>
        </filters>
        <filters>
            <field>Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MX</stringValue>
            </value>
        </filters>
        <filters>
            <field>Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
