unpackaged/main/default/flows/SFSC_Subflow_Assign_Case_Hub_Regional_Hub_and_Created_Date_CSC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Created_Date_CSC</name>
        <label>Assign Created Date CSC</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>Case.Created_date_CSC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_An_Account_Linked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CustomerEmail</name>
        <label>Assign CustomerEmail</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Case.CustomerEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Account.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hub_Case</name>
        <label>Assign Hub Case</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Case.Hub__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Hub.Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Regional_Hub</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Regional_Hub</name>
        <label>Assign Regional Hub</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Case.Regional_Hub__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Regional_Hub.Label</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Ccreated_Date_CSC_null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Hub_Value_exists</name>
        <label>Does Hub Value exists ?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Regional_Hub</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Hub</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hub_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Regional_Hub_exists</name>
        <label>Does Regional Hub exists?</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Is_Ccreated_Date_CSC_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Regional_Hub_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Regional_Hub</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Regional_Hub</targetReference>
            </connector>
            <label>Yes Regional Hub exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_An_Account_Linked</name>
        <label>is An Account Linked ?</label>
        <locationX>182</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Update_Case_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_There_is_a_linked_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CustomerEmail</targetReference>
            </connector>
            <label>Yes There is a linked account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Ccreated_Date_CSC_null</name>
        <label>Is Ccreated Date CSC null ?</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>is_An_Account_Linked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Created_Date_CSC_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case.Created_date_CSC__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Created_Date_CSC</targetReference>
            </connector>
            <label>Yes Created Date CSC is null</label>
        </rules>
    </decisions>
    <description>Add: update customer Email (Ulrich)</description>
    <interviewLabel>SFSC - Subflow - Assign Case Hub Regional Hub and Created Date CSC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFSC - Subflow - Assign Case Hub Regional Hub and Created Date CSC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Hub</name>
        <label>Get Hub</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Hub_Value_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.Hub_Origin__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFSC_Hub_Value__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Regional_Hub</name>
        <label>Get Regional Hub</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Regional_Hub_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case.HUB_Handle__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SFSC_Regional_Hub_Value__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_values</name>
        <label>Update Case values</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Hub</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
