unpackaged/main/default/flows/SFSC_Record_Trigger_AFTER_Upsert_Update_task_hubs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Is_it_a_Genesys_Task</name>
        <label>Is it a Genesys Task?</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Genesys_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varGenesysTaskRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Linked_case</targetReference>
            </connector>
            <label>Yes Genesys Task</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is this task is related to an email message</description>
        <name>IsRelatedToAnEmailMessage</name>
        <label>Is related to an email message ?</label>
        <locationX>248</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Update_Task_Informations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>❌ No Email Message</defaultConnectorLabel>
        <rules>
            <name>RelatedToEmailMessage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_message</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Market_zone_origin_Email</targetReference>
            </connector>
            <label>✅ Related to Email Message</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is task related to is Case or not</description>
        <name>RelatedToIsCase</name>
        <label>Related to Is Case ?</label>
        <locationX>501</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>❌ Not a Case</defaultConnectorLabel>
        <rules>
            <name>IsCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_infos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Email_message</targetReference>
            </connector>
            <label>✅ Is Case</label>
        </rules>
    </decisions>
    <description>Update task informations from case infos</description>
    <environments>Default</environments>
    <formulas>
        <name>EmailMessageDirection</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Email_message.Incoming} = true, &quot;Inbound&quot;, &quot;Outbound&quot;)</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>SFSC - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFSC -Record Trigger - AFTER Upsert - Update task hubs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_infos</name>
        <label>Get Case infos</label>
        <locationX>501</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RelatedToIsCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_message</name>
        <label>Get Email message</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsRelatedToAnEmailMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ActivityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Record_Type</name>
        <label>Get Task Record Type</label>
        <locationX>446</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_it_a_Genesys_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Genesys_Task</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varGenesysTaskRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Linked_case</name>
        <label>Update Linked case</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Last_interaction__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_Informations</name>
        <label>Update Task Informations</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_Task_Record_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Hub_Handle__c</field>
            <value>
                <elementReference>Get_Case_infos.HUB_Handle__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hub_Origin__c</field>
            <value>
                <elementReference>Get_Case_infos.Hub_Origin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eMailDirection__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_infos</targetReference>
        </connector>
        <filterFormula>AND(
NOT(ISBLANK({!$Record.WhatId})),
BEGINS({!$Record.WhatId} , &quot;500&quot;)
)</filterFormula>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Task_Market_zone_origin_Email</name>
        <label>Assign Task Market zone origin Email</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>UpdateTaskTypeAccordingToEmailMessage</targetReference>
        </connector>
        <flowName>SFSC_Subflow_Assign_Market_zone_on_Case_and_Task_Origin_Phone_Or_Email</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>Get_Case_infos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Task</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>UpdateTaskTypeAccordingToEmailMessage</name>
        <label>Update Task Type according to email message</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <flowName>SFSC_Update_Task_Type_according_to_email_message</flowName>
        <inputAssignments>
            <name>caseId</name>
            <value>
                <elementReference>Get_Case_infos.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vareMailDirection</name>
            <value>
                <elementReference>EmailMessageDirection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varEmailMessage</name>
            <value>
                <elementReference>Get_Email_message</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varGenesysTaskRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
