unpackaged/main/default/flows/SOM_820_Reship_On_Return_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <interviewLabel>SOM 820 - Reship On Return Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 820 - Reship On Return Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Return_Order</name>
        <label>Get Return Order</label>
        <locationX>670</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reship_Order_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderSummaryId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Return_Order_Line_Items_To_Processed</name>
        <label>Update Return Order Line Items To Processed</label>
        <locationX>991</locationX>
        <locationY>234</locationY>
        <connector>
            <targetReference>Close_Return_Order_After_Reship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RepaymentMethod</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reship</stringValue>
            </value>
        </filters>
        <filters>
            <field>ReturnOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FollowUpProcessed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ReturnOrderLineItem</object>
    </recordUpdates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Return_Order</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Close_Return_Order_After_Reship</name>
        <label>Close Return Order After Reship</label>
        <locationX>1131</locationX>
        <locationY>234</locationY>
        <flowName>SOM_830_Close_Return_Order</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Reship_Order_Items</name>
        <label>Reship Order Items</label>
        <locationX>842</locationX>
        <locationY>234</locationY>
        <connector>
            <targetReference>Update_Return_Order_Line_Items_To_Processed</targetReference>
        </connector>
        <flowName>SOM_810_Reship_Order_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Return_Order.OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>V_RO_Id</name>
            <value>
                <elementReference>Get_Return_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
