unpackaged/main/default/flows/SOM_460_Discount_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Adjust_Order_Item_Summaries_Submit</name>
        <label>Adjust Order Item Summaries Submit</label>
        <locationX>1629</locationX>
        <locationY>454</locationY>
        <actionName>adjustOrderItemSummariesSubmit</actionName>
        <actionType>adjustOrderItemSummariesSubmit</actionType>
        <connector>
            <targetReference>Has_Post_Fulfillment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemSummariesToAdjust</name>
            <value>
                <elementReference>adjustOrderItemSummaryInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary_Object.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>adjustOrderSummaryOutputRepresentation</assignToReference>
            <name>adjustOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Credit_Memo_Action</name>
        <label>Create Credit Memo</label>
        <locationX>1592</locationX>
        <locationY>921</locationY>
        <actionName>createCreditMemoOrderSummary</actionName>
        <actionType>createCreditMemoOrderSummary</actionType>
        <connector>
            <targetReference>Get_Credit_Memo</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>creditMemoInput</name>
            <value>
                <elementReference>creditMemoInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary_Object.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Discount_Order_Item_Summaries_Preview</name>
        <label>Discount Order Item Summaries Preview</label>
        <locationX>1377</locationX>
        <locationY>435</locationY>
        <actionName>adjustOrderItemSummariesPreview</actionName>
        <actionType>adjustOrderItemSummariesPreview</actionType>
        <connector>
            <targetReference>Set_Stage_To_Part_3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Invocable_Action_Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemSummariesToAdjust</name>
            <value>
                <elementReference>adjustOrderItemSummaryInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary_Object.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>adjustOrderSummaryOutputRepresentation</assignToReference>
            <name>adjustOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Ensure_Refund_Async</name>
        <label>Ensure Refund Async</label>
        <locationX>2156</locationX>
        <locationY>777</locationY>
        <actionName>ensureRefundsOrderSummaryAsync</actionName>
        <actionType>ensureRefundsOrderSummaryAsync</actionType>
        <connector>
            <targetReference>Create_New_CreditMemo_Without_Return_Event</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ensureRefundsAsyncInput</name>
            <value>
                <elementReference>ensureRefundsAsyncInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Order_Summary_Object.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_To_Discountable_Items</name>
        <label>Add To Discountable Items</label>
        <locationX>595</locationX>
        <locationY>793</locationY>
        <assignmentItems>
            <assignToReference>discountableItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>potentiallyDiscountableItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_For_Discountable_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign1</name>
        <label>assign1</label>
        <locationX>1571</locationX>
        <locationY>149</locationY>
        <assignmentItems>
            <assignToReference>discountItem.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop1.reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>discountItem.discountValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop1.discountValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>discountItem.discountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop1.discountType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>discountItem.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop1.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>discountItem.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop1.discountNote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign2</name>
        <label>assign2</label>
        <locationX>1763</locationX>
        <locationY>164</locationY>
        <assignmentItems>
            <assignToReference>discountItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>discountItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Unmanaged_Error_Messages</name>
        <label>Assign Unmanaged Error Messages</label>
        <locationX>45</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Invocable_Action_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Credit_Memo_Assignment</name>
        <label>Credit Memo Assignment</label>
        <locationX>1780</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>creditMemoInputRepresentation.changeOrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>adjustOrderSummaryOutputRepresentation.postFulfillmentChangeOrderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Credit_Memo_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Item_Assignment</name>
        <label>Discount Item Assignment</label>
        <locationX>939</locationX>
        <locationY>793</locationY>
        <assignmentItems>
            <assignToReference>discountItem.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>discountItem.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>discountItem.discountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>amount</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>discountItem.discountValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>discountItem.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_Refunded_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FX_Generate_Refunded_Items</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputLineItem.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputLineItem.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputLineItem.discountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>amount</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputLineItem.percentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputLineItem.amountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputLineItem.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputLineItem.sku</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputLineItem.taxType</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputLineItem.discountValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OutputLineItem.discountNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Item_List_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Item_Input_Representation_Assignment</name>
        <label>Discount Item Input Representation Assignment</label>
        <locationX>1145</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>adjustItemInputRepresentation.amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutputLineItem.discountValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adjustItemInputRepresentation.adjustmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutputLineItem.discountType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adjustItemInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutputLineItem.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adjustItemInputRepresentation.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutputLineItem.reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>adjustItemInputRepresentation.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OutputLineItem.description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_Refunded_Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OutputLineItem.discountValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Order_Item_Input_Representation_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Item_List_Assignment</name>
        <label>Discount Item List Assignment</label>
        <locationX>1079</locationX>
        <locationY>793</locationY>
        <assignmentItems>
            <assignToReference>OutputLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OutputLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Item_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Discount_Order_Item_Input_Representation_Assignment</name>
        <label>Discount Order Item Input Representation Assignment</label>
        <locationX>1275</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>adjustOrderItemSummaryInputRepresentation.adjustItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>adjustItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Item_Representation_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Invocable_Action_Error_Message</name>
        <label>Invocable Action Error Message</label>
        <locationX>1225</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Invocable_Action_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Invocable_Action_Image</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Items_Error_Message</name>
        <label>No Items Error Message</label>
        <locationX>811</locationX>
        <locationY>895</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToDiscount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToDiscount_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToDiscount_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Allocated_Items_Change_Order_Type</name>
        <label>Set Allocated Items Change Order Type</label>
        <locationX>1338</locationX>
        <locationY>291</locationY>
        <assignmentItems>
            <assignToReference>adjustOrderItemSummaryInputRepresentation.allocatedItemsChangeOrderType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>allocatedItemsChangeOrderType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Item_Representation_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Discount_Amount_Type_With_Tax</name>
        <label>Set Discount Amount Type With Tax</label>
        <locationX>453</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>discountAmountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AmountWithTax</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_For_Discountable_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Discount_Amount_Type_Without_Tax</name>
        <label>Set Discount Amount Type Without Tax</label>
        <locationX>460</locationX>
        <locationY>802</locationY>
        <assignmentItems>
            <assignToReference>discountAmountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AmountWithoutTax</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_For_Discountable_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_1</name>
        <label>Set Stage To Part 1</label>
        <locationX>812</locationX>
        <locationY>321</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_2</name>
        <label>Set Stage To Part 2</label>
        <locationX>938</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discount_Item_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_3</name>
        <label>Set Stage To Part 3</label>
        <locationX>1521</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_to_Part_4</name>
        <label>Set Stage to Part 4</label>
        <locationX>2035</locationX>
        <locationY>850</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>confirmationImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ensure_Refund_Async</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Wrong_Entity_Error_Message</name>
        <label>Set Wrong Entity Error Message</label>
        <locationX>168</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCreditMemoId</name>
        <label>setCreditMemoId</label>
        <locationX>1832</locationX>
        <locationY>907</locationY>
        <assignmentItems>
            <assignToReference>ensureRefundsAsyncInputRepresentation.creditMemoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Credit_Memo_Action.creditMemoOutput.creditMemoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ensureRefundsAsyncInputRepresentation.excessFundsAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>adjustOrderSummaryOutputRepresentation.changeBalances.totalExcessFundsAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage_to_Part_4</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Confirmation_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Invocable_Action_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_NoItemsToDiscount_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Wrong_Entity_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>ZERO</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Are_Any_Items_To_Discount</name>
        <label>Are Any Items To Discount</label>
        <locationX>821</locationX>
        <locationY>484</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoItems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>discountableItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Items_Error_Message</targetReference>
            </connector>
            <label>NoItems</label>
        </rules>
        <rules>
            <name>ItemsAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>discountableItems</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_To_Part_1</targetReference>
            </connector>
            <label>ItemsAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Last_Credit_Memo_Record</name>
        <label>Check Last Credit Memo Record</label>
        <locationX>1681</locationX>
        <locationY>1276</locationY>
        <defaultConnector>
            <targetReference>Update_Credit_Memo_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Empty</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Created_CreditMemo_For_the_Specified_Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Credit_Memo_Record_1</targetReference>
            </connector>
            <label>Is Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Discount_Amount_Type</name>
        <label>Determine Discount Amount Type</label>
        <locationX>447</locationX>
        <locationY>589</locationY>
        <defaultConnector>
            <targetReference>Set_Discount_Amount_Type_Without_Tax</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_OrderSummary_VAT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object.TaxLocaleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gross</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Discount_Amount_Type_With_Tax</targetReference>
            </connector>
            <label>Is OrderSummary VAT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Unmanaged_Order</name>
        <label>Determine Unmanaged Order</label>
        <locationX>37</locationX>
        <locationY>387</locationY>
        <defaultConnector>
            <targetReference>is_Valid_Order_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unmanaged_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object.OrderLifeCycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UNMANAGED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Unmanaged_Error_Messages</targetReference>
            </connector>
            <label>Unmanaged Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Excess_Funds_Action</name>
        <label>Has Excess Funds Action</label>
        <locationX>1907</locationX>
        <locationY>622</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Excess_Fund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>adjustOrderSummaryOutputRepresentation.changeBalances.totalExcessFundsAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setCreditMemoId</targetReference>
            </connector>
            <label>Has Excess Funds</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Post_Fulfillment</name>
        <label>Has Post Fulfillment</label>
        <locationX>1787</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Has_Excess_Funds_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Post_Fulfillment_Condition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>adjustOrderSummaryOutputRepresentation.postFulfillmentChangeOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Memo_Assignment</targetReference>
            </connector>
            <label>Has Post Fulfillment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Item_Discountable</name>
        <label>Is Item Discountable</label>
        <locationX>732</locationX>
        <locationY>663</locationY>
        <defaultConnector>
            <targetReference>Filter_For_Discountable_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Item_is_Discountable</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>potentiallyDiscountableItem.Quantity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>potentiallyDiscountableItem.QuantityReturnInitiated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>potentiallyDiscountableItem.QuantityReturned</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>potentiallyDiscountableItem.TotalAmtWithTax</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allocatedItemsChangeOrderType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PreFulfillment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allocatedItemsChangeOrderType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InFulfillment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>potentiallyDiscountableItem.QuantityAllocated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>potentiallyDiscountableItem.QuantityFulfilled</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_Discountable_Items</targetReference>
            </connector>
            <label>Item is Discountable</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Valid_Order_Summary</name>
        <label>Is Valid Order Summary</label>
        <locationX>269</locationX>
        <locationY>397</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Item_Summary</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
        <rules>
            <name>Not_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
            </connector>
            <label>Not Valid</label>
        </rules>
    </decisions>
    <description>Changed ISO Billing Country To Delivery Country In Credit Memo Number</description>
    <formulas>
        <name>FX_Abs_RefundedAmount</name>
        <dataType>Number</dataType>
        <expression>abs({!V_Refunded_Amount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FX_CreditMemoCountry</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Get_Last_Created_CreditMemo_For_the_Specified_Country.DocumentNumber__c}, 2)</expression>
    </formulas>
    <formulas>
        <name>FX_CreditMemoDocumentNumber</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Get_Last_Created_CreditMemo_For_the_Specified_Country.DocumentNumber__c}, {!FX_LastCreditMemoNumberAdapted}, TEXT({!FX_NewCreditMemoNumber}))</expression>
    </formulas>
    <formulas>
        <name>FX_CurrencyIsoCode</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Order_Summary_Object.CurrencyIsoCode})</expression>
    </formulas>
    <formulas>
        <name>FX_FirstCreditMemoNumber</name>
        <dataType>String</dataType>
        <expression>&quot;CM000001&quot; + {!Get_ODG.DeliverToCountry}</expression>
    </formulas>
    <formulas>
        <name>FX_Generate_Refunded_Items</name>
        <dataType>String</dataType>
        <expression>if(ISBLANK({!V_Refunded_Items})  , &quot;&quot; , BR() ) +
&quot;- SKU: &quot; + {!selectedOrderItem.StockKeepingUnit} + 
&quot;; UnitPrice: &quot; + TEXT({!selectedOrderItem.GrossUnitPrice}) + 
&quot;; TotalAmount: &quot; +TEXT({!selectedOrderItem.TotalAmtWithTax})</expression>
    </formulas>
    <formulas>
        <name>FX_LastCreditMemoNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE(SUBSTITUTE(SUBSTITUTE({!Get_Last_Created_CreditMemo_For_the_Specified_Country.DocumentNumber__c}, &quot;CM&quot;, &quot;&quot;), {!FX_CreditMemoCountry}, &quot;&quot;))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_LastCreditMemoNumberAdapted</name>
        <dataType>String</dataType>
        <expression>IF(LEN(TEXT({!FX_LastCreditMemoNumber})) &lt; LEN(TEXT({!FX_NewCreditMemoNumber})), &quot;0&quot;+TEXT({!FX_LastCreditMemoNumber}), TEXT({!FX_LastCreditMemoNumber}))</expression>
    </formulas>
    <formulas>
        <name>FX_NewCreditMemoNumber</name>
        <dataType>Number</dataType>
        <expression>{!FX_LastCreditMemoNumber} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SOM 460 - Discount Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 460 - Discount Flow</label>
    <loops>
        <name>Discount_Item_Assignment_Loop</name>
        <label>Discount Item Assignment Loop</label>
        <locationX>1003</locationX>
        <locationY>549</locationY>
        <assignNextValueToReference>selectedOrderItem</assignNextValueToReference>
        <collectionReference>selectedOrderItemSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Discount_Item_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Value_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Discount_Item_Representation_Loop</name>
        <label>Discount Item Representation Loop</label>
        <locationX>1133</locationX>
        <locationY>374</locationY>
        <assignNextValueToReference>OutputLineItem</assignNextValueToReference>
        <collectionReference>OutputLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Discount_Item_Input_Representation_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Discount_Order_Item_Summaries_Preview</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Filter_For_Discountable_Items</name>
        <label>Filter For Discountable Items</label>
        <locationX>563</locationX>
        <locationY>369</locationY>
        <assignNextValueToReference>potentiallyDiscountableItem</assignNextValueToReference>
        <collectionReference>Get_Order_Item_Summary</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Item_Discountable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_Any_Items_To_Discount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop1</name>
        <label>loop1</label>
        <locationX>1475</locationX>
        <locationY>263</locationY>
        <collectionReference>OutputLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>preview_screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_CreditMemo_Without_Return_Event</name>
        <label>Create New CreditMemo Without Return Event</label>
        <locationX>2030</locationX>
        <locationY>646</locationY>
        <connector>
            <targetReference>Publish_Event_Credit_Memo_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>CreditMemoId__c</field>
            <value>
                <elementReference>Create_Credit_Memo_Action.creditMemoOutput.creditMemoId</elementReference>
            </value>
        </inputAssignments>
        <object>NewCreditMemoWithoutReturn__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Refund</name>
        <label>Create Refund</label>
        <locationX>1231</locationX>
        <locationY>1264</locationY>
        <assignRecordIdToReference>V_CreatedRefundId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Refund_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Order_Summary_Object.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Get_Credit_Memo.TotalAmountWithTax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>FX_CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderPaymentSummaryId</field>
            <value>
                <elementReference>Get_Order_Payment_Summary.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentMethodId</field>
            <value>
                <elementReference>Get_Order_Payment_Summary.PaymentMethodId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingMode</field>
            <value>
                <stringValue>External</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RefundOrigin__c</field>
            <value>
                <stringValue>Appeasement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RefundedItems__c</field>
            <value>
                <elementReference>V_Refunded_Items</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Referenced</stringValue>
            </value>
        </inputAssignments>
        <object>Refund</object>
    </recordCreates>
    <recordCreates>
        <name>Publish_Event_Credit_Memo_Created</name>
        <label>Publish Event Credit Memo Created</label>
        <locationX>2030</locationX>
        <locationY>414</locationY>
        <connector>
            <targetReference>finished</targetReference>
        </connector>
        <inputAssignments>
            <field>CreditMemoId__c</field>
            <value>
                <elementReference>Create_Credit_Memo_Action.creditMemoOutput.creditMemoId</elementReference>
            </value>
        </inputAssignments>
        <object>CreditMemoCreated__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Credit_Memo</name>
        <label>Get Credit Memo</label>
        <locationX>1593</locationX>
        <locationY>1137</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Payment_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Credit_Memo_Action.creditMemoOutput.creditMemoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CreditMemo</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TotalAmountWithTax</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Created_CreditMemo_For_the_Specified_Country</name>
        <label>Get Last Created CreditMemo For the Specified Country</label>
        <locationX>1541</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Last_Credit_Memo_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DocumentNumber__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>Get_ODG.DeliverToCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CreditMemo</object>
        <sortField>DocumentNumber__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ODG</name>
        <label>Get ODG</label>
        <locationX>12</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Unmanaged_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary_Object.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeliverToCountry</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item_Summary</name>
        <label>Get Order Item Summary</label>
        <locationX>350</locationX>
        <locationY>597</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Discount_Amount_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Payment_Summary</name>
        <label>Get Order Payment Summary</label>
        <locationX>1398</locationX>
        <locationY>1138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Refund</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderPaymentSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PaymentMethodId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get OrderSummary for the record Id passed</description>
        <name>Get_Order_Summary_Object</name>
        <label>Get Order Summary</label>
        <locationX>211</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ODG</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Refund_Number</name>
        <label>Get Refund Number</label>
        <locationX>1428</locationX>
        <locationY>1400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_Created_CreditMemo_For_the_Specified_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>V_CreatedRefundId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Refund</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Failure_Exit</name>
        <label>Failure Exit</label>
        <locationX>112</locationX>
        <locationY>933</locationY>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Credit_Memo_Record</name>
        <label>Update Credit Memo Record</label>
        <locationX>2213</locationX>
        <locationY>1268</locationY>
        <connector>
            <targetReference>setCreditMemoId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Credit_Memo_Action.creditMemoOutput.creditMemoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreditMemoNumber</field>
            <value>
                <elementReference>FX_FirstCreditMemoNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocumentNumber__c</field>
            <value>
                <elementReference>FX_FirstCreditMemoNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PDFGenerationStatus__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refund__c</field>
            <value>
                <elementReference>V_CreatedRefundId</elementReference>
            </value>
        </inputAssignments>
        <object>CreditMemo</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Credit_Memo_Record_1</name>
        <label>Update Credit Memo Record</label>
        <locationX>2056</locationX>
        <locationY>1425</locationY>
        <connector>
            <targetReference>setCreditMemoId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Credit_Memo_Action.creditMemoOutput.creditMemoId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreditMemoNumber</field>
            <value>
                <elementReference>FX_CreditMemoDocumentNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DocumentNumber__c</field>
            <value>
                <elementReference>FX_CreditMemoDocumentNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PDFGenerationStatus__c</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refund__c</field>
            <value>
                <elementReference>V_CreatedRefundId</elementReference>
            </value>
        </inputAssignments>
        <object>CreditMemo</object>
    </recordUpdates>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>111</locationX>
        <locationY>1060</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Output_Message_Image</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!errorMessageImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Output_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessageTitle}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>finished</name>
        <label>Finished</label>
        <locationX>2043</locationX>
        <locationY>142</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationImageDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!confirmationImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationHeading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 24px;&quot;&gt;You&#39;re all set! The discount succeeded.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Footer4</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>preview_screen</name>
        <label>Preview Screen</label>
        <locationX>1851</locationX>
        <locationY>342</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Adjust_Order_Item_Summaries_Submit</targetReference>
        </connector>
        <fields>
            <name>finishedMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Preview Discount&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>reviewOrderChange</name>
            <extensionName>runtime_commerce_oms:reviewWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>discountItemList</name>
                <value>
                    <elementReference>discountItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>DISCOUNT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary_Object</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previewAdjustOutput</name>
                <value>
                    <elementReference>adjustOrderSummaryOutputRepresentation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Footer3</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Selection</name>
        <label>Product Selection</label>
        <locationX>818</locationX>
        <locationY>127</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_To_Part_2</targetReference>
        </connector>
        <fields>
            <name>ProductSelectionHeading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Select from these available items to discount.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productSelection_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItemSummary</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OrderItemSummary</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>StockKeepingUnit,Description,Quantity,AdjustedLineAmtWithTax</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>StockKeepingUnit:284, Description:284, Quantity:284, AdjustedLineAmtWithTax:284</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>discountableItems</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOrderItemSummaries</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer1</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Selection_0</name>
        <label>Product Selection</label>
        <locationX>619</locationX>
        <locationY>118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ProductSelectionHeading_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Select from these available items to discount.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productSelection_0</name>
            <extensionName>runtime_commerce_oms:productSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>OrderItemSummaries</name>
                <value>
                    <elementReference>discountableItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>discount</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary_Object</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOrderItemSummaries</assignToReference>
                <name>selectedOrderItemSummaries</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>discountableItems</assignToReference>
                <name>OrderItemSummaries</name>
            </outputParameters>
        </fields>
        <fields>
            <name>productSelection_Datatable_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItemSummary</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>OrderItemSummary</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>StockKeepingUnit,Description,Quantity,AdjustedLineAmtWithTax</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>StockKeepingUnit:284, Description:284, Quantity:284, AdjustedLineAmtWithTax:284</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>discountableItems</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOrderItemSummaries</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer1_0</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Value_Selection</name>
        <label>Value Selection</label>
        <locationX>1100</locationX>
        <locationY>137</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Allocated_Items_Change_Order_Type</targetReference>
        </connector>
        <fields>
            <name>DiscountSelectionHeading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Select the discount type, value, and reason.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TES</name>
            <extensionName>c:somLwcProductChangesSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummaryId</name>
                <value>
                    <elementReference>Get_Order_Summary_Object.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OutputLineItems</name>
                <value>
                    <elementReference>OutputLineItems</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>OutputLineItems</assignToReference>
                <name>OutputLineItems</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer2</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Value_Selection_0</name>
        <label>Value Selection</label>
        <locationX>951</locationX>
        <locationY>80</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DiscountSelectionHeading_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Select the discount type, value, and reason.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productChangesSelection_0</name>
            <extensionName>runtime_commerce_oms:changesWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>discountItemList</name>
                <value>
                    <elementReference>discountItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>DISCOUNT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>discountAmountType</name>
                <value>
                    <elementReference>discountAmountType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary_Object</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>discountItems</assignToReference>
                <name>discountItemList</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedOrderItemSummaries</assignToReference>
                <name>selectedOrderItemSummaries</name>
            </outputParameters>
        </fields>
        <fields>
            <name>TES_0</name>
            <extensionName>c:somLwcProductChangesSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummaryId</name>
                <value>
                    <elementReference>Get_Order_Summary_Object.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Footer2_0</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>runtime_commerce_adj__Discount_Item</sourceTemplate>
    <stages>
        <name>Part_1</name>
        <isActive>true</isActive>
        <label>Select Items</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Part_2</name>
        <isActive>true</isActive>
        <label>Select Amounts and Reasons</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Part_3</name>
        <isActive>true</isActive>
        <label>Review and Submit</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Part_4</name>
        <isActive>true</isActive>
        <label>Confirm and Finish</label>
        <stageOrder>4</stageOrder>
    </stages>
    <start>
        <locationX>79</locationX>
        <locationY>129</locationY>
        <connector>
            <targetReference>Get_Order_Summary_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Error_Output_Invocable_Action_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Close this window and check the order summary page for updated information.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_NoItemsToDiscount</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>When an order has items you can discount, you&#39;ll find them here.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_NoItemsToDiscount_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Nothing to Discount</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>You can only run this flow on a managed order summary.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>The specified order summary is unmanaged.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>This is where you&#39;d discount items from an order. To discount an order, start from the order summary page.</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>We don&#39;t think you meant to come here.</text>
    </textTemplates>
    <variables>
        <name>adjustItemInputRepresentation</name>
        <apexClass>ConnectApi__AdjustItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>adjustOrderItemSummaryInputRepresentation</name>
        <apexClass>ConnectApi__AdjustOrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>adjustOrderSummaryOutputRepresentation</name>
        <apexClass>ConnectApi__AdjustOrderSummaryOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>allocatedItemsChangeOrderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>InFulfillment</stringValue>
        </value>
    </variables>
    <variables>
        <name>confirmationImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>creditMemoInputRepresentation</name>
        <apexClass>ConnectApi__CreateCreditMemoInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>discountableItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <description>used to set the discount amount type based on whether the order is VAT</description>
        <name>discountAmountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AmountWithTax</stringValue>
        </value>
    </variables>
    <variables>
        <name>discountItem</name>
        <apexClass>runtime_commerce_oms__DiscountItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>discountItems</name>
        <apexClass>runtime_commerce_oms__DiscountItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ensureFundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureFundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ensureRefundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureRefundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OutputLineItem</name>
        <apexClass>SOM_Wr_discountItems</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutputLineItems</name>
        <apexClass>SOM_Wr_discountItems</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>potentiallyDiscountableItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>1Osxx0000004Qoi</stringValue>
        </value>
    </variables>
    <variables>
        <name>selectedOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>selectedOrderItemSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>Test</name>
        <apexClass>SOM_Wr_DisplayLineItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_CreatedRefundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_Refunded_Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>V_Refunded_Items</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
