unpackaged/main/default/flows/SOM_400_CreateInvoiceAndEnsureFunds.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateInvoice</name>
        <label>Create Invoice</label>
        <locationX>576</locationX>
        <locationY>114</locationY>
        <actionName>createInvoiceFromFulfillmentOrder</actionName>
        <actionType>createInvoiceFromFulfillmentOrder</actionType>
        <connector>
            <targetReference>Ensure_Funds_Input_Representation_Assignement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Ensure_Funds_Async</name>
        <label>Ensure Funds Async</label>
        <locationX>868</locationX>
        <locationY>115</locationY>
        <actionName>ensureFundsOrderSummaryAsync</actionName>
        <actionType>ensureFundsOrderSummaryAsync</actionType>
        <connector>
            <targetReference>get_ODG</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ensureFundsAsyncInput</name>
            <value>
                <elementReference>EnsureFundsAsyncInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Location</name>
        <label>Assign Location</label>
        <locationX>2274</locationX>
        <locationY>47</locationY>
        <assignmentItems>
            <assignToReference>Locations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_OIS.ReservedAtLocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_OIS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location_SKU</name>
        <label>Assign Location &amp; SKU</label>
        <locationX>2036</locationX>
        <locationY>469</locationY>
        <assignmentItems>
            <assignToReference>SKUs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_InvoiceLines.Product2.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIS_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_InvoiceLines.ReferenceEntityItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_InvoiceLines.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_InvoiceLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ensure_Funds_Input_Representation_Assignement</name>
        <label>Ensure Funds Input Representation Assignement</label>
        <locationX>716</locationX>
        <locationY>113</locationY>
        <assignmentItems>
            <assignToReference>EnsureFundsAsyncInput.invoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateInvoice.fulfillmentOrderInvoiceOutput.invoiceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ensure_Funds_Async</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Records_to_update</name>
        <label>Records to update</label>
        <locationX>1986</locationX>
        <locationY>850</locationY>
        <assignmentItems>
            <assignToReference>Loop2_InvoiceLine.WAPP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop1_WAPP.WAPP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceLinesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop2_InvoiceLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop2_InvoiceLine</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>SALESCHANNEL_CEGID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CEGID</stringValue>
        </value>
    </constants>
    <constants>
        <name>Transactiona_Email_Template_Invoice</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Invoice</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_if_BR_Order</name>
        <label>Check if BR Order</label>
        <locationX>1693</locationX>
        <locationY>778</locationY>
        <defaultConnector>
            <targetReference>Get_Invoice_Lines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NOT_BR_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderSummary.BillingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Publish_NEW_INVOICE_FOR_CEGID_Event</targetReference>
            </connector>
            <label>NOT BR Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SKU</name>
        <label>Check SKU</label>
        <locationX>1869</locationX>
        <locationY>639</locationY>
        <defaultConnector>
            <targetReference>Loop2_InvoiceLine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SKU</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop2_InvoiceLine.Product2.StockKeepingUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop1_WAPP.SKU__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Records_to_update</targetReference>
            </connector>
            <label>SKU</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Type</name>
        <label>Order Type</label>
        <locationX>1352</locationX>
        <locationY>271</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cegid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderSummary.SalesChannel.ExternalChannelNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SALESCHANNEL_CEGID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Invoice_Custom_Fields_0_0</targetReference>
            </connector>
            <label>Cegid</label>
        </rules>
        <rules>
            <name>CC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ODM.isStorePickup__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ODM.isHomeDelivery__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Shipment</targetReference>
            </connector>
            <label>CC</label>
        </rules>
        <rules>
            <name>RIMOWA_Manual_HD</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderSummary.SalesChannel.ExternalChannelNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rimowa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OrderSummary.SalesChannel.ExternalChannelNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ODM.isHomeDelivery__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Invoice_Custom_Fields_0</targetReference>
            </connector>
            <label>RIMOWA/Manual + HD</label>
        </rules>
    </decisions>
    <description>Fields for Report</description>
    <formulas>
        <name>FX_First_Record_Ever_Created</name>
        <dataType>String</dataType>
        <expression>&quot;I000000001&quot; + {!$Record.FulfilledToCountry}</expression>
    </formulas>
    <formulas>
        <name>FX_Generate_Invoice_Number</name>
        <dataType>String</dataType>
        <expression>&quot;&quot; + {!$Record.Invoice.DocumentNumber__c} + &quot;&quot; + {!$Record.FulfilledToCountry}</expression>
    </formulas>
    <formulas>
        <name>FX_Next_Document_Number</name>
        <dataType>String</dataType>
        <expression>&quot;I&quot; + LEFT({!FX_Total_Document_Number},LEN({!FX_Total_Document_Number})-{!FX_Next_Number_Length}) + TEXT({!FX_Next_Number}) + &quot;&quot; + {!$Record.FulfilledToCountry}</expression>
    </formulas>
    <formulas>
        <name>FX_Next_Number</name>
        <dataType>Number</dataType>
        <expression>VALUE(
{!FX_Total_Document_Number}
)+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_Next_Number_Length</name>
        <dataType>Number</dataType>
        <expression>LEN(Text({!FX_Next_Number}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_NumberOfZeros</name>
        <dataType>Number</dataType>
        <expression>9 - {!FX_Next_Number_Length}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_Total_Document_Number</name>
        <dataType>String</dataType>
        <expression>MID({!Get_Last_Invoice_Record.DocumentNumber__c},
FIND(&quot;I&quot;,{!Get_Last_Invoice_Record.DocumentNumber__c})+1,
LEN({!Get_Last_Invoice_Record.DocumentNumber__c})-3)</expression>
    </formulas>
    <interviewLabel>SOM 400 - Create invoice and ensure funds {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 400 - Create invoice and ensure funds</label>
    <loops>
        <name>Loop1_WAPP</name>
        <label>Loop1 WAPP</label>
        <locationX>2278</locationX>
        <locationY>624</locationY>
        <collectionReference>Get_WeightedAveragePrice</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop2_InvoiceLine</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_InvoiceLines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop2_InvoiceLine</name>
        <label>Loop2 InvoiceLine</label>
        <locationX>2079</locationX>
        <locationY>634</locationY>
        <collectionReference>Get_Invoice_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_SKU</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop1_WAPP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_InvoiceLines</name>
        <label>Loop Over InvoiceLines</label>
        <locationX>2035</locationX>
        <locationY>257</locationY>
        <collectionReference>Get_Invoice_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Location_SKU</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Locations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_OIS</name>
        <label>Loop Over OIS</label>
        <locationX>2311</locationX>
        <locationY>254</locationY>
        <collectionReference>Get_Locations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Location</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_WeightedAveragePrice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Invoice_PDF_Generation_Event</name>
        <label>Publish Invoice PDF Generation Event</label>
        <locationX>1359</locationX>
        <locationY>580</locationY>
        <connector>
            <targetReference>Check_if_BR_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>Invoice_Id__c</field>
            <value>
                <elementReference>CreateInvoice.fulfillmentOrderInvoiceOutput.invoiceId</elementReference>
            </value>
        </inputAssignments>
        <object>InvoiceCreated__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Publish_NEW_INVOICE_FOR_CEGID_Event</name>
        <label>Publish NEW INVOICE FOR CEGID Event</label>
        <locationX>1596</locationX>
        <locationY>482</locationY>
        <connector>
            <targetReference>Get_Invoice_Lines</targetReference>
        </connector>
        <inputAssignments>
            <field>InvoiceId__c</field>
            <value>
                <elementReference>CreateInvoice.fulfillmentOrderInvoiceOutput.invoiceId</elementReference>
            </value>
        </inputAssignments>
        <object>NewInvoiceForCegid__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Invoice_Lines</name>
        <label>Get Invoice Lines</label>
        <locationX>1846</locationX>
        <locationY>403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_InvoiceLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvoiceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateInvoice.fulfillmentOrderInvoiceOutput.invoiceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InvoiceLine</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_Invoice_Record</name>
        <label>Get Last Invoice Record</label>
        <locationX>612</locationX>
        <locationY>292</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DocumentNumber__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>$Record.FulfilledToCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DocumentNumber__c</queriedFields>
        <sortField>DocumentNumber__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Locations</name>
        <label>Get Locations</label>
        <locationX>2192</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_OIS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>OIS_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_ODG</name>
        <label>get ODG</label>
        <locationX>1013</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_OS_Report_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ODM</name>
        <label>Get ODM</label>
        <locationX>1360</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_ODG.OrderDeliveryMethodId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryMethod</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipment</name>
        <label>Get Shipment</label>
        <locationX>1572</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Invoice_Custom_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CegidInvoiceNumber__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shipment</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WeightedAveragePrice</name>
        <label>Get WeightedAveragePrice</label>
        <locationX>2280</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop1_WAPP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Location__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Locations</elementReference>
            </value>
        </filters>
        <filters>
            <field>SKU__c</field>
            <operator>In</operator>
            <value>
                <elementReference>SKUs</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Currency</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WeightedAveragePurchasePrice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice_Custom_Fields</name>
        <label>Update Invoice Custom Fields</label>
        <locationX>1727</locationX>
        <locationY>258</locationY>
        <connector>
            <targetReference>Get_Invoice_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateInvoice.fulfillmentOrderInvoiceOutput.invoiceId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DocumentNumber__c</field>
            <value>
                <elementReference>Get_Shipment.CegidInvoiceNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceNumber__c</field>
            <value>
                <elementReference>Get_Shipment.CegidInvoiceNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PDFGenerationStatus__c</field>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_Custom_Fields_0</name>
        <label>Update Invoice Custom Fields</label>
        <locationX>1357</locationX>
        <locationY>433</locationY>
        <connector>
            <targetReference>Publish_Invoice_PDF_Generation_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateInvoice.fulfillmentOrderInvoiceOutput.invoiceId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PDFGenerationStatus__c</field>
            <value>
                <stringValue>Not started</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_Custom_Fields_0_0</name>
        <label>Update Invoice Custom Fields</label>
        <locationX>1732</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Get_Invoice_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateInvoice.fulfillmentOrderInvoiceOutput.invoiceId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DocumentNumber__c</field>
            <value>
                <elementReference>Get_Shipment.CegidInvoiceNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceNumber__c</field>
            <value>
                <elementReference>Get_Shipment.CegidInvoiceNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PDFGenerationStatus__c</field>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_InvoiceLines</name>
        <label>Update InvoiceLines</label>
        <locationX>2274</locationX>
        <locationY>875</locationY>
        <inputReference>InvoiceLinesToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OS_Report_Fields</name>
        <label>Update OS Report Fields</label>
        <locationX>1168</locationX>
        <locationY>113</locationY>
        <connector>
            <targetReference>Get_ODM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tech_ShippingState__c</field>
            <value>
                <elementReference>get_ODG.DeliverToState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_VAT_Id_Customer__c</field>
            <value>
                <elementReference>get_ODG.RI_TAX_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <start>
        <locationX>141</locationX>
        <locationY>10</locationY>
        <connector>
            <targetReference>CreateInvoice</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </filters>
        <object>FulfillmentOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>C_FulfillmentOrderInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_OrderItemSummaryInputRepresentationCollection</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Currency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentInvoiceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnsureFundsAsyncInput</name>
        <apexClass>ConnectApi__EnsureFundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceLinesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceLine</objectType>
    </variables>
    <variables>
        <name>InvoiceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Locationforfullfilement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>Locations</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OIS_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_FulfillmentGroupInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_FulfillmentOrderInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_OrderItemSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SKUs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TOTAL_OSLI_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varNumberOfLoopRun</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Zeros</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
