unpackaged/main/default/flows/SOM_Single_Fulfillment_Order_Cancelation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancel_FOLI</name>
        <label>Cancel FOLI</label>
        <locationX>2416</locationX>
        <locationY>740</locationY>
        <actionName>cancelFulfillmentOrderItem</actionName>
        <actionType>cancelFulfillmentOrderItem</actionType>
        <connector>
            <targetReference>Add_FO_Id_to_Coll</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderLineItemsToCancelInput</name>
            <value>
                <elementReference>CancelFulfillmentOrderItemsInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fulfillmentOrderId</name>
            <value>
                <elementReference>Get_Fulfillment_Order.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Cancel_OIS</name>
        <label>Cancel OIS</label>
        <locationX>2882</locationX>
        <locationY>335</locationY>
        <actionName>cancelOrderItemSummariesSubmit</actionName>
        <actionType>cancelOrderItemSummariesSubmit</actionType>
        <connector>
            <targetReference>Close_OS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemSummaryLineItemsToChangeInput</name>
            <value>
                <elementReference>OSI_ChangeInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>Get_Fulfillment_Order.OrderSummaryId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Close_Fulfillment_Order</name>
        <label>Close Fulfillment Order</label>
        <locationX>2720</locationX>
        <locationY>603</locationY>
        <actionName>SOM_ClosingFulfillmentOrderAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Reship</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>doUpdateOSStatus</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>foIds</name>
            <value>
                <elementReference>FOIds</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>S_closeFulfillmentOrderResponseWr.errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>S_closeFulfillmentOrderResponseWr.foIds</assignToReference>
            <name>foIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>S_closeFulfillmentOrderResponseWr.isSuccess</assignToReference>
            <name>isSuccess</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>S_closeFulfillmentOrderResponseWr.osIds</assignToReference>
            <name>osIds</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Close_OS</name>
        <label>Close OS</label>
        <locationX>2719</locationX>
        <locationY>252</locationY>
        <actionName>SOM_ClosingOrderSummaryAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>OCI_Release_Reservation</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>errorMessage</name>
            <value>
                <elementReference>S_closeFulfillmentOrderResponseWr.errorMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>foIds</name>
            <value>
                <elementReference>S_closeFulfillmentOrderResponseWr.foIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isSuccess</name>
            <value>
                <elementReference>S_closeFulfillmentOrderResponseWr.isSuccess</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>osIds</name>
            <value>
                <elementReference>S_closeFulfillmentOrderResponseWr.osIds</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Uuid_value</name>
        <label>Generate Uuid value</label>
        <locationX>1656</locationX>
        <locationY>1557</locationY>
        <actionName>SOM_FlowUtils_UuidGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_OCI_Release_Reservation_Values</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Uuid_Value</assignToReference>
            <name>value</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>OCI_Release_Reservation</name>
        <label>OCI Release Reservation</label>
        <locationX>2612</locationX>
        <locationY>251</locationY>
        <actionName>ociReleaseReservation</actionName>
        <actionType>ociReleaseReservation</actionType>
        <connector>
            <targetReference>Get_PEs</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ociReleaseReservationInput</name>
            <value>
                <elementReference>REC_OCIReleaseReservationInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_FO_Id_to_Coll</name>
        <label>Add FO Id to Coll</label>
        <locationX>2720</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>FOIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Fulfillment_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Fulfillment_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Fulfillment_Line_Item_To_Coll_Preview</name>
        <label>Add Fulfillment Line Item To Coll Preview</label>
        <locationX>1939</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>COLL_FulfillmentLineItemsPreview</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FulfillmentLineItem_Preview</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_OSI_Change_Input_Item_Representation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Fulfillment_Order_Line_Item_To_Collection</name>
        <label>Add Fulfillment Order Line Item To Collection</label>
        <locationX>1152</locationX>
        <locationY>996</locationY>
        <assignmentItems>
            <assignToReference>COLL_FulfillmentOrderLineItemsToCancel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>REC_FulfillmentOrderLineItemToCancel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_1_Fulfilling_Iterate_Over_Fulfilment_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Fulfillment_Order_Line_Item_To_Collection_0</name>
        <label>Add Fulfillment Order Line Item To Collection</label>
        <locationX>974</locationX>
        <locationY>838</locationY>
        <assignmentItems>
            <assignToReference>COLL_FulfillmentOrderLineItemsToCancel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>REC_FulfillmentOrderLineItemToCancel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_2_Iterate_Over_Fulfillment_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Fulfillment_Order_LineItems_To_Cancel_Input_0</name>
        <label>Add Fulfillment Order LineItems To Cancel Input</label>
        <locationX>2076</locationX>
        <locationY>1371</locationY>
        <assignmentItems>
            <assignToReference>CancelFulfillmentOrderItemsInput.fulfillmentOrderLineItemsToCancel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FulfillmentOrderLineItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Fulfillment_Line_Item_For_Preview</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OSI_Change_Input_Item_Representation</name>
        <label>Add OSI Change Input Item Representation</label>
        <locationX>1745</locationX>
        <locationY>1388</locationY>
        <assignmentItems>
            <assignToReference>OSI_ChangeInputRepresentation.changeItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OSI_ChangeItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Uuid_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quantity_Shipped</name>
        <label>Add Quantity Shipped</label>
        <locationX>234</locationX>
        <locationY>1458</locationY>
        <assignmentItems>
            <assignToReference>Shipment_QuantityShipped</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_3_Iterate_Over_Shipment_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_3_Iterate_Over_Shipment_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Release_Reservation_To_Collection</name>
        <label>Add Release Reservation To Collection</label>
        <locationX>1782</locationX>
        <locationY>1186</locationY>
        <assignmentItems>
            <assignToReference>COL_OCIReleaseReservationSingleInputRepresentation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>REC_OCIReleaseReservationSingleInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_FO_Items_To_Release_Their_Reservation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fulfillment_Order_Item_Shipping_Input_Representation</name>
        <label>Assign Fulfillment Order Item Shipping Input Representation</label>
        <locationX>2598</locationX>
        <locationY>969</locationY>
        <assignmentItems>
            <assignToReference>S_FulfillmentOrderItemShippingInputRepresentation.fulfillmentOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shipping_FOLI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentOrderItemShippingInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Shipping_FOLI.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CancelFulfillmentOrderItemsInput.fulfillmentOrderLineItemsToCancel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_FulfillmentOrderItemShippingInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_FOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Fulfillment_Order_Line_Items</name>
        <label>Collect Fulfillment Order Line Items</label>
        <locationX>1084</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>COLL_Fulfillment_Order_Line_Items</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_5_Iterate_Over_Fulfillment_Order_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_5_Iterate_Over_Fulfillment_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Selected_Items</name>
        <label>Count Selected Items</label>
        <locationX>2123</locationX>
        <locationY>737</locationY>
        <assignmentItems>
            <assignToReference>V_SelectedItemsCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>COLL_Selected_Fulfillment_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_CountFOLIs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Fulfillment_Order_Line_Items_To_Cancel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Selected_Items_Equal_to_Count_of_All_FOLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Quantity_Available_to_Cancel</name>
        <label>Reset Quantity Available to Cancel</label>
        <locationX>294</locationX>
        <locationY>618</locationY>
        <assignmentItems>
            <assignToReference>QuantityAvailableToCancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Shipment_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Quantity_Shipped</name>
        <label>Reset Quantity Shipped</label>
        <locationX>389</locationX>
        <locationY>1026</locationY>
        <assignmentItems>
            <assignToReference>Shipment_QuantityShipped</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_3_Iterate_Over_Shipment_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message</name>
        <label>Set Error Message</label>
        <locationX>2436</locationX>
        <locationY>415</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You have to confirm your changes before clicking on submit.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfillment_Line_Item_To_Cancel_Preview</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FO_Items_To_Release_Their_Reservation</name>
        <label>Set FO Items To Release Their Reservation</label>
        <locationX>1791</locationX>
        <locationY>1033</locationY>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationInputRepresentation.releaseRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COL_OCIReleaseReservationSingleInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_4_Iterate_Over_Selected_Fulfillment_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fulfillment_Line_Item_For_Preview</name>
        <label>Set Fulfillment Line Item For Preview</label>
        <locationX>2075</locationX>
        <locationY>1561</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentLineItem_Preview.ProductName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_4_Iterate_Over_Selected_Fulfillment_Line_Items.ProductName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentLineItem_Preview.ProductSKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_4_Iterate_Over_Selected_Fulfillment_Line_Items.ProductSKU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentLineItem_Preview.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_4_Iterate_Over_Selected_Fulfillment_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentLineItem_Preview.QuantityAvailableToCancel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_4_Iterate_Over_Selected_Fulfillment_Line_Items.QuantityAvailableToCancel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentLineItem_Preview.QuantitytoCancel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityToCancel.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentLineItem_Preview.QuantitytoCancelPreview__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_QuantityToCancel_Preview</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentLineItem_Preview.FOLINumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_4_Iterate_Over_Selected_Fulfillment_Line_Items.FOLINumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Fulfillment_Line_Item_To_Coll_Preview</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fulfillment_Order_Line_Item_Values</name>
        <label>Set Fulfillment Order Line Item Values</label>
        <locationX>1152</locationX>
        <locationY>1288</locationY>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemToCancel.ProductSKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_1_Fulfilling_Iterate_Over_Fulfilment_Order_Line_Items.Product2.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemToCancel.QuantityAvailableToCancel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_1_Fulfilling_Iterate_Over_Fulfilment_Order_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemToCancel.ProductName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_1_Fulfilling_Iterate_Over_Fulfilment_Order_Line_Items.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemToCancel.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_1_Fulfilling_Iterate_Over_Fulfilment_Order_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemToCancel.FulfillmentOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_1_Fulfilling_Iterate_Over_Fulfilment_Order_Line_Items.FulfillmentOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemToCancel.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_1_Fulfilling_Iterate_Over_Fulfilment_Order_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemToCancel.OrderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_1_Fulfilling_Iterate_Over_Fulfilment_Order_Line_Items.OrderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemToCancel.FOLINumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_1_Fulfilling_Iterate_Over_Fulfilment_Order_Line_Items.FulfillmentOrderLineItemNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Fulfillment_Order_Line_Item_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fulfillment_Order_Line_Item_Values_0_0</name>
        <label>Set Fulfillment Order Line Item Values</label>
        <locationX>970</locationX>
        <locationY>1246</locationY>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemToCancel.ProductSKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_2_Iterate_Over_Fulfillment_Order_Line_Items.Product2.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemToCancel.QuantityAvailableToCancel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityAvailableToCancel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemToCancel.ProductName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_2_Iterate_Over_Fulfillment_Order_Line_Items.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemToCancel.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_2_Iterate_Over_Fulfillment_Order_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemToCancel.FulfillmentOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_2_Iterate_Over_Fulfillment_Order_Line_Items.FulfillmentOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemToCancel.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_2_Iterate_Over_Fulfillment_Order_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemToCancel.OrderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_2_Iterate_Over_Fulfillment_Order_Line_Items.OrderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemToCancel.FOLINumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_2_Iterate_Over_Fulfillment_Order_Line_Items.FulfillmentOrderLineItemNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Fulfillment_Order_Line_Item_To_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fulfillment_Order_LineItem_Input_Representation_0</name>
        <label>Set Fulfillment Order LineItem Input Representation</label>
        <locationX>2077</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentOrderLineItemInputRepresentation.fulfillmentOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_4_Iterate_Over_Selected_Fulfillment_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentOrderLineItemInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityToCancel.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Fulfillment_Order_LineItems_To_Cancel_Input_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Location_External_Reference</name>
        <label>Set Location External Reference</label>
        <locationX>1903</locationX>
        <locationY>1327</locationY>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationSingleInputRepresentation.locationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Filtered_Location.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Filtered_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OCI_Release_Reservation_Values</name>
        <label>Set OCI Release Reservation Values</label>
        <locationX>1511</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationSingleInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityToCancel.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationSingleInputRepresentation.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_4_Iterate_Over_Selected_Fulfillment_Line_Items.ProductSKU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationSingleInputRepresentation.actionRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Uuid_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationSingleInputRepresentation.externalRefId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fulfillment_Order.FulfillmentOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Location_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OSI_Change_Input_Item_Representation</name>
        <label>Set OSI Change Input Item Representation</label>
        <locationX>1778</locationX>
        <locationY>1561</locationY>
        <assignmentItems>
            <assignToReference>OSI_ChangeItemInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_4_Iterate_Over_Selected_Fulfillment_Line_Items.OrderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OSI_ChangeItemInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuantityToCancel.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OSI_ChangeItemInputRepresentation.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RE03</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OSI_ChangeItemInputRepresentation.shippingReductionFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OSI_Change_Input_Item_Representation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quantity_Available_to_Cancel</name>
        <label>Set Quantity Available to Cancel</label>
        <locationX>583</locationX>
        <locationY>1245</locationY>
        <assignmentItems>
            <assignToReference>QuantityAvailableToCancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_2_Iterate_Over_Fulfillment_Order_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Fulfillment_Order_Line_Item_Values_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quantity_Available_to_Cancel_0</name>
        <label>Set Quantity Available to Cancel</label>
        <locationX>970</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>QuantityAvailableToCancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Forumla_Quantity_Available_To_Cancel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Fulfillment_Order_Line_Item_Values_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Screen_Message</name>
        <label>Set Screen Message</label>
        <locationX>1814</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ScreenMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nothing to submit!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Message_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Screen_Message_Nothing_To_Cancel</name>
        <label>Set Screen Message Nothing To Cancel</label>
        <locationX>1590</locationX>
        <locationY>631</locationY>
        <assignmentItems>
            <assignToReference>ScreenMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nothing to cancel, you should wait for 24 hours..</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Screen_Success_Message</name>
        <label>Set Screen Success Message</label>
        <locationX>2084</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>ScreenMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Congratulations! All your changes are submitted 👏. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_OIS_With_Total_Canceled_Quantity_List</name>
        <label>Update OIS With Total Canceled Quantity List</label>
        <locationX>2251</locationX>
        <locationY>1125</locationY>
        <assignmentItems>
            <assignToReference>OISIdsWIthTotalCanceledQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_4_Iterate_Over_Selected_Fulfillment_Line_Items.OrderItemSummary.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Fulfillment_Order_LineItem_Input_Representation_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PE_List</name>
        <label>Update PE List</label>
        <locationX>2455</locationX>
        <locationY>77</locationY>
        <assignmentItems>
            <assignToReference>UpdatedPEList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_5_Iterate_Over_PEs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_5_Iterate_Over_PEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PE_Status</name>
        <label>Update PE Status</label>
        <locationX>2292</locationX>
        <locationY>79</locationY>
        <assignmentItems>
            <assignToReference>Loop_5_Iterate_Over_PEs.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ignored</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PE_List</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Location_Collection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Location Collection</label>
        <locationX>1508</locationX>
        <locationY>1424</locationY>
        <assignNextValueToReference>currentItem_Filter_Location_Collection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Locations</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Location_Collection.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LOOP_4_Iterate_Over_Selected_Fulfillment_Line_Items.OrderItemSummary.ReservedAtLocationId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_Over_Filtered_Location</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Shipment_Items</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Shipment Items</label>
        <locationX>294</locationX>
        <locationY>860</locationY>
        <assignNextValueToReference>currentItem_Filter_Shipment_Items</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Shipment_Items</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Shipment_Items.FulfillmentOrderLineItemId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LOOP_2_Iterate_Over_Fulfillment_Order_Line_Items.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_Fulfillment_Shipment_Items</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>SliderLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Select quantity to cancel</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Confirme_Changes_Toggle</name>
        <label>Check Confirme Changes Toggle</label>
        <locationX>2113</locationX>
        <locationY>545</locationY>
        <defaultConnector>
            <targetReference>Set_Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmeChanges.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Selected_Items</targetReference>
            </connector>
            <label>Is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Fulfillment_Order</name>
        <label>Check Fulfillment Order</label>
        <locationX>1502</locationX>
        <locationY>316</locationY>
        <defaultConnector>
            <targetReference>Set_Screen_Message_Nothing_To_Cancel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Empty</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fulfillment_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fulfillment_Order_Line_Items_To_Cancel</targetReference>
            </connector>
            <label>Is Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Fulfillment_Order_Products_Preview_Coll</name>
        <label>Check Fulfillment Order Products Preview Coll</label>
        <locationX>1702</locationX>
        <locationY>632</locationY>
        <defaultConnector>
            <targetReference>Fulfillment_Line_Item_To_Cancel_Preview</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COLL_FulfillmentLineItemsPreview</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Screen_Message</targetReference>
            </connector>
            <label>Is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Fulfillment_Order_Status</name>
        <label>Check Fulfillment Order Status</label>
        <locationX>1330</locationX>
        <locationY>573</locationY>
        <defaultConnector>
            <targetReference>LOOP_5_Iterate_Over_Fulfillment_Order_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Partially Fulfilled</defaultConnectorLabel>
        <rules>
            <name>Is_Fulfilling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fulfillment_Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfilling</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_1_Fulfilling_Iterate_Over_Fulfilment_Order_Line_Items</targetReference>
            </connector>
            <label>Is Fulfilling</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Fulfillment_Shipment_Items</name>
        <label>Check Fulfillment Shipment Items</label>
        <locationX>573</locationX>
        <locationY>869</locationY>
        <defaultConnector>
            <targetReference>Set_Quantity_Available_to_Cancel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>There_are_shipment_items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Shipment_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Quantity_Shipped</targetReference>
            </connector>
            <label>There are shipment items</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quantity_Shipped</name>
        <label>Check Quantity Shipped</label>
        <locationX>713</locationX>
        <locationY>1476</locationY>
        <defaultConnector>
            <targetReference>LOOP_2_Iterate_Over_Fulfillment_Order_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>There_are_quantities_to_cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Shipment_QuantityShipped</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>LOOP_2_Iterate_Over_Fulfillment_Order_Line_Items.Quantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Quantity_Available_to_Cancel_0</targetReference>
            </connector>
            <label>There are quantities to cancel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quantity_To_Cancel</name>
        <label>Check Quantity To Cancel</label>
        <locationX>2068</locationX>
        <locationY>992</locationY>
        <defaultConnector>
            <targetReference>LOOP_4_Iterate_Over_Selected_Fulfillment_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Total_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOOP_4_Iterate_Over_Selected_Fulfillment_Line_Items.Quantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>QuantityToCancel.value</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OIS_With_Total_Canceled_Quantity_List</targetReference>
            </connector>
            <label>Total Quantity</label>
        </rules>
        <rules>
            <name>Quantity_Greater_Than_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuantityToCancel.value</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fulfillment_Order_LineItem_Input_Representation_0</targetReference>
            </connector>
            <label>Quantity Greater Than Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reship</name>
        <label>Is Reship?</label>
        <locationX>2712</locationX>
        <locationY>412</locationY>
        <defaultConnector>
            <targetReference>Cancel_OIS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fulfillment_Order.IsReship</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_OS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_of_Selected_Items_Equal_to_Count_of_All_FOLIs</name>
        <label>Number of Selected Items Equal to Count of All FOLIs</label>
        <locationX>2248</locationX>
        <locationY>746</locationY>
        <defaultConnector>
            <targetReference>Cancel_FOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_SelectedItemsCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>V_CountFOLIs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Shipping_FOLI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shipping_Fee_Exist</name>
        <label>Shipping Fee Exist</label>
        <locationX>2414</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Cancel_FOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Shipping_FOLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fulfillment_Order_Item_Shipping_Input_Representation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formula_QuantityToCancel_Preview</name>
        <dataType>String</dataType>
        <expression>TEXT({!QuantityToCancel.value}) &amp; &quot;/&quot; &amp; TEXT({!LOOP_4_Iterate_Over_Selected_Fulfillment_Line_Items.QuantityAvailableToCancel__c})</expression>
    </formulas>
    <formulas>
        <name>Forumla_Quantity_Available_To_Cancel</name>
        <dataType>Number</dataType>
        <expression>{!LOOP_2_Iterate_Over_Fulfillment_Order_Line_Items.Quantity} - {!Shipment_QuantityShipped}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>YesterdayDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 1</expression>
    </formulas>
    <interviewLabel>SOM - Single Fulfillment Order Cancelation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM - Single Fulfillment Order Cancelation</label>
    <loops>
        <name>Iterate_Over_Filtered_Location</name>
        <label>Iterate Over Filtered Location</label>
        <locationX>1601</locationX>
        <locationY>1326</locationY>
        <collectionReference>Filter_Location_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Location_External_Reference</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Release_Reservation_To_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_1_Fulfilling_Iterate_Over_Fulfilment_Order_Line_Items</name>
        <label>LOOP 1 - Fulfilling Iterate Over Fulfilment Order Line Items</label>
        <locationX>1420</locationX>
        <locationY>1285</locationY>
        <collectionReference>Get_Fulfillment_Order_Line_Items_To_Cancel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Fulfillment_Order_Line_Item_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Fulfilment_Order_Line_Items_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_2_Iterate_Over_Fulfillment_Order_Line_Items</name>
        <label>LOOP 2 - Iterate Over Fulfillment Order Line Items</label>
        <locationX>723</locationX>
        <locationY>616</locationY>
        <collectionReference>Get_Fulfillment_Order_Line_Items_To_Cancel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Quantity_Available_to_Cancel</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Fulfilment_Order_Line_Items_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_3_Iterate_Over_Shipment_Items</name>
        <label>LOOP 3 - Iterate Over Shipment Items</label>
        <locationX>234</locationX>
        <locationY>1177</locationY>
        <collectionReference>Filter_Shipment_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Quantity_Shipped</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Quantity_Shipped</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_4_Iterate_Over_Selected_Fulfillment_Line_Items</name>
        <label>LOOP 4 - Iterate Over Selected Fulfillment Line Items</label>
        <locationX>1708</locationX>
        <locationY>862</locationY>
        <collectionReference>COLL_Selected_Fulfillment_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Line_Item_To_Cancel</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Fulfillment_Order_Products_Preview_Coll</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_5_Iterate_Over_Fulfillment_Order_Line_Items</name>
        <label>LOOP 5 - Iterate Over Fulfillment Order Line Items</label>
        <locationX>1084</locationX>
        <locationY>417</locationY>
        <collectionReference>Get_Fulfillment_Order_Line_Items_To_Cancel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Fulfillment_Order_Line_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Shipment_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_5_Iterate_Over_PEs</name>
        <label>Loop 5 - Iterate Over PEs</label>
        <locationX>2380</locationX>
        <locationY>251</locationY>
        <collectionReference>Get_PEs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_PE_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PEs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Fulfillment_Order</name>
        <label>Get Fulfillment Order</label>
        <locationX>1335</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Fulfillment_Order</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fulfilling</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partially Fulfilled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrder</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fulfillment_Order_Line_Items_To_Cancel</name>
        <label>Get Fulfillment Order Line Items To Cancel</label>
        <locationX>1338</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Fulfillment_Order_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfillmentOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Fulfillment_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Locations</name>
        <label>Get Locations</label>
        <locationX>1603</locationX>
        <locationY>1084</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_4_Iterate_Over_Selected_Fulfillment_Line_Items</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PEs</name>
        <label>Get PEs</label>
        <locationX>2492</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_5_Iterate_Over_PEs</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 ) AND 4</filterLogic>
        <filters>
            <field>AttachedToId</field>
            <operator>In</operator>
            <value>
                <elementReference>OISIdsWIthTotalCanceledQuantity</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Triaged</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProcessException</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipment_Items</name>
        <label>Get Shipment Items</label>
        <locationX>723</locationX>
        <locationY>410</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_2_Iterate_Over_Fulfillment_Order_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfillmentOrderLineItemId</field>
            <operator>In</operator>
            <value>
                <elementReference>COLL_Fulfillment_Order_Line_Items</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ShipmentItem</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipping_FOLI</name>
        <label>Get Shipping FOLI</label>
        <locationX>2261</locationX>
        <locationY>972</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shipping_Fee_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>FulfillmentOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PEs</name>
        <label>Update PEs</label>
        <locationX>2210</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>Set_Screen_Success_Message</targetReference>
        </connector>
        <inputReference>UpdatedPEList</inputReference>
    </recordUpdates>
    <screens>
        <name>Fulfillment_Line_Item_To_Cancel_Preview</name>
        <label>Fulfillment Line Item To Cancel Preview</label>
        <locationX>2123</locationX>
        <locationY>364</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Confirme_Changes_Toggle</targetReference>
        </connector>
        <fields>
            <name>ScreenTitle4</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Review your changes. If everything looks good, you can confirm and submit your changes!&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fulfillment_Line_Item_To_Cancel_Preview_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fulfillment_Line_Item_To_Cancel_Preview_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>OrderSummaryNumberPreview</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Order Summary Number : &lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Get_Fulfillment_Order.OrderSummary.OrderNumber}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FulfillmentOrderNumberPreview</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Fulfilment Order Number : &lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!Get_Fulfillment_Order.FulfillmentOrderNumber}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fulfillment_Line_Item_To_Cancel_Preview_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fulfillment_Line_Item_To_Cancel_Preview_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>FulfillmentLineItemPreviewDt</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FulfillmentOrderLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>FulfillmentOrderLineItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>FOLINumber__c,QuantitytoCancelPreview__c,ProductName__c,ProductSKU__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>FOLINumber__c:205,QuantitytoCancelPreview__c:190, ProductName__c:190, ProductSKU__c:190</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>COLL_FulfillmentLineItemsPreview</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>QuantitytoCancelPreview__c:Quantity to Cancel, FOLINumber__c:Fulfillment Order Product Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>QuantitytoCancelPreview__c:center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Fulfillment_Line_Item_To_Cancel_Preview_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fulfillment_Line_Item_To_Cancel_Preview_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ConfirmeChanges</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Confirm Changes</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ConfirmChangesErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;{!ErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fulfilment_Order_Line_Items_Screen</name>
        <label>Fulfilment Order Line Items Screen</label>
        <locationX>1482</locationX>
        <locationY>861</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Locations</targetReference>
        </connector>
        <fields>
            <name>ScreenTitle2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Select Fulfillment Order Products to cancel.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fulfilment_Order_Line_Items_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fulfilment_Order_Line_Items_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>OrderSummaryNumber_FOLISelection</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Order Summary Number : &lt;/b&gt;{!Get_Fulfillment_Order.OrderSummary.OrderNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FulfillmentOrderNumber_FOLISelection</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Fulfillment Order Number : &lt;/b&gt;{!Get_Fulfillment_Order.FulfillmentOrderNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fulfilment_Order_Line_Items_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fulfilment_Order_Line_Items_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>FO_Line_Item_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>FulfillmentOrderLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>FulfillmentOrderLineItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>FOLINumber__c,ProductName__c,ProductSKU__c,Quantity,QuantityAvailableToCancel__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>FOLINumber__c:140, ProductName__c:140, ProductSKU__c:140, Quantity:140, QuantityAvailableToCancel__c:180</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>COLL_FulfillmentOrderLineItemsToCancel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>FOLINumber__c:Fulfillment Order Product Number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnAlignments</name>
                <value>
                    <stringValue>Quantity:center, QuantityAvailableToCancel__c:center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>COLL_Selected_Fulfillment_Line_Items</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Line_Item_To_Cancel</name>
        <label>Line Item To Cancel</label>
        <locationX>2074</locationX>
        <locationY>847</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Quantity_To_Cancel</targetReference>
        </connector>
        <fields>
            <name>ScreenTitle3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Set the quantity to cancel.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Line_Item_To_Cancel_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Line_Item_To_Cancel_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>OrderSummaryNumber_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Order Summary Number : &lt;/b&gt;{!Get_Fulfillment_Order.OrderSummary.OrderNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FulfillmentOrderNumber_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Fulfillment Order Number : &lt;/b&gt;{!Get_Fulfillment_Order.FulfillmentOrderNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FOLINumber</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Fulfillment Order Product Number : &lt;/b&gt;{!LOOP_4_Iterate_Over_Selected_Fulfillment_Line_Items.FOLINumber__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductName</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Product Name : &lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!LOOP_4_Iterate_Over_Selected_Fulfillment_Line_Items.ProductName__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProductSKU</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Product SKU : &lt;/b&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!LOOP_4_Iterate_Over_Selected_Fulfillment_Line_Items.ProductSKU__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QuantityToCancel</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Quantity To Cancel</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>max</name>
                <value>
                    <elementReference>LOOP_4_Iterate_Over_Selected_Fulfillment_Line_Items.QuantityAvailableToCancel__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Message</name>
        <label>Screen Message</label>
        <locationX>1677</locationX>
        <locationY>130</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 16px;&quot;&gt;{!ScreenMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Message_0</name>
        <label>Screen Message</label>
        <locationX>1814</locationX>
        <locationY>194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; font-family: sans-serif;&quot;&gt;{!ScreenMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1209</locationX>
        <locationY>31</locationY>
        <connector>
            <targetReference>Get_Fulfillment_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CancelFulfillmentOrderItemsInput</name>
        <apexClass>ConnectApi__FulfillmentOrderLineItemsToCancelInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COL_OCIReleaseReservationSingleInputRepresentation</name>
        <apexClass>ConnectApi__OCIReleaseReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COLL_Fulfillment_Order_Line_Items</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COLL_FulfillmentLineItemsPreview</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrderLineItem</objectType>
    </variables>
    <variables>
        <name>COLL_FulfillmentOrderLineItemsToCancel</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrderLineItem</objectType>
    </variables>
    <variables>
        <name>COLL_Selected_Fulfillment_Line_Items</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrderLineItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Location_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Shipment_Items</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ShipmentItem</objectType>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FOIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FOLIWithTotalCanceledQuantityList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrderLineItem</objectType>
    </variables>
    <variables>
        <name>FulfillmentLineItem_Preview</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrderLineItem</objectType>
    </variables>
    <variables>
        <name>FulfillmentOrderLineItemInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderLineItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OISIdsWIthTotalCanceledQuantity</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OSI_ChangeInputRepresentation</name>
        <apexClass>ConnectApi__ChangeInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OSI_ChangeItemInputRepresentation</name>
        <apexClass>ConnectApi__ChangeItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuantityAvailableToCancel</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>REC_FulfillmentOrderLineItemToCancel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrderLineItem</objectType>
    </variables>
    <variables>
        <name>REC_OCIReleaseReservationInputRepresentation</name>
        <apexClass>ConnectApi__OCIReleaseReservationInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_OCIReleaseReservationSingleInputRepresentation</name>
        <apexClass>ConnectApi__OCIReleaseReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_closeFulfillmentOrderResponseWr</name>
        <apexClass>SOM_CloseFulfillmentOrderResponseWr</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_FulfillmentOrderItemShippingInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderLineItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_FulfillmentOrderLineItemShippingToCancelInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderLineItemsToCancelInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScreenMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Shipment_QuantityShipped</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sliderMaxNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UpdatedPEList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <name>Uuid_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_CountFOLIs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>V_SelectedItemsCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
