unpackaged/main/default/flows/SOM_115_ManuallyValidateOrderSummary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <constants>
        <name>ACCEPT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ACCEPT</stringValue>
        </value>
    </constants>
    <interviewLabel>SOM Unblock OS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 115 - Manually Validate Order Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_OS</name>
        <label>Get OS</label>
        <locationX>840</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fraud_Analysis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_confirm</name>
        <label>Screen confirm</label>
        <locationX>839</locationX>
        <locationY>459</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;The order is now unblocked.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>714</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_OS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Fraud_Analysis</name>
        <label>Fraud Analysis</label>
        <locationX>840</locationX>
        <locationY>325</locationY>
        <connector>
            <targetReference>Screen_confirm</targetReference>
        </connector>
        <flowName>SOM_Fraud_FraudAnalysisHandler</flowName>
        <inputAssignments>
            <name>fraudReviewDecision</name>
            <value>
                <elementReference>ACCEPT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>orderSummaryNumber</name>
            <value>
                <elementReference>Get_OS.OrderNumber</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
