unpackaged/main/default/flows/SOM_Automatic_refund_in_Cybersource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Automatic_Refund_In_Cybersource</name>
        <label>Automatic Refund In Cybersource</label>
        <locationX>1162</locationX>
        <locationY>813</locationY>
        <actionName>WS_SOM_AutomaticRefundInCybersource</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Refund_Values_to_Update_CC</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount_currency</name>
            <value>
                <elementReference>Get_Refund.CurrencyIsoCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>captureRequestID</name>
            <value>
                <elementReference>Get_Payment.GatewayRefNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>grandTotalAmount</name>
            <value>
                <elementReference>Get_Refund.Amount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>merchantId</name>
            <value>
                <elementReference>Get_Cybersource_Config.merchantId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>merchantReferenceCode</name>
            <value>
                <elementReference>Get_Refund.OrderPaymentSummary.OrderSummary.OrderNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Password</name>
            <value>
                <elementReference>Get_Cybersource_Config.key__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RefundId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RefundMethod</name>
            <value>
                <stringValue>CC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>Get_Cybersource_Config.url__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Automatic_Refund_In_Cybersource_0</name>
        <label>Automatic Refund In Cybersource</label>
        <locationX>1005</locationX>
        <locationY>797</locationY>
        <actionName>WS_SOM_AutomaticRefundInCybersource</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Refund_Values_to_Update_PPL</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount_currency</name>
            <value>
                <elementReference>Get_Refund.CurrencyIsoCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apPaymentType</name>
            <value>
                <stringValue>PPL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>captureRequestID</name>
            <value>
                <elementReference>Get_Payment.GatewayRefNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>grandTotalAmount</name>
            <value>
                <elementReference>Get_Refund.Amount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>merchantId</name>
            <value>
                <elementReference>Get_Cybersource_Config.merchantId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>merchantReferenceCode</name>
            <value>
                <elementReference>Get_Refund.OrderPaymentSummary.OrderSummary.OrderNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Password</name>
            <value>
                <elementReference>Get_Cybersource_Config.key__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RefundId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RefundMethod</name>
            <value>
                <stringValue>CC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refundRequestID</name>
            <value>
                <elementReference>Get_Payment.GatewayRefNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>Get_Cybersource_Config.url__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Automatic_Refund_In_Cybersource_0_0</name>
        <label>Automatic Refund In Cybersource</label>
        <locationX>853</locationX>
        <locationY>800</locationY>
        <actionName>WS_SOM_AutomaticRefundInCybersource</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Refund_Values_to_Update_KLI</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount_currency</name>
            <value>
                <elementReference>Get_Refund.CurrencyIsoCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>apPaymentType</name>
            <value>
                <stringValue>KLI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>captureRequestID</name>
            <value>
                <elementReference>Get_Payment.GatewayRefNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>grandTotalAmount</name>
            <value>
                <elementReference>Get_Refund.Amount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>merchantId</name>
            <value>
                <elementReference>Get_Cybersource_Config.merchantId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>merchantReferenceCode</name>
            <value>
                <elementReference>Get_Refund.OrderPaymentSummary.OrderSummary.OrderNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Password</name>
            <value>
                <elementReference>Get_Cybersource_Config.key__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RefundId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RefundMethod</name>
            <value>
                <stringValue>CC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refundRequestID</name>
            <value>
                <elementReference>Get_Payment.GatewayRefNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>Get_Cybersource_Config.url__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Refund_Values_to_Update_CC</name>
        <label>Set Refund Values to Update CC</label>
        <locationX>1165</locationX>
        <locationY>958</locationY>
        <assignmentItems>
            <assignToReference>RefundStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundGatewayRefNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Automatic_Refund_In_Cybersource.requestID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundRefundMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundValidationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Automatic_Refund_In_Cybersource.requestDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundReconciliationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Automatic_Refund_In_Cybersource.reconciliationID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundDecision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Automatic_Refund_In_Cybersource.decision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_after_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Refund_Values_to_Update_KLI</name>
        <label>Set Refund Values to Update KLI</label>
        <locationX>851</locationX>
        <locationY>963</locationY>
        <assignmentItems>
            <assignToReference>RefundStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundGatewayRefNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Automatic_Refund_In_Cybersource_0_0.requestID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundRefundMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Klarna</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundValidationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Automatic_Refund_In_Cybersource_0_0.requestDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundReconciliationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Automatic_Refund_In_Cybersource_0_0.reconciliationID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundDecision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Automatic_Refund_In_Cybersource_0_0.decision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_after_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Refund_Values_to_Update_PPL</name>
        <label>Set Refund Values to Update PPL</label>
        <locationX>1011</locationX>
        <locationY>932</locationY>
        <assignmentItems>
            <assignToReference>RefundStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundGatewayRefNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Automatic_Refund_In_Cybersource_0.requestID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundRefundMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PayPal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundValidationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Automatic_Refund_In_Cybersource_0.requestDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundReconciliationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Automatic_Refund_In_Cybersource_0.reconciliationID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundDecision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Automatic_Refund_In_Cybersource_0.decision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_after_Response</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Order_Payment_Summary_Type</name>
        <label>Check Order Payment Summary Type</label>
        <locationX>860</locationX>
        <locationY>191</locationY>
        <defaultConnector>
            <targetReference>Screen1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Type_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Payment_Summary.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>COD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Payment_Summary.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Paid in Store</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Payment_Summary.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen1</targetReference>
            </connector>
            <label>Type Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_after_Response</name>
        <label>Decision after Response</label>
        <locationX>1005</locationX>
        <locationY>1105</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RefundDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACCEPT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Refund</targetReference>
            </connector>
            <label>Accept</label>
        </rules>
        <rules>
            <name>Do_Not_Accept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RefundDecision</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ACCEPT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PE</targetReference>
            </connector>
            <label>Do Not Accept</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Methode</name>
        <label>Payment Methode</label>
        <locationX>993</locationX>
        <locationY>619</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PM_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Payment_Summary.PaymentMethodId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>03O</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Automatic_Refund_In_Cybersource</targetReference>
            </connector>
            <label>PM Card</label>
        </rules>
        <rules>
            <name>PM_DW_PAYPAL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Payment_Summary.PaymentMethodId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1DW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Payment_Summary.Type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PAYPAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Automatic_Refund_In_Cybersource_0</targetReference>
            </connector>
            <label>PM DW PAYPAL</label>
        </rules>
        <rules>
            <name>PM_DW_KLARNA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Payment_Summary.PaymentMethodId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1DW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Payment_Summary.Type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>KLARNA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Automatic_Refund_In_Cybersource_0_0</targetReference>
            </connector>
            <label>PM DW KLARNA</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Decision</name>
        <label>User Decision</label>
        <locationX>1058</locationX>
        <locationY>195</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Confirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>okkk.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirm</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment</targetReference>
            </connector>
            <label>Confirm</label>
        </rules>
    </decisions>
    <formulas>
        <name>TYPE</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Order_Payment_Summary.Type} == &apos;COD&apos;, &apos;Cash On Delivery&apos; , {!Get_Order_Payment_Summary.Type})</expression>
    </formulas>
    <interviewLabel>SOM - Automatic refund in Cybersource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM - Automatic refund in Cybersource</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_PE</name>
        <label>Create PE</label>
        <locationX>863</locationX>
        <locationY>1259</locationY>
        <inputAssignments>
            <field>AttachedToId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category</field>
            <value>
                <stringValue>Refund</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message</field>
            <value>
                <elementReference>RefundDecision</elementReference>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cybersource_Config</name>
        <label>Get Cybersource Config</label>
        <locationX>1076</locationX>
        <locationY>461</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Methode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>deliveryCountry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Shipping_Country.DeliverToCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cybersource_Config__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Payment_Summary</name>
        <label>Get Order Payment Summary</label>
        <locationX>721</locationX>
        <locationY>185</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Order_Payment_Summary_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Refund.OrderPaymentSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderPaymentSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment</name>
        <label>Get Payment</label>
        <locationX>1238</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Shipping_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderPaymentSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Payment_Summary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Payment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Refund</name>
        <label>Get Refund</label>
        <locationX>562</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Payment_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Refund</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipping_Country</name>
        <label>Get Shipping Country</label>
        <locationX>1071</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cybersource_Config</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Payment_Summary.OrderSummary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Refund</name>
        <label>Update Refund</label>
        <locationX>1161</locationX>
        <locationY>1285</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GatewayRefNumber</field>
            <value>
                <elementReference>RefundGatewayRefNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RefundMethod__c</field>
            <value>
                <elementReference>RefundRefundMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>RefundStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValidationDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reconciliationId__c</field>
            <value>
                <elementReference>RefundReconciliationId</elementReference>
            </value>
        </inputAssignments>
        <object>Refund</object>
    </recordUpdates>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>870</locationX>
        <locationY>348</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_Decision</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;Do you confirm processing the refund in Cybersource?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>okkk</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Confirm&quot;,&quot;value&quot;:&quot;Confirm&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen1_0</name>
        <label>Screen 2</label>
        <locationX>932</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;❌ &lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;You cannot refund this order with payment method&amp;nbsp;{!TYPE} &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;❌&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>438</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Get_Refund</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RefundDecision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RefundGatewayRefNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RefundReconciliationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RefundRefundMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RefundStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RefundValidationDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
