unpackaged/main/default/flows/SOM_210_Retry_Allocation_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Order_Summary_Id</name>
        <label>Assign Order Summary Id</label>
        <locationX>492</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>OrderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PreOrder_Process</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_OCI_Reservation_Output</name>
        <label>Check OCI Reservation Output</label>
        <locationX>967</locationX>
        <locationY>372</locationY>
        <defaultConnector>
            <targetReference>Screen_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <rules>
            <name>PreOrder_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SuccessRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>noPreorder</targetReference>
            </connector>
            <label>PreOrder Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPreOrder_Item</name>
        <label>IsPreOrder Item</label>
        <locationX>692</locationX>
        <locationY>378</locationY>
        <defaultConnector>
            <targetReference>Invokable_FO_Orchestration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsPreorder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Product_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Order_Summary_Id</targetReference>
            </connector>
            <label>IsPreorder</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsPreOrder_Item_Exist</name>
        <label>IsPreOrder Item Exist</label>
        <locationX>687</locationX>
        <locationY>712</locationY>
        <defaultConnector>
            <targetReference>noPreorder_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsPreorder_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Product_Summary_Not_IsPreorder</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>noPreorder_0</targetReference>
            </connector>
            <label>IsPreorder</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SOM 210 - Retry Allocation Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 210 - Retry Allocation Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Order_Product_Summary</name>
        <label>Order Product Summary</label>
        <locationX>694</locationX>
        <locationY>228</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsPreOrder_Item</targetReference>
        </connector>
        <filterLogic>(1 AND 3 AND 5) AND (2 OR 4)</filterLogic>
        <filters>
            <field>IsPreOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeliveryStartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ORDERED</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeliveryStartDate__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Product_Summary_Not_IsPreorder</name>
        <label>Order Product Summary Not IsPreorder</label>
        <locationX>492</locationX>
        <locationY>713</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsPreOrder_Item_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPreOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ORDERED</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order Product</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>noPreorder</name>
        <label>noPreorder</label>
        <locationX>1284</locationX>
        <locationY>424</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>no_records</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;No PreOrder Products with Start Date reached found.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>noPreorder_0</name>
        <label>PreorderTreated</label>
        <locationX>1126</locationX>
        <locationY>812</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PreOrderTreated</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;The process has been initiated successfully for Pre-Order Products.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>noPreorder_0_0</name>
        <label>PreorderTreated</label>
        <locationX>739</locationX>
        <locationY>545</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Invokable_FO_Orchestration</targetReference>
        </connector>
        <fields>
            <name>PreOrderTreated_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;The process has been initiated successfully for Pre-Order Products.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;👉 Please proceed to launch Retry Allocation for the remaining products.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Message</name>
        <label>Screen Message</label>
        <locationX>1291</locationX>
        <locationY>298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Retrying allocation process has been launched successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>557</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Order_Product_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Invokable_FO_Orchestration</name>
        <label>Invokable FO Orchestration</label>
        <locationX>849</locationX>
        <locationY>370</locationY>
        <connector>
            <targetReference>Check_OCI_Reservation_Output</targetReference>
        </connector>
        <flowName>SOM_203_Invokable_FO_Orchestration</flowName>
        <inputAssignments>
            <name>OrderSummaryID</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IsSuccess</assignToReference>
            <name>IsSuccess</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SuccessRecords</assignToReference>
            <name>RecordsFound</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PreOrder_Process</name>
        <label>PreOrder Process</label>
        <locationX>492</locationX>
        <locationY>559</locationY>
        <connector>
            <targetReference>Order_Product_Summary_Not_IsPreorder</targetReference>
        </connector>
        <flowName>SOM_250_FulfillmentOrderBatchHelper_FO_On_PreOrder</flowName>
        <inputAssignments>
            <name>OrderSummaryId</name>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>COL_OCICreateReservationSingleInputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Locations_By_OIS_Location_Id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>IsStockSufficient</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>REC_OCICreateReservationInputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_OCICreateReservationOutputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_OCICreateReservationSingleInputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
    <variables>
        <name>SuccessRecords</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
