unpackaged/main/default/flows/SOM_210_Retry_Allocation_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_OCI_Reservation_Output</name>
        <label>Check OCI Reservation Output</label>
        <locationX>847</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Screen_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Summary_Status_To_Validated</targetReference>
            </connector>
            <label>Is Success</label>
        </rules>
        <rules>
            <name>RecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SuccessRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>noPreorder</targetReference>
            </connector>
            <label>NoRecordsFound</label>
        </rules>
    </decisions>
    <interviewLabel>SOM 210 - Retry Allocation Button {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 210 - Retry Allocation Button</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Order_Summary_Status_To_Validated</name>
        <label>Update Order Summary Status To Validated</label>
        <locationX>1390</locationX>
        <locationY>235</locationY>
        <connector>
            <targetReference>Screen_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreateFulfillmentOrderImmediatly__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RetryAllocationProcessed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <screens>
        <name>noPreorder</name>
        <label>noPreorder</label>
        <locationX>1010</locationX>
        <locationY>455</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>no_records</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;No PreOrder Products with Start Date reached found.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Message</name>
        <label>Screen Message</label>
        <locationX>1388</locationX>
        <locationY>504</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Retrying allocation process has been launched successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>557</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Retry_Allocation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Retry_Allocation</name>
        <label>Retry Allocation</label>
        <locationX>683</locationX>
        <locationY>239</locationY>
        <connector>
            <targetReference>Check_OCI_Reservation_Output</targetReference>
        </connector>
        <flowName>SOM_210_Order_Retry_Allocation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IsSuccess</assignToReference>
            <name>IsSuccess</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SuccessRecords</assignToReference>
            <name>recordsSuccessful</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>COL_OCICreateReservationSingleInputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Locations_By_OIS_Location_Id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>IsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_OCICreateReservationInputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_OCICreateReservationOutputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_OCICreateReservationSingleInputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
    <variables>
        <name>SuccessRecords</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
