unpackaged/main/default/flows/SOM_400_CreateInvoiceAndEnsureFunds.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateInvoice</name>
        <label>Create Invoice</label>
        <locationX>677</locationX>
        <locationY>122</locationY>
        <actionName>createInvoiceFromFulfillmentOrder</actionName>
        <actionType>createInvoiceFromFulfillmentOrder</actionType>
        <connector>
            <targetReference>Ensure_Funds_Input_Representation_Assignement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Ensure_Funds_Async</name>
        <label>Ensure Funds Async</label>
        <locationX>1240</locationX>
        <locationY>130</locationY>
        <actionName>ensureFundsOrderSummaryAsync</actionName>
        <actionType>ensureFundsOrderSummaryAsync</actionType>
        <connector>
            <targetReference>Check_FO_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ensureFundsAsyncInput</name>
            <value>
                <elementReference>EnsureFundsAsyncInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>$Record.OrderSummaryId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Email_For_Click_And_Collect_Invoice</name>
        <label>Generate Email For Click And Collect Invoice</label>
        <locationX>323</locationX>
        <locationY>342</locationY>
        <actionName>SOM_TransactionalEmailHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CreateInvoice.fulfillmentOrderInvoiceOutput.invoiceId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <elementReference>Transactiona_Email_Template_Invoice</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Ensure_Funds_Input_Representation_Assignement</name>
        <label>Ensure Funds Input Representation Assignement</label>
        <locationX>1015</locationX>
        <locationY>122</locationY>
        <assignmentItems>
            <assignToReference>EnsureFundsAsyncInput.invoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateInvoice.fulfillmentOrderInvoiceOutput.invoiceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ensure_Funds_Async</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>1819</locationX>
        <locationY>532</locationY>
        <assignmentItems>
            <assignToReference>varNumberOfLoopRun</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Zeros</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Continue_or_Stop</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>SALESCHANNEL_CEGID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CEGID</stringValue>
        </value>
    </constants>
    <constants>
        <name>Transactiona_Email_Template_Invoice</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Invoice</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_FO_Type</name>
        <label>Check FO Type</label>
        <locationX>1246</locationX>
        <locationY>308</locationY>
        <defaultConnector>
            <targetReference>Get_Last_Invoice_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_From_Cegid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderSummary.SalesChannel.ExternalChannelNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SALESCHANNEL_CEGID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Invoice_Custom_PDFGenerationStatus_Field</targetReference>
            </connector>
            <label>Is From Cegid (SToW)</label>
        </rules>
        <rules>
            <name>Is_In_Store_Pick_Up_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Store</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Shipment</targetReference>
            </connector>
            <label>Is In Store Pick Up Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Previous_Invoice_Exist</name>
        <label>Check if Previous Invoice Exist</label>
        <locationX>1115</locationX>
        <locationY>679</locationY>
        <defaultConnector>
            <targetReference>Update_Invoice_Custom_Fields_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_Invoice_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Invoice_Custom_Fields_0</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Number_Length</name>
        <label>Check Number Length</label>
        <locationX>1889</locationX>
        <locationY>450</locationY>
        <defaultConnector>
            <targetReference>Continue_or_Stop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>&lt; 9</defaultConnectorLabel>
        <rules>
            <name>greater9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FX_Next_Number_Length</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <label>&gt; = 9</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue_or_Stop</name>
        <label>Continue or Stop?</label>
        <locationX>1709</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Stop</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberOfLoopRun</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>FX_NumberOfZeros</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Counter</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <formulas>
        <name>FX_First_Record_Ever_Created</name>
        <dataType>String</dataType>
        <expression>&quot;I000000001&quot; + {!$Record.FulfilledToCountry}</expression>
    </formulas>
    <formulas>
        <name>FX_Generate_Invoice_Number</name>
        <dataType>String</dataType>
        <expression>&quot;&quot; + {!$Record.Invoice.DocumentNumber__c} + &quot;&quot; + {!$Record.FulfilledToCountry}</expression>
    </formulas>
    <formulas>
        <name>FX_Next_Document_Number</name>
        <dataType>String</dataType>
        <expression>&quot;I&quot; + LEFT({!FX_Total_Document_Number},LEN({!FX_Total_Document_Number})-{!FX_Next_Number_Length}) + TEXT({!FX_Next_Number}) + &quot;&quot; + {!$Record.FulfilledToCountry}</expression>
    </formulas>
    <formulas>
        <name>FX_Next_Number</name>
        <dataType>Number</dataType>
        <expression>VALUE(
{!FX_Total_Document_Number}
)+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_Next_Number_Length</name>
        <dataType>Number</dataType>
        <expression>LEN(Text({!FX_Next_Number}))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_NumberOfZeros</name>
        <dataType>Number</dataType>
        <expression>9 - {!FX_Next_Number_Length}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_Total_Document_Number</name>
        <dataType>String</dataType>
        <expression>MID({!Get_Last_Invoice_Record.DocumentNumber__c},
FIND(&quot;I&quot;,{!Get_Last_Invoice_Record.DocumentNumber__c})+1,
LEN({!Get_Last_Invoice_Record.DocumentNumber__c})-3)</expression>
    </formulas>
    <interviewLabel>SOM 400 - Create invoice and ensure funds {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 400 - Create invoice and ensure funds</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Invoice_PDF_Generation_Event</name>
        <label>Publish Invoice PDF Generation Event</label>
        <locationX>729</locationX>
        <locationY>574</locationY>
        <inputAssignments>
            <field>Invoice_Id__c</field>
            <value>
                <elementReference>CreateInvoice.fulfillmentOrderInvoiceOutput.invoiceId</elementReference>
            </value>
        </inputAssignments>
        <object>InvoiceCreated__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Last_Invoice_Record</name>
        <label>Get Last Invoice Record</label>
        <locationX>1234</locationX>
        <locationY>497</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Previous_Invoice_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DocumentNumber__c</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>$Record.FulfilledToCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DocumentNumber__c</queriedFields>
        <sortField>DocumentNumber__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipment</name>
        <label>Get Shipment</label>
        <locationX>626</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Invoice_Custom_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CegidInvoiceNumber__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shipment</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice_Custom_Fields</name>
        <label>Update Invoice Custom Fields</label>
        <locationX>475</locationX>
        <locationY>342</locationY>
        <connector>
            <targetReference>Generate_Email_For_Click_And_Collect_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateInvoice.fulfillmentOrderInvoiceOutput.invoiceId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DocumentNumber__c</field>
            <value>
                <elementReference>Get_Shipment.CegidInvoiceNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceNumber__c</field>
            <value>
                <elementReference>Get_Shipment.CegidInvoiceNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PDFGenerationStatus__c</field>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_Custom_Fields_0</name>
        <label>Update Invoice Custom Fields</label>
        <locationX>937</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Publish_Invoice_PDF_Generation_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateInvoice.fulfillmentOrderInvoiceOutput.invoiceId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DocumentNumber__c</field>
            <value>
                <elementReference>FX_Next_Document_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceNumber__c</field>
            <value>
                <elementReference>FX_Next_Document_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PDFGenerationStatus__c</field>
            <value>
                <stringValue>Not started</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_Custom_Fields_1</name>
        <label>Update Invoice Custom Fields</label>
        <locationX>939</locationX>
        <locationY>716</locationY>
        <connector>
            <targetReference>Publish_Invoice_PDF_Generation_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateInvoice.fulfillmentOrderInvoiceOutput.invoiceId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DocumentNumber__c</field>
            <value>
                <elementReference>FX_First_Record_Ever_Created</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceNumber__c</field>
            <value>
                <elementReference>FX_First_Record_Ever_Created</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PDFGenerationStatus__c</field>
            <value>
                <stringValue>Not started</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_Custom_PDFGenerationStatus_Field</name>
        <label>Update Invoice Custom PDFGenerationStatus Field</label>
        <locationX>1411</locationX>
        <locationY>517</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateInvoice.fulfillmentOrderInvoiceOutput.invoiceId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PDFGenerationStatus__c</field>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice</object>
    </recordUpdates>
    <start>
        <locationX>141</locationX>
        <locationY>10</locationY>
        <connector>
            <targetReference>CreateInvoice</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </filters>
        <object>FulfillmentOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>C_FulfillmentOrderInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_OrderItemSummaryInputRepresentationCollection</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EnsureFundsAsyncInput</name>
        <apexClass>ConnectApi__EnsureFundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Locationforfullfilement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>S_FulfillmentGroupInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_FulfillmentOrderInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_OrderItemSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TOTAL_OSLI_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varNumberOfLoopRun</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Zeros</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
