unpackaged/main/default/flows/SOM_220_Create_Fulfillment_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Single_FO</name>
        <label>Create Single FO</label>
        <locationX>47</locationX>
        <locationY>357</locationY>
        <actionName>createFulfillmentOrder</actionName>
        <actionType>createFulfillmentOrder</actionType>
        <connector>
            <targetReference>L30_FO_InputeRepresentation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderInput</name>
            <value>
                <elementReference>L30_FO_InputeRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>S_FulfillmentOrderOutputRepresentation</assignToReference>
            <name>fulfillmentOrderOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Fulfillment_Group_Input_representation</name>
        <label>Assign Fulfillment Group Input representation</label>
        <locationX>748</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>S_FulfillmentGroupInputRepresentation.fulfilledFromLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Locationforfullfilement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentGroupInputRepresentation.fulfillmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfillementType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentGroupInputRepresentation.orderItemSummaries</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C_OrderItemSummaryInputRepresentationCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentGroupInputRepresentation.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Counter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Fulfillment_Order_Input_Representation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fulfillment_Order_Input_Representation</name>
        <label>Assign Fulfillment Order Input Representation</label>
        <locationX>600</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>S_FulfillmentOrderInputRepresentation.fulfillmentGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_FulfillmentGroupInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentOrderInputRepresentation.orderDeliveryGroupSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L10_Loop_Over_Order_Delivery_Group_Summaries.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentOrderInputRepresentation.orderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stack_FOIR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OIS_values</name>
        <label>Assign OIS values</label>
        <locationX>1490</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>S_OrderItemSummaryInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L20_Loop_Over_Order_Item_summaries.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItemSummaryInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L20_Loop_Over_Order_Item_summaries.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOTAL_OSLI_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L20_Loop_Over_Order_Item_summaries.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stack_OIS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Data</name>
        <label>Clear Data</label>
        <locationX>756</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>C_OrderItemSummaryInputRepresentationCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentGroupInputRepresentation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentOrderInputRepresentation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItemSummaryInputRepresentation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOTAL_OSLI_Count</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_FOLI_Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L10_Loop_Over_Order_Delivery_Group_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>1005</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Fulfillment_Group_Input_representation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_FOLI_Counter</name>
        <label>Increment FOLI Counter</label>
        <locationX>1450</locationX>
        <locationY>550</locationY>
        <assignmentItems>
            <assignToReference>V_FOLI_Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_OIS_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type_to_Store</name>
        <label>Set Type to Store</label>
        <locationX>1891</locationX>
        <locationY>688</locationY>
        <assignmentItems>
            <assignToReference>FulfillementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Store</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_ProductItem_Is_PreOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type_to_Warehouse</name>
        <label>Set Type to Warehouse</label>
        <locationX>1654</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>FulfillementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warehouse</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_ProductItem_Is_PreOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stack_FOIR</name>
        <label>Stack FOIR</label>
        <locationX>600</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>C_FulfillmentOrderInputRepresentation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_FulfillmentOrderInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stack_OIS</name>
        <label>Stack OIS</label>
        <locationX>1346</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>C_OrderItemSummaryInputRepresentationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_OrderItemSummaryInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L20_Loop_Over_Order_Item_summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_Default_Warehouse_Location</name>
        <label>Use Default Warehouse Location</label>
        <locationX>1654</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>Locationforfullfilement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Default_Location</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Any_Item_to_fulfill</name>
        <label>Any Item to fulfill ?</label>
        <locationX>1031</locationX>
        <locationY>562</locationY>
        <defaultConnector>
            <targetReference>L10_Loop_Over_Order_Delivery_Group_Summaries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing To fulfill</defaultConnectorLabel>
        <rules>
            <name>Nothing_to_fulfill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_FOLI_Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Counter</targetReference>
            </connector>
            <label>yes Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_ProductItem_Is_PreOrder</name>
        <label>Check if ProductItem Is PreOrder?</label>
        <locationX>1556</locationX>
        <locationY>690</locationY>
        <defaultConnector>
            <targetReference>Increment_FOLI_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ProductItem Not PreOrder</defaultConnectorLabel>
        <rules>
            <name>Yes_ProductItem_Is_PreOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>L20_Loop_Over_Order_Item_summaries.IsPreOrder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L20_Loop_Over_Order_Item_summaries</targetReference>
            </connector>
            <label>Yes ProductItem Is PreOrder</label>
        </rules>
    </decisions>
    <decisions>
        <name>FOIR_List_Contain_Records</name>
        <label>FOIR List Contain Records</label>
        <locationX>508</locationX>
        <locationY>363</locationY>
        <defaultConnectorLabel>FOIR Empty</defaultConnectorLabel>
        <rules>
            <name>FOIR_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C_FulfillmentOrderInputRepresentation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L30_FO_InputeRepresentation</targetReference>
            </connector>
            <label>FOIR Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Type</name>
        <label>Location Type !</label>
        <locationX>1883</locationX>
        <locationY>441</locationY>
        <defaultConnectorLabel>Location Not Found</defaultConnectorLabel>
        <rules>
            <name>Existing_Warehouse_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Locationforfullfilement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Locationforfullfilement.LocationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warehouse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Type_to_Warehouse</targetReference>
            </connector>
            <label>Existing Warehouse Location</label>
        </rules>
        <rules>
            <name>Existing_Store_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Locationforfullfilement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Locationforfullfilement.LocationType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Store</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Type_to_Store</targetReference>
            </connector>
            <label>Existing Store Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>OIS_have_Exist_FOLI</name>
        <label>OIS have Exist FOLI ?</label>
        <locationX>1275</locationX>
        <locationY>289</locationY>
        <defaultConnector>
            <targetReference>Product_Location_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No FOLI Continue</defaultConnectorLabel>
        <rules>
            <name>OIS_already_had_FOLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_FOLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L20_Loop_Over_Order_Item_summaries</targetReference>
            </connector>
            <label>OIS already had FOLI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ordered_OIS_Exists</name>
        <label>Ordered OIS Exists?</label>
        <locationX>980</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>L10_Loop_Over_Order_Delivery_Group_Summaries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OIS Not Exists</defaultConnectorLabel>
        <rules>
            <name>OIS_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_item_summaries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L20_Loop_Over_Order_Item_summaries</targetReference>
            </connector>
            <label>OIS Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Location_exist</name>
        <label>Product Location exist?</label>
        <locationX>1484</locationX>
        <locationY>179</locationY>
        <defaultConnectorLabel>Location is not Specified</defaultConnectorLabel>
        <rules>
            <name>Product_is_Delivery_Charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>L20_Loop_Over_Order_Item_summaries.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Charge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OIS_values</targetReference>
            </connector>
            <label>Product is Delivery Charge</label>
        </rules>
        <rules>
            <name>Location_is_Specified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>L20_Loop_Over_Order_Item_summaries.ReservedAtLocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location_to_fullfil</targetReference>
            </connector>
            <label>Location is Specified</label>
        </rules>
    </decisions>
    <interviewLabel>SOM 220 - Create Fulfillment Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Archived ⚠️ SOM 220 Create Fulfillment Orders</label>
    <loops>
        <name>L10_Loop_Over_Order_Delivery_Group_Summaries</name>
        <label>L10 Loop Over Order Delivery Group Summaries</label>
        <locationX>756</locationX>
        <locationY>357</locationY>
        <collectionReference>Get_Order_Delivery_Group_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Order_item_summaries</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FOIR_List_Contain_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L20_Loop_Over_Order_Item_summaries</name>
        <label>L20 Loop Over Order Item summaries</label>
        <locationX>1113</locationX>
        <locationY>176</locationY>
        <collectionReference>Get_Order_item_summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Existing_FOLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Item_to_fulfill</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L30_FO_InputeRepresentation</name>
        <label>L30 FO InputeRepresentation</label>
        <locationX>327</locationX>
        <locationY>356</locationY>
        <collectionReference>C_FulfillmentOrderInputRepresentation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Single_FO</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Default_Location</name>
        <label>Get Default Location</label>
        <locationX>416</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>WH_GB</stringValue>
            </value>
        </filters>
        <filters>
            <field>LocationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Warehouse</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_FOLI</name>
        <label>Get Existing FOLI</label>
        <locationX>1292</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OIS_have_Exist_FOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderItemSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>L20_Loop_Over_Order_Item_summaries.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_to_fullfil</name>
        <label>Get Location to fullfil</label>
        <locationX>1891</locationX>
        <locationY>159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Location_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>L20_Loop_Over_Order_Item_summaries.ReservedAtLocationId</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputReference>Locationforfullfilement</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationType</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Delivery_Group_Summaries</name>
        <label>Get Order Delivery Group Summaries</label>
        <locationX>525</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>L10_Loop_Over_Order_Delivery_Group_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_item_summaries</name>
        <label>Get Order item summaries</label>
        <locationX>998</locationX>
        <locationY>178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ordered_OIS_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderDeliveryGroupSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>L10_Loop_Over_Order_Delivery_Group_Summaries.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ORDERED</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <sortField>LineNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>126</locationX>
        <locationY>160</locationY>
        <connector>
            <targetReference>Get_Order_Delivery_Group_Summaries</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>C_FOS_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_FRFS_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentReadyForShipping__e</objectType>
    </variables>
    <variables>
        <name>C_FulfillmentOrderInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_Locations</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_OCIInventoryRecordOutputRepresentation</name>
        <apexClass>ConnectApi__OCIInventoryRecordOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_OCILocationAvailabilityOutputRepresentation</name>
        <apexClass>ConnectApi__OCILocationAvailabilityOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_OrderItemSummaryInputRepresentationCollection</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_SKU</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FulfillementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentReadyForShippingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentReadyForShipping__e</objectType>
    </variables>
    <variables>
        <name>Locationforfullfilement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>OrderSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
    <variables>
        <name>S_FulfillmentGroupInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_FulfillmentOrderInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_FulfillmentOrderOutputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_OCIGetInventoryAvailabilityInputRepresentation</name>
        <apexClass>ConnectApi__OCIGetInventoryAvailabilityInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_OCIGetInventoryAvailabilityOutputRepresentation</name>
        <apexClass>ConnectApi__OCIGetInventoryAvailabilityOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_OrderItemSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TOTAL_OSLI_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>V_FOLI_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
