unpackaged/main/default/flows/SOM_950_Retry_Capture_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>OS_Status</name>
        <label>OS Status</label>
        <locationX>647</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>Get_OS.CaptureStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To capture</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OS_with_Capture_Error</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Capture_Status</name>
        <label>Check Capture Status</label>
        <locationX>369</locationX>
        <locationY>224</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Capture_Error_in_FO_Level</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OS.CaptureStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Applicable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OS.FO_Capture_Error__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FOs_with_Capture_Error</targetReference>
            </connector>
            <label>Capture Error in FO Level</label>
        </rules>
        <rules>
            <name>Capture_Error_in_OS_Level</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OS.CaptureStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Capture Error</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OS.FO_Capture_Error__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OS_Status</targetReference>
            </connector>
            <label>Capture Error in OS Level</label>
        </rules>
        <rules>
            <name>Not_Applicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OS.CaptureStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Applicable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OS.FO_Capture_Error__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Not Applicable</label>
        </rules>
    </decisions>
    <interviewLabel>SOM 950 Retry Capture {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 950 Retry Capture Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_OS</name>
        <label>Get OS Record</label>
        <locationX>240</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Capture_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_FOs_with_Capture_Error</name>
        <label>Update FOs with Capture Error</label>
        <locationX>725</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>Retry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Capture_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Capture Error</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Capture_Status__c</field>
            <value>
                <stringValue>To capture</stringValue>
            </value>
        </inputAssignments>
        <object>FulfillmentOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OS_with_Capture_Error</name>
        <label>Update OS with Capture Error</label>
        <locationX>785</locationX>
        <locationY>361</locationY>
        <connector>
            <targetReference>Retry</targetReference>
        </connector>
        <inputReference>Get_OS</inputReference>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>377</locationX>
        <locationY>412</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Your Data has some errors. Please check your Data.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Retry</name>
        <label>Retry</label>
        <locationX>900</locationX>
        <locationY>207</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>retry_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Payment capture is initiated; it generally takes maximum 20 seconds to complete. Please reload the Order Summary in 20 seconds to see the result&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_OS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
