unpackaged/main/default/flows/SOM_Generate_TE_after_Cancellation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_TE_Manual_Cancellation</name>
        <label>Generate TE - Manual Cancellation</label>
        <locationX>413</locationX>
        <locationY>638</locationY>
        <actionName>SOM_TransactionalEmailHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>OrderCanceled</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SOM_TransactionalEmailHandler</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>TE_Automatic_Cancellation</name>
        <label>TE - Automatic Cancellation</label>
        <locationX>718</locationX>
        <locationY>638</locationY>
        <actionName>SOM_TransactionalEmailHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>CCAutomaticOrderCancellation</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SOM_TransactionalEmailHandler</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Order</name>
        <label>Check Order</label>
        <locationX>557</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>Generate_TE_Manual_Cancellation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Auto_Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TE_Cancellation_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tech_os_store_shipping_method__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SalesChannelName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rimowa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDateTime</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.TE_Cancellation_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TE_Automatic_Cancellation</targetReference>
            </connector>
            <label>Auto Cancel</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TE_Cancellation_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Record.TE_Cancellation_Date__c}</expression>
    </formulas>
    <interviewLabel>SOM - Generate TE after Cancellation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM - Generate TE after Cancellation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>447</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Order</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>OrderSummary</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
