unpackaged/main/default/flows/SOM_600_ReturnOrder_ReturnOrder_Update_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Return_Creation_Transactional_Email</name>
        <label>Generate Return Creation Transactional Email</label>
        <locationX>778</locationX>
        <locationY>420</locationY>
        <actionName>SOM_TransactionalEmailHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_ReturnOrder_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <elementReference>CONST_TRANSACTIONAL_EMAIL_TEMPLATE_NAME_RETURN_CREATED</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <constants>
        <name>CONST_TRANSACTIONAL_EMAIL_TEMPLATE_NAME_RETURN_CREATED</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ReturnCreated</stringValue>
        </value>
    </constants>
    <interviewLabel>SOM 600 - ReturnOrder - ReturnOrder Update Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 600 - ReturnOrder - ReturnOrder Update Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Event_ReturnOrderRdy</name>
        <label>Publish Event ReturnOrderRdy</label>
        <locationX>317</locationX>
        <locationY>419</locationY>
        <connector>
            <targetReference>Generate_Return_Creation_Transactional_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ReturnOrderId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ReturnOrderRdy__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_ReturnOrder_Status</name>
        <label>Update ReturnOrder Status</label>
        <locationX>985</locationX>
        <locationY>420</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>192</locationX>
        <locationY>37</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </filters>
        <object>ReturnOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X0_Minute_After</name>
            <connector>
                <targetReference>Publish_Event_ReturnOrderRdy</targetReference>
            </connector>
            <label>0 Minute After</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
