unpackaged/main/default/flows/SOM_100_Create_OrderSummary_Orchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_APM_Ids</name>
        <label>Add APM Ids</label>
        <locationX>620</locationX>
        <locationY>1344</locationY>
        <assignmentItems>
            <assignToReference>C_APM_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L11_Payments.PaymentMethodId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L11_Payments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Managed</name>
        <label>Assign Managed</label>
        <locationX>948</locationX>
        <locationY>990</locationY>
        <assignmentItems>
            <assignToReference>ManagedLifeCycle</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SOM_110_CM_Create_OS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>C_C_Store_Pickup</name>
        <label>C&amp;C Store Pickup ?</label>
        <locationX>591</locationX>
        <locationY>1066</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Store_Pickup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Methods.Delivery_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Store Pickup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment_Group</targetReference>
            </connector>
            <label>Store Pickup</label>
        </rules>
    </decisions>
    <decisions>
        <name>HD_Home_Delivery</name>
        <label>HD Home Delivery ?</label>
        <locationX>281</locationX>
        <locationY>1076</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Home_Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Methods.Delivery_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment_Group</targetReference>
            </connector>
            <label>Home Delivery</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsManaged</name>
        <label>IsManaged?</label>
        <locationX>939</locationX>
        <locationY>1181</locationY>
        <defaultConnector>
            <targetReference>SOM_110_CM_Create_OS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Channel_Mapping_mdt_related_To_Record.IsManaged__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_APM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Managed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Channel_Mapping</name>
        <label>Sales Channel Mapping ?</label>
        <locationX>429</locationX>
        <locationY>966</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Channel_Mapping_mdt_related_To_Record.ChannelType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment_Group</targetReference>
            </connector>
            <label>All</label>
        </rules>
        <rules>
            <name>C_C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Channel_Mapping_mdt_related_To_Record.ChannelType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>C&amp;C</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_C_Store_Pickup</targetReference>
            </connector>
            <label>C&amp;C</label>
        </rules>
        <rules>
            <name>HD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Channel_Mapping_mdt_related_To_Record.ChannelType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HD_Home_Delivery</targetReference>
            </connector>
            <label>HD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Channel_Mapping_Exists</name>
        <label>Sales Channel Mapping Exists ?</label>
        <locationX>429</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Channel_Mapping_mdt_related_To_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Sales_Channel_Mapping_mdt_related_To_Record.createOrderSummary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Channel_Mapping</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SOM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 100 - Create OrderSummary Orchestration</label>
    <loops>
        <name>L11_Payments</name>
        <label>L11 Payments</label>
        <locationX>615</locationX>
        <locationY>1176</locationY>
        <collectionReference>Get_Payment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_APM_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_APM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Unmanaged Alternative paiement related to Payment/paymentGroup</description>
        <name>Get_APM</name>
        <label>Get APM</label>
        <locationX>804</locationX>
        <locationY>1180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsManaged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>C_APM_Ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>NickName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unmanaged</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AlternativePaymentMethod</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Delivery_Groups</name>
        <label>Get Order Delivery Groups</label>
        <locationX>435</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Methods</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroup</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeliverToCountry</queriedFields>
        <queriedFields>OrderDeliveryMethodId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Methods</name>
        <label>Get Order Methods</label>
        <locationX>437</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Channel_Mapping_mdt_related_To_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Delivery_Groups.OrderDeliveryMethodId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryMethod</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Delivery_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment</name>
        <label>Get Payment</label>
        <locationX>434</locationX>
        <locationY>1279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>L11_Payments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PaymentGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Group</name>
        <label>Get Payment Group</label>
        <locationX>429</locationX>
        <locationY>1179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PaymentGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Channel_Mapping_mdt_related_To_Record</name>
        <label>Get Sales Channel Mapping mdt related To Record</label>
        <locationX>437</locationX>
        <locationY>627</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sales_Channel_Mapping_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Delivery_Groups.DeliverToCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Channel_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>309</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Order_Delivery_Groups</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND ( 3 OR 4 OR 5  )</filterLogic>
        <filters>
            <field>SalesChannelId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tech_CreateOS__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BR</stringValue>
            </value>
        </filters>
        <filters>
            <field>BillingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>US</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SOM_110_CM_Create_OS</name>
        <label>SOM 110 - CM - Create OS</label>
        <locationX>1140</locationX>
        <locationY>1178</locationY>
        <flowName>SOM_110_CoreModel_Create_OrderSummary</flowName>
        <inputAssignments>
            <name>IsManaged</name>
            <value>
                <elementReference>ManagedLifeCycle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>C_APM_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_OrderItemSummariesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Order_Delivery_Groups_With_Country_GB_AND_AE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroup</objectType>
    </variables>
    <variables>
        <name>ManagedLifeCycle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OrderSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryOutputRepresentation</name>
        <apexClass>ConnectApi__OrderSummaryOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_OrderItemSummaryToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>V_OS_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_PreOrderItemsCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_OrderedDeliveryGroupsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
