unpackaged/main/default/flows/SOM_Stock_FutureStockCleaning.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Get_Future_Stocks_Result</name>
        <label>Check Get Future Stocks Result</label>
        <locationX>584</locationX>
        <locationY>444</locationY>
        <defaultConnectorLabel>List Is Empty</defaultConnectorLabel>
        <rules>
            <name>List_Is_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Future_Stocks_Before_Today</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Future_Stocks</targetReference>
            </connector>
            <label>List Is Not Empty</label>
        </rules>
    </decisions>
    <interviewLabel>SOM_Stock_FutureStockCleaning {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM_Stock_FutureStockCleaning</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Future_Stocks</name>
        <label>Delete Future Stocks</label>
        <locationX>452</locationX>
        <locationY>564</locationY>
        <inputReference>Get_Future_Stocks_Before_Today</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Future_Stocks_Before_Today</name>
        <label>Get Future Stocks Before Today</label>
        <locationX>584</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Future_Stocks_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_of_Release__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>ManuallyManage__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Future_Stock__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Future_Stocks_Before_Today</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-02-24</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
