unpackaged/main/default/flows/SOM_New_Fulfillment_BR_Order_Publish_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Validate_Brazilian_Address_ODGS</name>
        <label>Validate Brazilian Address ODGS</label>
        <locationX>1149</locationX>
        <locationY>263</locationY>
        <actionName>WS_SOM_ValidateBrazilianAddress</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Filter_Output_ODGS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Requests</name>
            <value>
                <elementReference>Requests_ODGS</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WS_SOM_ValidateBrazilianAddress</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Output_ODGS</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Validate_Brazilian_Address_OS</name>
        <label>Validate Brazilian Address OS</label>
        <locationX>326</locationX>
        <locationY>390</locationY>
        <actionName>WS_SOM_ValidateBrazilianAddress</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Filter_Output_OS</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Requests</name>
            <value>
                <elementReference>Requests_OS</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WS_SOM_ValidateBrazilianAddress</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Output_OS</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_ODGS_Variables</name>
        <label>Assign ODGS Variables</label>
        <locationX>1669</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>bairro_ODGS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Filtered_ODGS.bairro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cep_ODGS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Filtered_ODGS.cep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>localidade_ODGS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Filtered_ODGS.localidade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>logradouro_ODGS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Filtered_ODGS.logradouro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecId_ODGS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Filtered_ODGS.Identifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uf_ODGS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Filtered_ODGS.uf</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Filtered_ODGS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OS_Variables</name>
        <label>Assign OS Variables</label>
        <locationX>651</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>bairro_OS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Filtered_OS.bairro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cep_OS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Filtered_OS.cep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>localidade_OS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Filtered_OS.localidade</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>logradouro_OS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Filtered_OS.logradouro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecId_OS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Filtered_OS.Identifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>uf_OS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Filtered_OS.uf</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Filtered_OS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PE_TaxID_info</name>
        <label>Assign PE TaxID info</label>
        <locationX>1523</locationX>
        <locationY>609</locationY>
        <assignmentItems>
            <assignToReference>PE_Record.AttachedToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE_Record.Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Address Validation Brazil</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE_Record.Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shipping Address : Invalid CPF/TaxId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE_Record.Severity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE_Record.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE_Record.OrderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PE_Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shipping Address : Invalid CPF/TaxId</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_PE_TaxID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PE_TaxID_info_0</name>
        <label>Assign PE TaxID info</label>
        <locationX>1629</locationX>
        <locationY>712</locationY>
        <assignmentItems>
            <assignToReference>Variable_TaxID_Field</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_BrazilianAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Requests_ODGS</name>
        <label>Assign Requests ODGS</label>
        <locationX>1157</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>Request_ODGS.Identifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request_ODGS.ZipCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Requests_ODGS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Request_ODGS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Brazilian_Address_ODGS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Requests_OS</name>
        <label>Assign Requests OS</label>
        <locationX>505</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>Request_OS.Identifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Request_OS.ZipCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Requests_OS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Request_OS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Brazilian_Address_OS</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Output_ODGS</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Output ODGS</label>
        <locationX>1308</locationX>
        <locationY>268</locationY>
        <assignNextValueToReference>currentItem_Filter_Output_ODGS</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Output_ODGS</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Output_ODGS.Identifier</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Request_ODGS.Identifier</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Over_Filtered_ODGS</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Output_OS</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Output OS</label>
        <locationX>367</locationX>
        <locationY>579</locationY>
        <assignNextValueToReference>currentItem_Filter_Output_OS</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Output_OS</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Output_OS.Identifier</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Request_OS.Identifier</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Over_Filtered_OS</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_BR</name>
        <label>Check BR</label>
        <locationX>644</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BR_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Delivery_Group_Summary_0_0.DeliverToCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Requests_OS</targetReference>
            </connector>
            <label>BR true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_BR_0_0</name>
        <label>Check BR</label>
        <locationX>1162</locationX>
        <locationY>570</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BR_true_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Delivery_Group_Summary.DeliverToCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Requests_ODGS</targetReference>
            </connector>
            <label>BR true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_BR_0_0_0</name>
        <label>Check BR</label>
        <locationX>1346</locationX>
        <locationY>677</locationY>
        <defaultConnector>
            <targetReference>Verify_BrazilianAddress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TaxId_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PE_TaxId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FX_TaxId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PE_TaxID_info</targetReference>
            </connector>
            <label>TaxId false</label>
        </rules>
        <rules>
            <name>TaxId_true</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>FX_TaxId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FX_TaxId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PE_TaxId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_BrazilianAddress</targetReference>
            </connector>
            <label>TaxId true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Variables</name>
        <label>Check Variables</label>
        <locationX>944</locationX>
        <locationY>812</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateNewOrderForCegidEvent</name>
            <conditionLogic>( 1 AND 2 AND 5 ) OR ( 3 AND 4 AND 5 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fulfilled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tech_os_store_shipping_method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tech_os_store_shipping_method__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Variable_TaxID_Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Order_For_Cegid_Event</targetReference>
            </connector>
            <label>Create New Order For Cegid Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_BrazilianAddress</name>
        <label>Verify BrazilianAddress</label>
        <locationX>1473</locationX>
        <locationY>797</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BrazilianAddresses_Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OS_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ODGS_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OS_Tech_field</targetReference>
            </connector>
            <label>BrazilianAddresses Verified</label>
        </rules>
        <rules>
            <name>OS_Address_Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OS_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ODGS_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OSAddressVerified</targetReference>
            </connector>
            <label>OS Address Verified</label>
        </rules>
        <rules>
            <name>ODGS_Address_Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OS_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ODGS_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ODGSAddressVerified</targetReference>
            </connector>
            <label>ODGS Address Verified</label>
        </rules>
        <rules>
            <name>BrazilianAddresses_NOT_Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OS_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ODGS_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brazilian_Addresses_NOT_Verified</targetReference>
            </connector>
            <label>BrazilianAddresses NOT Verified</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DescriptionMessageFormule2</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!DescriptionOS}),{!DescriptionValidationOS}, &quot;The following fields are inconsistent with the Zip Code: &quot; &amp; {!DescriptionOS}&amp;
{!DescriptionValidationOS})</expression>
    </formulas>
    <formulas>
        <name>DescriptionMessageFormule_0</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!DescriptionODGS}),{!DescriptionValidationODGS}, &quot;The following fields are inconsistent with the Zip Code: &quot; &amp; {!DescriptionODGS} &amp;{!DescriptionValidationODGS})</expression>
    </formulas>
    <formulas>
        <name>FX_TaxId</name>
        <dataType>Boolean</dataType>
        <expression>IF(
  OR(
    ISBLANK({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}),
    LEN({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}) = 0
  ),
  FALSE,
  AND(
    MOD(
      MOD(
        11 - MOD(
          VALUE(MID({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}, 1, 1)) * 10 +
          VALUE(MID({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}, 2, 1)) * 9 +
          VALUE(MID({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}, 3, 1)) * 8 +
          VALUE(MID({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}, 5, 1)) * 7 +
          VALUE(MID({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}, 6, 1)) * 6 +
          VALUE(MID({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}, 7, 1)) * 5 +
          VALUE(MID({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}, 9, 1)) * 4 +
          VALUE(MID({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}, 10, 1)) * 3 +
          VALUE(MID({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}, 11, 1)) * 2,
          11
        ),
        11
      ),
      10
    ) = VALUE(MID({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}, 13, 1)),
    MOD(
      MOD(
        11 - MOD(
          VALUE(MID({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}, 1, 1)) * 11 +
          VALUE(MID({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}, 2, 1)) * 10 +
          VALUE(MID({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}, 3, 1)) * 9 +
          VALUE(MID({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}, 5, 1)) * 8 +
          VALUE(MID({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}, 6, 1)) * 7 +
          VALUE(MID({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}, 7, 1)) * 6 +
          VALUE(MID({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}, 9, 1)) * 5 +
          VALUE(MID({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}, 10, 1)) * 4 +
          VALUE(MID({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}, 11, 1)) * 3 +
          VALUE(MID({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}, 13, 1)) * 2,
          11
        ),
        11
      ),
      10
    ) = VALUE(MID({!Get_Order_Delivery_Group_Summary.RI_TAX_ID__c}, 14, 1))
  )
)</expression>
    </formulas>
    <formulas>
        <name>ODGS_Formula</name>
        <dataType>Boolean</dataType>
        <expression>IF(
AND(
UPPER(
SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!cep_ODGS}, &apos;à&apos;, &apos;a&apos;), &apos;â&apos;,&apos;a&apos;), &apos;á&apos;, &apos;a&apos;), &apos;ã&apos;, &apos;a&apos;), &apos;ê&apos;, &apos;e&apos;), &apos;é&apos;, &apos;e&apos;), &apos;è&apos;, &apos;e&apos;), &apos;í&apos;,&apos;i&apos;), &apos;ô&apos;, &apos;o&apos;), &apos;ó&apos;, &apos;o&apos;), &apos;ú&apos;, &apos;u&apos;), &apos;û&apos;, &apos;u&apos;), &apos;ç&apos;, &apos;c&apos;), &apos;õ&apos;, &apos;o&apos;)
) = UPPER(
SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!Get_Order_Delivery_Group_Summary.DeliverToPostalCode}, &apos;à&apos;, &apos;a&apos;), &apos;â&apos;,&apos;a&apos;), &apos;á&apos;, &apos;a&apos;), &apos;ã&apos;, &apos;a&apos;), &apos;ê&apos;, &apos;e&apos;), &apos;é&apos;, &apos;e&apos;), &apos;è&apos;, &apos;e&apos;), &apos;í&apos;,&apos;i&apos;), &apos;ô&apos;, &apos;o&apos;), &apos;ó&apos;, &apos;o&apos;), &apos;ú&apos;, &apos;u&apos;), &apos;û&apos;, &apos;u&apos;), &apos;ç&apos;, &apos;c&apos;), &apos;õ&apos;, &apos;o&apos;)
),NOT(ISBLANK({!Get_Order_Delivery_Group_Summary.DeliverToStreet})),REGEX({!Get_Order_Delivery_Group_Summary.DeliverToStreet},{!Get_AddressValidationRules.StreetRegex__c}),REGEX({!Get_Order_Delivery_Group_Summary.StreetNumber__c}, {!Get_AddressValidationRules.StreetNumberRegex__c}),NOT(ISBLANK({!Get_Order_Delivery_Group_Summary.RI_Neighborhood__c})),UPPER(
SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!localidade_ODGS}, &apos;à&apos;, &apos;a&apos;), &apos;â&apos;,&apos;a&apos;), &apos;á&apos;, &apos;a&apos;), &apos;ã&apos;, &apos;a&apos;), &apos;ê&apos;, &apos;e&apos;), &apos;é&apos;, &apos;e&apos;), &apos;è&apos;, &apos;e&apos;), &apos;í&apos;,&apos;i&apos;), &apos;ô&apos;, &apos;o&apos;), &apos;ó&apos;, &apos;o&apos;), &apos;ú&apos;, &apos;u&apos;), &apos;û&apos;, &apos;u&apos;), &apos;ç&apos;, &apos;c&apos;), &apos;õ&apos;, &apos;o&apos;)
) = UPPER(
SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!Get_Order_Delivery_Group_Summary.DeliverToCity}, &apos;à&apos;, &apos;a&apos;), &apos;â&apos;,&apos;a&apos;), &apos;á&apos;, &apos;a&apos;), &apos;ã&apos;, &apos;a&apos;), &apos;ê&apos;, &apos;e&apos;), &apos;é&apos;, &apos;e&apos;), &apos;è&apos;, &apos;e&apos;), &apos;í&apos;,&apos;i&apos;), &apos;ô&apos;, &apos;o&apos;), &apos;ó&apos;, &apos;o&apos;), &apos;ú&apos;, &apos;u&apos;), &apos;û&apos;, &apos;u&apos;), &apos;ç&apos;, &apos;c&apos;), &apos;õ&apos;, &apos;o&apos;)
),UPPER(
SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!uf_ODGS}, &apos;à&apos;, &apos;a&apos;), &apos;â&apos;,&apos;a&apos;), &apos;á&apos;, &apos;a&apos;), &apos;ã&apos;, &apos;a&apos;), &apos;ê&apos;, &apos;e&apos;), &apos;é&apos;, &apos;e&apos;), &apos;è&apos;, &apos;e&apos;), &apos;í&apos;,&apos;i&apos;), &apos;ô&apos;, &apos;o&apos;), &apos;ó&apos;, &apos;o&apos;), &apos;ú&apos;, &apos;u&apos;), &apos;û&apos;, &apos;u&apos;), &apos;ç&apos;, &apos;c&apos;), &apos;õ&apos;, &apos;o&apos;)) = UPPER(
SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!Get_Order_Delivery_Group_Summary.DeliverToState}, &apos;à&apos;, &apos;a&apos;), &apos;â&apos;,&apos;a&apos;), &apos;á&apos;, &apos;a&apos;), &apos;ã&apos;, &apos;a&apos;), &apos;ê&apos;, &apos;e&apos;), &apos;é&apos;, &apos;e&apos;), &apos;è&apos;, &apos;e&apos;), &apos;í&apos;,&apos;i&apos;), &apos;ô&apos;, &apos;o&apos;), &apos;ó&apos;, &apos;o&apos;), &apos;ú&apos;, &apos;u&apos;), &apos;û&apos;, &apos;u&apos;), &apos;ç&apos;, &apos;c&apos;), &apos;õ&apos;, &apos;o&apos;)),REGEX({!Get_Order_Delivery_Group_Summary.PhoneNumber}, {!Get_AddressValidationRules.PhoneNumberRegex__c})),true,false)</expression>
    </formulas>
    <formulas>
        <name>OS_Formula</name>
        <dataType>Boolean</dataType>
        <expression>IF(
AND(
UPPER(
SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!cep_OS}, &apos;à&apos;, &apos;a&apos;), &apos;â&apos;,&apos;a&apos;), &apos;á&apos;, &apos;a&apos;), &apos;ã&apos;, &apos;a&apos;), &apos;ê&apos;, &apos;e&apos;), &apos;é&apos;, &apos;e&apos;), &apos;è&apos;, &apos;e&apos;), &apos;í&apos;,&apos;i&apos;), &apos;ô&apos;, &apos;o&apos;), &apos;ó&apos;, &apos;o&apos;), &apos;ú&apos;, &apos;u&apos;), &apos;û&apos;, &apos;u&apos;), &apos;ç&apos;, &apos;c&apos;), &apos;õ&apos;, &apos;o&apos;)
) = UPPER(
SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!$Record.BillingPostalCode}, &apos;à&apos;, &apos;a&apos;), &apos;â&apos;,&apos;a&apos;), &apos;á&apos;, &apos;a&apos;), &apos;ã&apos;, &apos;a&apos;), &apos;ê&apos;, &apos;e&apos;), &apos;é&apos;, &apos;e&apos;), &apos;è&apos;, &apos;e&apos;), &apos;í&apos;,&apos;i&apos;), &apos;ô&apos;, &apos;o&apos;), &apos;ó&apos;, &apos;o&apos;), &apos;ú&apos;, &apos;u&apos;), &apos;û&apos;, &apos;u&apos;), &apos;ç&apos;, &apos;c&apos;), &apos;õ&apos;, &apos;o&apos;)
),NOT(ISBLANK({!$Record.BillingStreet})),REGEX({!$Record.BillingStreet}, {!Get_AddressValidationRules.StreetRegex__c}),REGEX({!$Record.StreetNumber__c}, {!Get_AddressValidationRules.StreetNumberRegex__c}),NOT(ISBLANK({!$Record.RI_Neighborhood__c})),UPPER(
SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!localidade_OS}, &apos;à&apos;, &apos;a&apos;), &apos;â&apos;,&apos;a&apos;), &apos;á&apos;, &apos;a&apos;), &apos;ã&apos;, &apos;a&apos;), &apos;ê&apos;, &apos;e&apos;), &apos;é&apos;, &apos;e&apos;), &apos;è&apos;, &apos;e&apos;), &apos;í&apos;,&apos;i&apos;), &apos;ô&apos;, &apos;o&apos;), &apos;ó&apos;, &apos;o&apos;), &apos;ú&apos;, &apos;u&apos;), &apos;û&apos;, &apos;u&apos;), &apos;ç&apos;, &apos;c&apos;), &apos;õ&apos;, &apos;o&apos;)
) = UPPER(
SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!$Record.BillingCity}, &apos;à&apos;, &apos;a&apos;), &apos;â&apos;,&apos;a&apos;), &apos;á&apos;, &apos;a&apos;), &apos;ã&apos;, &apos;a&apos;), &apos;ê&apos;, &apos;e&apos;), &apos;é&apos;, &apos;e&apos;), &apos;è&apos;, &apos;e&apos;), &apos;í&apos;,&apos;i&apos;), &apos;ô&apos;, &apos;o&apos;), &apos;ó&apos;, &apos;o&apos;), &apos;ú&apos;, &apos;u&apos;), &apos;û&apos;, &apos;u&apos;), &apos;ç&apos;, &apos;c&apos;), &apos;õ&apos;, &apos;o&apos;)
),UPPER(
SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!uf_OS}, &apos;à&apos;, &apos;a&apos;), &apos;â&apos;,&apos;a&apos;), &apos;á&apos;, &apos;a&apos;), &apos;ã&apos;, &apos;a&apos;), &apos;ê&apos;, &apos;e&apos;), &apos;é&apos;, &apos;e&apos;), &apos;è&apos;, &apos;e&apos;), &apos;í&apos;,&apos;i&apos;), &apos;ô&apos;, &apos;o&apos;), &apos;ó&apos;, &apos;o&apos;), &apos;ú&apos;, &apos;u&apos;), &apos;û&apos;, &apos;u&apos;), &apos;ç&apos;, &apos;c&apos;), &apos;õ&apos;, &apos;o&apos;)) = UPPER(
SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!$Record.BillingState}, &apos;à&apos;, &apos;a&apos;), &apos;â&apos;,&apos;a&apos;), &apos;á&apos;, &apos;a&apos;), &apos;ã&apos;, &apos;a&apos;), &apos;ê&apos;, &apos;e&apos;), &apos;é&apos;, &apos;e&apos;), &apos;è&apos;, &apos;e&apos;), &apos;í&apos;,&apos;i&apos;), &apos;ô&apos;, &apos;o&apos;), &apos;ó&apos;, &apos;o&apos;), &apos;ú&apos;, &apos;u&apos;), &apos;û&apos;, &apos;u&apos;), &apos;ç&apos;, &apos;c&apos;), &apos;õ&apos;, &apos;o&apos;)),REGEX({!$Record.BillingPhoneNumber}, {!Get_AddressValidationRules.PhoneNumberRegex__c})),true,false)</expression>
    </formulas>
    <interviewLabel>SOM - New Fulfillment BR Order Publish Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM - New Fulfillment BR Order Publish Event</label>
    <loops>
        <name>Loop_Over_Filtered_ODGS</name>
        <label>Loop Over Filtered ODGS</label>
        <locationX>1450</locationX>
        <locationY>320</locationY>
        <collectionReference>Filter_Output_ODGS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ODGS_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_AddressValidationRules</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Filtered_OS</name>
        <label>Loop Over Filtered OS</label>
        <locationX>651</locationX>
        <locationY>549</locationY>
        <collectionReference>Filter_Output_OS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_OS_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Order_Delivery_Group_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Order_For_Cegid_Event</name>
        <label>Create New Order For Cegid Event</label>
        <locationX>951</locationX>
        <locationY>996</locationY>
        <inputAssignments>
            <field>OrderSummaryNumber__c</field>
            <value>
                <elementReference>$Record.OrderNumber</elementReference>
            </value>
        </inputAssignments>
        <object>NewOrderForCegid__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_PE_TaxID</name>
        <label>Create PE TaxID</label>
        <locationX>1643</locationX>
        <locationY>570</locationY>
        <connector>
            <targetReference>Update_ODGS_TaxID</targetReference>
        </connector>
        <inputReference>PE_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_AddressValidationRules</name>
        <label>Get AddressValidationRules</label>
        <locationX>1364</locationX>
        <locationY>510</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_BR_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AddressValidationRules_BR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AddressValidationRules__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Delivery_Group_Summary</name>
        <label>Get Order Delivery Group Summary</label>
        <locationX>833</locationX>
        <locationY>548</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PE_TaxId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Delivery_Group_Summary_0_0</name>
        <label>Get Order Delivery Group Summary</label>
        <locationX>775</locationX>
        <locationY>393</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_BR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PE_TaxId</name>
        <label>Get PE TaxId</label>
        <locationX>999</locationX>
        <locationY>561</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_BR_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AttachedToId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Address Validation Brazil</stringValue>
            </value>
        </filters>
        <filters>
            <field>Message</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shipping Address : Invalid CPF/TaxId</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ODGS_TaxID</name>
        <label>Update ODGS TaxID</label>
        <locationX>1790</locationX>
        <locationY>690</locationY>
        <connector>
            <targetReference>Assign_PE_TaxID_info_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TECH_TaxId_Validation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>OrderDeliveryGroupSummary</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ODGS_Tech_field</name>
        <label>Update ODGS Tech field</label>
        <locationX>1089</locationX>
        <locationY>804</locationY>
        <connector>
            <targetReference>Check_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecId_ODGS</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tech_BrazilianAddressVerified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>OrderDeliveryGroupSummary</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OS_Tech_field</name>
        <label>Update OS Tech field</label>
        <locationX>1201</locationX>
        <locationY>801</locationY>
        <connector>
            <targetReference>Update_ODGS_Tech_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecId_OS</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tech_BrazilianAddressVerified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <start>
        <locationX>635</locationX>
        <locationY>48</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>3 AND ( ( 4 AND ( 1 OR 2 ) ) OR ( 5 AND 2) )</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesChannelName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rimowa</stringValue>
            </value>
        </filters>
        <filters>
            <field>tech_os_store_shipping_method__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>tech_os_store_shipping_method__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>OrderSummary</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Run</name>
            <connector>
                <targetReference>Get_Order_Delivery_Group_Summary_0_0</targetReference>
            </connector>
            <label>Run OS</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Brazilian_Addresses_NOT_Verified</name>
        <label>Brazilian Addresses NOT Verified</label>
        <locationX>1873</locationX>
        <locationY>790</locationY>
        <flowName>SOM_BR_Fulfillment_Addresses_NOT_Verified</flowName>
        <inputAssignments>
            <name>bairro_ODGS</name>
            <value>
                <elementReference>bairro_ODGS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>bairro_OS</name>
            <value>
                <elementReference>bairro_OS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cep_ODGS</name>
            <value>
                <elementReference>cep_ODGS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cep_OS</name>
            <value>
                <elementReference>cep_OS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>localidade_ODGS</name>
            <value>
                <elementReference>localidade_ODGS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>localidade_OS</name>
            <value>
                <elementReference>localidade_OS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>logradouro_ODGS</name>
            <value>
                <elementReference>logradouro_ODGS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>logradouro_OS</name>
            <value>
                <elementReference>logradouro_OS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecId_ODGS</name>
            <value>
                <elementReference>RecId_ODGS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecId_OS</name>
            <value>
                <elementReference>RecId_OS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>uf_ODGS</name>
            <value>
                <elementReference>uf_ODGS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>uf_OS</name>
            <value>
                <elementReference>uf_OS</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>ODGSAddressVerified</name>
        <label>ODGS Address Verified</label>
        <locationX>1623</locationX>
        <locationY>991</locationY>
        <flowName>SOM_BR_Fulfillment_ODGS_Address_Verified</flowName>
        <inputAssignments>
            <name>bairro_OS</name>
            <value>
                <elementReference>bairro_OS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cep_OS</name>
            <value>
                <elementReference>cep_OS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>localidade_OS</name>
            <value>
                <elementReference>localidade_OS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>logradouro_OS</name>
            <value>
                <elementReference>logradouro_OS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecId_ODGS</name>
            <value>
                <elementReference>RecId_ODGS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecId_OS</name>
            <value>
                <elementReference>RecId_OS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>uf_OS</name>
            <value>
                <elementReference>uf_OS</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>OSAddressVerified</name>
        <label>OS Address Verified</label>
        <locationX>1343</locationX>
        <locationY>985</locationY>
        <flowName>SOM_BR_Fulfillment_OS_Address_Verified</flowName>
        <inputAssignments>
            <name>bairro_ODGS</name>
            <value>
                <elementReference>bairro_ODGS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>cep_ODGS</name>
            <value>
                <elementReference>cep_ODGS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>localidade_ODGS</name>
            <value>
                <elementReference>localidade_ODGS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>logradouro_ODGS</name>
            <value>
                <elementReference>logradouro_ODGS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecId_ODGS</name>
            <value>
                <elementReference>RecId_ODGS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecId_OS</name>
            <value>
                <elementReference>RecId_OS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>uf_ODGS</name>
            <value>
                <elementReference>uf_ODGS</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <triggerOrder>50</triggerOrder>
    <variables>
        <name>bairro_ODGS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bairro_OS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cep_ODGS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cep_OS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_ErrorOutput_ODGS</name>
        <apexClass>SOM_ResponseErrorMessageBrazilianAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_ErrorOutput_ODGSS</name>
        <apexClass>SOM_ResponseErrorMessageBrazilianAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_ErrorOutput_OS</name>
        <apexClass>SOM_ResponseErrorMessageBrazilianAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_ErrorOutput_OSs</name>
        <apexClass>SOM_ResponseErrorMessageBrazilianAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Output_ODGS</name>
        <apexClass>SOM_BrazilianAutomaticResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Output_OS</name>
        <apexClass>SOM_BrazilianAutomaticResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <apexClass>SOM_ResponseErrorMessageBrazilianAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DescriptionODGS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DescriptionOS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DescriptionValidationODGS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DescriptionValidationOS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorOutput_ODGS</name>
        <apexClass>SOM_ResponseErrorMessageBrazilianAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorOutput_OS</name>
        <apexClass>SOM_ResponseErrorMessageBrazilianAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorOutputs</name>
        <apexClass>SOM_ResponseErrorMessageBrazilianAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorRequest_ODGS</name>
        <apexClass>SOM_RequestErrorMessageBrazilianAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorRequest_OS</name>
        <apexClass>SOM_RequestErrorMessageBrazilianAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorRequests</name>
        <apexClass>SOM_RequestErrorMessageBrazilianAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorRequests_ODGS</name>
        <apexClass>SOM_RequestErrorMessageBrazilianAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorRequests_OS</name>
        <apexClass>SOM_RequestErrorMessageBrazilianAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorValidationOutput_ODGS</name>
        <apexClass>SOM_ResponseErrorMessageBrazilianAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorValidationOutput_OS</name>
        <apexClass>SOM_ResponseErrorMessageBrazilianAddress</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>localidade_ODGS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>localidade_OS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>logradouro_ODGS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>logradouro_OS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Output_ODGS</name>
        <apexClass>SOM_BrazilianAutomaticResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Output_OS</name>
        <apexClass>SOM_BrazilianAutomaticResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PE_List_ToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <name>PE_ODGS_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <name>PE_OS_ToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <name>PE_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <name>PE_ToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <name>PE_ToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <name>PES_ToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <name>PES_ToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <name>RecId_ODGS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecId_OS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Request_ODGS</name>
        <apexClass>SOM_BrazilianRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Request_OS</name>
        <apexClass>SOM_BrazilianRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Requests_ODGS</name>
        <apexClass>SOM_BrazilianRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Requests_OS</name>
        <apexClass>SOM_BrazilianRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uf_ODGS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>uf_OS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Variable_TaxID_Field</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VerifiedODGS_Address</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VerifiedOsAddress</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
