unpackaged/main/default/flows/SOM_UpdateStateOS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Updating_order_delivery_groupe</name>
        <label>Updating order delivery groupe</label>
        <locationX>2175</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>Get_Order_Delivery_Group.DeliverToState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_State_Order_Delivery_Group.Iso2_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_shipping</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cegid_Is_used</name>
        <label>Cegid Is used</label>
        <locationX>1311</locationX>
        <locationY>660</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CegidState</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCegid.cegidStateUsed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_StateMapping_Order_Summary</targetReference>
            </connector>
            <label>CegidState</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_To_Update_Order_Delivery_Group</name>
        <label>Decision To Update Order Delivery Group</label>
        <locationX>2027</locationX>
        <locationY>650</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_State_Order_Delivery_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_order_delivery_groupe</targetReference>
            </connector>
            <label>Yes2</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_Update_Billing_State_Or_Not</name>
        <label>To Update Billing State Or Not</label>
        <locationX>1710</locationX>
        <locationY>660</locationY>
        <defaultConnector>
            <targetReference>Decision_To_Update_Order_Delivery_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_StateMapping_Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_billing_State</targetReference>
            </connector>
            <label>Yes1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FX_OrderType</name>
        <dataType>String</dataType>
        <expression>IF(AND({!Get_OrderDeliveryMethode.isHomeDelivery__c} = TRUE,{!$Record.SalesChannel.SalesChannelName} = &quot;Cegid&quot;),&quot;S2W HomeDelivery&quot;,IF(AND({!Get_OrderDeliveryMethode.isStorePickup__c} = TRUE,{!$Record.SalesChannel.SalesChannelName} = &quot;Cegid&quot;),&quot;S2W PickupInStore&quot;,IF(AND({!$Record.SalesChannel.SalesChannelName} = &quot;Rimowa&quot;,{!$Record.tech_os_store_shipping_method__c} = 0),&quot;ECOM&quot;,IF(AND({!$Record.SalesChannel.SalesChannelName} = &quot;Rimowa&quot;,{!$Record.tech_os_store_shipping_method__c} = 1),&quot;C&amp;C&quot;, IF({!$Record.SalesChannel.SalesChannelName} = &quot;Manual Order&quot;,&quot;Manual Order&quot;,&quot;&quot;)))))</expression>
    </formulas>
    <interviewLabel>SOM_UpdateStateOS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM_UpdateStateOS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Delivery_Group</name>
        <label>Get Order Delivery Group</label>
        <locationX>886</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OrderDeliveryMethode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OriginalOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrderDeliveryMethode</name>
        <label>Get OrderDeliveryMethode</label>
        <locationX>883</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Order_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Delivery_Group.OrderDeliveryMethodId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryMethod</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>isHomeDelivery__c</queriedFields>
        <queriedFields>isStorePickup__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_State_Order_Delivery_Group</name>
        <label>Get State Order Delivery Group</label>
        <locationX>1606</locationX>
        <locationY>658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>To_Update_Billing_State_Or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Full_name_state__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Delivery_Group.DeliverToState</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>State_mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_StateMapping_Order_Summary</name>
        <label>Get StateMapping Order Summary</label>
        <locationX>1489</locationX>
        <locationY>658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_State_Order_Delivery_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Full_name_state__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>State_mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCegid</name>
        <label>GetCegid</label>
        <locationX>1122</locationX>
        <locationY>659</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cegid_Is_used</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Delivery_Group.DeliverToCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Channel_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Summary</name>
        <label>Update Order Summary</label>
        <locationX>887</locationX>
        <locationY>661</locationY>
        <connector>
            <targetReference>GetCegid</targetReference>
        </connector>
        <inputAssignments>
            <field>Order_Type__c</field>
            <value>
                <elementReference>FX_OrderType</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_shipping</name>
        <label>Update shipping</label>
        <locationX>2319</locationX>
        <locationY>645</locationY>
        <inputReference>Get_Order_Delivery_Group</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_billing_State</name>
        <label>Update the billing State</label>
        <locationX>1898</locationX>
        <locationY>569</locationY>
        <connector>
            <targetReference>Decision_To_Update_Order_Delivery_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Get_StateMapping_Order_Summary.Iso2_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>750</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>Get_Order_Delivery_Group</targetReference>
        </connector>
        <object>OrderSummary</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
