unpackaged/main/default/flows/SOM_203_Invokable_FO_Orchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Is_True</name>
        <label>Assign Is True</label>
        <locationX>1994</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>IsSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>SalesChanned_Cegid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CEGID</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Reservation_Result</name>
        <label>Check Reservation Result</label>
        <locationX>1727</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Update_OrderSummary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>❌ Reservation Failed</defaultConnectorLabel>
        <rules>
            <name>Reservation_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isReservationSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SOM_220_CM_Create_FO_2</targetReference>
            </connector>
            <label>✅ Reservation OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stock_Availability</name>
        <label>Check Stock Availability</label>
        <locationX>1429</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>Update_OrderSummary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Is_Stock_Sufficient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsStockSufficient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SOM_220_CM_Create_FO_1</targetReference>
            </connector>
            <label>Is Stock Sufficient</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Fulfillment_Order_Decision</name>
        <label>Create Fulfillment Order Decision</label>
        <locationX>1054</locationX>
        <locationY>471</locationY>
        <defaultConnectorLabel>Do Not Create FO</defaultConnectorLabel>
        <rules>
            <name>Create_FO_And_Verify_Stock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OS.RetryAllocationProcessed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Delivery_Group_Summary.OrderDeliveryMethod.Delivery_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Store Pickup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_to_Web_or_not</targetReference>
            </connector>
            <label>Create FO And Verify Stock</label>
        </rules>
        <rules>
            <name>Create_FO_And_Do_Not_Verify_Stock</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_OS.RetryAllocationProcessed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Delivery_Group_Summary.OrderDeliveryMethod.Delivery_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Store Pickup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SOM_220_CM_Create_FO_1</targetReference>
            </connector>
            <label>Create FO And Do Not Verify Stock</label>
        </rules>
    </decisions>
    <decisions>
        <name>OrderSummary_Have_Existing_FOs</name>
        <label>OrderSummary Have Existing FOs ?</label>
        <locationX>1726</locationX>
        <locationY>472</locationY>
        <defaultConnector>
            <targetReference>Update_OrderSummary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No FO Exist</defaultConnectorLabel>
        <rules>
            <name>Yes_OS_have_Existing_FOs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_FOs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes OS have Existing FOs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Store_to_Web_or_not</name>
        <label>Store to Web or not ?</label>
        <locationX>1053</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>SOM_210_OCI_HD_CC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Store-To-Web</defaultConnectorLabel>
        <rules>
            <name>Yes_Store_To_Web</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_OS.SalesChannelName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CEGID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OS.SalesChannelName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SOM_210_OCI_Store_To_Web</targetReference>
            </connector>
            <label>Cegid Or Manual Order</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SOM 203 - Invokable FO Orchestration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 203 - Invokable FO Orchestration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_FOs</name>
        <label>Get Existing FOs</label>
        <locationX>1603</locationX>
        <locationY>470</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OrderSummary_Have_Existing_FOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OS.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrder</object>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Delivery_Group_Summary</name>
        <label>Get Order Delivery Group Summary</label>
        <locationX>807</locationX>
        <locationY>469</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Fulfillment_Order_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OS.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OS</name>
        <label>Get OS</label>
        <locationX>585</locationX>
        <locationY>470</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Delivery_Group_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryID</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderLifeCycleType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MANAGED</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OrderSummary</name>
        <label>Update OrderSummary</label>
        <locationX>1734</locationX>
        <locationY>247</locationY>
        <connector>
            <targetReference>Assign_Is_True</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OS.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Waiting for goods</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <start>
        <locationX>459</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>Get_OS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SOM_210_OCI_HD_CC</name>
        <label>SOM 210 OCI HD &amp; CC</label>
        <locationX>1295</locationX>
        <locationY>246</locationY>
        <connector>
            <targetReference>Check_Stock_Availability</targetReference>
        </connector>
        <flowName>SOM_210_Order_HD_And_CC_Retry_Allocation</flowName>
        <inputAssignments>
            <name>OrderSummaryRecord</name>
            <value>
                <elementReference>Get_OS</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IsStockSufficient</assignToReference>
            <name>IsStockSufficient</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IsPreOrder</assignToReference>
            <name>recordsFoundSuccess</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>SOM_210_OCI_Store_To_Web</name>
        <label>SOM 210 - OCI Store-To-Web</label>
        <locationX>1061</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Reservation_Result</targetReference>
        </connector>
        <flowName>SOM_210_Order_SToW_Retry_Allocation</flowName>
        <inputAssignments>
            <name>OrderSummaryRecord</name>
            <value>
                <elementReference>Get_OS</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>isReservationSuccess</assignToReference>
            <name>IsSuccess</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>SOM_220_CM_Create_FO_1</name>
        <label>SOM 220 - CM - Create FO #1</label>
        <locationX>1437</locationX>
        <locationY>470</locationY>
        <connector>
            <targetReference>Get_Existing_FOs</targetReference>
        </connector>
        <flowName>SOM_220_CoreModel_Create_FulfillementOrders</flowName>
        <inputAssignments>
            <name>OrderSummaryRecord</name>
            <value>
                <elementReference>Get_OS</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SOM_220_CM_Create_FO_2</name>
        <label>SOM 220 - CM - Create FO #2</label>
        <locationX>1994</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_Is_True</targetReference>
        </connector>
        <flowName>SOM_220_CoreModel_Create_FulfillementOrders</flowName>
        <inputAssignments>
            <name>OrderSummaryRecord</name>
            <value>
                <elementReference>Get_OS</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>C_FulfillmentOrderInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_OrderItemSummaryInputRepresentationCollection</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_Order_Delivery_Group_Different_To_GB_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>FulfillementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsPreOrder</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isReservationSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsStockSufficient</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Locationforfullfilement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>OrderSummaryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_FulfillmentGroupInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_FulfillmentOrderInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_OrderItemSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TOTAL_OSLI_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
