unpackaged/main/default/flows/SOM_SERVICE_120_GetAvailability_Call_OCI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Availability_from_LocationGroups</name>
        <label>Get Availability from LocationGroups</label>
        <locationX>373</locationX>
        <locationY>1103</locationY>
        <actionName>ociGetAvailability</actionName>
        <actionType>ociGetAvailability</actionType>
        <connector>
            <targetReference>Stack_LocationGroups_Results</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ociGetAvailabilityInput</name>
            <value>
                <elementReference>OCI_02_GetInventoryAvailability_IR_LocationGroups</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Availability_from_Locations</name>
        <label>Get Availability from Locations</label>
        <locationX>971</locationX>
        <locationY>886</locationY>
        <actionName>ociGetAvailability</actionName>
        <actionType>ociGetAvailability</actionType>
        <connector>
            <targetReference>Stack_Location_Results</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ociGetAvailabilityInput</name>
            <value>
                <elementReference>OCI_01_GetInventoryAvailability_IR_Locations</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Matching_Results_to_Reservation</name>
        <label>Assign Matching Results to Reservation</label>
        <locationX>955</locationX>
        <locationY>1955</locationY>
        <assignmentItems>
            <assignToReference>L77_Compare_Results_Reservations.OCI_OnHand</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L66_Inventory_Records.onHand</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>L77_Compare_Results_Reservations.OCI_ATF</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L66_Inventory_Records.availableToFulfill</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>L77_Compare_Results_Reservations.OCI_ATO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L66_Inventory_Records.availableToOrder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>L77_Compare_Results_Reservations.OCI_Reservations</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L66_Inventory_Records.reserved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>L77_Compare_Results_Reservations.OCI_Safety</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L66_Inventory_Records.safetyStockCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stack_to_Results_Coll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OCI_IR_02_LocationGroups</name>
        <label>Assign OCI IR 02 LocationGroups</label>
        <locationX>1022</locationX>
        <locationY>292</locationY>
        <assignmentItems>
            <assignToReference>OCI_02_GetInventoryAvailability_IR_LocationGroups.locationGroupIdentifiers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L33_Reservations_Locations.locationIdentifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCI_02_GetInventoryAvailability_IR_LocationGroups.stockKeepingUnits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L33_Reservations_Locations.stockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCI_02_GetInventoryAvailability_IR_LocationGroups.useCache</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L33_Reservations_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OCI_IR_for_Locations</name>
        <label>Assign OCI IR for Locations</label>
        <locationX>1019</locationX>
        <locationY>698</locationY>
        <assignmentItems>
            <assignToReference>OCI_01_GetInventoryAvailability_IR_Locations.locationIdentifiers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L33_Reservations_Locations.locationIdentifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCI_01_GetInventoryAvailability_IR_Locations.stockKeepingUnits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L33_Reservations_Locations.stockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCI_01_GetInventoryAvailability_IR_Locations.useCache</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L33_Reservations_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stack_Location_Results</name>
        <label>Stack Location Results</label>
        <locationX>971</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>C_Full_OCILocationAvailabilityOutputRepresentation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Availability_from_Locations.ociGetAvailabilityOutput.locations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_OCI_for_Location_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stack_LocationGroups_Results</name>
        <label>Stack LocationGroups Results</label>
        <locationX>373</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>C_Full_OCILocationAvailabilityOutputRepresentation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Availability_from_LocationGroups.ociGetAvailabilityOutput.locations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L55_All_Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stack_to_Results_Coll</name>
        <label>Stack to Results Coll</label>
        <locationX>684</locationX>
        <locationY>1955</locationY>
        <assignmentItems>
            <assignToReference>C_Full_Results</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L77_Compare_Results_Reservations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L77_Compare_Results_Reservations</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Constant_Location</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Location</stringValue>
        </value>
    </constants>
    <constants>
        <name>Constant_LocationGroup</name>
        <dataType>String</dataType>
        <value>
            <stringValue>LocationGroup</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Call_OCI_for_Location_Groups</name>
        <label>Call OCI for Location Groups ?</label>
        <locationX>674</locationX>
        <locationY>1105</locationY>
        <defaultConnector>
            <targetReference>L55_All_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>Yes_call_for_Location_Groups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OCI_02_GetInventoryAvailability_IR_LocationGroups</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Availability_from_LocationGroups</targetReference>
            </connector>
            <label>Yes call for Location Groups</label>
        </rules>
    </decisions>
    <decisions>
        <name>Call_OCI_for_Locations</name>
        <label>Call OCI for Locations ?</label>
        <locationX>676</locationX>
        <locationY>886</locationY>
        <defaultConnector>
            <targetReference>Call_OCI_for_Location_Groups</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>Yes_call_for_Locations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OCI_01_GetInventoryAvailability_IR_Locations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Availability_from_Locations</targetReference>
            </connector>
            <label>Yes call for Locations</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_or_Location_Group</name>
        <label>Location or Location Group ?</label>
        <locationX>1016</locationX>
        <locationY>502</locationY>
        <defaultConnector>
            <targetReference>Assign_OCI_IR_for_Locations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Location</defaultConnectorLabel>
        <rules>
            <name>Location_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>L33_Reservations_Locations.locationGroupId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>0gh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OCI_IR_02_LocationGroups</targetReference>
            </connector>
            <label>Location Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_Reservations_vs_Results</name>
        <label>Match Reservations vs Results</label>
        <locationX>948</locationX>
        <locationY>1704</locationY>
        <defaultConnector>
            <targetReference>L77_Compare_Results_Reservations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a match</defaultConnectorLabel>
        <rules>
            <name>Yes_is_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>L77_Compare_Results_Reservations.locationIdentifier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>L55_All_Results.locationIdentifier</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>L77_Compare_Results_Reservations.stockKeepingUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>L66_Inventory_Records.stockKeepingUnit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Matching_Results_to_Reservation</targetReference>
            </connector>
            <label>Yes is match</label>
        </rules>
    </decisions>
    <description>UseCache = false</description>
    <environments>Default</environments>
    <interviewLabel>SOM SERVICE 120 - GetAvailability - Call OCI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM SERVICE 120 - GetAvailability - Call OCI</label>
    <loops>
        <name>L33_Reservations_Locations</name>
        <label>L33 - Reservations @ Locations</label>
        <locationX>688</locationX>
        <locationY>499</locationY>
        <collectionReference>C_Reservations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Location_or_Location_Group</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Call_OCI_for_Locations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L55_All_Results</name>
        <label>L55 - All Results</label>
        <locationX>676</locationX>
        <locationY>1284</locationY>
        <collectionReference>C_Full_OCILocationAvailabilityOutputRepresentation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>L66_Inventory_Records</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>L66_Inventory_Records</name>
        <label>L66 - Inventory Records</label>
        <locationX>685</locationX>
        <locationY>1508</locationY>
        <collectionReference>L55_All_Results.inventoryRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>L77_Compare_Results_Reservations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>L55_All_Results</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L77_Compare_Results_Reservations</name>
        <label>L77 - Compare Results &amp; Reservations</label>
        <locationX>684</locationX>
        <locationY>1708</locationY>
        <collectionReference>C_Reservations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match_Reservations_vs_Results</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>L66_Inventory_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>235</locationX>
        <locationY>482</locationY>
        <connector>
            <targetReference>L33_Reservations_Locations</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>C_Full_OCILocationAvailabilityOutputRepresentation</name>
        <apexClass>ConnectApi__OCILocationAvailabilityOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_Full_Results</name>
        <apexClass>SOM_ADV_Reservation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>C_Reservations</name>
        <apexClass>SOM_ADV_Reservation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OCI_01_GetInventoryAvailability_IR_Locations</name>
        <apexClass>ConnectApi__OCIGetInventoryAvailabilityInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OCI_02_GetInventoryAvailability_IR_LocationGroups</name>
        <apexClass>ConnectApi__OCIGetInventoryAvailabilityInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
