unpackaged/main/default/flows/SOM_Fraud_FraudAnalysisHandler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Current_Order_Summary_Status</name>
        <label>Set Current Order Summary Status</label>
        <locationX>961</locationX>
        <locationY>353</locationY>
        <assignmentItems>
            <assignToReference>Current_Order_Summary_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Summary.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Order_Summary_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Customer_Token_For_Payment_Authorization</name>
        <label>Set Customer Token For Payment Authorization</label>
        <locationX>897</locationX>
        <locationY>1699</locationY>
        <assignmentItems>
            <assignToReference>Get_Payment_Authorization.customerToken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>customerToken</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payment_Authorization</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fraud_Analysis_Response_Fraud_Decision_Not_Supported</name>
        <label>Set Fraud Analysis Response Fraud Decision Not Supported</label>
        <locationX>1243</locationX>
        <locationY>658</locationY>
        <assignmentItems>
            <assignToReference>FraudAnalysisResponse.errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fraud_Review_Decision_Not_Supported_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FraudAnalysisResponse.orderSummaryNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderSummaryNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FraudAnalysisResponse.isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Fraud_Analysis_Response_Invalid_Status</name>
        <label>Set Fraud Analysis Response Invalid Order Summary Status</label>
        <locationX>1456</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>FraudAnalysisResponse.errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Summary_Status_Is_Not_Valid_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FraudAnalysisResponse.orderSummaryNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderSummaryNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FraudAnalysisResponse.isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Fraud_Analysis_Response_Unmanaged_Order</name>
        <label>Set Fraud Analysis Response For Unmanaged Order</label>
        <locationX>449</locationX>
        <locationY>546</locationY>
        <assignmentItems>
            <assignToReference>FraudAnalysisResponse.isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FraudAnalysisResponse.orderStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Summary_Created_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FraudAnalysisResponse.orderSummaryNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderSummaryNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Fraud_Response_Order_Summary_Doesnt_Exist</name>
        <label>Set Fraud Response Order Summary Doesnt Exist</label>
        <locationX>442</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>FraudAnalysisResponse.errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderSummary_Does_Not_Exist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FraudAnalysisResponse.orderSummaryNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderSummaryNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FraudAnalysisResponse.isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Fraud_Response_Payment_Authorization_Doesnt_Exist</name>
        <label>Set Fraud Response Payment Authorization Doesnt Exist</label>
        <locationX>1356</locationX>
        <locationY>1543</locationY>
        <assignmentItems>
            <assignToReference>FraudAnalysisResponse.errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Authorization_Does_Not_Exist_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FraudAnalysisResponse.orderSummaryNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderSummaryNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FraudAnalysisResponse.isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Fraud_Response_Payment_Group_Doesnt_Exist</name>
        <label>Set Fraud Response Payment Group Doesnt Exist</label>
        <locationX>1363</locationX>
        <locationY>1369</locationY>
        <assignmentItems>
            <assignToReference>FraudAnalysisResponse.errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Group_Does_Not_Exist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FraudAnalysisResponse.orderSummaryNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderSummaryNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FraudAnalysisResponse.isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Order_Summary_Status_to_Canceled</name>
        <label>Set Order Summary Status to Canceled</label>
        <locationX>664</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>Get_Order_Summary.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Order_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Success_Fraud_Response</name>
        <label>Set Success Fraud Response</label>
        <locationX>174</locationX>
        <locationY>1169</locationY>
        <assignmentItems>
            <assignToReference>FraudAnalysisResponse.orderSummaryNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderSummaryNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FraudAnalysisResponse.orderStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Summary.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FraudAnalysisResponse.isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Order_Summary_Status_to_Validated</name>
        <label>Update Order Summary Status to Validated</label>
        <locationX>887</locationX>
        <locationY>918</locationY>
        <assignmentItems>
            <assignToReference>Get_Order_Summary.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Customer_Token</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Fraud_Analysis_Accepted</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ACCEPT</stringValue>
        </value>
    </constants>
    <constants>
        <name>Fraud_Analysis_Decision_Not_Supported</name>
        <dataType>String</dataType>
        <value>
            <stringValue>The fraud analysis decision is not supported.</stringValue>
        </value>
    </constants>
    <constants>
        <name>Fraud_Analysis_Rejected</name>
        <dataType>String</dataType>
        <value>
            <stringValue>REJECT</stringValue>
        </value>
    </constants>
    <constants>
        <name>Order_Summary_Created_Status</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Created</stringValue>
        </value>
    </constants>
    <constants>
        <name>PaymentAuthorization_Doesnt_Exist</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PaymentAuthorization does not exist.</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Customer_Token</name>
        <label>Check Customer Token</label>
        <locationX>1148</locationX>
        <locationY>1042</locationY>
        <defaultConnector>
            <targetReference>Update_Order_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Customer Token Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Customer_Token_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customerToken</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment_Group</targetReference>
            </connector>
            <label>Customer Token Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Fraud_Analysis_Decision</name>
        <label>Check Fraud Analysis Decision</label>
        <locationX>953</locationX>
        <locationY>605</locationY>
        <defaultConnector>
            <targetReference>Set_Fraud_Analysis_Response_Fraud_Decision_Not_Supported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fraud Decision Not Supported</defaultConnectorLabel>
        <rules>
            <name>Fraud_Analysis_Accept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fraudReviewDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Fraud_Analysis_Accepted</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Summary_Status_to_Validated</targetReference>
            </connector>
            <label>Fraud Analysis Accept</label>
        </rules>
        <rules>
            <name>Fraud_Analysis_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fraudReviewDecision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Fraud_Analysis_Rejected</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Summary_Status_to_Canceled</targetReference>
            </connector>
            <label>Fraud Analysis Reject</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Summary</name>
        <label>Check Order Summary</label>
        <locationX>714</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>Set_Fraud_Analysis_Response_Unmanaged_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Order Summary Unmanaged</defaultConnectorLabel>
        <rules>
            <name>Order_Summary_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fraud_Response_Order_Summary_Doesnt_Exist</targetReference>
            </connector>
            <label>Order Summary Does Not Exist</label>
        </rules>
        <rules>
            <name>Order_Summary_Managed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary.OrderLifeCycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MANAGED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_Order_Summary_Status</targetReference>
            </connector>
            <label>Order Summary Managed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Summary_Status</name>
        <label>Check Order Summary Status</label>
        <locationX>1148</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>Set_Fraud_Analysis_Response_Invalid_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Order Summary Status Is Not Valid</defaultConnectorLabel>
        <rules>
            <name>Order_Summary_Status_Is_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Fraud_Analysis_Decision</targetReference>
            </connector>
            <label>Order Summary Status Is Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Payment_Authorization</name>
        <label>Check Payment Authorization</label>
        <locationX>1117</locationX>
        <locationY>1532</locationY>
        <defaultConnector>
            <targetReference>Set_Fraud_Response_Payment_Authorization_Doesnt_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Payment Authorization Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Payment_Authorization_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Authorization</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Token_For_Payment_Authorization</targetReference>
            </connector>
            <label>Payment Authorization Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Payment_Group</name>
        <label>Check Payment Group</label>
        <locationX>569</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Set_Fraud_Response_Payment_Group_Doesnt_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Payment Group Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Payment_Group_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Payment_Group.SourceObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment_Authorization</targetReference>
            </connector>
            <label>Payment Group Exist</label>
        </rules>
    </decisions>
    <formulas>
        <name>Fraud_Review_Decision_Not_Supported_Message</name>
        <dataType>String</dataType>
        <expression>&quot;The fraud review decision &quot; &amp; {!fraudReviewDecision} &amp; &quot; is not supported.&quot;</expression>
    </formulas>
    <formulas>
        <name>Order_Summary_Status_Is_Not_Valid_Message</name>
        <dataType>String</dataType>
        <expression>&quot;Cannot update Order Summary number &quot; &amp; {!orderSummaryNumber} &amp; &quot; because the current status is &quot; &amp; {!Current_Order_Summary_Status}</expression>
    </formulas>
    <formulas>
        <name>OrderSummary_Does_Not_Exist</name>
        <dataType>String</dataType>
        <expression>&quot;Order Summary number &quot; &amp; {!orderSummaryNumber} &amp; &quot; doesn&apos;t exist.&quot;</expression>
    </formulas>
    <formulas>
        <name>Payment_Authorization_Does_Not_Exist_Message</name>
        <dataType>String</dataType>
        <expression>&quot;Cannot update the customer token; the Payment Authorization linked to Order Summary number &quot; &amp; {!orderSummaryNumber} &amp; &quot; does not exist.&quot;</expression>
    </formulas>
    <formulas>
        <name>Payment_Group_Does_Not_Exist</name>
        <dataType>String</dataType>
        <expression>&quot;Cannot update the customer token; the Payment Group linked to Order Summary number &quot; &amp; {!orderSummaryNumber} &amp; &quot; does not exist.&quot;</expression>
    </formulas>
    <interviewLabel>SOM_Fraud_FraudAnalysisHandler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM_Fraud_FraudAnalysisHandler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>723</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Order_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orderSummaryNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Authorization</name>
        <label>Get Payment Authorization</label>
        <locationX>866</locationX>
        <locationY>1523</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Payment_Authorization</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PaymentGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PaymentAuthorization</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Group</name>
        <label>Get Payment Group</label>
        <locationX>746</locationX>
        <locationY>1318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Payment_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary.OriginalOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PaymentGroup</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Summary</name>
        <label>Update Order Summary</label>
        <locationX>480</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Set_Success_Fraud_Response</targetReference>
        </connector>
        <inputReference>Get_Order_Summary</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_Authorization</name>
        <label>Update Payment Authorization</label>
        <locationX>480</locationX>
        <locationY>1698</locationY>
        <connector>
            <targetReference>Update_Order_Summary</targetReference>
        </connector>
        <inputReference>Get_Payment_Authorization</inputReference>
    </recordUpdates>
    <start>
        <locationX>597</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Current_Order_Summary_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customerToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FraudAnalysisResponse</name>
        <apexClass>FraudAnalysisResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>fraudReviewDecision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderSummaryNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
