unpackaged/main/default/flows/SOM_Reset_ProcessException_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Update_Unresolved_PEs_c</name>
        <label>Update Unresolved_PEs__c</label>
        <locationX>860</locationX>
        <locationY>577</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_Order_Product_Summary.Unresolved_PEs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProductSummToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Order_Product_Summary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Order_Product_Summary</targetReference>
        </connector>
    </assignments>
    <interviewLabel>SOM - Reset ProcessException Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM - Reset ProcessException Number</label>
    <loops>
        <name>Loop_Over_Order_Product_Summary</name>
        <label>Loop Over Order Product Summary</label>
        <locationX>707</locationX>
        <locationY>507</locationY>
        <collectionReference>Get_Order_Product_Summary</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Unresolved_PEs_c</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Product_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Product_Summary</name>
        <label>Get Order Product Summary</label>
        <locationX>769</locationX>
        <locationY>372</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Order_Product_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Product_Summary</name>
        <label>Update Order Product Summary</label>
        <locationX>1019</locationX>
        <locationY>487</locationY>
        <inputReference>OrderProductSummToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>646</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Order_Product_Summary</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>OrderSummary</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderProductSummToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
</Flow>
