unpackaged/main/default/flows/SOM_960_Exchange_Manual_Order_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_CustomCountries</name>
        <label>Assign CustomCountries</label>
        <locationX>651</locationX>
        <locationY>1652</locationY>
        <assignmentItems>
            <assignToReference>C_Custom_Countries_After_Split</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FX_Single_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_Custom_Countries_Before_Split</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Other_Countries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Custom_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CustomCountry</name>
        <label>Assign CustomCountry</label>
        <locationX>463</locationX>
        <locationY>1300</locationY>
        <assignmentItems>
            <assignToReference>S_Custom_Countries_Before_Split</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Locations.CustomCountry__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Custom_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fields</name>
        <label>Assign Fields</label>
        <locationX>334</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>v_ODGOutput.OrderDeliveryMethodId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_ODMOutput.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_orderOutput.OriginalOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OS_record.OriginalOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_orderOutput.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OS_record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_orderOutput.language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OS_record.language__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Initial_Data_for_ListItems_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Id_for_URL</name>
        <label>Assign Id for URL</label>
        <locationX>2259</locationX>
        <locationY>1412</locationY>
        <assignmentItems>
            <assignToReference>V_URLorderSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OS_Newly_created.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_success</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Legal_And_VATId_RO</name>
        <label>Assign Legal And VATId RO</label>
        <locationX>2061</locationX>
        <locationY>1589</locationY>
        <assignmentItems>
            <assignToReference>VATId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OS_from_RO.VAT_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OS_from_RO.Legal_Entity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_VAT_AND_Legal_Entity_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LegalEntity_AND_VATId_OS</name>
        <label>Assign LegalEntity AND VATId OS</label>
        <locationX>2042</locationX>
        <locationY>1296</locationY>
        <assignmentItems>
            <assignToReference>VATId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OS_record.VAT_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LegalEntity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OS_record.Legal_Entity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_VAT_AND_Legal_Entity_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LocationsIds</name>
        <label>Assign_LocationsIds</label>
        <locationX>809</locationX>
        <locationY>1296</locationY>
        <assignmentItems>
            <assignToReference>LocationsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Locations.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Order_Product_Tax_Line_Item</name>
        <label>Assign Order Product Tax Line Item</label>
        <locationX>1568</locationX>
        <locationY>1141</locationY>
        <assignmentItems>
            <assignToReference>S_OrderTaxLineItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_TaxName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderTaxLineItem.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Estimated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderTaxLineItem.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_TaxValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderTaxLineItem.Rate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L10_Loop_over_OutputLines.taxRate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderTaxLineItem.TaxEffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stack_Order_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OrderItem_Data</name>
        <label>Assign OrderItem Data</label>
        <locationX>1446</locationX>
        <locationY>959</locationY>
        <assignmentItems>
            <assignToReference>S_OrderItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L10_Loop_over_OutputLines.productId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L10_Loop_over_OutputLines.quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItem.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L10_Loop_over_OutputLines.description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItem.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItem.LineNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L10_Loop_over_OutputLines.lineNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L10_Loop_over_OutputLines.pbEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItem.TotalLineAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_LineSubtotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_UnitPriceWithoutTax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItem.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>V_Input_CurrencyCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItem.Exchanged_from_ROLI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L10_Loop_over_OutputLines.roliID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItem.GrossUnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L10_Loop_over_OutputLines.unitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Product_by_productId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OrderItem_Data_0</name>
        <label>Assign OrderItem Data</label>
        <locationX>1317</locationX>
        <locationY>1042</locationY>
        <assignmentItems>
            <assignToReference>S_OrderItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L10_Loop_over_OutputLines.productId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L10_Loop_over_OutputLines.quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItem.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L10_Loop_over_OutputLines.description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItem.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItem.LineNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L10_Loop_over_OutputLines.lineNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L10_Loop_over_OutputLines.pbEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItem.TotalLineAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_LineSubtotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_UnitPriceWithoutTax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItem.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>V_Input_CurrencyCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItem.Exchanged_from_ROLI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L10_Loop_over_OutputLines.roliID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItem.GrossUnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L10_Loop_over_OutputLines.unitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Product_by_productId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_SKU</name>
        <label>Assign Product SKU</label>
        <locationX>1995</locationX>
        <locationY>1078</locationY>
        <assignmentItems>
            <assignToReference>ProductSKU</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Products.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Data</name>
        <label>Clear Data</label>
        <locationX>1098</locationX>
        <locationY>1141</locationY>
        <assignmentItems>
            <assignToReference>S_OrderItem</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderTaxLineItem</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>L10_Loop_over_OutputLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_reserved_at_location_Id</name>
        <label>Remove reserved at location Id</label>
        <locationX>1503</locationX>
        <locationY>1587</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_new_Order_Product_Summaries.ReservedAtLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C_Order_Product_Summaries_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_new_Order_Product_Summaries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_new_Order_Product_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_fields</name>
        <label>Set fields</label>
        <locationX>719</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>v_ODGOutput.OrderDeliveryMethodId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_ODMOutput.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_orderOutput.OriginalOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OS_from_RO.OriginalOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_orderOutput.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OS_from_RO.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_orderOutput.OriginalReturnOrder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_orderOutput.language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OS_from_RO.language__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Initial_Data_for_ListItems_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Initial_Data_for_ListItems_Screen</name>
        <label>Set Initial Data for ListItems Screen</label>
        <locationX>562</locationX>
        <locationY>976</locationY>
        <assignmentItems>
            <assignToReference>V_Input_CountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_ODGOutput.DeliverToCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OrderItem_LocationId</name>
        <label>Set OrderItem LocationId</label>
        <locationX>1659</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>S_OrderItem.ReservedAtLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L20_Loop_Over_Filtered_Locations.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L20_Loop_Over_Filtered_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OS_id</name>
        <label>Set OS id</label>
        <locationX>940</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>OsId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OS_from_RO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_Input_IsFromReturn</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_Input_ReturnOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_Input_PriceBookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OS_from_RO.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_Input_CurrencyCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OS_from_RO.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Shipping_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OS_Id2</name>
        <label>Set OS Id</label>
        <locationX>167</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>OsId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OS_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_Input_IsFromReturn</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_Input_ReturnOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_Input_PriceBookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OS_record.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_Input_CurrencyCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OS_record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Shipping_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stack_Order_Items</name>
        <label>Stack Order Items</label>
        <locationX>1402</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>C_OrderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_OrderItem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>test_var</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>C_OrderItems</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C_OrderTaxLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_OrderTaxLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Data</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Location_by_ExternlReference</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Location by ExternlReference</label>
        <locationX>1126</locationX>
        <locationY>815</locationY>
        <assignNextValueToReference>currentItem_Filter_Location_by_ExternlReference_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Locations</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Location_by_ExternlReference_0.ExternalReference</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>L10_Loop_over_OutputLines.location</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>L20_Loop_Over_Filtered_Locations</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Product_by_productId</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Product by productId</label>
        <locationX>1570</locationX>
        <locationY>1019</locationY>
        <assignNextValueToReference>currentItem_Filter_Product_by_productId</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Product_SKU</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Product_by_productId.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>L10_Loop_over_OutputLines.productId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Over_Products</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Custom_Locations</name>
        <label>Check_Custom_Locations</label>
        <locationX>639</locationX>
        <locationY>1483</locationY>
        <defaultConnector>
            <targetReference>Assign_CustomCountries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unique_Country</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>S_Custom_Countries_Before_Split</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>v_ODGOutput.DeliverToCountry</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FX_Single_Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>v_ODGOutput.DeliverToCountry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LocationsIds</targetReference>
            </connector>
            <label>Unique Country</label>
        </rules>
        <rules>
            <name>Check_Digits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FX_Digits</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>S_Custom_Countries_Before_Split</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>v_ODGOutput.DeliverToCountry</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Locations</targetReference>
            </connector>
            <label>Check Digits</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Product_Family</name>
        <label>Check Product Family</label>
        <locationX>1260</locationX>
        <locationY>916</locationY>
        <defaultConnector>
            <targetReference>Assign_OrderItem_Data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>L10_Loop_over_OutputLines.family</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DELIVERY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OrderItem_Data_0</targetReference>
            </connector>
            <label>Delivery</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_from_RO</name>
        <label>is from RO</label>
        <locationX>513</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Set_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>from RO</defaultConnectorLabel>
        <rules>
            <name>from_OS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_Input_IsFromReturn</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fields</targetReference>
            </connector>
            <label>from OS</label>
        </rules>
    </decisions>
    <decisions>
        <name>OS_or_RO</name>
        <label>OS or RO</label>
        <locationX>519</locationX>
        <locationY>261</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1Os</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OS_record</targetReference>
            </connector>
            <label>OS</label>
        </rules>
        <rules>
            <name>RO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>2oN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RO</targetReference>
            </connector>
            <label>RO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Updating_VAT_and_LegalEntity_OS_RO</name>
        <label>Updating VAT and LegalEntity OS/RO</label>
        <locationX>1801</locationX>
        <locationY>1426</locationY>
        <defaultConnectorLabel>Defaultoutcome</defaultConnectorLabel>
        <rules>
            <name>OS_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OS_or_RO</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <elementReference>OS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_LegalEntity_AND_VATId_OS</targetReference>
            </connector>
            <label>OS_Outcome</label>
        </rules>
        <rules>
            <name>RO_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OS_or_RO</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <elementReference>RO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Legal_And_VATId_RO</targetReference>
            </connector>
            <label>RO_Outcome</label>
        </rules>
    </decisions>
    <description>Update VAT and Legal Entity On based on the original OS</description>
    <environments>Default</environments>
    <formulas>
        <name>FX_Digits</name>
        <dataType>Number</dataType>
        <expression>LEN({!S_Custom_Countries_Before_Split})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FX_LineSubtotal</name>
        <dataType>Number</dataType>
        <expression>{!FX_UnitPriceWithoutTax} * {!L10_Loop_over_OutputLines.quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FX_Other_Countries</name>
        <dataType>String</dataType>
        <expression>RIGHT({!S_Custom_Countries_Before_Split}, LEN({!S_Custom_Countries_Before_Split})-FIND(&apos;;&apos;, {!S_Custom_Countries_Before_Split}))</expression>
    </formulas>
    <formulas>
        <name>FX_Single_Country</name>
        <dataType>String</dataType>
        <expression>LEFT({!S_Custom_Countries_Before_Split}, FIND(&apos;;&apos;,{!S_Custom_Countries_Before_Split})-1)</expression>
    </formulas>
    <formulas>
        <name>FX_SuccessMsg</name>
        <dataType>String</dataType>
        <expression>IF({!V_Input_IsFromReturn},&quot;The exchange order  &quot; , &quot;The manual order  &quot; )</expression>
    </formulas>
    <formulas>
        <name>FX_TaxName</name>
        <dataType>String</dataType>
        <expression>{!ProductSKU} + &quot;  - TAX &quot;</expression>
    </formulas>
    <formulas>
        <name>FX_TaxValue</name>
        <dataType>Number</dataType>
        <expression>{!L10_Loop_over_OutputLines.taxValue} * {!L10_Loop_over_OutputLines.quantity}</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>FX_UnitPriceWithoutTax</name>
        <dataType>Number</dataType>
        <expression>{!L10_Loop_over_OutputLines.unitPrice} - {!L10_Loop_over_OutputLines.taxValue}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SOM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 960 Exchange/Manual Order Creation</label>
    <loops>
        <name>L10_Loop_over_OutputLines</name>
        <label>L10 Loop over OutputLines</label>
        <locationX>970</locationX>
        <locationY>1141</locationY>
        <collectionReference>C_Output_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Location_by_ExternlReference</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_the_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L20_Loop_Over_Filtered_Locations</name>
        <label>L20 Loop Over Filtered Locations</label>
        <locationX>1401</locationX>
        <locationY>815</locationY>
        <collectionReference>Filter_Location_by_ExternlReference</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_OrderItem_LocationId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Product_Family</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Locations</name>
        <label>Loop Locations</label>
        <locationX>648</locationX>
        <locationY>1296</locationY>
        <collectionReference>Get_Locations_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CustomCountry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Locations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_new_Order_Product_Summaries</name>
        <label>Loop Over new Order Product Summaries</label>
        <locationX>1500</locationX>
        <locationY>1424</locationY>
        <collectionReference>Get_Order_Product_Summaries_newly_created</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Remove_reserved_at_location_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Product_Summaries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Products</name>
        <label>Loop Over Products</label>
        <locationX>1774</locationX>
        <locationY>1077</locationY>
        <collectionReference>Filter_Product_by_productId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Product_SKU</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Order_Product_Tax_Line_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Locations</name>
        <label>Get Locations</label>
        <locationX>721</locationX>
        <locationY>1143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_SKU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>LocationsIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ExternalReference</queriedFields>
        <queriedFields>CustomCountry__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Locations_0</name>
        <label>Get Locations</label>
        <locationX>549</locationX>
        <locationY>1137</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Locations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomCountry__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product_Summaries_newly_created</name>
        <label>Get Order Product Summaries newly created</label>
        <locationX>1330</locationX>
        <locationY>1424</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_new_Order_Product_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OS_Newly_created.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OS_from_RO</name>
        <label>Get OS from RO</label>
        <locationX>940</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_OS_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RO.OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OS_Newly_created</name>
        <label>Get OS Newly created</label>
        <locationX>1126</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Product_Summaries_newly_created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_NewOrderSummaryNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OS_record</name>
        <label>Get OS record</label>
        <locationX>169</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_OS_Id2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_SKU</name>
        <label>Get Products SKU</label>
        <locationX>833</locationX>
        <locationY>1141</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>L10_Loop_over_OutputLines</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StockKeepingUnit</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RO</name>
        <label>Get RO</label>
        <locationX>771</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OS_from_RO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Product_Summaries</name>
        <label>Update Order Product Summaries</label>
        <locationX>1688</locationX>
        <locationY>1425</locationY>
        <connector>
            <targetReference>Updating_VAT_and_LegalEntity_OS_RO</targetReference>
        </connector>
        <inputReference>C_Order_Product_Summaries_To_Update</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_VAT_AND_Legal_Entity_Field</name>
        <label>Update VAT AND Legal Entity Field</label>
        <locationX>2049</locationX>
        <locationY>1426</locationY>
        <connector>
            <targetReference>Assign_Id_for_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OS_Newly_created.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Legal_Entity__c</field>
            <value>
                <elementReference>LegalEntity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT_ID__c</field>
            <value>
                <elementReference>VATId</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_VAT_AND_Legal_Entity_Field_RO</name>
        <label>Update VAT AND Legal Entity Field RO</label>
        <locationX>1974</locationX>
        <locationY>1725</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OS_Newly_created.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Legal_Entity__c</field>
            <value>
                <elementReference>Update_VAT_AND_Legal_Entity_Field</elementReference>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <screens>
        <name>Billing_Shipping_Info</name>
        <label>Billing Shipping Info</label>
        <locationX>520</locationX>
        <locationY>472</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>is_from_RO</targetReference>
        </connector>
        <fields>
            <name>LWCBillingShippingInfo</name>
            <extensionName>c:som_ExchangeOrderCreation_Component</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>OsId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>prevODGObj</name>
                <value>
                    <elementReference>v_prevODG</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>prevselectedODM</name>
                <value>
                    <elementReference>v_prevODM</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>prevOSObj</name>
                <value>
                    <elementReference>v_prevOS</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>OsId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>v_ODGOutput</assignToReference>
                <name>odgObj</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>v_ODMOutput</assignToReference>
                <name>selectedODM</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>v_orderOutput</assignToReference>
                <name>osObj</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>v_prevODG</assignToReference>
                <name>prevODGObj</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>v_prevOS</assignToReference>
                <name>prevOSObj</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>v_prevODM</assignToReference>
                <name>prevselectedODM</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Items</name>
        <label>Display Items</label>
        <locationX>418</locationX>
        <locationY>1135</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Locations_0</targetReference>
        </connector>
        <fields>
            <name>displayExistingLines</name>
            <extensionName>c:somLwcDisplayOrderItems</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>countryCode</name>
                <value>
                    <elementReference>V_Input_CountryCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currencyCode</name>
                <value>
                    <elementReference>V_Input_CurrencyCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFromReturn</name>
                <value>
                    <elementReference>V_Input_IsFromReturn</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>priceBookId</name>
                <value>
                    <elementReference>V_Input_PriceBookId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummaryId</name>
                <value>
                    <elementReference>OsId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>returnOrderId</name>
                <value>
                    <elementReference>V_Input_ReturnOrderId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>InputLineItems</name>
                <value>
                    <elementReference>C_IpnutDisplayLineItems</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>C_Output_Items</assignToReference>
                <name>OutputLineItems</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>C_IpnutDisplayLineItems</assignToReference>
                <name>InputLineItems</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_success</name>
        <label>screen success</label>
        <locationX>2394</locationX>
        <locationY>1408</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success_mesg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!FX_SuccessMsg}&lt;/span&gt;&lt;a href=&quot;/{!V_URLorderSummary}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;{!v_NewOrderSummaryNumber}&lt;/a&gt;  &lt;span style=&quot;font-size: 16px;&quot;&gt;is successfully created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>406</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>OS_or_RO</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_the_Order</name>
        <label>Create the Order</label>
        <locationX>973</locationX>
        <locationY>1432</locationY>
        <connector>
            <targetReference>Get_OS_Newly_created</targetReference>
        </connector>
        <flowName>SOM_970_Create_Exchange_Manual_Order</flowName>
        <inputAssignments>
            <name>v_SourceODG</name>
            <value>
                <elementReference>v_ODGOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_SourceOrder</name>
            <value>
                <elementReference>v_orderOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_SourceOrderItems</name>
            <value>
                <elementReference>C_OrderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_SourceOrderTaxLines</name>
            <value>
                <elementReference>C_OrderTaxLineItem</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>v_NewOrderSummaryNumber</assignToReference>
            <name>v_orderSummaryNumber</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>C_Custom_Countries_After_Split</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_IpnutDisplayLineItems</name>
        <apexClass>SOM_Wr_DisplayLineItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_Order_Product_Summaries_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>C_OrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>C_OrderTaxLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItemTaxLineItem</objectType>
    </variables>
    <variables>
        <name>C_Output_Items</name>
        <apexClass>SOM_Wr_DisplayLineItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>c_ROLIsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Location_by_ExternlReference_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Product_by_productId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>LegalEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LocationsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OsId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductSKU</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_Custom_Countries_Before_Split</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_Filtred_Location</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>S_OrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>S_OrderTaxLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemTaxLineItem</objectType>
    </variables>
    <variables>
        <name>test_var</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>V_Input_CountryCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_Input_CurrencyCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_Input_IsFromReturn</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_Input_PriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_Input_ReturnOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_NewOrderSummaryNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_ODGOutput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderDeliveryGroup</objectType>
    </variables>
    <variables>
        <name>v_ODMOutput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderDeliveryMethod</objectType>
    </variables>
    <variables>
        <name>v_orderOutput</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>v_prevODG</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroup</objectType>
    </variables>
    <variables>
        <name>v_prevODM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryMethod</objectType>
    </variables>
    <variables>
        <name>v_prevOS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>v_ROLItoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>V_URLorderSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VATId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
