unpackaged/main/default/flows/SOM_814_OCI_Create_Reservation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Reservation</name>
        <label>Create Reservation</label>
        <locationX>803</locationX>
        <locationY>1181</locationY>
        <actionName>ociCreateReservation</actionName>
        <actionType>ociCreateReservation</actionType>
        <connector>
            <targetReference>Process_Output_Results</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ociCreateReservationInput</name>
            <value>
                <elementReference>C10_CreateReservation_IR</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Second_UUID</name>
        <label>Generate Second UUID</label>
        <locationX>1612</locationX>
        <locationY>1544</locationY>
        <actionName>SOM_FlowUtils_UuidGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_wrongful_reservations</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_UUID</name>
        <label>Generate UUID</label>
        <locationX>614</locationX>
        <locationY>863</locationY>
        <actionName>SOM_FlowUtils_UuidGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Reship_From_Return</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Release_Wrongful_Reservations</name>
        <label>Release Wrongful Reservations</label>
        <locationX>1356</locationX>
        <locationY>1944</locationY>
        <actionName>ociReleaseReservation</actionName>
        <actionType>ociReleaseReservation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ociReleaseReservationInput</name>
            <value>
                <elementReference>C60_ReleaseReservation_IR</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_CreateReservation_Values</name>
        <label>Assign CreateReservation Values</label>
        <locationX>611</locationX>
        <locationY>1176</locationY>
        <assignmentItems>
            <assignToReference>C10_CreateReservation_IR.actionRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_UUID.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C10_CreateReservation_IR.allowPartialReservations</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Reservation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Info_Flag</name>
        <label>Assign Error Info + Flag</label>
        <locationX>1884</locationX>
        <locationY>968</locationY>
        <assignmentItems>
            <assignToReference>L33_Reservations.reservationImpossible</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>L33_Reservations.quantityAvailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Qty_from_OCI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>L33_Reservations.quantityUnavailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Qty_Unavailable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>L33_Reservations.errorCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L22_Single_Outputs.errorCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FLAG_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>L33_Reservations.quantityReserved</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Qty_from_OCI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_PE_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_External_Ref_with_OS</name>
        <label>Assign External Ref with OS</label>
        <locationX>429</locationX>
        <locationY>1052</locationY>
        <assignmentItems>
            <assignToReference>C10_CreateReservation_IR.externalRefId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OSLI_s_SKU.OrderSummary.OrderNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CreateReservation_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_External_Ref_with_Return</name>
        <label>Assign External Ref with Return</label>
        <locationX>225</locationX>
        <locationY>1183</locationY>
        <assignmentItems>
            <assignToReference>C10_CreateReservation_IR.externalRefId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RO.ReturnOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CreateReservation_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Location_ID</name>
        <label>Assign Location ID</label>
        <locationX>1647</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>S10_CreateReservationSingle_IR.locationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Location_Identifier.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S20_Reservation.locationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Location_Identifier.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S20_Reservation.locationName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Location_Identifier.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S20_Reservation.locationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Location_Identifier.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S20_Reservation.locationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Location_Identifier.LocationType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stack_CreateReservation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_LocationGroup_ID</name>
        <label>Assign LocationGroup ID</label>
        <locationX>1339</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>S10_CreateReservationSingle_IR.locationGroupIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LocationGroup.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S20_Reservation.locationGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LocationGroup.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S20_Reservation.locationName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LocationGroup.LocationGroupName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S20_Reservation.locationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_LocationGroup.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stack_CreateReservation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OK_Info</name>
        <label>Assign OK Info</label>
        <locationX>1885</locationX>
        <locationY>1365</locationY>
        <assignmentItems>
            <assignToReference>L33_Reservations.reservationCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>L33_Reservations.quantityAvailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Qty_from_OCI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>L33_Reservations.quantityUnavailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>L33_Reservations.errorCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L22_Single_Outputs.errorCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>L33_Reservations.errorCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>L33_Reservations.quantityReserved</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Qty_from_OCI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FLAG_Success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stack_to_OK_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Process_Exception_Values</name>
        <label>Assign Process Exception Values</label>
        <locationX>1461</locationX>
        <locationY>968</locationY>
        <assignmentItems>
            <assignToReference>S_ProcessException.AttachedToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L33_Reservations.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_ProcessException.Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_ProcessException.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PE_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_ProcessException.Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Insufficient Stock</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_ProcessException.OrderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L33_Reservations.orderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_ProcessException.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_ProcessException.Severity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_ProcessException.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stack_to_Error_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SKU_to_S1</name>
        <label>Assign SKU to S1</label>
        <locationX>948</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>S10_CreateReservationSingle_IR.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OSLI_s_SKU.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S10_CreateReservationSingle_IR.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L11_Fulfill_Items.quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S20_Reservation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OSLI_s_SKU.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S20_Reservation.productName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OSLI_s_SKU.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S20_Reservation.quantityRequested</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L11_Fulfill_Items.quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S20_Reservation.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OSLI_s_SKU.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S20_Reservation.orderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OSLI_s_SKU.OrderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_wrongful_reservations</name>
        <label>Assign wrongful reservations</label>
        <locationX>1612</locationX>
        <locationY>1687</locationY>
        <assignmentItems>
            <assignToReference>S60_ReleaseReservationSingle_IR.locationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L44_To_release_wrongful_reservations.locationIdentifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S60_ReleaseReservationSingle_IR.actionRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Second_UUID.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S60_ReleaseReservationSingle_IR.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L44_To_release_wrongful_reservations.quantityReserved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S60_ReleaseReservationSingle_IR.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L44_To_release_wrongful_reservations.stockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stack_Wrongful_Reservations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Process_Output_Results</name>
        <label>Process Output Results</label>
        <locationX>944</locationX>
        <locationY>1181</locationY>
        <assignmentItems>
            <assignToReference>C30_CreateReservationSingle_OR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Reservation.ociCreateReservationOutput.details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L22_Single_Outputs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_PE_Description</name>
        <label>Reset PE Description</label>
        <locationX>1734</locationX>
        <locationY>968</locationY>
        <assignmentItems>
            <assignToReference>PE_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unable to create Reservation :</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_PE_Description</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PE_Description</name>
        <label>Set PE Description</label>
        <locationX>1587</locationX>
        <locationY>968</locationY>
        <assignmentItems>
            <assignToReference>PE_Description</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FX_PE_Description_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Process_Exception_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stack_CreateReservation</name>
        <label>Stack CreateReservation</label>
        <locationX>1647</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>C10_CreateReservation_IR.createRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S10_CreateReservationSingle_IR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C20_Reservations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S20_Reservation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L11_Fulfill_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stack_to_Error_List</name>
        <label>Stack to Error List</label>
        <locationX>1334</locationX>
        <locationY>968</locationY>
        <assignmentItems>
            <assignToReference>C40_Errors_On_Reservation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L33_Reservations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C_ProcessExceptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_ProcessException</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L33_Reservations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stack_to_OK_List</name>
        <label>Stack to OK List</label>
        <locationX>1334</locationX>
        <locationY>1365</locationY>
        <assignmentItems>
            <assignToReference>C50_OKs_On_Reservation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L33_Reservations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L33_Reservations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stack_Wrongful_Reservations</name>
        <label>Stack Wrongful Reservations</label>
        <locationX>1612</locationX>
        <locationY>1845</locationY>
        <assignmentItems>
            <assignToReference>C60_ReleaseReservation_IR.releaseRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S60_ReleaseReservationSingle_IR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L44_To_release_wrongful_reservations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Generate_Process_Exceptions</name>
        <label>Generate Process Exceptions ?</label>
        <locationX>1088</locationX>
        <locationY>1429</locationY>
        <defaultConnector>
            <targetReference>Need_to_release_reservations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>Yes_create_PEs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C_ProcessExceptions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Process_Exceptions</targetReference>
            </connector>
            <label>Yes create PEs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_error_code</name>
        <label>Has error code</label>
        <locationX>1878</locationX>
        <locationY>1179</locationY>
        <defaultConnector>
            <targetReference>Assign_OK_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>🟢 Success</defaultConnectorLabel>
        <rules>
            <name>OCI_Error</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>L22_Single_Outputs.quantity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>L33_Reservations.quantityRequested</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_Info_Flag</targetReference>
            </connector>
            <label>🔴 OCI Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reship_From_Return</name>
        <label>Is Reship From Return?</label>
        <locationX>428</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Assign_External_Ref_with_OS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_From_Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_RO_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>V_RO_Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RO</targetReference>
            </connector>
            <label>Is From Return</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Type</name>
        <label>Location Type</label>
        <locationX>1172</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_LocationGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Location Group</defaultConnectorLabel>
        <rules>
            <name>Single_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>L11_Fulfill_Items.locationId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>131</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Location_Identifier</targetReference>
            </connector>
            <label>Single Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matching_Reservation</name>
        <label>Matching Reservation</label>
        <locationX>1556</locationX>
        <locationY>1181</locationY>
        <defaultConnector>
            <targetReference>L33_Reservations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Reservation_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>L33_Reservations.locationIdentifier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>L22_Single_Outputs.locationIdentifier</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>L33_Reservations.stockKeepingUnit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>L22_Single_Outputs.stockKeepingUnit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_error_code</targetReference>
            </connector>
            <label>Reservation Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_release_reservations</name>
        <label>Need to release reservations ?</label>
        <locationX>1087</locationX>
        <locationY>1680</locationY>
        <defaultConnectorLabel>✅ No errors</defaultConnectorLabel>
        <rules>
            <name>Need_to_release</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FLAG_Error</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FLAG_Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L44_To_release_wrongful_reservations</targetReference>
            </connector>
            <label>❌ Need to release</label>
        </rules>
    </decisions>
    <formulas>
        <name>FX_externalRefId</name>
        <dataType>String</dataType>
        <expression>{!Get_OSLI_s_SKU.OrderSummary.OrderNumber}</expression>
    </formulas>
    <formulas>
        <name>FX_PE_Description_Line_Item</name>
        <dataType>String</dataType>
        <expression>BR() + &quot;SKU : &quot; + {!L22_Single_Outputs.stockKeepingUnit} + BR() +&quot;Quantity : &quot; + TEXT( {!L33_Reservations.quantityRequested} ) + BR() + &quot;Location :  &quot; + {!L33_Reservations.locationName}</expression>
    </formulas>
    <formulas>
        <name>FX_Qty_from_OCI</name>
        <dataType>Number</dataType>
        <expression>IF( ISNULL( {!L22_Single_Outputs.quantity} ) , 0 , {!L22_Single_Outputs.quantity} )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_Qty_Unavailable</name>
        <dataType>Number</dataType>
        <expression>{!L33_Reservations.quantityRequested} - {!FX_Qty_from_OCI}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SOM 814 - OCI Create Reservation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 814 - OCI Create Reservation</label>
    <loops>
        <name>L11_Fulfill_Items</name>
        <label>L11 - Fulfill Items</label>
        <locationX>614</locationX>
        <locationY>693</locationY>
        <collectionReference>C00_FulfillItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_OSLI_s_SKU</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_UUID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L22_Single_Outputs</name>
        <label>L22 - Single Outputs</label>
        <locationX>1096</locationX>
        <locationY>1181</locationY>
        <collectionReference>C30_CreateReservationSingle_OR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>L33_Reservations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_Process_Exceptions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L33_Reservations</name>
        <label>L33 - Reservations</label>
        <locationX>1333</locationX>
        <locationY>1179</locationY>
        <collectionReference>C20_Reservations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Matching_Reservation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>L22_Single_Outputs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L44_To_release_wrongful_reservations</name>
        <label>L44 - To release wrongful reservations</label>
        <locationX>1356</locationX>
        <locationY>1682</locationY>
        <collectionReference>C50_OKs_On_Reservation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Generate_Second_UUID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Release_Wrongful_Reservations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Process_Exceptions</name>
        <label>Create Process Exceptions</label>
        <locationX>880</locationX>
        <locationY>1552</locationY>
        <connector>
            <targetReference>Need_to_release_reservations</targetReference>
        </connector>
        <inputReference>C_ProcessExceptions</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Location_Identifier</name>
        <label>Get Location Identifier</label>
        <locationX>1180</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Location_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>L11_Fulfill_Items.locationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ExternalReference</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LocationType</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LocationGroup</name>
        <label>Get LocationGroup</label>
        <locationX>1181</locationX>
        <locationY>496</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_LocationGroup_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>L11_Fulfill_Items.locationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LocationGroup</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ExternalReference</queriedFields>
        <queriedFields>LocationGroupName</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OSLI_s_SKU</name>
        <label>Get OSLI&#39;s SKU</label>
        <locationX>615</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SKU_to_S1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>L11_Fulfill_Items.orderItemSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RO</name>
        <label>Get RO</label>
        <locationX>225</locationX>
        <locationY>860</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_External_Ref_with_Return</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>V_RO_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>145</locationX>
        <locationY>676</locationY>
        <connector>
            <targetReference>L11_Fulfill_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>C00_FulfillItems</name>
        <apexClass>runtime_commerce_oms__FulfillItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C10_CreateReservation_IR</name>
        <apexClass>ConnectApi__OCICreateReservationInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C20_Reservations</name>
        <apexClass>SOM_ADV_Reservation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C30_CreateReservationSingle_OR</name>
        <apexClass>ConnectApi__OCICreateReservationSingleOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C40_Errors_On_Reservation</name>
        <apexClass>SOM_ADV_Reservation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>C50_OKs_On_Reservation</name>
        <apexClass>SOM_ADV_Reservation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>C60_ReleaseReservation_IR</name>
        <apexClass>ConnectApi__OCIReleaseReservationInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_ProcessExceptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <description>If there is at least 1 error, this flag becomes true</description>
        <name>FLAG_Error</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FLAG_Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PE_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S00_FulfillItem</name>
        <apexClass>runtime_commerce_oms__FulfillItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S10_CreateReservationSingle_IR</name>
        <apexClass>ConnectApi__OCICreateReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S20_Reservation</name>
        <apexClass>SOM_ADV_Reservation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S60_ReleaseReservationSingle_IR</name>
        <apexClass>ConnectApi__OCIReleaseReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_ProcessException</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <name>TEST</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TEST_OUTPUT_ErrorCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>V_RO_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
