unpackaged/main/default/flows/SOM_430_Invoice_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_Fulfillment_Id_to_Coll</name>
        <label>Add Fulfillment Id to Coll</label>
        <locationX>391</locationX>
        <locationY>633</locationY>
        <assignmentItems>
            <assignToReference>S_NewFulfillmentShippedForCegid.FulfillementOrderId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Fulfillments_Orders.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C_NewFulfillmentShippedForCegid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_NewFulfillmentShippedForCegid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Fulfillments_Orders</targetReference>
        </connector>
    </assignments>
    <description>Rework of the shipment event to FulfillmentFulfilled event</description>
    <interviewLabel>SOM 430 - Invoice After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 430 - Invoice After Insert</label>
    <loops>
        <name>Iterate_Over_Fulfillments_Orders</name>
        <label>Iterate Over Fulfillments Orders</label>
        <locationX>393</locationX>
        <locationY>413</locationY>
        <collectionReference>Get_Fulfilllment_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Fulfillment_Id_to_Coll</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_NewFulfillmentShippedForCegid_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_NewFulfillmentShippedForCegid_Events</name>
        <label>Create NewFulfillmentShippedForCegid Events</label>
        <locationX>604</locationX>
        <locationY>409</locationY>
        <inputReference>C_NewFulfillmentShippedForCegid</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Fulfilllment_Orders</name>
        <label>Get Fulfilllment Orders</label>
        <locationX>245</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Fulfillments_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvoiceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrder</object>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>124</locationX>
        <locationY>5</locationY>
        <object>Invoice</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Run_After_0_Min</name>
            <connector>
                <targetReference>Get_Fulfilllment_Orders</targetReference>
            </connector>
            <label>Run After 0 Min</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>C_NewFulfillmentShippedForCegid</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NewFulfillmentShippedForCegid__e</objectType>
    </variables>
    <variables>
        <name>S_NewFulfillmentShippedForCegid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NewFulfillmentShippedForCegid__e</objectType>
    </variables>
</Flow>
