unpackaged/main/default/flows/SOM_220_CoreModel_Create_FulfillementOrders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Single_FO</name>
        <label>Create Single FO</label>
        <locationX>2639</locationX>
        <locationY>1616</locationY>
        <actionName>createFulfillmentOrder</actionName>
        <actionType>createFulfillmentOrder</actionType>
        <connector>
            <targetReference>Assign_FO_Ids</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderInput</name>
            <value>
                <elementReference>L30_FO_IR</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>S_FulfillmentOrderOutputRepresentation</assignToReference>
            <name>fulfillmentOrderOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_FO_Data_To_Update</name>
        <label>Assign FO Data To Update</label>
        <locationX>3116</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>S_FO_To_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L40_New_FOs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FO_To_Update.Capture_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Calcluate_FO_Capture_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_FO_Capture_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FO_Ids</name>
        <label>Assign FO Ids</label>
        <locationX>2298</locationX>
        <locationY>1700</locationY>
        <assignmentItems>
            <assignToReference>C_FOS_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_FulfillmentOrderOutputRepresentation.fulfillmentOrderIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L30_FO_IR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fulfillment_Group_Input_representation</name>
        <label>Assign Fulfillment Group Input representation</label>
        <locationX>2348</locationX>
        <locationY>912</locationY>
        <assignmentItems>
            <assignToReference>S_FulfillmentGroupInputRepresentation.fulfilledFromLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Filtered_Location.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentGroupInputRepresentation.fulfillmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfillmentType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentGroupInputRepresentation.orderItemSummaries</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C_OrderItemSummaryInputRepresentationCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentGroupInputRepresentation.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Counter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Fulfillment_Order_Input_Representation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fulfillment_Group_Input_representation_Preorder</name>
        <label>Assign Fulfillment Group Input representation Preorder</label>
        <locationX>2479</locationX>
        <locationY>908</locationY>
        <assignmentItems>
            <assignToReference>S_FulfillmentGroupInputRepPreorder.fulfilledFromLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Filtered_Location.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentGroupInputRepPreorder.fulfillmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfillmentType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentGroupInputRepPreorder.orderItemSummaries</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C_OrderItemSummaryInputRepPreorder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Fulfillment_Order_Input_Representation_Preorder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fulfillment_Order_Input_Representation</name>
        <label>Assign Fulfillment Order Input Representation</label>
        <locationX>2346</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>S_FulfillmentOrderInputRepresentation.fulfillmentGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_FulfillmentGroupInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentOrderInputRepresentation.orderDeliveryGroupSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L10_ODGS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentOrderInputRepresentation.orderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stack_FOIR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fulfillment_Order_Input_Representation_Preorder</name>
        <label>Assign Fulfillment Order Input Representation Preorder</label>
        <locationX>2513</locationX>
        <locationY>1277</locationY>
        <assignmentItems>
            <assignToReference>S_FulfillmentOrderInputRepPreorder.fulfillmentGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_FulfillmentGroupInputRepPreorder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentOrderInputRepPreorder.orderDeliveryGroupSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L10_ODGS.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentOrderInputRepPreorder.orderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stack_FOIR_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OIS_values</name>
        <label>Assign OIS values</label>
        <locationX>3208</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>S_OrderItemSummaryInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L20_OSLI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItemSummaryInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L20_OSLI.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOTAL_OSLI_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L20_OSLI.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stack_OIS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OIS_values_Preorder</name>
        <label>Assign OIS values_Preorder</label>
        <locationX>2869</locationX>
        <locationY>654</locationY>
        <assignmentItems>
            <assignToReference>S_OrderItemSummaryInputRepPreorder.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L20_OSLI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItemSummaryInputRepPreorder.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L20_OSLI.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOTAL_OSLI_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L20_OSLI.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stack_OIS_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pass_Fail_Results</name>
        <label>Assign Pass/Fail Results</label>
        <locationX>1503</locationX>
        <locationY>1558</locationY>
        <assignmentItems>
            <assignToReference>FLAG_OCI_Pass</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SS_130_Manage_Results.FLAG_Result_Pass</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FLAG_OCI_Fail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SS_130_Manage_Results.FLAG_Result_Fail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pass_or_Fail_OCI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Data</name>
        <label>Clear Data</label>
        <locationX>2094</locationX>
        <locationY>754</locationY>
        <assignmentItems>
            <assignToReference>C_OrderItemSummaryInputRepresentationCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentGroupInputRepresentation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentOrderInputRepresentation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItemSummaryInputRepresentation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOTAL_OSLI_Count</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_FOLI_Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C_OrderItemSummaryInputRepPreorder</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentGroupInputRepPreorder</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentOrderInputRepPreorder</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItemSummaryInputRepPreorder</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_FOLI_Preorder_Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L10_ODGS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Filtered_FOLIs</name>
        <label>Count Filtered FOLIs</label>
        <locationX>2476</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>V_Count_FOLIs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Fulfillment_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OIS_have_Exist_FOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Filtered_Locations</name>
        <label>Count Filtered Locations</label>
        <locationX>3256</locationX>
        <locationY>1207</locationY>
        <assignmentItems>
            <assignToReference>V_Count_Locations</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Locations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_L70_Counter_Iterations</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L70_Filter_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Filtered_OPSs</name>
        <label>Count Filtered OPSs</label>
        <locationX>1940</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>V_Count_OPSs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Order_Product_Summaies</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ordered_OIS_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>2271</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Fulfillment_Group_Input_representation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_FOLI_Counter</name>
        <label>Increment FOLI Counter</label>
        <locationX>3212</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>V_FOLI_Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_OIS_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_FOLI_Preorder_Counter</name>
        <label>Increment FOLI Preorder Counter</label>
        <locationX>2674</locationX>
        <locationY>511</locationY>
        <assignmentItems>
            <assignToReference>V_FOLI_Preorder_Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L20_OSLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Satck_FOs_To_Update</name>
        <label>Satck FOs To Update</label>
        <locationX>2817</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>C_FOs_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_FO_To_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L40_New_FOs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FO_Status_To_Allocated</name>
        <label>Set FO Status To Allocated</label>
        <locationX>2672</locationX>
        <locationY>1901</locationY>
        <assignmentItems>
            <assignToReference>S_FO_To_Update.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Allocated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Satck_FOs_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FO_Status_To_Created</name>
        <label>Set FO Status To Created</label>
        <locationX>2924</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>S_FO_To_Update.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Created</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Satck_FOs_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type_to_Store</name>
        <label>Set Type to Store</label>
        <locationX>2992</locationX>
        <locationY>797</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Store</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_ProductItem_Is_PreOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type_to_Warehouse</name>
        <label>Set Type to Warehouse</label>
        <locationX>3407</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warehouse</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_ProductItem_Is_PreOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stack_FOIR</name>
        <label>Stack FOIR</label>
        <locationX>2135</locationX>
        <locationY>1016</locationY>
        <assignmentItems>
            <assignToReference>C_FulfillmentOrderInputRepresentation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_FulfillmentOrderInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stack_FOIR_0</name>
        <label>Stack FOIR</label>
        <locationX>2057</locationX>
        <locationY>1278</locationY>
        <assignmentItems>
            <assignToReference>C_FulfillmentOrderInputRepresentation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_FulfillmentOrderInputRepPreorder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stack_OIS</name>
        <label>Stack OIS</label>
        <locationX>2989</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>C_OrderItemSummaryInputRepresentationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_OrderItemSummaryInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L20_OSLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stack_OIS_0</name>
        <label>Stack OIS</label>
        <locationX>2671</locationX>
        <locationY>653</locationY>
        <assignmentItems>
            <assignToReference>C_OrderItemSummaryInputRepPreorder</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_OrderItemSummaryInputRepPreorder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_FOLI_Preorder_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>SubFlow SOM SERVICE 100 already creates Process Exceptions in case of missing inventory. In this Flow, SOM 220, we just stop without any further action.</description>
        <name>Stop_the_Flow</name>
        <label>Stop the Flow</label>
        <locationX>1710</locationX>
        <locationY>1784</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Store_First_Element_of_Filter_Locations</name>
        <label>Store First Element of Filter Locations</label>
        <locationX>2942</locationX>
        <locationY>1179</locationY>
        <assignmentItems>
            <assignToReference>First_Filtered_Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L70_Filter_Locations</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_L70_Counter_Iterations</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L70_Filter_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Order_Delivery_Group_Summary_Ids</name>
        <label>Store Order Delivery Group Summary Ids</label>
        <locationX>699</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>C_ODGS_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L50_ODGS.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L50_ODGS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Order_Product_Summary_Ids</name>
        <label>Store Order Product Summary Ids</label>
        <locationX>1321</locationX>
        <locationY>769</locationY>
        <assignmentItems>
            <assignToReference>C_OPS_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L60_Order_Product_Summaries.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C_OPS_Locations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L60_Order_Product_Summaries.ReservedAtLocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L60_Order_Product_Summaries</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Fulfillment_Line_Items</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Fulfillment Line Items</label>
        <locationX>2341</locationX>
        <locationY>49</locationY>
        <assignNextValueToReference>currentItem_Filter_Fulfillment_Line_Items_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Existing_FOLI</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Fulfillment_Line_Items_0.OrderItemSummaryId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>L20_OSLI.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Filtered_FOLIs</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Locations</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Locations</label>
        <locationX>3539</locationX>
        <locationY>1206</locationY>
        <assignNextValueToReference>currentItem_Filter_Locations</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Location_to_fullfil</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Locations.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>L20_OSLI.ReservedAtLocationId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Filtered_Locations</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Order_Product_Summaies</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Order Product Summaies</label>
        <locationX>1767</locationX>
        <locationY>305</locationY>
        <assignNextValueToReference>currentItem_Filter_Order_Product_Summaies_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Order_item_summaries</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Order_Product_Summaies_0.OrderDeliveryGroupSummaryId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>L10_ODGS.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Filtered_OPSs</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Any_Item_to_fulfill</name>
        <label>Any Item to fulfill ?</label>
        <locationX>2329</locationX>
        <locationY>567</locationY>
        <defaultConnector>
            <targetReference>L10_ODGS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing To fulfill</defaultConnectorLabel>
        <rules>
            <name>Nothing_to_fulfill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_FOLI_Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Counter</targetReference>
            </connector>
            <label>yes Continue</label>
        </rules>
        <rules>
            <name>Yes_Preorder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_FOLI_Preorder_Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fulfillment_Group_Input_representation_Preorder</targetReference>
            </connector>
            <label>Yes Preorder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_FO_Capture_Status</name>
        <label>Check FO Capture Status</label>
        <locationX>2975</locationX>
        <locationY>1901</locationY>
        <defaultConnector>
            <targetReference>Set_FO_Status_To_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Created Status</defaultConnectorLabel>
        <rules>
            <name>Set_Allocatted_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FX_Calcluate_FO_Capture_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Applicable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_FO_Status_To_Allocated</targetReference>
            </connector>
            <label>Set Allocatted Status?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_ProductItem_Is_PreOrder</name>
        <label>Check if ProductItem Is PreOrder?</label>
        <locationX>2968</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>L20_OSLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>Yes_ProductItem_Is_PreOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>L20_OSLI.IsPreOrder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>L20_OSLI.DeliveryStartDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OIS_values_Preorder</targetReference>
            </connector>
            <label>Yes ProductItem Is PreOrder</label>
        </rules>
        <rules>
            <name>ProductItem_Not_PreOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>L20_OSLI.IsPreOrder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_FOLI_Counter</targetReference>
            </connector>
            <label>ProductItem Not PreOrder</label>
        </rules>
    </decisions>
    <decisions>
        <name>FOIR_List_Contain_Records</name>
        <label>FOIR List Contain Records</label>
        <locationX>1913</locationX>
        <locationY>787</locationY>
        <defaultConnectorLabel>FOIR Empty</defaultConnectorLabel>
        <rules>
            <name>FOIR_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C_FulfillmentOrderInputRepresentation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L30_FO_IR</targetReference>
            </connector>
            <label>FOIR Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_First_Element</name>
        <label>If First Element</label>
        <locationX>2941</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>L70_Filter_Locations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>First_Element</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_L70_Counter_Iterations</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_First_Element_of_Filter_Locations</targetReference>
            </connector>
            <label>First Element</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Type</name>
        <label>Location Type !</label>
        <locationX>3176</locationX>
        <locationY>702</locationY>
        <defaultConnectorLabel>Location Not Found</defaultConnectorLabel>
        <rules>
            <name>Existing_Warehouse_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_Count_Locations</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>First_Filtered_Location.LocationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warehouse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Type_to_Warehouse</targetReference>
            </connector>
            <label>Existing Warehouse Location</label>
        </rules>
        <rules>
            <name>Existing_Store_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_Count_Locations</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>First_Filtered_Location.LocationType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Store</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Type_to_Store</targetReference>
            </connector>
            <label>Existing Store Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>OIS_have_Exist_FOLI</name>
        <label>OIS have Exist FOLI ?</label>
        <locationX>3008</locationX>
        <locationY>61</locationY>
        <defaultConnector>
            <targetReference>Product_Location_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No FOLI Continue</defaultConnectorLabel>
        <rules>
            <name>OIS_already_had_FOLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_Count_FOLIs</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L20_OSLI</targetReference>
            </connector>
            <label>OIS already had FOLI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ordered_OIS_Exists</name>
        <label>Ordered OIS Exists?</label>
        <locationX>2172</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>L10_ODGS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OIS Not Exists</defaultConnectorLabel>
        <rules>
            <name>OIS_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_Count_OPSs</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L20_OSLI</targetReference>
            </connector>
            <label>OIS Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pass_or_Fail_OCI</name>
        <label>Pass or Fail OCI</label>
        <locationX>1700</locationX>
        <locationY>1560</locationY>
        <defaultConnector>
            <targetReference>Stop_the_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>❌ Fail OCI</defaultConnectorLabel>
        <rules>
            <name>Pass_OCI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FLAG_OCI_Pass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FLAG_OCI_Fail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>✅ Pass OCI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Location_exist</name>
        <label>Product Location exist?</label>
        <locationX>3449</locationX>
        <locationY>61</locationY>
        <defaultConnectorLabel>Location is not Specified</defaultConnectorLabel>
        <rules>
            <name>Product_is_Delivery_Charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>L20_OSLI.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Charge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OIS_values</targetReference>
            </connector>
            <label>Product is Delivery Charge</label>
        </rules>
        <rules>
            <name>Location_is_Specified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>L20_OSLI.ReservedAtLocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Locations</targetReference>
            </connector>
            <label>Location is Specified</label>
        </rules>
    </decisions>
    <formulas>
        <name>FX_Calcluate_FO_Capture_Status</name>
        <dataType>String</dataType>
        <expression>if({!OrderSummaryRecord.captureAtShipment__c} &amp;&amp; ISPICKVAL({!OrderSummaryRecord.CaptureStatus__c}, &quot;Not Applicable&quot;), &quot;To capture&quot;, &quot;Not Applicable&quot;)</expression>
    </formulas>
    <interviewLabel>SOM 220 - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 220 - CoreModel - Create FulfillementOrders</label>
    <loops>
        <description>Lopp over Order Delivery Group Summaries</description>
        <name>L10_ODGS</name>
        <label>L10 ODGS</label>
        <locationX>1918</locationX>
        <locationY>537</locationY>
        <collectionReference>Get_Order_Delivery_Group_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Order_Product_Summaies</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FOIR_List_Contain_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop over Order Product Summaries (also called Order Item Summaries)</description>
        <name>L20_OSLI</name>
        <label>L20 OSLI</label>
        <locationX>2505</locationX>
        <locationY>287</locationY>
        <collectionReference>Filter_Order_Product_Summaies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Fulfillment_Line_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Item_to_fulfill</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop over FulfillmentOrder Input Representations</description>
        <name>L30_FO_IR</name>
        <label>L30 FO IR</label>
        <locationX>1925</locationX>
        <locationY>1410</locationY>
        <collectionReference>C_FulfillmentOrderInputRepresentation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Single_FO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>L40_New_FOs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop over Fulfillment Order that have just been created</description>
        <name>L40_New_FOs</name>
        <label>L40 New FOs</label>
        <locationX>2963</locationX>
        <locationY>1396</locationY>
        <collectionReference>C_FOS_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_FO_Data_To_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_FOs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop over Order Delivery Group Summaries</description>
        <name>L50_ODGS</name>
        <label>L50_ODGS</label>
        <locationX>952</locationX>
        <locationY>554</locationY>
        <collectionReference>Get_Order_Delivery_Group_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Order_Delivery_Group_Summary_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Order_item_summaries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop over Order Product Summaries</description>
        <name>L60_Order_Product_Summaries</name>
        <label>L60_Order_Product_Summaries</label>
        <locationX>1322</locationX>
        <locationY>555</locationY>
        <collectionReference>Get_Order_item_summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Order_Product_Summary_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Existing_FOLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L70_Filter_Locations</name>
        <label>L70 Filter Locations</label>
        <locationX>3256</locationX>
        <locationY>989</locationY>
        <collectionReference>Filter_Locations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_First_Element</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Location_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_FOLI</name>
        <label>Get Existing FOLI</label>
        <locationX>1459</locationX>
        <locationY>511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Location_to_fullfil</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderItemSummaryId</field>
            <operator>In</operator>
            <value>
                <elementReference>C_OPS_IDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_to_fullfil</name>
        <label>Get Location to fullfil</label>
        <locationX>1721</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>L10_ODGS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>C_OPS_Locations</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Delivery_Group_Summaries</name>
        <label>Get Order Delivery Group Summaries</label>
        <locationX>952</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>L50_ODGS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_item_summaries</name>
        <label>Get Order item summaries</label>
        <locationX>1154</locationX>
        <locationY>555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>L60_Order_Product_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderDeliveryGroupSummaryId</field>
            <operator>In</operator>
            <value>
                <elementReference>C_ODGS_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ORDERED</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <sortField>LineNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_FOs</name>
        <label>Update FOs</label>
        <locationX>3232</locationX>
        <locationY>1398</locationY>
        <inputReference>C_FOs_To_Update</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>826</locationX>
        <locationY>130</locationY>
        <connector>
            <targetReference>Get_Order_Delivery_Group_Summaries</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SS_100_Mapping</name>
        <label>SS 100 - Mapping</label>
        <locationX>1324</locationX>
        <locationY>1558</locationY>
        <connector>
            <targetReference>SS_120_Get_Availability</targetReference>
        </connector>
        <flowName>SOM_SERVICE_100_GetAvailability_Orchestration</flowName>
        <inputAssignments>
            <name>C_FulfillmentOrderInputRepresentation</name>
            <value>
                <elementReference>C_FulfillmentOrderInputRepresentation</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SS_120_Get_Availability</name>
        <label>SS 120 - Get Availability</label>
        <locationX>1324</locationX>
        <locationY>1743</locationY>
        <connector>
            <targetReference>SS_130_Manage_Results</targetReference>
        </connector>
        <flowName>SOM_SERVICE_120_GetAvailability_Call_OCI</flowName>
        <inputAssignments>
            <name>C_Reservations</name>
            <value>
                <elementReference>SS_100_Mapping.C_Reservations</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SS_130_Manage_Results</name>
        <label>SS 130 - Manage Results</label>
        <locationX>1322</locationX>
        <locationY>1935</locationY>
        <connector>
            <targetReference>Assign_Pass_Fail_Results</targetReference>
        </connector>
        <flowName>SOM_SERVICE_130_GetAvailability_Manage_Results</flowName>
        <inputAssignments>
            <name>C_Full_Results</name>
            <value>
                <elementReference>SS_120_Get_Availability.C_Full_Results</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>C_FOS_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_FOs_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrder</objectType>
    </variables>
    <variables>
        <name>C_FRFS_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentReadyForShipping__e</objectType>
    </variables>
    <variables>
        <name>C_FulfillmentOrderInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_Locations</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_OCIInventoryRecordOutputRepresentation</name>
        <apexClass>ConnectApi__OCIInventoryRecordOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_OCILocationAvailabilityOutputRepresentation</name>
        <apexClass>ConnectApi__OCILocationAvailabilityOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_ODGS_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_OPS_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_OPS_Locations</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_OrderItemSummaryInputRepPreorder</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_OrderItemSummaryInputRepresentationCollection</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_SKU</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_Fulfillment_Line_Items_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrderLineItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Locations</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Order_Product_Summaies_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>First_Filtered_Location</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>FLAG_OCI_Fail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FLAG_OCI_Pass</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FulfillmentReadyForShippingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentReadyForShipping__e</objectType>
    </variables>
    <variables>
        <name>FulfillmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Locationforfullfilement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>OrderSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
    <variables>
        <name>S_FO_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrder</objectType>
    </variables>
    <variables>
        <name>S_FulfillmentGroupInputRepPreorder</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_FulfillmentGroupInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_FulfillmentOrderInputRepPreorder</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_FulfillmentOrderInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_FulfillmentOrderOutputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_OCIGetInventoryAvailabilityInputRepresentation</name>
        <apexClass>ConnectApi__OCIGetInventoryAvailabilityInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_OCIGetInventoryAvailabilityOutputRepresentation</name>
        <apexClass>ConnectApi__OCIGetInventoryAvailabilityOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_OrderItemSummaryInputRepPreorder</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_OrderItemSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TOTAL_OSLI_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>V_Count_FOLIs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>V_Count_Locations</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>V_Count_OPSs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>V_FOLI_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>V_FOLI_Preorder_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>V_L70_Counter_Iterations</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
