unpackaged/main/default/flows/SOM_810_Reship_Order_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Translate_ADV</name>
        <label>Translate Errors</label>
        <locationX>2638</locationX>
        <locationY>247</locationY>
        <actionName>SOM_TranslateReservation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Any_Success_to_translate</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>OCI_Reservation_SubFlow.C40_Errors_On_Reservation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>C40_Errors_On_Reservation_TXT</assignToReference>
            <name>outputString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Translate_OK</name>
        <label>Translate OK</label>
        <locationX>2877</locationX>
        <locationY>242</locationY>
        <actionName>SOM_TranslateReservation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>OCI_Reservation_Result</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>OCI_Reservation_SubFlow.C50_OKs_On_Reservation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>C50_OKs_On_Reservation_TXT</assignToReference>
            <name>outputString</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_C50_to_FulfillItems</name>
        <label>Add C50 to FulfillItems</label>
        <locationX>3419</locationX>
        <locationY>631</locationY>
        <assignmentItems>
            <assignToReference>fulfillItem.locationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L40_OK_Reservations.locationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fulfillItem.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L40_OK_Reservations.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fulfillItem.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L40_OK_Reservations.quantityReserved</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fulfillItem.locationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L40_OK_Reservations.locationType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stack_New_FulfillItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Input_Representation_to_List</name>
        <label>Add Input Representation to List</label>
        <locationX>2659</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>fulfillItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fulfillItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L30_OIS_Assignment_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_orderItemsSummary_to_alreadyAddedOrderItemList</name>
        <label>Add orderItemsSummary to alreadyAddedOrderItemList</label>
        <locationX>3352</locationX>
        <locationY>1662</locationY>
        <assignmentItems>
            <assignToReference>alreadyAddedOrderItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FulfillItems_Inner_Loop.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Inner_OrderItemSummary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Available_Delivery_Groups</name>
        <label>Add to Available Delivery Groups</label>
        <locationX>732</locationX>
        <locationY>1462</locationY>
        <assignmentItems>
            <assignToReference>AvailableOrderDeliveryGroupSummaries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderDeliveryGroupSummaryRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberAvailableOrderDeliveryGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L10_ODGS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_ODGS</name>
        <label>Assign Selected ODGS</label>
        <locationX>1288</locationX>
        <locationY>1589</locationY>
        <assignmentItems>
            <assignToReference>selectedOrderDeliveryGroupSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L20_SelectedOrderDeliveryGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L20_SelectedOrderDeliveryGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Outer_FulfillItems</name>
        <label>Assignment Outer FulfillItems</label>
        <locationX>2843</locationX>
        <locationY>1115</locationY>
        <assignmentItems>
            <assignToReference>outerLoopLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L60_FulfillItems_Outer_Loop.locationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outerLoopOrderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L60_FulfillItems_Outer_Loop.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_OrderItemSummary_processed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Coll_FulfillItems</name>
        <label>Clear Coll FulfillItems</label>
        <locationX>3173</locationX>
        <locationY>622</locationY>
        <assignmentItems>
            <assignToReference>fulfillItems</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>L40_OK_Reservations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_OCI_Results</name>
        <label>Count OCI Results</label>
        <locationX>2570</locationX>
        <locationY>661</locationY>
        <assignmentItems>
            <assignToReference>COUNT_OCI_Errors</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>OCI_Reservation_SubFlow.C40_Errors_On_Reservation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>COUNT_OCI_Success</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>OCI_Reservation_SubFlow.C50_OKs_On_Reservation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Errors_to_translate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsSingleDeliveryGroup</name>
        <label>IsSingleDeliveryGroup</label>
        <locationX>1113</locationX>
        <locationY>1474</locationY>
        <assignmentItems>
            <assignToReference>SingleDeliveryGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L20_SelectedOrderDeliveryGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Location_Error_Message_Assignment</name>
        <label>Location Error Message Assignment</label>
        <locationX>2172</locationX>
        <locationY>2188</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Empty_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Empty_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToReship_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Delivery_Groups_Error_Message</name>
        <label>No Delivery Groups Error Message</label>
        <locationX>1109</locationX>
        <locationY>1660</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_noDeliveryGroupsToReship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_noDeliveryGroupsToReship_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToReship_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Item_Summary_Input_Representation</name>
        <label>Set Item Summary Input Representation</label>
        <locationX>2487</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>fulfillItem.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fulfillItem.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOrderItem.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Input_Representation_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_2_As_Stage_1</name>
        <label>Set Stage 2 As Stage 1</label>
        <locationX>1428</locationX>
        <locationY>1396</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Items_In_ODGS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_1</name>
        <label>Set Stage To Part 1</label>
        <locationX>1095</locationX>
        <locationY>1093</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delivery_Group_Select</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_2</name>
        <label>Set Stage To Part 2</label>
        <locationX>1685</locationX>
        <locationY>1254</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_3</name>
        <label>Set Stage To Part 3</label>
        <locationX>1960</locationX>
        <locationY>1242</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Location_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Stage_To_Part_4</name>
        <label>Set Stage To Part 4</label>
        <locationX>2902</locationX>
        <locationY>915</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>confirmationImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L60_FulfillItems_Outer_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Unmanaged_Order_Error_Message</name>
        <label>Set Unmanaged Order Error Message</label>
        <locationX>158</locationX>
        <locationY>2046</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Wrong_Entity_Error_Message</name>
        <label>Set Wrong Entity Error Message</label>
        <locationX>378</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Failure_Exit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stack_New_FulfillItems</name>
        <label>Stack New FulfillItems</label>
        <locationX>3419</locationX>
        <locationY>804</locationY>
        <assignmentItems>
            <assignToReference>fulfillItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fulfillItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L40_OK_Reservations</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Confirmation_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_NoItemsToReship_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Unmanaged_Order_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Wrong_Entity_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>RemoveStage4</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>ZERO</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Errors_to_translate</name>
        <label>Any Errors to translate</label>
        <locationX>2561</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>Any_Success_to_translate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>Yes_errors_to_translate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COUNT_OCI_Errors</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Translate_ADV</targetReference>
            </connector>
            <label>Yes errors to translate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Success_to_translate</name>
        <label>Any Success to translate ?</label>
        <locationX>2769</locationX>
        <locationY>491</locationY>
        <defaultConnector>
            <targetReference>OCI_Reservation_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next</defaultConnectorLabel>
        <rules>
            <name>Yes_success_to_translate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COUNT_OCI_Success</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Translate_OK</targetReference>
            </connector>
            <label>Yes success to translate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Any_Delivery_Groups_To_Fulfill</name>
        <label>Are Any Delivery Groups To Fulfill</label>
        <locationX>852</locationX>
        <locationY>1375</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoDeliveryGroups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AvailableOrderDeliveryGroupSummaries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberAvailableOrderDeliveryGroups</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Delivery_Groups_Error_Message</targetReference>
            </connector>
            <label>NoDeliveryGroups</label>
        </rules>
        <rules>
            <name>DeliveryGroupsAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AvailableOrderDeliveryGroupSummaries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberAvailableOrderDeliveryGroups</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_To_Part_1</targetReference>
            </connector>
            <label>DeliveryGroupsAvailable</label>
        </rules>
        <rules>
            <name>OneAvailableDeliveryGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberAvailableOrderDeliveryGroups</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsSingleDeliveryGroup</targetReference>
            </connector>
            <label>OneAvailableDeliveryGroup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_Any_Items_To_Fulfill_in_ODGS</name>
        <label>Are Any Items To Fulfill in ODGS</label>
        <locationX>625</locationX>
        <locationY>1601</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoItems</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product_Summaries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L10_ODGS</targetReference>
            </connector>
            <label>NoItems</label>
        </rules>
        <rules>
            <name>ItemsAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Product_Summaries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Available_Delivery_Groups</targetReference>
            </connector>
            <label>ItemsAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Empty_Locations</name>
        <label>Check Empty Locations</label>
        <locationX>2290</locationX>
        <locationY>1915</locationY>
        <defaultConnector>
            <targetReference>Get_Location_Group_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Location Not Empty</defaultConnectorLabel>
        <rules>
            <name>Locations_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Locations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_Error_Message_Assignment</targetReference>
            </connector>
            <label>Locations Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_LocationIds_Match</name>
        <label>Check for LocationIds Match</label>
        <locationX>3245</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>FulfillItems_Inner_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LocationIdsDoNotMatch</defaultConnectorLabel>
        <rules>
            <name>LocationIdsMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outerLoopLocationId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FulfillItems_Inner_Loop.locationId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_orderItemsSummary_to_alreadyAddedOrderItemList</targetReference>
            </connector>
            <label>LocationIdsMatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_OrderItemSummary_processed</name>
        <label>Check if OrderItemSummary processed</label>
        <locationX>2835</locationX>
        <locationY>1294</locationY>
        <defaultConnector>
            <targetReference>Create_Fulfillment_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Already OrderItemSummary Not Processed</defaultConnectorLabel>
        <rules>
            <name>Already_OrderItemSummary_Processed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>alreadyAddedOrderItemList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>outerLoopOrderItemSummaryId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L60_FulfillItems_Outer_Loop</targetReference>
            </connector>
            <label>Already OrderItemSummary Processed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Location_groups_empty_or_not</name>
        <label>Check Location groups empty or not</label>
        <locationX>2134</locationX>
        <locationY>1586</locationY>
        <defaultConnector>
            <targetReference>Get_Locations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Location Group Not Empty</defaultConnectorLabel>
        <rules>
            <name>Location_Group_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>locationGroupsValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Locations</targetReference>
            </connector>
            <label>Location Group Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Valid_Order_Summary</name>
        <label>Is Valid Order Summary</label>
        <locationX>159</locationX>
        <locationY>1381</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unmanaged_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object.OrderLifeCycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UNMANAGED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Unmanaged_Order_Error_Message</targetReference>
            </connector>
            <label>Unmanaged Order</label>
        </rules>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Delivery_Group_Summary</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
        <rules>
            <name>Not_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary_Object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
            </connector>
            <label>Not Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>OCI_Reservation_Result</name>
        <label>OCI Reservation Result ?</label>
        <locationX>2993</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Clear_Coll_FulfillItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>✅ OK</defaultConnectorLabel>
        <rules>
            <name>OCI_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COUNT_OCI_Errors</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCREEN_OCI_Error</targetReference>
            </connector>
            <label>❌ OCI Error</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SOM_Reship Order Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 810 Reship Order Flow</label>
    <loops>
        <name>FulfillItems_Inner_Loop</name>
        <label>FulfillItems Inner Loop</label>
        <locationX>3557</locationX>
        <locationY>1296</locationY>
        <collectionReference>fulfillItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_LocationIds_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_FO_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Order Delivery Group Summaries</description>
        <name>L10_ODGS</name>
        <label>L10 - ODGS</label>
        <locationX>594</locationX>
        <locationY>1381</locationY>
        <assignNextValueToReference>OrderDeliveryGroupSummaryRecord</assignNextValueToReference>
        <collectionReference>Get_Order_Delivery_Group_Summary</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Order_Product_Summaries</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_Any_Delivery_Groups_To_Fulfill</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L20_SelectedOrderDeliveryGroup</name>
        <label>L20 - SelectedOrderDeliveryGroup</label>
        <locationX>1284</locationX>
        <locationY>1395</locationY>
        <collectionReference>AvailableOrderDeliveryGroupSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Selected_ODGS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Stage_2_As_Stage_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L30_OIS_Assignment_Loop</name>
        <label>L30 - OIS Assignment Loop</label>
        <locationX>2569</locationX>
        <locationY>1409</locationY>
        <assignNextValueToReference>selectedOrderItem</assignNextValueToReference>
        <collectionReference>selectedOrderItemSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Item_Summary_Input_Representation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Location_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L40_OK_Reservations</name>
        <label>L40 - OK Reservations</label>
        <locationX>3173</locationX>
        <locationY>797</locationY>
        <collectionReference>OCI_Reservation_SubFlow.C50_OKs_On_Reservation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_C50_to_FulfillItems</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Stage_To_Part_4</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L60_FulfillItems_Outer_Loop</name>
        <label>L60 - FulfillItems Outer Loop</label>
        <locationX>3138</locationX>
        <locationY>1026</locationY>
        <collectionReference>fulfillItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Outer_FulfillItems</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirmation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Fulfillment_Order</name>
        <label>Create Fulfillment Order</label>
        <locationX>3049</locationX>
        <locationY>1374</locationY>
        <assignRecordIdToReference>loopFulfillmentOrderId</assignRecordIdToReference>
        <connector>
            <targetReference>FulfillItems_Inner_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Order_Summary_Object.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capture_Status__c</field>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliveryMethodId</field>
            <value>
                <elementReference>selectedOrderDeliveryGroupSummary.OrderDeliveryMethodId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledFromLocationId</field>
            <value>
                <elementReference>L60_FulfillItems_Outer_Loop.locationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToCity</field>
            <value>
                <elementReference>selectedOrderDeliveryGroupSummary.DeliverToCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToCountry</field>
            <value>
                <elementReference>selectedOrderDeliveryGroupSummary.DeliverToCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToEmailAddress</field>
            <value>
                <elementReference>selectedOrderDeliveryGroupSummary.EmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToGeocodeAccuracy</field>
            <value>
                <elementReference>selectedOrderDeliveryGroupSummary.DeliverToGeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToLatitude</field>
            <value>
                <elementReference>selectedOrderDeliveryGroupSummary.DeliverToLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToLongitude</field>
            <value>
                <elementReference>selectedOrderDeliveryGroupSummary.DeliverToLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToName</field>
            <value>
                <elementReference>selectedOrderDeliveryGroupSummary.DeliverToName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToPhone</field>
            <value>
                <elementReference>selectedOrderDeliveryGroupSummary.PhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToPostalCode</field>
            <value>
                <elementReference>selectedOrderDeliveryGroupSummary.DeliverToPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToState</field>
            <value>
                <elementReference>selectedOrderDeliveryGroupSummary.DeliverToState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FulfilledToStreet</field>
            <value>
                <elementReference>selectedOrderDeliveryGroupSummary.DeliverToStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReship</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderSummaryId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>L60_FulfillItems_Outer_Loop.locationType</elementReference>
            </value>
        </inputAssignments>
        <object>FulfillmentOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Inner_Create_Fulfillment_Order_Item</name>
        <label>Inner Create Fulfillment Order Item</label>
        <locationX>3843</locationX>
        <locationY>1456</locationY>
        <connector>
            <targetReference>FulfillItems_Inner_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FulfillmentOrderId</field>
            <value>
                <elementReference>loopFulfillmentOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderItemSummaryId</field>
            <value>
                <elementReference>FulfillItems_Inner_Loop.orderItemSummaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OriginalQuantity</field>
            <value>
                <elementReference>Get_Inner_OrderItemSummary.QuantityOrdered</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Inner_OrderItemSummary.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>FulfillItems_Inner_Loop.quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalLineAmount</field>
            <value>
                <elementReference>ZeroQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Get_Inner_OrderItemSummary.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TypeCode</field>
            <value>
                <elementReference>Get_Inner_OrderItemSummary.TypeCode</elementReference>
            </value>
        </inputAssignments>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Inner_OrderItemSummary</name>
        <label>Get Inner OrderItemSummary</label>
        <locationX>3758</locationX>
        <locationY>1663</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inner_Create_Fulfillment_Order_Item</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FulfillItems_Inner_Loop.orderItemSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Items_In_ODGS</name>
        <label>Get Items In ODGS</label>
        <locationX>1565</locationX>
        <locationY>1396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Stage_To_Part_2</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuantityAvailableToReship</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderDeliveryGroupSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedOrderDeliveryGroupSummary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Location Assignments</description>
        <name>Get_Location_Group_Assignments</name>
        <label>Get Location Group Assignments</label>
        <locationX>2396</locationX>
        <locationY>1321</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>L30_OIS_Assignment_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <object>LocationGroupAssignment</object>
        <outputReference>locationGroupsAssigmentValues</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationExternalReference</queriedFields>
        <queriedFields>LocationGroupAssignment</queriedFields>
        <queriedFields>LocationGroupId</queriedFields>
        <queriedFields>LocationGroupName</queriedFields>
        <queriedFields>LocationId</queriedFields>
        <queriedFields>LocationName</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Location Groups</description>
        <name>Get_Location_Groups</name>
        <label>Get Location Groups</label>
        <locationX>2244</locationX>
        <locationY>1416</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Location_groups_empty_or_not</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <object>LocationGroup</object>
        <outputReference>locationGroupsValues</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ExternalReference</queriedFields>
        <queriedFields>LocationGroupName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Locations</name>
        <label>Get Locations</label>
        <locationX>2135</locationX>
        <locationY>1933</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Empty_Locations</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ExternalReference</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Delivery_Group_Summary</name>
        <label>Get Order Delivery Group Summary</label>
        <locationX>425</locationX>
        <locationY>1380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>L10_ODGS</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Product_Summaries</name>
        <label>Get_Order_Product_Summaries</label>
        <locationX>471</locationX>
        <locationY>1600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Any_Items_To_Fulfill_in_ODGS</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuantityAvailableToReship</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderDeliveryGroupSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderDeliveryGroupSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get OrderSummary for the record Id passed</description>
        <name>Get_Order_Summary_Object</name>
        <label>Get Order Summary Object</label>
        <locationX>176</locationX>
        <locationY>1096</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Valid_Order_Summary</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Failure_Exit</name>
        <label>Failure Exit</label>
        <locationX>843</locationX>
        <locationY>2013</locationY>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_FO_Status</name>
        <label>Update FO Status</label>
        <locationX>3495</locationX>
        <locationY>1071</locationY>
        <connector>
            <targetReference>L60_FulfillItems_Outer_Loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Wrong_Entity_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopFulfillmentOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Allocated</stringValue>
            </value>
        </inputAssignments>
        <object>FulfillmentOrder</object>
    </recordUpdates>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>3488</locationX>
        <locationY>916</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationImageDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!confirmationImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationHeading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;You&apos;re all set! The reship fulfillment order has been created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Footer5</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Delivery_Group_Select</name>
        <label>Delivery Group Select</label>
        <locationX>1360</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Items_In_ODGS</targetReference>
        </connector>
        <fields>
            <name>DeliveryGroupSelectHeading</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;Select a shipping address to reship items to.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>deliveryGroupSelect</name>
            <extensionName>runtime_commerce_oms:deliveryGroupSelect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>RESHIP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OrderDeliveryGroupSummaries</name>
                <value>
                    <elementReference>AvailableOrderDeliveryGroupSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary_Object</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderDeliveryGroupSummaries</name>
                <value>
                    <elementReference>selectedOrderDeliveryGroupSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderDeliveryGroupSummary</name>
                <value>
                    <elementReference>selectedOrderDeliveryGroupSummary</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOrderDeliveryGroupSummaries</assignToReference>
                <name>selectedOrderDeliveryGroupSummaries</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedOrderDeliveryGroupSummary</assignToReference>
                <name>selectedOrderDeliveryGroupSummary</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer1</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>845</locationX>
        <locationY>2172</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Output_Message_Image</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!errorMessageImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Output_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessageTitle}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Location_Selection</name>
        <label>Location Selection</label>
        <locationX>2569</locationX>
        <locationY>915</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OCI_Reservation_SubFlow</targetReference>
        </connector>
        <fields>
            <name>selectFulfillLocationHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select the quantity to reship and a fulfillment location.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fulfillLocationSelection</name>
            <extensionName>runtime_commerce_oms:locationWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fulfillItemList</name>
                <value>
                    <elementReference>fulfillItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary_Object</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationGroups</name>
                <value>
                    <elementReference>locationGroupsValues</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>RESHIP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>applyOci</name>
                <value>
                    <elementReference>applyOCI</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>fulfillItems</assignToReference>
                <name>fulfillItemList</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedOrderItemSummaries</assignToReference>
                <name>selectedOrderItemSummaries</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer3</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <elementReference>IsLocationPageSubmit</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Product_Selection</name>
        <label>Product Selection</label>
        <locationX>1736</locationX>
        <locationY>939</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_To_Part_3</targetReference>
        </connector>
        <fields>
            <name>ProductsSelectHeading</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Select the items to reship.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>productSelection</name>
            <extensionName>runtime_commerce_oms:productSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>RESHIP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OrderItemSummaries</name>
                <value>
                    <elementReference>Get_Items_In_ODGS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Get_Order_Summary_Object</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOrderItemSummaries</assignToReference>
                <name>selectedOrderItemSummaries</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Get_Items_In_ODGS</assignToReference>
                <name>OrderItemSummaries</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Get_Order_Summary_Object</assignToReference>
                <name>orderSummary</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer2</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCREEN_OCI_Error</name>
        <label>SCREEN_OCI_Error</label>
        <locationX>3173</locationX>
        <locationY>358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SCREEN_OCI_Error_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCREEN_OCI_Error_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TXT_10_01</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 48px;&quot;&gt;⚠&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCREEN_OCI_Error_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TXT_10_02</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Inventory issue&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This Flow will now stop : no reservations were saved in OCI, no Fulfillment Order was created.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TABLE_Success_OCI</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>User</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Items available but not reserved</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_not_suppressNameFieldLink</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isUserDefinedObject</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isUserDefinedObject</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableDataString</name>
                <value>
                    <elementReference>C50_OKs_On_Reservation_TXT</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>productName, stockKeepingUnit, locationIdentifier, quantityRequested, quantityAvailable, errorCode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>1:Name, 2:SKU, 3:Location, 4:Req., 5:Avail., 6:OCI</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>1:250, 2:100, 3:125, 4:80, 5:80, 6:140</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>1: true, 2:true, 3:true, 4:true, 5:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:task2</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>C50_OKs_On_Reservation_TXT</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TXT_10_03</name>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>C50_OKs_On_Reservation_TXT</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TABLE_Errors_OCI</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cb_isUserDefinedObject</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isUserDefinedObject</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideClearSelectionButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideClearSelectionButton</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>productName, stockKeepingUnit, locationIdentifier, quantityRequested, quantityAvailable, errorCode</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isSerializedRecordData</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serializedRecordData</name>
                <value>
                    <elementReference>C40_Errors_On_Reservation_TXT</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableDataString</name>
                <value>
                    <elementReference>C40_Errors_On_Reservation_TXT</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowNoneToBeChosen</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>stockKeepingUnit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>1:Name, 2:SKU, 3:Location, 4:Req., 5:Avail., 6:OCI</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>1:250, 2:100, 3:125, 4:80, 5:80, 6:140</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>1:true, 2:true, 3:true, 4:true, 5:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowOverflow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_allowOverflow</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isDisplayHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableLabel</name>
                <value>
                    <stringValue>Items unavailable</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableIcon</name>
                <value>
                    <stringValue>standard:first_non_empty</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Footer4</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <elementReference>IsLocationPageSubmit</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>runtime_commerce_rs__Reship_FO</sourceTemplate>
    <stages>
        <name>Part_1</name>
        <isActive>false</isActive>
        <label>Select Shipping Address</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Part_2</name>
        <isActive>false</isActive>
        <label>Select Products to Reship</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Part_3</name>
        <isActive>false</isActive>
        <label>Select Fulfillment Locations</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Part_4</name>
        <isActive>false</isActive>
        <label>Confirm and Finish</label>
        <stageOrder>4</stageOrder>
    </stages>
    <start>
        <locationX>56</locationX>
        <locationY>962</locationY>
        <connector>
            <targetReference>Get_Order_Summary_Object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>OCI_Reservation_SubFlow</name>
        <label>OCI Reservation SubFlow</label>
        <locationX>2571</locationX>
        <locationY>793</locationY>
        <connector>
            <targetReference>Count_OCI_Results</targetReference>
        </connector>
        <flowName>SOM_814_OCI_Create_Reservation</flowName>
        <inputAssignments>
            <name>C00_FulfillItems</name>
            <value>
                <elementReference>fulfillItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>V_RO_Id</name>
            <value>
                <elementReference>V_RO_Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>Error_Output_Invocable_Action_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Close this window and check the order summary page for updated information.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_noDeliveryGroupsToReship</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;﻿When an order has items you can reship, you can find them here.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_noDeliveryGroupsToReship_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;Nothing to Reship&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You can only run this flow on a managed order summary.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The specified order summary is unmanaged.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;This is where you&apos;d cancel items from an order. To cancel an order, start from the order summary page.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_Entity_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;We don&apos;t think you meant to come here.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Fulfillment_Order_Creation_Error_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The system encountered an error while creating fulfillment orders.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Fulfillment_Order_Creation_Error_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Fulfillment Orders creation is unsuccessful.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Location_Empty_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You can only run this flow for the orgs with locations available.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Location_Empty_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Locations are not available for this org.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Location_Groups_Empty_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You can only run this flow for the orgs with location groups available.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Location_Groups_Empty_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Location Groups are not available for this org.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>alreadyAddedOrderItemList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>applyOCI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AvailableOrderDeliveryGroupSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>C40_Errors_On_Reservation_TXT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C50_OKs_On_Reservation_TXT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COL_OCICreateReservationSingleInputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>confirmationImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COUNT_OCI_Errors</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>COUNT_OCI_Success</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_Locations_By_Location_Id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fulfillItem</name>
        <apexClass>runtime_commerce_oms__FulfillItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fulfillItems</name>
        <apexClass>runtime_commerce_oms__FulfillItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentGroup</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentGroups</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderCreationErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Fulfillment Order creation is unsuccessful.</stringValue>
        </value>
    </variables>
    <variables>
        <name>FulfillmentOrdersOutput</name>
        <apexClass>ConnectApi__FulfillmentOrderOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsLocationPageSubmit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Location Groups Assignment Values</description>
        <name>locationGroupsAssigmentValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LocationGroupAssignment</objectType>
    </variables>
    <variables>
        <description>Location Groups Values</description>
        <name>locationGroupsValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LocationGroup</objectType>
    </variables>
    <variables>
        <description>loopCounter</description>
        <name>loopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>loopFulfillmentOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>null</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>NumberAvailableOrderDeliveryGroups</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OrderDeliveryGroupSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>OrderItemSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemSummaryInputRepresentationList</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outerLoopLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>131xx0000004FoLAAU</stringValue>
        </value>
    </variables>
    <variables>
        <name>outerLoopOrderItemSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_OCICreateReservationInputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_OCICreateReservationSingleInputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferenceText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedOrderDeliveryGroupSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>selectedOrderDeliveryGroupSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>selectedOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>selectedOrderItemSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>SingleDeliveryGroup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UUID_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_RO_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ZeroQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
