unpackaged/main/default/flows/SOM_200_Create_FulfillementOrder_Orchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Order_Delivery_Groups_Count</name>
        <label>Set Order Delivery Groups Count</label>
        <locationX>877</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>VAR_OrderDeliveryGroupsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Order_Delivery_Group_Different_To_GB</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fulfillment_Order_Decision</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Order_Delivery_Group_Different_To_GB</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Order Delivery Group Different To GB</label>
        <locationX>727</locationX>
        <locationY>380</locationY>
        <assignNextValueToReference>currentItem_Filter_Order_Delivery_Group_Different_To_GB</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Order_Delivery_Groups_Summaries</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Order_Delivery_Group_Different_To_GB.DeliverToCountry</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>UK</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Order_Delivery_Group_Different_To_GB.DeliverToCountry</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>GB</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Set_Order_Delivery_Groups_Count</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>SalesChanned_Cegid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CEGID</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Create_Fulfillment_Order_Decision</name>
        <label>Create Fulfillment Order Decision</label>
        <locationX>1025</locationX>
        <locationY>382</locationY>
        <defaultConnectorLabel>Do Not Create FO</defaultConnectorLabel>
        <rules>
            <name>Create_FO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_OrderDeliveryGroupsCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Fulfillement_Orders</targetReference>
            </connector>
            <label>Create FO</label>
        </rules>
    </decisions>
    <decisions>
        <name>OrderSummary_Have_Existing_FOs</name>
        <label>OrderSummary Have Existing FOs ?</label>
        <locationX>1500</locationX>
        <locationY>381</locationY>
        <defaultConnector>
            <targetReference>Update_OrderSummary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No FO Exist</defaultConnectorLabel>
        <rules>
            <name>Yes_OS_have_Existing_FOs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_FOs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes OS have Existing FOs</label>
        </rules>
    </decisions>
    <description>Replaced by SOM 201</description>
    <interviewLabel>SOM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[DEPRECATED] SOM 200 - Create FulfillementOrder Orchestration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_FOs</name>
        <label>Get Existing FOs</label>
        <locationX>1360</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OrderSummary_Have_Existing_FOs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Delivery_Groups_Summaries</name>
        <label>Get Order Delivery Group Summaries</label>
        <locationX>585</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Order_Delivery_Group_Different_To_GB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeliverToCountry</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OrderSummary</name>
        <label>Update OrderSummary</label>
        <locationX>1697</locationX>
        <locationY>378</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Waiting for goods</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>459</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Order_Delivery_Groups_Summaries</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 AND 2 AND 3 AND 6 AND 7) AND (4 OR 5)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </filters>
        <filters>
            <field>SalesChannelName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CEGID</stringValue>
            </value>
        </filters>
        <filters>
            <field>On_Hold__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CaptureStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Captured</stringValue>
            </value>
        </filters>
        <filters>
            <field>CaptureStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreateFulfillmentOrderImmediatly__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SalesChannelName__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Manual Order</stringValue>
            </value>
        </filters>
        <object>OrderSummary</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_Fulfillement_Orders</name>
        <label>SOM 220 - Create FOs</label>
        <locationX>1215</locationX>
        <locationY>379</locationY>
        <connector>
            <targetReference>Get_Existing_FOs</targetReference>
        </connector>
        <flowName>SOM_220_CoreModel_Create_FulfillementOrders</flowName>
        <inputAssignments>
            <name>OrderSummaryRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>C_FulfillmentOrderInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_OrderItemSummaryInputRepresentationCollection</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_Order_Delivery_Group_Different_To_GB</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>FulfillementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsStockSufficient</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Locationforfullfilement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>S_FulfillmentGroupInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_FulfillmentOrderInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_OrderItemSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TOTAL_OSLI_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VAR_OrderDeliveryGroupsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
