unpackaged/main/default/flows/SOM_100_Create_OrderSummary_Orchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Managed</name>
        <label>Assign Managed</label>
        <locationX>397</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>ManagedLifeCycle</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SOM_110_CM_Create_OS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsManaged</name>
        <label>IsManaged?</label>
        <locationX>392</locationX>
        <locationY>552</locationY>
        <defaultConnector>
            <targetReference>SOM_110_CM_Create_OS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Channel_Mapping_mdt_related_To_Record.IsManaged__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Managed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>SOM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 100 - Create OrderSummary Orchestration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Delivery_Groups</name>
        <label>Get Order Delivery Groups</label>
        <locationX>241</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Sales_Channel_Mapping_mdt_related_To_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroup</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeliverToCountry</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Channel_Mapping_mdt_related_To_Record</name>
        <label>Get Sales Channel Mapping mdt related To Record</label>
        <locationX>240</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsManaged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Delivery_Groups.DeliverToCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Channel_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>115</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>Get_Order_Delivery_Groups</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesChannelId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SOM_110_CM_Create_OS</name>
        <label>SOM 110 - CM - Create OS</label>
        <locationX>590</locationX>
        <locationY>550</locationY>
        <flowName>SOM_110_CoreModel_Create_OrderSummary</flowName>
        <inputAssignments>
            <name>IsManaged</name>
            <value>
                <elementReference>ManagedLifeCycle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>C_OrderItemSummariesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Order_Delivery_Groups_With_Country_GB_AND_AE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroup</objectType>
    </variables>
    <variables>
        <name>ManagedLifeCycle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OrderSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryOutputRepresentation</name>
        <apexClass>ConnectApi__OrderSummaryOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_OrderItemSummaryToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>V_OS_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_PreOrderItemsCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VAR_OrderedDeliveryGroupsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
