unpackaged/main/default/flows/SOM_930_Corrective_Invoice_Generated_Publish_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <interviewLabel>SOM 930 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 930 - Corrective Invoice Generated Publish Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Event_Corrective_Invoice_Generated</name>
        <label>Publish Event Corrective Invoice Generated</label>
        <locationX>523</locationX>
        <locationY>364</locationY>
        <connector>
            <targetReference>Update_CI_to_Posted</targetReference>
        </connector>
        <inputAssignments>
            <field>InvoiceId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>InvoiceRdyForAZB__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_CI_to_Posted</name>
        <label>Update CI to Posted</label>
        <locationX>374</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PDFGenerationStatus__c</field>
            <value>
                <stringValue>Posted To BLOB Storage</stringValue>
            </value>
        </inputAssignments>
        <object>CorrectiveInvoice__c</object>
    </recordUpdates>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Publish_Event_Corrective_Invoice_Generated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PDFGenerationStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Generated</stringValue>
            </value>
        </filters>
        <object>CorrectiveInvoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
