unpackaged/main/default/flows/SOM_920_Create_Corrective_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Created_Date_To_Other_Timezone</name>
        <label>Convert Created Date To Other Timezone</label>
        <locationX>1764</locationX>
        <locationY>240</locationY>
        <actionName>SOM_DateTimeHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Previous_by_Country</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>dateToConvert</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetTimeZone</name>
            <value>
                <elementReference>Get_Timezone_MDT.Timezone__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_CI_Fields</name>
        <label>Set CI Fields</label>
        <locationX>1042</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>CorrectiveInvoiceToCreate.PreviousCorrectiveInvoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_previous_Corrective_Invoice.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CorrectiveInvoiceToCreate.OriginalInvoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice_Record.InvoiceNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CorrectiveInvoiceToCreate.PDFGenerationStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CorrectiveInvoiceToCreate.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice_Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CorrectiveInvoiceToCreate.OriginalInvoiceId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_FO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CI_Name1</name>
        <label>Set CI Name</label>
        <locationX>1697</locationX>
        <locationY>621</locationY>
        <assignmentItems>
            <assignToReference>CorrectiveInvoiceToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_CorrectiveInvoiceNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CorrectiveInvoiceToCreate.Corrective_Invoice_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Convert_DateTime_To_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Corrective_Invoice_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CInvoice_Name</name>
        <label>Set CInvoice Name</label>
        <locationX>1857</locationX>
        <locationY>619</locationY>
        <assignmentItems>
            <assignToReference>CorrectiveInvoiceToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_First_CI_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CorrectiveInvoiceToCreate.Corrective_Invoice_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Convert_DateTime_To_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Corrective_Invoice_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Corrective_Invoice_Fields</name>
        <label>Set Corrective Invoice Fields</label>
        <locationX>940</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>CorrectiveInvoiceToCreate.OriginalInvoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice_Record.InvoiceNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CorrectiveInvoiceToCreate.PDFGenerationStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CorrectiveInvoiceToCreate.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice_Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CorrectiveInvoiceToCreate.OriginalInvoiceId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_FO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_correctiveInvoiceElligible_To_false</name>
        <label>Set correctiveInvoiceElligible To false</label>
        <locationX>1266</locationX>
        <locationY>807</locationY>
        <assignmentItems>
            <assignToReference>Get_Invoice_Record.isCorrectiveInvoiceElligible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Invoice_Create_CI_Checkbox</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Confirm_creation</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>Confirmation</name>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </constants>
    <constants>
        <name>NoConfirmed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </constants>
    <decisions>
        <name>check_confirmation_creation_corrective_invoice</name>
        <label>check_confirmation_creation_corrective_invoice</label>
        <locationX>400</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>cancel</defaultConnectorLabel>
        <rules>
            <name>confirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Confirm_corrective_invoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoice_Record</targetReference>
            </connector>
            <label>confirm</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_by_Country</name>
        <label>Previous by Country</label>
        <locationX>1750</locationX>
        <locationY>405</locationY>
        <defaultConnector>
            <targetReference>Set_CInvoice_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Last_CI_for_Country</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CI_Name1</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_CI_Exist</name>
        <label>Previous CI Exist</label>
        <locationX>858</locationX>
        <locationY>229</locationY>
        <defaultConnector>
            <targetReference>Set_Corrective_Invoice_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_previous_Corrective_Invoice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CI_Fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FX_Convert_DateTime_To_Date</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Convert_Created_Date_To_Other_Timezone})</expression>
    </formulas>
    <formulas>
        <name>FX_CorrectiveInvoiceNumber</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Get_Last_CI_for_Country.Name}, {!FX_LastCorrectiveInvoiceNumberAdapted}, TEXT({!FX_NewCorrectiveInvoiceNumber}))</expression>
    </formulas>
    <formulas>
        <name>FX_First_CI_Record</name>
        <dataType>String</dataType>
        <expression>&quot;CI000000001&quot; + {!Get_FO.FulfilledToCountry}</expression>
    </formulas>
    <formulas>
        <name>FX_LastCorrectiveInvoiceNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE(SUBSTITUTE(SUBSTITUTE({!Get_Last_CI_for_Country.Name}, &quot;CI&quot;, &quot;&quot;), {!Get_FO.FulfilledToCountry}, &quot;&quot;))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FX_LastCorrectiveInvoiceNumberAdapted</name>
        <dataType>String</dataType>
        <expression>IF(LEN(TEXT({!FX_LastCorrectiveInvoiceNumber})) &lt; LEN(TEXT({!FX_NewCorrectiveInvoiceNumber})), &quot;0&quot;+TEXT({!FX_LastCorrectiveInvoiceNumber}), TEXT({!FX_LastCorrectiveInvoiceNumber}))</expression>
    </formulas>
    <formulas>
        <name>FX_NewCorrectiveInvoiceNumber</name>
        <dataType>Number</dataType>
        <expression>{!FX_LastCorrectiveInvoiceNumber} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SOM 920 Create Corrective Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 920 Create Corrective Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Corrective_Invoice_Record</name>
        <label>Create Corrective Invoice Record</label>
        <locationX>1775</locationX>
        <locationY>807</locationY>
        <connector>
            <targetReference>Validate</targetReference>
        </connector>
        <inputReference>CorrectiveInvoiceToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Publish_Corrective_Invoice_PDF_Generation_Event</name>
        <label>Publish Corrective Invoice PDF Generation Event</label>
        <locationX>1395</locationX>
        <locationY>807</locationY>
        <connector>
            <targetReference>Set_correctiveInvoiceElligible_To_false</targetReference>
        </connector>
        <inputAssignments>
            <field>Invoice_Id__c</field>
            <value>
                <elementReference>CorrectiveInvoiceToCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>InvoiceCreated__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_FO</name>
        <label>Get FO</label>
        <locationX>1281</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_CI_for_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice_Record.ReferenceEntityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrder</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Record</name>
        <label>Get Invoice Record</label>
        <locationX>618</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_previous_Corrective_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_CI_for_Country</name>
        <label>Get Last CI for Country</label>
        <locationX>1427</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timezone_MDT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>Get_FO.FulfilledToCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CorrectiveInvoice__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_previous_Corrective_Invoice</name>
        <label>Get previous Corrective Invoice</label>
        <locationX>729</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_CI_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OriginalInvoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice_Record.InvoiceNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CorrectiveInvoice__c</object>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Timezone_MDT</name>
        <label>Get Timezone MDT</label>
        <locationX>1574</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_Created_Date_To_Other_Timezone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_FO.OrderSummary.BillingCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Channel_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice_Create_CI_Checkbox</name>
        <label>Update Invoice Create CI Checkbox</label>
        <locationX>1114</locationX>
        <locationY>807</locationY>
        <inputReference>Get_Invoice_Record</inputReference>
    </recordUpdates>
    <screens>
        <name>confirmation_create_corrective_invoice_screen</name>
        <label>confirmation create corrective invoice_screen</label>
        <locationX>400</locationX>
        <locationY>168</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_confirmation_creation_corrective_invoice</targetReference>
        </connector>
        <fields>
            <name>confirmation_create_corrective_invoice</name>
            <fieldText>&lt;p&gt;Are you sure you want create a corrective invoice ?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_corrective_invoice</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Corfirm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validate</name>
        <label>Validate</label>
        <locationX>1563</locationX>
        <locationY>807</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Publish_Corrective_Invoice_PDF_Generation_Event</targetReference>
        </connector>
        <fields>
            <name>ciGenerated</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;New Corrective Invoice is generated.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Invoice Number : {!CorrectiveInvoiceToCreate.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>495</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>confirmation_create_corrective_invoice_screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CorrectiveInvoiceToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CorrectiveInvoice__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
