unpackaged/main/default/flows/SOM_210_Order_Retry_Allocation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Order_Summary_Status</name>
        <label>Check Order Summary Status</label>
        <locationX>661</locationX>
        <locationY>234</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_From_Cegid_Or_Manual_Order</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SalesChannel.SalesChannelName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CEGID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SalesChannel.SalesChannelName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retry_Allocation_For_Store_To_Web_Order</targetReference>
            </connector>
            <label>Is From Cegid Or Manual Order</label>
        </rules>
        <rules>
            <name>Is_From_Rimowa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SalesChannel.SalesChannelName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rimowa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OCI_Retry_Allocation</targetReference>
            </connector>
            <label>Is From Rimowa (HD &amp; CC)</label>
        </rules>
    </decisions>
    <interviewLabel>SOM 210 - Order Retry Allocation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 210 - Order Retry Allocation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Order_Summary_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>OCI_Retry_Allocation</name>
        <label>OCI Retry Allocation(HD &amp; CC)</label>
        <locationX>668</locationX>
        <locationY>469</locationY>
        <flowName>SOM_210_Order_HD_And_CC_Retry_Allocation</flowName>
        <inputAssignments>
            <name>OrderSummaryRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IsSuccess</assignToReference>
            <name>IsStockSufficient</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordsSuccessful</assignToReference>
            <name>recordsFoundSuccess</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Retry_Allocation_For_Store_To_Web_Order</name>
        <label>Retry Allocation For Store To Web Order</label>
        <locationX>936</locationX>
        <locationY>233</locationY>
        <flowName>SOM_210_Order_SToW_Retry_Allocation</flowName>
        <inputAssignments>
            <name>OrderSummaryRecord</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IsSuccess</assignToReference>
            <name>IsSuccess</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>COL_OCICreateReservationSingleInputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Locations_By_OIS_Location_Id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>IsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>REC_OCICreateReservationInputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_OCICreateReservationOutputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_OCICreateReservationSingleInputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
    <variables>
        <name>recordsSuccessful</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
