unpackaged/main/default/flows/SOM_250_FulfillmentOrderBatchHelper_FO_On_PreOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Single_FO</name>
        <label>Create Single FO</label>
        <locationX>442</locationX>
        <locationY>1835</locationY>
        <actionName>createFulfillmentOrder</actionName>
        <actionType>createFulfillmentOrder</actionType>
        <connector>
            <targetReference>Assign_FO_Ids</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderInput</name>
            <value>
                <elementReference>L70_FO_InputeRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>S_FulfillmentOrderOutputRepresentation</assignToReference>
            <name>fulfillmentOrderOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_FO_Data_To_Update</name>
        <label>Assign FO Data To Update</label>
        <locationX>438</locationX>
        <locationY>2239</locationY>
        <assignmentItems>
            <assignToReference>S_FO_To_Update.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L80_Loop_Over_FO_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FO_To_Update.Capture_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Applicable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FO_To_Update.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Allocated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Satck_FOs_To_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FO_Ids</name>
        <label>Assign FO Ids</label>
        <locationX>441</locationX>
        <locationY>1675</locationY>
        <assignmentItems>
            <assignToReference>C_FOS_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_FulfillmentOrderOutputRepresentation.fulfillmentOrderIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L70_FO_InputeRepresentation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fulfillment_Group_Input_representation</name>
        <label>Assign Fulfillment Group Input representation</label>
        <locationX>1485</locationX>
        <locationY>1288</locationY>
        <assignmentItems>
            <assignToReference>S_FulfillmentGroupInputRepresentation.fulfilledFromLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Locationforfullfilement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentGroupInputRepresentation.fulfillmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfillementType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentGroupInputRepresentation.orderItemSummaries</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C_OrderItemSummaryInputRepresentationCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentGroupInputRepresentation.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Counter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Fulfillment_Order_Input_Representation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fulfillment_Order_Input_Representation</name>
        <label>Assign Fulfillment Order Input Representation</label>
        <locationX>1261</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>S_FulfillmentOrderInputRepresentation.fulfillmentGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_FulfillmentGroupInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentOrderInputRepresentation.orderDeliveryGroupSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L10_Loop_Over_Order_Delivery_Group_Summaries.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentOrderInputRepresentation.orderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L70_Loop_Over_OrderSummary_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stack_FOIR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Ids</name>
        <label>Assign Ids</label>
        <locationX>1460</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>C_OS_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L11.OrderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C_OIS_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L11.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OIS_values</name>
        <label>Assign OIS values</label>
        <locationX>2173</locationX>
        <locationY>1074</locationY>
        <assignmentItems>
            <assignToReference>S_OrderItemSummaryInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L20_Loop_Over_Order_Item_summaries.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItemSummaryInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L20_Loop_Over_Order_Item_summaries.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOTAL_OSLI_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L20_Loop_Over_Order_Item_summaries.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stack_OIS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OS_Id_to_Set</name>
        <label>Assign OS Id to Set</label>
        <locationX>75</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>C_Set_Of_OrderSummary_Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L60_Loop_Over_Initial_OrderItemSummaries.OrderSummaryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L60_Loop_Over_Initial_OrderItemSummaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Size</name>
        <label>Assign Size</label>
        <locationX>379</locationX>
        <locationY>119</locationY>
        <assignmentItems>
            <assignToReference>CollectionFOLIsize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Current_FOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OIS_have_Exist_FOLI_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Data</name>
        <label>Clear Data</label>
        <locationX>1263</locationX>
        <locationY>944</locationY>
        <assignmentItems>
            <assignToReference>C_OrderItemSummaryInputRepresentationCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentGroupInputRepresentation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_FulfillmentOrderInputRepresentation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderItemSummaryInputRepresentation</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TOTAL_OSLI_Count</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_FOLI_Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L10_Loop_Over_Order_Delivery_Group_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>1635</locationX>
        <locationY>1286</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Fulfillment_Group_Input_representation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_FOLI_Counter</name>
        <label>Increment FOLI Counter</label>
        <locationX>2838</locationX>
        <locationY>1270</locationY>
        <assignmentItems>
            <assignToReference>V_FOLI_Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L14_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OIS_Filter_Collection_Size</name>
        <label>OIS Filter Collection Size</label>
        <locationX>1530</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>CollectionOISsize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_OIS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ordered_OIS_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Satck_FOs_To_Update</name>
        <label>Satck FOs To Update</label>
        <locationX>438</locationX>
        <locationY>2059</locationY>
        <assignmentItems>
            <assignToReference>C_FOs_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_FO_To_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L80_Loop_Over_FO_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type_to_Store</name>
        <label>Set Type to Store</label>
        <locationX>2597</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>FulfillementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Store</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_FOLI_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Type_to_Warehouse</name>
        <label>Set Type to Warehouse</label>
        <locationX>2682</locationX>
        <locationY>1090</locationY>
        <assignmentItems>
            <assignToReference>FulfillementType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warehouse</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_FOLI_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stack_FOIR</name>
        <label>Stack FOIR</label>
        <locationX>1263</locationX>
        <locationY>1115</locationY>
        <assignmentItems>
            <assignToReference>C_FulfillmentOrderInputRepresentation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_FulfillmentOrderInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stack_OIS</name>
        <label>Stack OIS</label>
        <locationX>1821</locationX>
        <locationY>1075</locationY>
        <assignmentItems>
            <assignToReference>C_OrderItemSummaryInputRepresentationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>S_OrderItemSummaryInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L20_Loop_Over_Order_Item_summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Location</name>
        <label>Store Location</label>
        <locationX>2742</locationX>
        <locationY>902</locationY>
        <assignmentItems>
            <assignToReference>Locationforfullfilement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L14_Locations</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_Type</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Location</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Location</label>
        <locationX>2365</locationX>
        <locationY>748</locationY>
        <assignNextValueToReference>currentItem_Filter_Location</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Location_to_fullfil</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Location.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>L20_Loop_Over_Order_Item_summaries.ReservedAtLocationId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>L14_Locations</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_ODGS</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter ODGS</label>
        <locationX>796</locationX>
        <locationY>737</locationY>
        <assignNextValueToReference>currentItem_Filter_ODGS</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Order_Delivery_Group_Summaries</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_ODGS.OrderSummaryId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>L70_Loop_Over_OrderSummary_Ids</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>L10_Loop_Over_Order_Delivery_Group_Summaries</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_OIS</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter OIS</label>
        <locationX>1643</locationX>
        <locationY>750</locationY>
        <assignNextValueToReference>currentItem_Filter_OIS_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Order_item_summaries</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_OIS_0.OrderDeliveryGroupSummaryId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>L10_Loop_Over_Order_Delivery_Group_Summaries.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>OIS_Filter_Collection_Size</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Current_FOLI</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Current FOLI</label>
        <locationX>545</locationX>
        <locationY>119</locationY>
        <assignNextValueToReference>currentItem_Get_Current_FOLI</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_FOLI</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Current_FOLI.OrderItemSummaryId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>L60_Loop_Over_Initial_OrderItemSummaries.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_Size</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Any_Item_to_fulfill</name>
        <label>Any Item to fulfill ?</label>
        <locationX>1623</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>L10_Loop_Over_Order_Delivery_Group_Summaries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing To fulfill</defaultConnectorLabel>
        <rules>
            <name>Nothing_to_fulfill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>V_FOLI_Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Counter</targetReference>
            </connector>
            <label>yes Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>FOIR_List_Contain_Records</name>
        <label>FOIR List Contain Records</label>
        <locationX>534</locationX>
        <locationY>977</locationY>
        <defaultConnectorLabel>FOIR Empty</defaultConnectorLabel>
        <rules>
            <name>FOIR_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>C_FulfillmentOrderInputRepresentation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SS100_Mapping</targetReference>
            </connector>
            <label>FOIR Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Location_Type</name>
        <label>Location Type !</label>
        <locationX>2594</locationX>
        <locationY>904</locationY>
        <defaultConnectorLabel>Location Not Found</defaultConnectorLabel>
        <rules>
            <name>Existing_Warehouse_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>L14_Locations.LocationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warehouse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Type_to_Warehouse</targetReference>
            </connector>
            <label>Existing Warehouse Location</label>
        </rules>
        <rules>
            <name>Existing_Store_Location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>L14_Locations.LocationType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Store</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Type_to_Store</targetReference>
            </connector>
            <label>Existing Store Location</label>
        </rules>
    </decisions>
    <decisions>
        <name>OIS_have_Exist_FOLI_0</name>
        <label>OIS have Exist FOLI ?</label>
        <locationX>66</locationX>
        <locationY>128</locationY>
        <defaultConnector>
            <targetReference>Assign_OS_Id_to_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add OS Id to Set</defaultConnectorLabel>
        <rules>
            <name>OS_Id_Exist_in_collection</name>
            <conditionLogic>((1 AND 2) OR 3 OR 4) OR 5</conditionLogic>
            <conditions>
                <leftValueReference>C_Set_Of_OrderSummary_Ids</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>L60_Loop_Over_Initial_OrderItemSummaries.OrderSummaryId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CollectionFOLIsize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CollectionFOLIsize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FX_Os_Status_Valide</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>L60_Loop_Over_Initial_OrderItemSummaries.OrderSummary.On_Hold__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L60_Loop_Over_Initial_OrderItemSummaries</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ordered_OIS_Exists</name>
        <label>Ordered OIS Exists?</label>
        <locationX>1631</locationX>
        <locationY>570</locationY>
        <defaultConnector>
            <targetReference>L10_Loop_Over_Order_Delivery_Group_Summaries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OIS Not Exists</defaultConnectorLabel>
        <rules>
            <name>OIS_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionOISsize</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L20_Loop_Over_Order_Item_summaries</targetReference>
            </connector>
            <label>OIS Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_Location_exist</name>
        <label>Product Location exist?</label>
        <locationX>2169</locationX>
        <locationY>748</locationY>
        <defaultConnectorLabel>Location is not Specified</defaultConnectorLabel>
        <rules>
            <name>Product_is_Delivery_Charge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>L20_Loop_Over_Order_Item_summaries.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Charge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OIS_values</targetReference>
            </connector>
            <label>Product is Delivery Charge</label>
        </rules>
        <rules>
            <name>Location_is_Specified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>L20_Loop_Over_Order_Item_summaries.ReservedAtLocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Location</targetReference>
            </connector>
            <label>Location is Specified</label>
        </rules>
    </decisions>
    <description>Clean Get Inside Loop</description>
    <environments>Default</environments>
    <formulas>
        <name>FX_Os_Status_Valide</name>
        <dataType>Boolean</dataType>
        <expression>If(ISPICKVAL({!L60_Loop_Over_Initial_OrderItemSummaries.OrderSummary.Status}, &quot;Validated&quot;) || ISPICKVAL({!L60_Loop_Over_Initial_OrderItemSummaries.OrderSummary.Status}, &quot;Waiting for goods&quot;) || ISPICKVAL({!L60_Loop_Over_Initial_OrderItemSummaries.OrderSummary.Status}, &quot;Fulfilling&quot;) || ISPICKVAL({!L60_Loop_Over_Initial_OrderItemSummaries.OrderSummary.Status}, &quot;Partially fulfilled&quot;) ,
 True , False)</expression>
    </formulas>
    <interviewLabel>SOM 250 - FulfillmentOrderBatchHelper - FO On PreOrder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 250 - FulfillmentOrderBatchHelper - FO On PreOrder</label>
    <loops>
        <name>L10_Loop_Over_Order_Delivery_Group_Summaries</name>
        <label>L10 Loop Over Order Delivery Group Summaries</label>
        <locationX>1266</locationX>
        <locationY>750</locationY>
        <collectionReference>Filter_ODGS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_OIS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>L70_Loop_Over_OrderSummary_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L11</name>
        <label>L11</label>
        <locationX>1456</locationX>
        <locationY>240</locationY>
        <collectionReference>Get_All_Initial_OrderItemSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Order_Delivery_Group_Summaries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L14_Locations</name>
        <label>L14 Locations</label>
        <locationX>2836</locationX>
        <locationY>756</locationY>
        <collectionReference>Filter_Location</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_Location</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_OIS_values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L20_Loop_Over_Order_Item_summaries</name>
        <label>L20 Loop Over Order Item summaries</label>
        <locationX>1815</locationX>
        <locationY>562</locationY>
        <collectionReference>Filter_OIS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Product_Location_exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Item_to_fulfill</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L60_Loop_Over_Initial_OrderItemSummaries</name>
        <label>L60 Loop Over Initial OrderItemSummaries</label>
        <locationX>548</locationX>
        <locationY>425</locationY>
        <collectionReference>Get_All_Initial_OrderItemSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Current_FOLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>L70_Loop_Over_OrderSummary_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L70_FO_InputeRepresentation</name>
        <label>L70 FO InputeRepresentation</label>
        <locationX>842</locationX>
        <locationY>1839</locationY>
        <collectionReference>C_FOIR_To_Create</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Single_FO</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>L80_Loop_Over_FO_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L70_Loop_Over_OrderSummary_Ids</name>
        <label>L70 Loop Over OrderSummary Ids</label>
        <locationX>542</locationX>
        <locationY>751</locationY>
        <collectionReference>C_Set_Of_OrderSummary_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_ODGS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FOIR_List_Contain_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L80_Loop_Over_FO_Ids</name>
        <label>L80 Loop Over FO Ids</label>
        <locationX>839</locationX>
        <locationY>2089</locationY>
        <collectionReference>C_FOS_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_FO_Data_To_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_FOs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_FOLI</name>
        <label>Get All FOLI</label>
        <locationX>1181</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_item_summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderItemSummaryId</field>
            <operator>In</operator>
            <value>
                <elementReference>C_OIS_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Initial_OrderItemSummaries</name>
        <label>Get All Initial OrderItemSummaries</label>
        <locationX>1462</locationX>
        <locationY>428</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>L11</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPreOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeliveryStartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ORDERED</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_to_fullfil</name>
        <label>Get Location to fullfil</label>
        <locationX>916</locationX>
        <locationY>426</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>L60_Loop_Over_Initial_OrderItemSummaries</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Delivery_Group_Summaries</name>
        <label>Get Order Delivery Group Summaries</label>
        <locationX>1340</locationX>
        <locationY>424</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_FOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>In</operator>
            <value>
                <elementReference>C_OS_Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_item_summaries</name>
        <label>Get Order item summaries</label>
        <locationX>1069</locationX>
        <locationY>422</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Location_to_fullfil</targetReference>
        </connector>
        <filterLogic>1 AND ((2 AND 3) OR (3 AND 5) OR 4)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ORDERED</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeliveryStartDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPreOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeliveryStartDate__c</field>
            <operator>EqualTo</operator>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <sortField>LineNumber</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_FOs</name>
        <label>Update FOs</label>
        <locationX>845</locationX>
        <locationY>2355</locationY>
        <inputReference>C_FOs_To_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>1578</locationX>
        <locationY>409</locationY>
        <connector>
            <targetReference>Get_All_Initial_OrderItemSummaries</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SS100_Mapping</name>
        <label>SS100 - Mapping</label>
        <locationX>540</locationX>
        <locationY>1529</locationY>
        <connector>
            <targetReference>SS120_Call_OCI</targetReference>
        </connector>
        <flowName>SOM_SERVICE_100_GetAvailability_Orchestration</flowName>
        <inputAssignments>
            <name>C_FulfillmentOrderInputRepresentation</name>
            <value>
                <elementReference>C_FulfillmentOrderInputRepresentation</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SS120_Call_OCI</name>
        <label>SS120 - Call OCI</label>
        <locationX>689</locationX>
        <locationY>1529</locationY>
        <connector>
            <targetReference>SS_130_Manage_Results</targetReference>
        </connector>
        <flowName>SOM_SERVICE_120_GetAvailability_Call_OCI</flowName>
        <inputAssignments>
            <name>C_Reservations</name>
            <value>
                <elementReference>SS100_Mapping.C_Reservations</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SS_130_Manage_Results</name>
        <label>SS 130 - Manage Results</label>
        <locationX>843</locationX>
        <locationY>1530</locationY>
        <connector>
            <targetReference>L70_FO_InputeRepresentation</targetReference>
        </connector>
        <flowName>SOM_SERVICE_130_GetAvailability_Manage_Results</flowName>
        <inputAssignments>
            <name>C_FulfillmentOrderInputRepresentation</name>
            <value>
                <elementReference>C_FulfillmentOrderInputRepresentation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>C_Full_Results</name>
            <value>
                <elementReference>SS120_Call_OCI.C_Full_Results</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>C_FOIR_To_Create</assignToReference>
            <name>C_FOIRtoCreate</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>C_FGIR</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_FOIR_To_Create</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_FOIRtoCreate</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_FOS_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_FOs_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrder</objectType>
    </variables>
    <variables>
        <name>C_FRFS_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentReadyForShipping__e</objectType>
    </variables>
    <variables>
        <name>C_FulfillmentOrderInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_Locations</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_OCIInventoryRecordOutputRepresentation</name>
        <apexClass>ConnectApi__OCIInventoryRecordOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_OCILocationAvailabilityOutputRepresentation</name>
        <apexClass>ConnectApi__OCILocationAvailabilityOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_OIS_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_OISIR</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_OrderItemSummaryInputRepresentationCollection</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_OS_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_Set_Of_OrderSummary_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_SKU</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionFOLIsize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CollectionOISsize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filter_Location</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_ODGS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_OIS_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Current_FOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrderLineItem</objectType>
    </variables>
    <variables>
        <name>FLAG_OCI_Fail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FLAG_OCI_Pass</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FulfillementType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentReadyForShippingRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentReadyForShipping__e</objectType>
    </variables>
    <variables>
        <name>Locationforfullfilement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>MatchCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OIS_Size</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>S_FO_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrder</objectType>
    </variables>
    <variables>
        <name>S_FulfillmentGroupInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_FulfillmentOrderInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_FulfillmentOrderOutputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_OCIGetInventoryAvailabilityInputRepresentation</name>
        <apexClass>ConnectApi__OCIGetInventoryAvailabilityInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_OCIGetInventoryAvailabilityOutputRepresentation</name>
        <apexClass>ConnectApi__OCIGetInventoryAvailabilityOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_OrderItemSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TOTAL_OSLI_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>V_FOLI_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
