unpackaged/main/default/flows/SOM_120_CoreModel_OrderSummary_Capture_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OrderSummary_Payment_Capture</name>
        <label>OrderSummary Payment Capture</label>
        <locationX>298</locationX>
        <locationY>297</locationY>
        <actionName>WS_SOM_OrderSummary_CapturePaymentAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>$Record.OrderSummaryId__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Amount</assignToReference>
            <name>amount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>authorizationCode</assignToReference>
            <name>authorizationCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>decision</assignToReference>
            <name>decision</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Error_Message</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Is_Success</assignToReference>
            <name>isSucces</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>reasonCode</assignToReference>
            <name>reasonCode</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>reconciliationId</assignToReference>
            <name>reconciliationId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>settlementTransactionId</assignToReference>
            <name>settlementTransactionId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Capture_Authorization_Amount</name>
        <label>Set Capture Authorization Amount</label>
        <locationX>1684</locationX>
        <locationY>1090</locationY>
        <assignmentItems>
            <assignToReference>Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Authorization.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Payment_Record_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Create_Process_Exception_To_False</name>
        <label>Set Create Process Exception To False</label>
        <locationX>1519</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>CreateProcessException</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Create_Process_Exception_To_True</name>
        <label>Set Create Process Exception To True</label>
        <locationX>1114</locationX>
        <locationY>519</locationY>
        <assignmentItems>
            <assignToReference>CreateProcessException</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Error_Message_Default_Value</name>
        <label>Set Error Message Default Value</label>
        <locationX>1513</locationX>
        <locationY>519</locationY>
        <assignmentItems>
            <assignToReference>Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REJECT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Payment_Status_Error_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Summary_Capture_Status_To_Error</name>
        <label>Set Order Summary Capture Status To Error</label>
        <locationX>975</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>S_OrderSummary.CaptureStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Capture Error</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderSummary.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderSummaryId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Create_Process_Exception_To_True</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Summary_Values</name>
        <label>Set Order Summary Values</label>
        <locationX>1183</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>S_OrderSummary.CaptureStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Captured</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>S_OrderSummary.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderSummaryId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Payment_Status_To_Processed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payment_Authorization_Code</name>
        <label>Set Payment Authorization Code</label>
        <locationX>656</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>Get_Payment_Authorization.GatewayAuthCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>authorizationCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payment_Authorization</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payment_Reconciliation_Id</name>
        <label>Set Payment Reconciliation Id</label>
        <locationX>948</locationX>
        <locationY>1048</locationY>
        <assignmentItems>
            <assignToReference>PaymentCaptureRecord.reconciliationId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>reconciliationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Settlement_Transaction_Id_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payment_Record_Values</name>
        <label>Set Payment Record Values</label>
        <locationX>1481</locationX>
        <locationY>1089</locationY>
        <assignmentItems>
            <assignToReference>PaymentCaptureRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Authorization.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentCaptureRecord.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentCaptureRecord.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Authorization.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentCaptureRecord.PaymentAuthorizationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Authorization.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentCaptureRecord.PaymentGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Authorization.PaymentGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentCaptureRecord.PaymentMethodId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Authorization.PaymentMethodId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentCaptureRecord.ProcessingMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>External</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentCaptureRecord.TotalApplied</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentCaptureRecord.OrderPaymentSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Authorization.OrderPaymentSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentCaptureRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Capture</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentCaptureRecord.Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Reconciliation_Id_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payment_Settlement_Transaction_Id</name>
        <label>Set Payment Settlement Transaction Id</label>
        <locationX>158</locationX>
        <locationY>891</locationY>
        <assignmentItems>
            <assignToReference>PaymentCaptureRecord.GatewayRefNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>settlementTransactionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Authorization_Code_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payment_Status_Error_Fields</name>
        <label>Set Payment Status Error Fields</label>
        <locationX>1666</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>PaymentCaptureRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentCaptureRecord.GatewayRefDetails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Payment_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Payment_Status_To_Processed</name>
        <label>Set Payment Status To Processed</label>
        <locationX>1369</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>PaymentCaptureRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Create_Process_Exception_To_False</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PE_To_Resolved</name>
        <label>Set PE To Resolved</label>
        <locationX>1818</locationX>
        <locationY>1590</locationY>
        <assignmentItems>
            <assignToReference>Get_Active_Process_Exception.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Active_Process_Exception1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Process_Exception_Message_payment</name>
        <label>Set Process Exception Message + payment</label>
        <locationX>2068</locationX>
        <locationY>1401</locationY>
        <assignmentItems>
            <assignToReference>Get_Active_Process_Exception.Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Active_Process_Exception.AttachedToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentCaptureRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Active_Process_Exception1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Process_Exception_Values</name>
        <label>Set Process Exception Values</label>
        <locationX>1551</locationX>
        <locationY>1378</locationY>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.AttachedToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentCaptureRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.OrderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Severity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProcessExceptionRecord.Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Process_Exception</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Capture_Decision_Accept</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ACCEPT</stringValue>
        </value>
    </constants>
    <constants>
        <name>Capture_Decision_Reject</name>
        <dataType>String</dataType>
        <value>
            <stringValue>REJECT</stringValue>
        </value>
    </constants>
    <constants>
        <name>Capture_Reason_Code_100</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Authorization_Code_Response</name>
        <label>Check Authorization Code Response</label>
        <locationX>314</locationX>
        <locationY>1336</locationY>
        <defaultConnector>
            <targetReference>Create_Payment_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Authorization Code Is Empty</defaultConnectorLabel>
        <rules>
            <name>Authorization_Code_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>authorizationCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payment_Authorization_Code</targetReference>
            </connector>
            <label>Authorization Code Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Capture_Amount</name>
        <label>Check Capture Amount</label>
        <locationX>1678</locationX>
        <locationY>862</locationY>
        <defaultConnector>
            <targetReference>Set_Payment_Record_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Empty</defaultConnectorLabel>
        <rules>
            <name>Is_Amount_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Capture_Authorization_Amount</targetReference>
            </connector>
            <label>Is Amount Empty?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Capture_Response</name>
        <label>Check Capture Response</label>
        <locationX>967</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Set_Order_Summary_Capture_Status_To_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>REJECT</defaultConnectorLabel>
        <rules>
            <name>ACCEPT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>decision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Capture_Decision_Accept</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>reasonCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Capture_Reason_Code_100</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Order_Summary_Values</targetReference>
            </connector>
            <label>ACCEPT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Error_Message</name>
        <label>Check Error Message</label>
        <locationX>1257</locationX>
        <locationY>520</locationY>
        <defaultConnector>
            <targetReference>Set_Payment_Status_Error_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Empty</defaultConnectorLabel>
        <rules>
            <name>Is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Error_Message</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Error_Message_Default_Value</targetReference>
            </connector>
            <label>Is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_active_Process_Exception_exist</name>
        <label>Check if active Process Exception exist</label>
        <locationX>1806</locationX>
        <locationY>1395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Active_Process_Exception</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Process_Exception</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreateProcessException</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Process_Exception_Message_payment</targetReference>
            </connector>
            <label>Update Active Process Exception</label>
        </rules>
        <rules>
            <name>Update_Active_Process_Exception_to_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Process_Exception</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreateProcessException</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PE_To_Resolved</targetReference>
            </connector>
            <label>Update Active Process Exception to Resolved</label>
        </rules>
        <rules>
            <name>Create_New_Process_Exception</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Process_Exception</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CreateProcessException</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Process_Exception_Values</targetReference>
            </connector>
            <label>Create New Process Exception</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Reconciliation_Id_Response</name>
        <label>Check Reconciliation Id Response</label>
        <locationX>1338</locationX>
        <locationY>980</locationY>
        <defaultConnector>
            <targetReference>Check_Settlement_Transaction_Id_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Reconciliation Id Is Empty</defaultConnectorLabel>
        <rules>
            <name>Reconciliation_Id_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>reconciliationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payment_Reconciliation_Id</targetReference>
            </connector>
            <label>Reconciliation Id Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Settlement_Transaction_Id_Response</name>
        <label>Check Settlement Transaction Id Response</label>
        <locationX>403</locationX>
        <locationY>896</locationY>
        <defaultConnector>
            <targetReference>Check_Authorization_Code_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Settlement Transaction Id Is Empty</defaultConnectorLabel>
        <rules>
            <name>Settlement_Transaction_Id_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>settlementTransactionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Payment_Settlement_Transaction_Id</targetReference>
            </connector>
            <label>Settlement Transaction Id Exists</label>
        </rules>
    </decisions>
    <description>Simplify Decision Condition</description>
    <interviewLabel>SOM 120 - CoreModel - OrderSummary Capture Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 120 - CoreModel - OrderSummary Capture Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Payment_Record</name>
        <label>Create Payment Record</label>
        <locationX>1479</locationX>
        <locationY>1253</locationY>
        <connector>
            <targetReference>Update_OrderSummary</targetReference>
        </connector>
        <inputReference>PaymentCaptureRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Process_Exception</name>
        <label>Create Process Exception</label>
        <locationX>1391</locationX>
        <locationY>1387</locationY>
        <inputReference>ProcessExceptionRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Process_Exception</name>
        <label>Get Active Process Exception</label>
        <locationX>1799</locationX>
        <locationY>1253</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_active_Process_Exception_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>634</locationX>
        <locationY>295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Capture_Response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OrderSummaryId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Authorization</name>
        <label>Get Payment Authorization</label>
        <locationX>1961</locationX>
        <locationY>599</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Capture_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PaymentGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PaymentAuthorization</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Group</name>
        <label>Get Payment Group</label>
        <locationX>1972</locationX>
        <locationY>275</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_Authorization</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary.OriginalOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PaymentGroup</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Active_Process_Exception1</name>
        <label>Update Active Process Exception</label>
        <locationX>2088</locationX>
        <locationY>1574</locationY>
        <inputReference>Get_Active_Process_Exception</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OrderSummary</name>
        <label>Update OrderSummary</label>
        <locationX>1647</locationX>
        <locationY>1254</locationY>
        <connector>
            <targetReference>Get_Active_Process_Exception</targetReference>
        </connector>
        <inputReference>S_OrderSummary</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_Authorization</name>
        <label>Update Payment Authorization</label>
        <locationX>1085</locationX>
        <locationY>1332</locationY>
        <connector>
            <targetReference>Create_Payment_Record</targetReference>
        </connector>
        <inputReference>Get_Payment_Authorization</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>OrderSummary_Payment_Capture</targetReference>
        </connector>
        <object>UpdateOSCaptureEvent__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Amount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>authorizationCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaptureStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateProcessException</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>decision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>REJECT</stringValue>
        </value>
    </variables>
    <variables>
        <name>Is_Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Order_Summary_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaymentCaptureRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment</objectType>
    </variables>
    <variables>
        <name>PaymentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProcessExceptionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <name>reasonCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>reconciliationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_OrderSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
    <variables>
        <name>settlementTransactionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
