unpackaged/main/default/flows/SOM_Cancel_C_C_Order_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancel_Fulfillment_Order_Line_Items</name>
        <label>Cancel Fulfillment Order Line Items</label>
        <locationX>2111</locationX>
        <locationY>277</locationY>
        <actionName>cancelFulfillmentOrderItem</actionName>
        <actionType>cancelFulfillmentOrderItem</actionType>
       
        <connector>
            <targetReference>Iterate_Over_Fulfillment_Order_Line_Items</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderLineItemsToCancelInput</name>
            <value>
                <elementReference>REC_FulfillmentOrderLineItemsToCancelInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fulfillmentOrderId</name>
            <value>
                <elementReference>Iterate_Over_Fulfillment_Order_Line_Items.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Cancel_Order_Item_Summaries</name>
        <label>Cancel Order Item Summaries</label>
        <locationX>742</locationX>
        <locationY>314</locationY>
        <actionName>cancelOrderItemSummariesSubmit</actionName>
        <actionType>cancelOrderItemSummariesSubmit</actionType>
        <connector>
            <targetReference>Loop_Over_Filter_Order_Items</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemSummaryLineItemsToChangeInput</name>
            <value>
                <elementReference>REC_ChangeInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CancelOutputRepresentation</assignToReference>
            <name>submitCancelOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Generate_Uuid_Value</name>
        <label>Generate Uuid Value</label>
        <locationX>1424</locationX>
        <locationY>1342</locationY>
        <actionName>SOM_FlowUtils_UuidGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_OCI_Release_Reservation_Single_Input</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Uuid_Value</assignToReference>
            <name>value</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>OCI_Release_Reservation</name>
        <label>OCI Release Reservation</label>
        <locationX>1035</locationX>
        <locationY>808</locationY>
        <actionName>ociReleaseReservation</actionName>
        <actionType>ociReleaseReservation</actionType>
        <connector>
            <targetReference>Set_OS_To_Canceled</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ociReleaseReservationInput</name>
            <value>
                <elementReference>REC_OCIReleaseReservationInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Change_Item_Input_To_Collection</name>
        <label>Add Change Item Input To Collection</label>
        <locationX>2206</locationX>
        <locationY>1404</locationY>
        <assignmentItems>
            <assignToReference>COL_ChangeItemInputRepresentation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>REC_ChangeItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Order_Item_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_FO_Line_Item_To_Collection</name>
        <label>Add FO Line Item To Collection</label>
        <locationX>2572</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>COL_FulfillmentOrderLineItemInputRepresentation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>REC_FulfillmentOrderLineItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Fulfillment_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OCI_Single_Input_To_Collection</name>
        <label>Add OCI Single Input To Collection</label>
        <locationX>1037</locationX>
        <locationY>1199</locationY>
        <assignmentItems>
            <assignToReference>COL_OCIReleaseReservationSingleInputRepresentation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>REC_OCIReleaseReservationSingleInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Is_Unreservation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Order_Item_Summaries_To_Release_OCI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Order_Items_List</name>
        <label>Add to Order Items List</label>
        <locationX>295</locationX>
        <locationY>105</locationY>
        <assignmentItems>
            <assignToReference>OrderItemsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Filter_Order_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Filter_Order_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Change_Input_Representation_Values</name>
        <label>Set Change Input Representation Values</label>
        <locationX>2034</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>REC_ChangeItemInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Order_Item_Summaries.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_ChangeItemInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Order_Item_Summaries.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_ChangeItemInputRepresentation.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RE03</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_ChangeItemInputRepresentation.shippingReductionFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Change_Item_Input_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FO_Items_To_Cancel_In_Collection</name>
        <label>Set FO Items To Cancel In Collection</label>
        <locationX>2101</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemsToCancelInputRepresentation.fulfillmentOrderLineItemsToCancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COL_FulfillmentOrderLineItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_Fulfillment_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fulfillment_Order_Line_Items_Input</name>
        <label>Set Fulfillment Order Line Items Input</label>
        <locationX>2571</locationX>
        <locationY>113</locationY>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemInputRepresentation.fulfillmentOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Fulfillment_Order_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Fulfillment_Order_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_FO_Line_Item_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fulfilment_Order_IDS</name>
        <label>Set Fulfilment Order IDS</label>
        <locationX>1889</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>FlfulmentOrderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Fulfillment_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Fulfillment_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Location_External_Reference</name>
        <label>Set Location External Reference</label>
        <locationX>1032</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationSingleInputRepresentation.locationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Filtered_Locations.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Filtered_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OCI_Release_Reservation_Single_Input</name>
        <label>Set OCI Release Reservation Single Input</label>
        <locationX>1421</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationSingleInputRepresentation.actionRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Uuid_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationSingleInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Order_Item_Summaries_To_Release_OCI.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationSingleInputRepresentation.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Order_Item_Summaries_To_Release_OCI.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationSingleInputRepresentation.externalRefId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.OrderNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Item_Summaries_To_Cancel</name>
        <label>Set Order Item Summaries To Cancel</label>
        <locationX>996</locationX>
        <locationY>959</locationY>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationInputRepresentation.releaseRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COL_OCIReleaseReservationSingleInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OCI_Release_Reservation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OS_Items_To_Cancel</name>
        <label>Set OS Items To Cancel</label>
        <locationX>2139</locationX>
        <locationY>1010</locationY>
        <assignmentItems>
            <assignToReference>REC_ChangeInputRepresentation.changeItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COL_ChangeItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OS_To_Canceled</name>
        <label>Set OS To Canceled</label>
        <locationX>1238</locationX>
        <locationY>646</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Fulfillment_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PE_Status_To_Ignored</name>
        <label>Set PE Status To Ignored</label>
        <locationX>632</locationX>
        <locationY>829</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Over_Process_Exceptions.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ignored</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PE_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Unresolved_PEs_c_to_0</name>
        <label>Set Unresolved_PEs__c to 0</label>
        <locationX>546</locationX>
        <locationY>104</locationY>
        <assignmentItems>
            <assignToReference>Loop_Over_Filter_Order_Items.Unresolved_PEs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Order_Items_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PE_List</name>
        <label>Update PE List</label>
        <locationX>788</locationX>
        <locationY>828</locationY>
        <assignmentItems>
            <assignToReference>ProcessExceptionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Process_Exceptions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Process_Exceptions</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Fulfillment_Order_Line_Items_Rec</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Fulfillment Order Line Items Rec</label>
        <locationX>2205</locationX>
        <locationY>67</locationY>
        <assignNextValueToReference>currentItem_Filter_Fulfillment_Order_Line_Items_Rec_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Fulfillment_Order_Line_Items_Rec</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Fulfillment_Order_Line_Items_Rec_0.FulfillmentOrderId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterate_Over_Fulfillment_Order_Line_Items.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Over_Fulfillment_Order_Line_Items</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Locations</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Locations</label>
        <locationX>1226</locationX>
        <locationY>1500</locationY>
        <assignNextValueToReference>currentItem_Filter_Locations</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Locations</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Locations.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterate_Over_Order_Item_Summaries_To_Release_OCI.ReservedAtLocationId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_Over_Filtered_Locations</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Order_Item_Summary</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Order Item Summary</label>
        <locationX>636</locationX>
        <locationY>437</locationY>
        <assignNextValueToReference>currentItem_Filter_Order_Item_Summary_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Order_Item_Summaries</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Order_Item_Summary_0.Unresolved_PEs__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <numberValue>0.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Cancel_Order_Item_Summaries</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Fulfillment_Order</name>
        <label>Check Fulfillment Order</label>
        <locationX>1607</locationX>
        <locationY>589</locationY>
        <defaultConnector>
            <targetReference>Get_Fulfillment_Order_Line_Items_Rec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Empty</defaultConnectorLabel>
        <rules>
            <name>Is_FO_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fulfillment_Orders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fulfillment_Order_Status_To_Canceled</targetReference>
            </connector>
            <label>Is FO Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Summary_Status</name>
        <label>Check Order Summary Status</label>
        <locationX>2623</locationX>
        <locationY>1140</locationY>
        <defaultConnectorLabel>Is Not Valid</defaultConnectorLabel>
        <rules>
            <name>Is_Status_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Partially fulfilled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Fulfilled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Item_Summaries</targetReference>
            </connector>
            <label>Is Status Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_ReservedAtLocation</name>
        <label>Check ReservedAtLocation</label>
        <locationX>1417</locationX>
        <locationY>1133</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Order_Item_Summaries_To_Release_OCI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No location</defaultConnectorLabel>
        <rules>
            <name>There_is_location</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_Order_Item_Summaries_To_Release_OCI.ReservedAtLocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_Order_Item_Summaries_To_Release_OCI.ReservedAtLocationId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Uuid_Value</targetReference>
            </connector>
            <label>There is location</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_No_unreservation</name>
        <label>If No unreservation</label>
        <locationX>1218</locationX>
        <locationY>941</locationY>
        <defaultConnector>
            <targetReference>Set_Order_Item_Summaries_To_Cancel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_reservation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_Unreservation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OS_To_Canceled</targetReference>
            </connector>
            <label>No reservation</label>
        </rules>
    </decisions>
    <interviewLabel>SOM - Cancel Order Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM - Cancel C&amp;C Order Summary</label>
    <loops>
        <name>Iterate_Over_Filtered_Locations</name>
        <label>Iterate Over Filtered Locations</label>
        <locationX>1034</locationX>
        <locationY>1402</locationY>
        <collectionReference>Filter_Locations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Location_External_Reference</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_OCI_Single_Input_To_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Fulfillment_Order</name>
        <label>Iterate Over Fulfillment Order</label>
        <locationX>1885</locationX>
        <locationY>710</locationY>
        <collectionReference>Get_Fulfillment_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Fulfilment_Order_IDS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Fulfillment_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Fulfillment_Order_Line_Items</name>
        <label>Iterate Over Fulfillment Order Line Items</label>
        <locationX>1871</locationX>
        <locationY>50</locationY>
        <collectionReference>Get_Fulfillment_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_Fulfillment_Order_Line_Items_Rec</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Fulfillment_Order_Status_To_Canceled</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Order_Item_Summaries</name>
        <label>Iterate Over Order Item Summaries</label>
        <locationX>2139</locationX>
        <locationY>1204</locationY>
        <collectionReference>Get_Order_Item_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Change_Input_Representation_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_OS_Items_To_Cancel</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Order_Item_Summaries_To_Release_OCI</name>
        <label>Iterate Over Order Item Summaries To Release OCI</label>
        <locationX>1201</locationX>
        <locationY>1112</locationY>
        <collectionReference>Get_Order_Item_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_ReservedAtLocation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_No_unreservation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Process_Exceptions</name>
        <label>Iterate Over Process Exceptions</label>
        <locationX>725</locationX>
        <locationY>655</locationY>
        <collectionReference>Get_PE</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_PE_Status_To_Ignored</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PEs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Filter_Order_Items</name>
        <label>Loop Over Filter Order Items</label>
        <locationX>432</locationX>
        <locationY>312</locationY>
        <collectionReference>Filter_Order_Item_Summary</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Unresolved_PEs_c_to_0</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Over_Fulfillment_Order_Line_Items</name>
        <label>Loop Over Fulfillment Order Line Items</label>
        <locationX>2467</locationX>
        <locationY>247</locationY>
        <collectionReference>Filter_Fulfillment_Order_Line_Items_Rec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Fulfillment_Order_Line_Items_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_FO_Items_To_Cancel_In_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Fulfillment_Order_Line_Items_Rec</name>
        <label>Get Fulfillment Order Line Items Rec</label>
        <locationX>1662</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Fulfillment_Order_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quantity</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>FulfillmentOrderId</field>
            <operator>In</operator>
            <value>
                <elementReference>FlfulmentOrderIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fulfillment_Orders</name>
        <label>Get Fulfillment Orders</label>
        <locationX>1631</locationX>
        <locationY>809</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Fulfillment_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Partially Fulfilled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrder</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Locations</name>
        <label>Get Locations</label>
        <locationX>1470</locationX>
        <locationY>1001</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Order_Item_Summaries_To_Release_OCI</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ExternalReference</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item_Summaries</name>
        <label>Get Order Item Summaries</label>
        <locationX>2415</locationX>
        <locationY>1315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Order_Item_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order Product</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PE</name>
        <label>Get PE</label>
        <locationX>876</locationX>
        <locationY>655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Process_Exceptions</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 )</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Triaged</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProcessException</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Fulfillment_Order_Status_To_Canceled</name>
        <label>Set Fulfillment Order Status To Canceled</label>
        <locationX>1055</locationX>
        <locationY>497</locationY>
        <connector>
            <targetReference>Update_OS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Partially Fulfilled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>FulfillmentOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OS</name>
        <label>Update OS</label>
        <locationX>1018</locationX>
        <locationY>655</locationY>
        <connector>
            <targetReference>Get_PE</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PEs</name>
        <label>Update PEs</label>
        <locationX>547</locationX>
        <locationY>655</locationY>
        <connector>
            <targetReference>Filter_Order_Item_Summary</targetReference>
        </connector>
        <inputReference>ProcessExceptionList</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>2509</locationX>
        <locationY>865</locationY>
        <connector>
            <targetReference>Check_Order_Summary_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CancelOutputRepresentation</name>
        <apexClass>ConnectApi__SubmitCancelOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COL_ChangeItemInputRepresentation</name>
        <apexClass>ConnectApi__ChangeItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COL_FulfillmentOrderLineItemInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderLineItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COL_OCIReleaseReservationSingleInputRepresentation</name>
        <apexClass>ConnectApi__OCIReleaseReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Fulfillment_Order_Line_Items_Rec_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FulfillmentOrderLineItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Locations</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Order_Item_Summary_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>ensureRefundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureRefundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlfulmentOrderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Is_Unreservation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OrderItemsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>ProcessExceptionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <name>REC_ChangeInputRepresentation</name>
        <apexClass>ConnectApi__ChangeInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_ChangeItemInputRepresentation</name>
        <apexClass>ConnectApi__ChangeItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_FulfillmentOrderLineItemInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderLineItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_FulfillmentOrderLineItemsToCancelInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderLineItemsToCancelInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_OCIReleaseReservationInputRepresentation</name>
        <apexClass>ConnectApi__OCIReleaseReservationInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_OCIReleaseReservationSingleInputRepresentation</name>
        <apexClass>ConnectApi__OCIReleaseReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
    <variables>
        <name>Uuid_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
