unpackaged/main/default/flows/SOM_Batch_RetryAllocation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_OCI_Reservation_Output</name>
        <label>Check OCI Reservation Output</label>
        <locationX>1325</locationX>
        <locationY>699</locationY>
        <defaultConnector>
            <targetReference>Wait1Min_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Summary_Status_To_Validated</targetReference>
            </connector>
            <label>Is Success</label>
        </rules>
        <rules>
            <name>NoRecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SuccessRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait1Min_0</targetReference>
            </connector>
            <label>NoRecordsFound</label>
        </rules>
    </decisions>
    <interviewLabel>SOM_Batch_RetryAllocation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM_Batch_RetryAllocation</label>
    <loops>
        <name>Loop_Over_each_OS</name>
        <label>Loop Over each OS</label>
        <locationX>1431</locationX>
        <locationY>177</locationY>
        <collectionReference>Get_All_OrderSummary_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SOM_210_Order_Retry_Allocation</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_OrderSummary_Records</name>
        <label>Get All OrderSummary Records</label>
        <locationX>1206</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_each_OS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tech_PE_Fulfillment_Count__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>On_Hold__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting for goods</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateTimeValue>2023-12-31T23:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderSummary</object>
        <sortField>OrderedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Summary_Status_To_Validated</name>
        <label>Update Order Summary Status To Validated</label>
        <locationX>985</locationX>
        <locationY>521</locationY>
        <connector>
            <targetReference>Wait1Min_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Over_each_OS.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreateFulfillmentOrderImmediatly__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RetryAllocationProcessed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <start>
        <locationX>630</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_OrderSummary_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SOM_210_Order_Retry_Allocation</name>
        <label>SOM 210 - Order Retry Allocation</label>
        <locationX>1662</locationX>
        <locationY>470</locationY>
        <connector>
            <targetReference>Check_OCI_Reservation_Output</targetReference>
        </connector>
        <flowName>SOM_210_Order_Retry_Allocation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Loop_Over_each_OS</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>IsSuccess</assignToReference>
            <name>IsSuccess</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SuccessRecords</assignToReference>
            <name>recordsSuccessful</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>IsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>orderSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
    <variables>
        <name>SuccessRecords</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait1Min_0</name>
        <elementSubtype>WaitDuration</elementSubtype>
        <label>Wait1Min</label>
        <locationX>1285</locationX>
        <locationY>315</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Loop_Over_each_OS</targetReference>
            </connector>
             <label>el_0</label>
            <offset>1</offset>
            <offsetUnit>Minutes</offsetUnit>
            <resumeTime>00:00:00.000Z</resumeTime>
            
        </waitEvents>
    </waits>
</Flow>
