unpackaged/main/default/flows/SOM_210_Order_SToW_Retry_Allocation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Uuid_Value</name>
        <label>Generate Uuid Value</label>
        <locationX>2560</locationX>
        <locationY>545</locationY>
        <actionName>SOM_FlowUtils_UuidGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_OCI_Create_Reservation_Input</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>UuidValue</assignToReference>
            <name>value</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Generate_Uuid_Value_For_Reservation</name>
        <label>Generate Uuid Value For Reservation</label>
        <locationX>2597</locationX>
        <locationY>861</locationY>
        <actionName>SOM_FlowUtils_UuidGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Release_Reservation_Single_Input_Values</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>UuidValue</assignToReference>
            <name>value</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>OCI_Create_Reservation</name>
        <label>OCI Create Reservation</label>
        <locationX>2258</locationX>
        <locationY>545</locationY>
        <actionName>ociCreateReservation</actionName>
        <actionType>ociCreateReservation</actionType>
        <connector>
            <targetReference>Filter_Reservation_Output_With_Error_Code_Different_To_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ociCreateReservationInput</name>
            <value>
                <elementReference>REC_OCICreateReservationInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>REC_OCICreateReservationOutputRepresentation</assignToReference>
            <name>ociCreateReservationOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Release_OCI_Reservation</name>
        <label>Release OCI Reservation</label>
        <locationX>1725</locationX>
        <locationY>1031</locationY>
        <actionName>ociReleaseReservation</actionName>
        <actionType>ociReleaseReservation</actionType>
        <connector>
            <targetReference>Get_OIS_with_Skus_to_resolve</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ociReleaseReservationInput</name>
            <value>
                <elementReference>REC_OCIReleaseReservationInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_OCI_Single_Input_To_Coll</name>
        <label>Add OCI Single Input To Coll</label>
        <locationX>2980</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>COL_OCICreateReservationSingleInputRepresentation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>REC_OCICreateReservationSingleInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Order_Item_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OCI_Single_Input_To_Coll_Sku_Duplicate</name>
        <label>Add OCI Single Input To Coll Sku Duplicate</label>
        <locationX>3109</locationX>
        <locationY>1174</locationY>
        <assignmentItems>
            <assignToReference>COL_OCICreateReservationSingleInputRepresentationSkuUnique</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>REC_OCICreateReservationSingleInputRepresentationSkuUnique</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_COL_OCICreateReservationSingleInputRepresentation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OCI_Single_Input_To_Coll_Sku_Unique</name>
        <label>Add OCI Single Input To Coll Sku Unique</label>
        <locationX>3248</locationX>
        <locationY>748</locationY>
        <assignmentItems>
            <assignToReference>COL_OCICreateReservationSingleInputRepresentationSkuUnique</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>REC_OCICreateReservationSingleInputRepresentationSkuUnique</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_COL_OCICreateReservationSingleInputRepresentation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Release_Reservation_To_Coll</name>
        <label>Add Release Reservation To Coll</label>
        <locationX>2420</locationX>
        <locationY>1013</locationY>
        <assignmentItems>
            <assignToReference>COL_OCIReleaseReservationSingleInputRepresentation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>REC_OCIReleaseReservationSingleInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stack_SKU_in_stock</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Total_Qty_for_Duplicate_SKU</name>
        <label>Add Total Qty for Duplicate SKU</label>
        <locationX>3292</locationX>
        <locationY>1174</locationY>
        <assignmentItems>
            <assignToReference>REC_OCICreateReservationSingleInputRepresentationSkuUnique.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalQty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OCI_Single_Input_To_Coll_Sku_Duplicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PE_Description_0</name>
        <label>Assign PE Description</label>
        <locationX>437</locationX>
        <locationY>1491</locationY>
        <assignmentItems>
            <assignToReference>PEDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_PEDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Filtered_Locations_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_REC_Reservation_Errors</name>
        <label>Assign REC Reservation Errors</label>
        <locationX>1969</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>REC_OCIOCICreateReservationErrorOutputRepresentation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>REC_OCICreateReservationOutputRepresentation.errors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Collection_Size</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resolved</name>
        <label>Assign Resolved</label>
        <locationX>2060</locationX>
        <locationY>1647</locationY>
        <assignmentItems>
            <assignToReference>L70_PEs.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C_PEsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L70_PEs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L70_PEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resolved_0</name>
        <label>Assign Resolved</label>
        <locationX>964</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>L90_PEs.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C_PEsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L90_PEs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L90_PEs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreatePE_REC_Assignment</name>
        <label>Create PE REC Assignment</label>
        <locationX>736</locationX>
        <locationY>1354</locationY>
        <assignmentItems>
            <assignToReference>CreatePE_REC.AttachedToId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L80_OIS_out_of_Stock.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatePE_REC.Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatePE_REC.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PEDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatePE_REC.Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Insufficient Stock</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatePE_REC.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatePE_REC.Severity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatePE_REC.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreatePE_REC.OrderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ok</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getOriginalLocation</name>
        <label>getOriginalLocation</label>
        <locationX>780</locationX>
        <locationY>846</locationY>
        <assignmentItems>
            <assignToReference>OriginalReservedLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L80_OIS_out_of_Stock.OriginalOrderItem.ReservedAtLocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Locations_By_OIS_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ok</name>
        <label>ok</label>
        <locationX>1081</locationX>
        <locationY>1353</locationY>
        <assignmentItems>
            <assignToReference>CollectionPE_ToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreatePE_REC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L80_OIS_out_of_Stock</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>removeExistingPE</name>
        <label>removeExistingPE</label>
        <locationX>1377</locationX>
        <locationY>1265</locationY>
        <assignmentItems>
            <assignToReference>CollectionPE_ToCreate</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>iterateOverPE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterateOverExistingPE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Back_Location</name>
        <label>Return Back Location</label>
        <locationX>1521</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>L91.ReservedAtLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L91.OriginalOrderItem.ReservedAtLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C_Order_Product_Summaries_Return_Locations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L91</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L91</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Return_Back_Location1</name>
        <label>Return Back Location 1</label>
        <locationX>1577</locationX>
        <locationY>2067</locationY>
        <assignmentItems>
            <assignToReference>L71.ReservedAtLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L71.OriginalOrderItem.ReservedAtLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C_Order_Product_Summaries_Return_Locations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L71</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L71</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Collection_Size</name>
        <label>Set Collection Size</label>
        <locationX>1835</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>OCICreateReservationOutputSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>REC_OCICreateReservationOutputRepresentation.details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OCICreateReservationOuputWithoutErrorSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Reservation_Output_With_Error_Code_Different_To_Null</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Create_Reservation_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OCI_Create_Reservation_Input</name>
        <label>Set OCI Create Reservation Input</label>
        <locationX>2409</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>REC_OCICreateReservationInputRepresentation.actionRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UuidValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCICreateReservationInputRepresentation.allowPartialReservations</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCICreateReservationInputRepresentation.createRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COL_OCICreateReservationSingleInputRepresentationSkuUnique</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCICreateReservationInputRepresentation.externalRefId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderSummaryRecord.OrderNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OCI_Create_Reservation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OCI_Create_Reservation_Single_Input</name>
        <label>Set OCI Create Reservation Single Input</label>
        <locationX>2932</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>REC_OCICreateReservationSingleInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Order_Item_Summaries.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCICreateReservationSingleInputRepresentation.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Order_Item_Summaries.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Locations_By_OIS_Location_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OCI_Create_Reservation_Single_Input_Sku_Duplicate</name>
        <label>Set OCI Create Reservation Single Input Sku Duplicate</label>
        <locationX>3399</locationX>
        <locationY>1000</locationY>
        <assignmentItems>
            <assignToReference>REC_OCICreateReservationSingleInputRepresentationSkuUnique.locationGroupIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_COL_OCICreateReservationSingleInputRepresentation.locationGroupIdentifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCICreateReservationSingleInputRepresentationSkuUnique.locationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_COL_OCICreateReservationSingleInputRepresentation.locationIdentifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCICreateReservationSingleInputRepresentationSkuUnique.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_COL_OCICreateReservationSingleInputRepresentation.quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCICreateReservationSingleInputRepresentationSkuUnique.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_COL_OCICreateReservationSingleInputRepresentation.stockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Filter_Sku_Duplicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OCI_Create_Reservation_Single_Input_Sku_Unique</name>
        <label>Set OCI Create Reservation Single Input Sku Unique</label>
        <locationX>3426</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>REC_OCICreateReservationSingleInputRepresentationSkuUnique.locationGroupIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_COL_OCICreateReservationSingleInputRepresentation.locationGroupIdentifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCICreateReservationSingleInputRepresentationSkuUnique.locationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_COL_OCICreateReservationSingleInputRepresentation.locationIdentifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCICreateReservationSingleInputRepresentationSkuUnique.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_COL_OCICreateReservationSingleInputRepresentation.quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCICreateReservationSingleInputRepresentationSkuUnique.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_COL_OCICreateReservationSingleInputRepresentation.stockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OCI_Single_Input_To_Coll_Sku_Unique</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OCI_Location_Identifier</name>
        <label>Set OCI Location Identifier</label>
        <locationX>3454</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>REC_OCICreateReservationSingleInputRepresentation.locationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Filtered_Locations.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Filtered_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OIS_with_Skus_Exception</name>
        <label>Set OIS with Skus Exception</label>
        <locationX>1537</locationX>
        <locationY>680</locationY>
        <assignmentItems>
            <assignToReference>OISwithSkusExceptionIDS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L80_OIS_out_of_Stock_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Remove_ReservedAtLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L80_OIS_out_of_Stock_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_PE_AttachedToId</name>
        <label>Set PE AttachedToId</label>
        <locationX>1230</locationX>
        <locationY>1212</locationY>
        <assignmentItems>
            <assignToReference>Size_OISwithSkusExceptionIDS</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CollectionPE_ToCreate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Size_GET_PE</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_PE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exist_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Release_Reservation_Input_Collection</name>
        <label>Set Release Reservation Input Collection</label>
        <locationX>1922</locationX>
        <locationY>1022</locationY>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationInputRepresentation.releaseRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COL_OCIReleaseReservationSingleInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Release_OCI_Reservation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Release_Reservation_Single_Input_Values</name>
        <label>Set Release Reservation Single Input Values</label>
        <locationX>2598</locationX>
        <locationY>1013</locationY>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationSingleInputRepresentation.locationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L50_Filtered_Reservation_Output.locationIdentifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationSingleInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L50_Filtered_Reservation_Output.quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationSingleInputRepresentation.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L50_Filtered_Reservation_Output.stockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationSingleInputRepresentation.actionRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UuidValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Release_Reservation_To_Coll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Success_Value</name>
        <label>Set Success Value</label>
        <locationX>1655</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>IsSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PEs_to_be_Resolved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Success_Value_False</name>
        <label>Set Success Value False</label>
        <locationX>1588</locationX>
        <locationY>848</locationY>
        <assignmentItems>
            <assignToReference>IsSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OIS_with_Skus_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SKU_Counts</name>
        <label>SKU Counts</label>
        <locationX>3130</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>TotalSKUCounts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_OCICreateReservationSingleInputRepresentation_by_SKU</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SKU_Unique</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stack_OIS_ids_To_resolve</name>
        <label>Stack OIS ids To resolve</label>
        <locationX>2311</locationX>
        <locationY>1179</locationY>
        <assignmentItems>
            <assignToReference>C_OISidsToResolve</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L60_OIS_released.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L60_OIS_released</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stack_SKU_in_stock</name>
        <label>Stack SKU in stock</label>
        <locationX>2122</locationX>
        <locationY>1012</locationY>
        <assignmentItems>
            <assignToReference>C_skusToResolve</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L50_Filtered_Reservation_Output.stockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L50_Filtered_Reservation_Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stack_SKU_out_of_Stock</name>
        <label>Stack SKU out of Stock</label>
        <locationX>2353</locationX>
        <locationY>712</locationY>
        <assignmentItems>
            <assignToReference>C_skusToException</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>L50_Filtered_Reservation_Output.stockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L50_Filtered_Reservation_Output</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Quantity_By_SKU</name>
        <label>Total Quantity By SKU</label>
        <locationX>3815</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>TotalQty</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Filter_Sku_Duplicate.quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Filter_Sku_Duplicate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_SKU_Added</name>
        <label>Total SKU Added</label>
        <locationX>3643</locationX>
        <locationY>807</locationY>
        <assignmentItems>
            <assignToReference>SKUAdded</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_COL_SingleInputRepresentationSkuDuplicate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SKU_Exists</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_COL_SingleInputRepresentationSkuDuplicate</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter COL_SingleInputRepresentationSkuDuplicate</label>
        <locationX>3539</locationX>
        <locationY>614</locationY>
        <assignNextValueToReference>currentItem_Filter_COL_SingleInputRepresentationSkuDuplicate</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>COL_OCICreateReservationSingleInputRepresentationSkuUnique</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_COL_SingleInputRepresentationSkuDuplicate.stockKeepingUnit</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterate_Over_COL_OCICreateReservationSingleInputRepresentation.stockKeepingUnit</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Total_SKU_Added</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Locations_By_OIS_Location</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Locations By OIS Location</label>
        <locationX>443</locationX>
        <locationY>842</locationY>
        <assignNextValueToReference>currentItem_Filter_Locations_By_OIS_Location</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Locations</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Locations_By_OIS_Location.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>L80_OIS_out_of_Stock.OriginalOrderItem.ReservedAtLocationId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>ReserverdAtLocation_Empty_Or_Not</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Locations_By_OIS_Location_Id</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Locations By OIS Location Id</label>
        <locationX>3136</locationX>
        <locationY>286</locationY>
        <assignNextValueToReference>currentItem_Filter_Locations_By_OIS_Location</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Locations</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Locations_By_OIS_Location.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterate_Over_Order_Item_Summaries.OriginalOrderItem.ReservedAtLocationId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_Over_Filtered_Locations</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_OCICreateReservationSingleInputRepresentation_by_SKU</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter OCICreateReservationSingleInputRepresentation by SKU</label>
        <locationX>2985</locationX>
        <locationY>598</locationY>
        <assignNextValueToReference>currentItem_Filter_OCICreateReservationSingleInputRepresentation_by_SKU</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>COL_OCICreateReservationSingleInputRepresentation</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_OCICreateReservationSingleInputRepresentation_by_SKU.stockKeepingUnit</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterate_Over_COL_OCICreateReservationSingleInputRepresentation.stockKeepingUnit</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>SKU_Counts</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Reservation_Output_With_Error_Code_Different_To_Null</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Reservation Output With Error Code Different To Null</label>
        <locationX>2108</locationX>
        <locationY>545</locationY>
        <assignNextValueToReference>currentItem_Filter_Reservation_Output_Errors</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>REC_OCICreateReservationOutputRepresentation.details</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Reservation_Output_Errors.errorCode</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_REC_Reservation_Errors</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Create_Reservation_Result</name>
        <label>Check Create Reservation Result</label>
        <locationX>1827</locationX>
        <locationY>705</locationY>
        <defaultConnector>
            <targetReference>Set_Success_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create FO</defaultConnectorLabel>
        <rules>
            <name>Release_Reservation_And_Do_Not_Create_FO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OCICreateReservationOuputWithoutErrorSize</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OCICreateReservationOutputSize</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L50_Filtered_Reservation_Output</targetReference>
            </connector>
            <label>Release Reservation And Do Not Create FO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Release_Reservation_Coll</name>
        <label>Check Release Reservation Coll</label>
        <locationX>1912</locationX>
        <locationY>838</locationY>
        <defaultConnector>
            <targetReference>Set_Success_Value_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Empty</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COL_OCIReleaseReservationSingleInputRepresentation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Release_Reservation_Input_Collection</targetReference>
            </connector>
            <label>Is Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist</name>
        <label>Exist?</label>
        <locationX>1576</locationX>
        <locationY>1409</locationY>
        <defaultConnector>
            <targetReference>Set_Success_Value_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ResolvedOld</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderSummaryRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for goods</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderSummaryRecord.tech_PE_Fulfillment_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Success_Value_False</targetReference>
            </connector>
            <label>ResolvedOld</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PEs_for_Released_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L70_PEs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist1</name>
        <label>Exist?</label>
        <locationX>1332</locationX>
        <locationY>547</locationY>
        <defaultConnector>
            <targetReference>L91</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PEs_to_be_Resolved</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>L90_PEs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exist_0</name>
        <label>Exist?</label>
        <locationX>1217</locationX>
        <locationY>1384</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionPE_ToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Size_GET_PE</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Size_OISwithSkusExceptionIDS</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Process_Exception_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isExistPE</name>
        <label>isExistPE</label>
        <locationX>1445</locationX>
        <locationY>1428</locationY>
        <defaultConnector>
            <targetReference>iterateOverExistingPE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>removeExistPE</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>iterateOverPE.AttachedToId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>iterateOverExistingPE.AttachedToId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>removeExistingPE</targetReference>
            </connector>
            <label>removeExistPE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_With_Error</name>
        <label>Record With Error?</label>
        <locationX>2349</locationX>
        <locationY>871</locationY>
        <defaultConnector>
            <targetReference>Generate_Uuid_Value_For_Reservation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Without Error</defaultConnectorLabel>
        <rules>
            <name>With_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>L50_Filtered_Reservation_Output.errorCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stack_SKU_out_of_Stock</targetReference>
            </connector>
            <label>With Error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remove_ReservedAtLocationId</name>
        <label>Remove ReservedAtLocationId ?</label>
        <locationX>1358</locationX>
        <locationY>1537</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Remove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Remove_ReservedAtLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Product_Summaries</targetReference>
            </connector>
            <label>Remove</label>
        </rules>
    </decisions>
    <decisions>
        <name>ReserverdAtLocation_Empty_Or_Not</name>
        <label>ReserverdAtLocation Empty Or Not</label>
        <locationX>469</locationX>
        <locationY>1074</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Filtered_Locations_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReservedAtlocationEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OriginalReservedLocationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>ReservedAtlocationEmpty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Resolve_Two_Item_being_Reserved</name>
        <label>Resolve Two Item being Reserved</label>
        <locationX>1800</locationX>
        <locationY>1829</locationY>
        <defaultConnector>
            <targetReference>Get_PEs_for_Released_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_Or_None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderSummaryRecord.tech_PE_Fulfillment_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Product_Summary1</targetReference>
            </connector>
            <label>Both Or None</label>
        </rules>
    </decisions>
    <decisions>
        <name>SKU_Exists</name>
        <label>SKU Exists ?</label>
        <locationX>3289</locationX>
        <locationY>898</locationY>
        <defaultConnector>
            <targetReference>Set_OCI_Create_Reservation_Single_Input_Sku_Duplicate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SKU New</defaultConnectorLabel>
        <rules>
            <name>SKU_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SKUAdded</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Over_COL_OCICreateReservationSingleInputRepresentation</targetReference>
            </connector>
            <label>SKU Added</label>
        </rules>
    </decisions>
    <decisions>
        <name>SKU_Unique</name>
        <label>SKU Unique ?</label>
        <locationX>3234</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Set_OCI_Create_Reservation_Single_Input_Sku_Unique</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SKU Unique</defaultConnectorLabel>
        <rules>
            <name>SKU_Duplicate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalSKUCounts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_COL_SingleInputRepresentationSkuDuplicate</targetReference>
            </connector>
            <label>SKU Duplicate</label>
        </rules>
    </decisions>
    <description>Correction des erreurs des PE</description>
    <formulas>
        <name>FX_PEDescription</name>
        <dataType>String</dataType>
        <expression>&quot; SKU : &quot; + {!L80_OIS_out_of_Stock.StockKeepingUnit}+ &quot;, Quantity : &quot; + TEXT({!L80_OIS_out_of_Stock.Quantity}) + &quot;, Location : &quot; + {!Iterate_Over_Filtered_Locations_0.Name}</expression>
    </formulas>
    <interviewLabel>SOM 210 - Order SToW Retry Allocation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 210 - Order SToW Retry Allocation</label>
    <loops>
        <name>Iterate_Over_COL_OCICreateReservationSingleInputRepresentation</name>
        <label>Iterate Over COL_OCICreateReservationSingleInputRepresentation</label>
        <locationX>2736</locationX>
        <locationY>790</locationY>
        <collectionReference>COL_OCICreateReservationSingleInputRepresentation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_OCICreateReservationSingleInputRepresentation_by_SKU</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_Uuid_Value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Filter_Sku_Duplicate</name>
        <label>Iterate Over Filter Sku Duplicate</label>
        <locationX>3623</locationX>
        <locationY>1050</locationY>
        <collectionReference>Filter_OCICreateReservationSingleInputRepresentation_by_SKU</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Quantity_By_SKU</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Total_Qty_for_Duplicate_SKU</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Filtered_Locations</name>
        <label>Iterate Over Filtered Locations</label>
        <locationX>3192</locationX>
        <locationY>459</locationY>
        <collectionReference>Filter_Locations_By_OIS_Location_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_OCI_Location_Identifier</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_OCI_Single_Input_To_Coll</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Filtered_Locations_0</name>
        <label>Iterate Over Filtered Locations</label>
        <locationX>438</locationX>
        <locationY>1346</locationY>
        <collectionReference>Filter_Locations_By_OIS_Location</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_PE_Description_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreatePE_REC_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Order_Item_Summaries</name>
        <label>Iterate Over Order Item Summaries</label>
        <locationX>2668</locationX>
        <locationY>340</locationY>
        <collectionReference>Get_Order_Item_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_OCI_Create_Reservation_Single_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_Over_COL_OCICreateReservationSingleInputRepresentation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateOverExistingPE</name>
        <label>iterateOverExistingPE</label>
        <locationX>1518</locationX>
        <locationY>1244</locationY>
        <collectionReference>Get_PE</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isExistPE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>iterateOverPE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterateOverPE</name>
        <label>iterateOverPE</label>
        <locationX>1458</locationX>
        <locationY>1094</locationY>
        <collectionReference>CollectionPE_ToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>iterateOverExistingPE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_PE_AttachedToId</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L50_Filtered_Reservation_Output</name>
        <label>L50 Filtered Reservation Output</label>
        <locationX>2121</locationX>
        <locationY>719</locationY>
        <collectionReference>REC_OCICreateReservationOutputRepresentation.details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Record_With_Error</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Release_Reservation_Coll</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L60_OIS_released</name>
        <label>L60 OIS released</label>
        <locationX>2106</locationX>
        <locationY>1177</locationY>
        <collectionReference>Get_OIS_with_Skus_to_resolve</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Stack_OIS_ids_To_resolve</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_PEs_for_Released_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L70_PEs</name>
        <label>L70 PEs</label>
        <locationX>1791</locationX>
        <locationY>1650</locationY>
        <collectionReference>Get_PEs_for_Released_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Resolved</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PEs_To_Resolved1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L71</name>
        <label>L71</label>
        <locationX>1589</locationX>
        <locationY>1822</locationY>
        <collectionReference>Get_Order_Item_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Return_Back_Location1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Resolve_Two_Item_being_Reserved</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L80_OIS_out_of_Stock</name>
        <label>L80 OIS out of Stock</label>
        <locationX>1192</locationX>
        <locationY>852</locationY>
        <collectionReference>Get_OIS_with_Skus_Exception</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getOriginalLocation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_PE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L80_OIS_out_of_Stock_0</name>
        <label>L80 OIS out of Stock</label>
        <locationX>1321</locationX>
        <locationY>713</locationY>
        <collectionReference>Get_OIS_with_Skus_Exception</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_OIS_with_Skus_Exception</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>L80_OIS_out_of_Stock</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L90_PEs</name>
        <label>L90 PEs</label>
        <locationX>1153</locationX>
        <locationY>547</locationY>
        <collectionReference>Get_PEs_to_be_Resolved</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Resolved_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PEs_to_Resolved</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>L91</name>
        <label>L91</label>
        <locationX>1323</locationX>
        <locationY>337</locationY>
        <collectionReference>Get_Order_Item_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Return_Back_Location</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Order_Product_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Process_Exception_0_0_0</name>
        <label>Create Process Exception</label>
        <locationX>1210</locationX>
        <locationY>1630</locationY>
        <connector>
            <targetReference>Remove_ReservedAtLocationId</targetReference>
        </connector>
        <inputReference>CollectionPE_ToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Locations</name>
        <label>Get Locations</label>
        <locationX>2341</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Item_Summaries</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ExternalReference</queriedFields>
        <queriedFields>Name</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OIS_with_Skus_Exception</name>
        <label>Get OIS with Skus Exception</label>
        <locationX>1393</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>L80_OIS_out_of_Stock_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StockKeepingUnit</field>
            <operator>In</operator>
            <value>
                <elementReference>C_skusToException</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OIS_with_Skus_to_resolve</name>
        <label>Get OIS with Skus to resolve</label>
        <locationX>1917</locationX>
        <locationY>1179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>L60_OIS_released</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StockKeepingUnit</field>
            <operator>In</operator>
            <value>
                <elementReference>C_skusToResolve</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item_Summaries</name>
        <label>Get Order Item Summaries</label>
        <locationX>2501</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Order_Item_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order Product</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPreOrder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ORDERED</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PE</name>
        <label>Get PE</label>
        <locationX>1283</locationX>
        <locationY>975</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>iterateOverPE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AttachedToId</field>
            <operator>In</operator>
            <value>
                <elementReference>OISwithSkusExceptionIDS</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProcessException</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PEs_for_Released_Products</name>
        <label>Get PEs for Released Products</label>
        <locationX>2112</locationX>
        <locationY>1394</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AttachedToId</field>
            <operator>In</operator>
            <value>
                <elementReference>C_OISidsToResolve</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PEs_to_be_Resolved</name>
        <label>Get PEs to be Resolved</label>
        <locationX>1483</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Exist1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>OrderSummaryUpdate</name>
        <label>OrderSummaryUpdate</label>
        <locationX>1233</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Validated</stringValue>
            </value>
        </inputAssignments>
        <object>OrderSummary</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Product_Summaries</name>
        <label>Update Order Product Summaries</label>
        <locationX>1511</locationX>
        <locationY>1537</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ReservedAtLocationId</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>OrderItemSummary</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Product_Summary</name>
        <label>Update Order Product Summary</label>
        <locationX>1313</locationX>
        <locationY>164</locationY>
        <connector>
            <targetReference>OrderSummaryUpdate</targetReference>
        </connector>
        <inputReference>C_Order_Product_Summaries_Return_Locations</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Product_Summary1</name>
        <label>Update Order Product Summary 1</label>
        <locationX>2077</locationX>
        <locationY>1835</locationY>
        <inputReference>C_Order_Product_Summaries_Return_Locations</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PEs_to_Resolved</name>
        <label>Update PEs to Resolved</label>
        <locationX>1111</locationX>
        <locationY>332</locationY>
        <connector>
            <targetReference>L91</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fulfillment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PEs_To_Resolved1</name>
        <label>Update PEs To Resolved</label>
        <locationX>1591</locationX>
        <locationY>1639</locationY>
        <connector>
            <targetReference>L71</targetReference>
        </connector>
        <inputReference>C_PEsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>1990</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Get_Locations</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>C_OISidsForPE</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_OISidsToResolve</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_Order_Product_Summaries_Return_Locations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>C_PEsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <name>C_skusToException</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>C_skusToResolve</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COL_OCICreateReservationSingleInputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COL_OCICreateReservationSingleInputRepresentationSkuUnique</name>
        <apexClass>ConnectApi__OCICreateReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COL_OCIReleaseReservationSingleInputRepresentation</name>
        <apexClass>ConnectApi__OCIReleaseReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionPE_ToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <name>CreatePE_REC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <name>currentItem_fil_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_COL_SingleInputRepresentationSkuDuplicate</name>
        <apexClass>ConnectApi__OCICreateReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_locations_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Locations_By_current_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Locations_By_OIS_Location</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_OCICreateReservationSingleInputRepresentation_by_SKU</name>
        <apexClass>ConnectApi__OCICreateReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Order_Items</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Reservation_Output_Errors</name>
        <apexClass>ConnectApi__OCICreateReservationSingleOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Reservation_Output_With_Error_Code</name>
        <apexClass>ConnectApi__OCICreateReservationSingleOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>IsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newPETOBeCreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessException</objectType>
    </variables>
    <variables>
        <name>OCICreateReservationOuputWithoutErrorSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OCICreateReservationOutputSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OISwithSkusExceptionIDS</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
    <variables>
        <name>OriginalReservedLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PE_AttachedToIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PEDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_OCICreateReservationInputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_OCICreateReservationOutputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_OCICreateReservationSingleInputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_OCICreateReservationSingleInputRepresentationSkuUnique</name>
        <apexClass>ConnectApi__OCICreateReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_OCIOCICreateReservationErrorOutputRepresentation</name>
        <apexClass>ConnectApi__OCICreateReservationErrorOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_OCIReleaseReservationInputRepresentation</name>
        <apexClass>ConnectApi__OCIReleaseReservationInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_OCIReleaseReservationSingleInputRepresentation</name>
        <apexClass>ConnectApi__OCIReleaseReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Remove_ReservedAtLocation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Size_GET_PE</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Size_OISwithSkusExceptionIDS</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SKUAdded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalQty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalSKUCounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UuidValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
