unpackaged/main/default/flows/SOM_940_Resolve_Ignore_Process_Exception.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1087</locationX>
        <locationY>1135</locationY>
        <actionName>SOM_ErrorMessageBrazilianAddress</actionName>
        <actionType>apex</actionType>
        
        <connector>
            <targetReference>Update_PE_Description</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bairro</name>
            <value>
                <elementReference>Validate_Brazilian_Address_0.bairro</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cep</name>
            <value>
                <elementReference>Validate_Brazilian_Address_0.cep</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>localidade</name>
            <value>
                <elementReference>Validate_Brazilian_Address_0.localidade</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logradouro</name>
            <value>
                <elementReference>Validate_Brazilian_Address_0.logradouro</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordId</name>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>uf</name>
            <value>
                <elementReference>Validate_Brazilian_Address_0.uf</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Error_Message_0</name>
        <label>Error Message</label>
        <locationX>1070</locationX>
        <locationY>430</locationY>
        <actionName>SOM_ErrorMessageBrazilianAddress</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_PE_Description_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bairro</name>
            <value>
                <elementReference>Validate_Brazilian_Address.bairro</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cep</name>
            <value>
                <elementReference>Validate_Brazilian_Address.cep</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>localidade</name>
            <value>
                <elementReference>Validate_Brazilian_Address.localidade</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logradouro</name>
            <value>
                <elementReference>Validate_Brazilian_Address.logradouro</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordId</name>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>uf</name>
            <value>
                <elementReference>Validate_Brazilian_Address.uf</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Validate_Brazilian_Address</name>
        <label>Validate Brazilian Address ODGS</label>
        <locationX>1337</locationX>
        <locationY>637</locationY>
        <actionName>WS_SOM_ValidateBrazilianAddress</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Verify_BrazilianAddress_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>requests</name>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToPostalCode</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Validate_Brazilian_Address_0</name>
        <label>Validate Brazilian Address OS</label>
        <locationX>1389</locationX>
        <locationY>958</locationY>
        <actionName>WS_SOM_ValidateBrazilianAddress</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Verify_BrazilianAddress_0_0</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>requests</name>
            <value>
                <elementReference>Get_Order_Summary.BillingPostalCode</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>ODGS_Assignment</name>
        <label>ODGS Assignment</label>
        <locationX>743</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>Get_Order_Delivery_Group_Summary.TECH_PE_was_identified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ODGS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Number_Assignment</name>
        <label>Order Number Assignment</label>
        <locationX>683</locationX>
        <locationY>955</locationY>
        <assignmentItems>
            <assignToReference>OrderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Summary.OrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PE_To_Resolved_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Number_Assignment_0</name>
        <label>Order Number Assignment</label>
        <locationX>463</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>OrderNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.OrderSummary.OrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.OrderSummary.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PE_To_Resolved_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Address_Validation_Brazil_Category</name>
        <label>Check Address Validation Brazil Category</label>
        <locationX>1641</locationX>
        <locationY>766</locationY>
        <defaultConnector>
            <targetReference>Update_PE_To_Resolved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ODGS_Brazil_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PE.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Address Validation Brazil</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PE.Message</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Delivery Group Summary : INVALID ADDRESS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Delivery_Group_Summary</targetReference>
            </connector>
            <label>ODGS Brazil Address</label>
        </rules>
        <rules>
            <name>OS_Brazil_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PE.Category</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Address Validation Brazil</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PE.Message</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Summary : INVALID ADDRESS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Summary</targetReference>
            </connector>
            <label>OS Brazil Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Cegid_Event</name>
        <label>Create Cegid Event</label>
        <locationX>179</locationX>
        <locationY>975</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateCegidEvent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PE_Not_Resolved</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Order_For_Cegid_Event</targetReference>
            </connector>
            <label>Create Cegid Event</label>
        </rules>
    </decisions>
    <decisions>
        <name>Refund_PE</name>
        <label>Refund PE</label>
        <locationX>2058</locationX>
        <locationY>1068</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Refund_PE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Refund</targetReference>
            </connector>
            <label>Refund</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_BrazilianAddress_0</name>
        <label>Verify BrazilianAddress</label>
        <locationX>1075</locationX>
        <locationY>634</locationY>
        <defaultConnector>
            <targetReference>Error_Message_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Brazilian_ODGS_Address_Verified_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_Brazilian_Address.cep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Order_Delivery_Group_Summary.DeliverToPostalCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_Brazilian_Address.logradouro</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Order_Delivery_Group_Summary.DeliverToStreet</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_Brazilian_Address.bairro</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Order_Delivery_Group_Summary.RI_Neighborhood__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_Brazilian_Address.localidade</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Order_Delivery_Group_Summary.DeliverToCity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_Brazilian_Address.uf</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Order_Delivery_Group_Summary.DeliverToState</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ODGS_Assignment</targetReference>
            </connector>
            <label>Brazilian ODGS Address Verified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_BrazilianAddress_0_0</name>
        <label>Verify BrazilianAddress</label>
        <locationX>1070</locationX>
        <locationY>964</locationY>
        <defaultConnector>
            <targetReference>Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Brazilian_OS_Address_Verified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_Brazilian_Address_0.cep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Order_Summary.BillingPostalCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_Brazilian_Address_0.logradouro</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Order_Summary.BillingStreet</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_Brazilian_Address_0.bairro</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Order_Summary.RI_Neighborhood__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_Brazilian_Address_0.localidade</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Order_Summary.BillingCity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Validate_Brazilian_Address_0.uf</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Order_Summary.BillingState</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Number_Assignment</targetReference>
            </connector>
            <label>Brazilian OS Address Verified</label>
        </rules>
    </decisions>
    <interviewLabel>SOM 940 Resolve Ignore Process Exception {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 940 Resolve Process Exception</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Order_For_Cegid_Event</name>
        <label>Create New Order For Cegid Event</label>
        <locationX>50</locationX>
        <locationY>804</locationY>
        <inputAssignments>
            <field>OrderSummaryNumber__c</field>
            <value>
                <elementReference>OrderNumber</elementReference>
            </value>
        </inputAssignments>
        <object>NewOrderForCegid__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Delivery_Group_Summary</name>
        <label>Get Order Delivery Group Summary</label>
        <locationX>1447</locationX>
        <locationY>630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Brazilian_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PE.AttachedToId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>1520</locationX>
        <locationY>956</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Brazilian_Address_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_PE.AttachedToId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PE</name>
        <label>Get PE</label>
        <locationX>1747</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Address_Validation_Brazil_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PE_Not_Resolved</name>
        <label>Get PE Not Resolved</label>
        <locationX>291</locationX>
        <locationY>805</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Cegid_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AttachedToId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Address Validation Brazil</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Refund_PE</name>
        <label>Get Refund PE</label>
        <locationX>2062</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Refund_PE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Refund</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessException</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ODGS</name>
        <label>Update ODGS</label>
        <locationX>619</locationX>
        <locationY>626</locationY>
        <connector>
            <targetReference>Order_Number_Assignment_0</targetReference>
        </connector>
        <inputReference>Get_Order_Delivery_Group_Summary</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PE_Description</name>
        <label>Update PE Description</label>
        <locationX>885</locationX>
        <locationY>1136</locationY>
        <connector>
            <targetReference>ScreenError_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionMessage</elementReference>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PE_Description_0</name>
        <label>Update PE Description</label>
        <locationX>1414</locationX>
        <locationY>427</locationY>
        <connector>
            <targetReference>ScreenError_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionMessage_0</elementReference>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PE_To_Resolved</name>
        <label>Update PE To Resolved</label>
        <locationX>1667</locationX>
        <locationY>1095</locationY>
        <connector>
            <targetReference>Get_Refund_PE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PE_To_Resolved_0</name>
        <label>Update PE To Resolved</label>
        <locationX>467</locationX>
        <locationY>950</locationY>
        <connector>
            <targetReference>Get_PE_Not_Resolved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </inputAssignments>
        <object>ProcessException</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Refund</name>
        <label>Update Refund</label>
        <locationX>2071</locationX>
        <locationY>1227</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Refund_PE.AttachedToId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PE_was_identified__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Refund</object>
    </recordUpdates>
    <screens>
        <name>Popup_resolve_confirmation</name>
        <label>Popup resolve confirmation</label>
        <locationX>1824</locationX>
        <locationY>763</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Get_PE</targetReference>
        </connector>
        <fields>
            <name>Resolve_Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Are you sure you want to change this process exception status to Resolved?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenError_0</name>
        <label>ScreenError</label>
        <locationX>1255</locationX>
        <locationY>286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;The process exception cannot be resolved. Please verify the &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;fields&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68);&quot;&gt; on the Order Delivery Group Summary :&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Error_Message_0.ErrorMessageDescription}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenError_0_0</name>
        <label>ScreenError</label>
        <locationX>888</locationX>
        <locationY>1337</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The process exception cannot be resolved. Please verify the following fields on the Order Summary :&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Error_Message.ErrorMessageDescription}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1938</locationX>
        <locationY>601</locationY>
        <connector>
            <targetReference>Popup_resolve_confirmation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DescriptionMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The following fields are incoherent with the Zip Code : {!Error_Message.ErrorMessageDescription}</text>
    </textTemplates>
    <textTemplates>
        <name>DescriptionMessage_0</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The following fields are incoherent with the Zip Code : {!Error_Message_0.ErrorMessageDescription}</text>
    </textTemplates>
    <variables>
        <name>actionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
