unpackaged/main/default/flows/SOM_410_Credit_Memo_Insert_RCU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Transaction_Item_To_Collection</name>
        <label>Add Transaction Item To Collection</label>
        <locationX>1012</locationX>
        <locationY>785</locationY>
        <assignmentItems>
            <assignToReference>COL_TransactionItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>REC_TransactionItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Filtered_Charge_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Transaction_Item_To_Collection_0</name>
        <label>Add Transaction Item To Collection</label>
        <locationX>2255</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>COL_TransactionItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>REC_TransactionItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Filtered_Charge_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_current_Product</name>
        <label>Assign current Product</label>
        <locationX>1958</locationX>
        <locationY>1394</locationY>
        <assignmentItems>
            <assignToReference>S_Current_Product</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Filter_product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Filter_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Negative_Values</name>
        <label>Assign Negative Values</label>
        <locationX>2151</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>V_ExclTaxAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Adjustment_Line.AdjustmentAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_InclTaxAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Adjustment_Line.AdjustmentAmountWithTax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Transaction_Amount_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prices</name>
        <label>Assign Prices</label>
        <locationX>920</locationX>
        <locationY>1087</locationY>
        <assignmentItems>
            <assignToReference>V_UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Filtered_Charge_Lines.ChargeAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_GrossUnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Filtered_Charge_Lines.ChargeAmountWithTax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Transaction_Item_Amount_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prices_0</name>
        <label>Assign Prices</label>
        <locationX>770</locationX>
        <locationY>1434</locationY>
        <assignmentItems>
            <assignToReference>V_UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Credit_Memo_Lines_Adj.AdjustmentAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>V_GrossUnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdjTax</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Transaction_Item_Amount_Fields_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product</name>
        <label>Assign Product</label>
        <locationX>1857</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>REC_TransactionItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Filtered_Charge_Lines.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Order_Item_Summaries_By_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_with_master_SKU</name>
        <label>Assign Product with master SKU</label>
        <locationX>1745</locationX>
        <locationY>1199</locationY>
        <assignmentItems>
            <assignToReference>REC_TransactionItem.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S_Current_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Order_Item_Summaries_By_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fx</name>
        <label>Fx</label>
        <locationX>1074</locationX>
        <locationY>1293</locationY>
        <assignmentItems>
            <assignToReference>ReturnLineItemRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filter_Return_Order_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FX_QtyRecieved</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Filter_Return_Order_Line_Item.QuantityReceived</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Filter_Return_Order_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Line_Number</name>
        <label>Increment Line Number</label>
        <locationX>1962</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>V_LineNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Store_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ChargeLine_Ids</name>
        <label>Set ChargeLine Ids</label>
        <locationX>2711</locationX>
        <locationY>705</locationY>
        <assignmentItems>
            <assignToReference>ChargeLineIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Filtered_Charge_Lines_0.ReturnOrderLineItem__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>C_Products</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Over_Filtered_Charge_Lines_0.Product2.masterSku__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Filtered_Charge_Lines_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Transaction_Amount_Fields</name>
        <label>Set Transaction Amount Fields</label>
        <locationX>2469</locationX>
        <locationY>1615</locationY>
        <assignmentItems>
            <assignToReference>REC_TransactionItem.ExclTaxAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_ExclTaxAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_TransactionItem.InclTaxAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_InclTaxAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_TransactionItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Adjustment_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Transaction_Item_Amount_Fields</name>
        <label>Set Transaction Item Amount Fields</label>
        <locationX>921</locationX>
        <locationY>927</locationY>
        <assignmentItems>
            <assignToReference>REC_TransactionItem.ExclTaxAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_TransactionItem.InclTaxAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_GrossUnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_TransactionItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnLineItemRec.QuantityReceived</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Transaction_Item_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Transaction_Item_Amount_Fields_0</name>
        <label>Set Transaction Item Amount Fields</label>
        <locationX>770</locationX>
        <locationY>1016</locationY>
        <assignmentItems>
            <assignToReference>REC_TransactionItem.ExclTaxAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adj</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_TransactionItem.InclTaxAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdjTax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_TransactionItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Transaction_Item_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Transaction_Item_Store</name>
        <label>Set Transaction Item Store</label>
        <locationX>2037</locationX>
        <locationY>726</locationY>
        <assignmentItems>
            <assignToReference>REC_TransactionItem.Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Store.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Transaction_Item_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Transaction_Item_Tax_Rate</name>
        <label>Set Transaction Item Tax Rate</label>
        <locationX>1168</locationX>
        <locationY>886</locationY>
        <assignmentItems>
            <assignToReference>REC_TransactionItem.VatRate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Filtered_Order_Item_Summaries.TaxRate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Filtered_Order_Item_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Transaction_Item_Values</name>
        <label>Set Transaction Item Values</label>
        <locationX>1954</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>REC_TransactionItem.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Summary.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_TransactionItem.TransactionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Credit_Memo.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_TransactionItem.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_CurrencyCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_TransactionItem.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>REC_Transaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_TransactionItem.IsGiftTransactionDetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>false</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_TransactionItem.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Return</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_TransactionItem.LineDiscountAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_TransactionItem.TransactionLineId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_TransactionLineId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_second_hand</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Transaction_Record_Values</name>
        <label>Set Transaction Record Values</label>
        <locationX>1876</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>REC_Transaction.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Summary.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_Transaction.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_CurrencyCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_Transaction.SourceTransactionId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Credit_Memo.CreditMemoNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_Transaction.TransactionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Credit_Memo.CreditDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_Transaction.TransactionChannel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WEB</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_Transaction.ExclTaxAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExclTaxAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_Transaction.InclTaxAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InclTaxAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_Transaction.ExclTaxTansactionShippingCost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExclTaxTansactionShippingCost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_Transaction.InclTaxTransactionShippingCost__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InclTaxTransactionShippingCost</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_Transaction.ShippingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.OrderDeliveryMethod.ReferenceNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Transaction_Record_Values_0</name>
        <label>Set Transaction Record Values</label>
        <locationX>1865</locationX>
        <locationY>105</locationY>
        <assignmentItems>
            <assignToReference>REC_Transaction.Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Summary.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_Transaction.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_CurrencyCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_Transaction.SourceTransactionId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Credit_Memo.CreditMemoNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_Transaction.TransactionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Credit_Memo.CreditDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_Transaction.TransactionChannel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WEB</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_Transaction.ExclTaxAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExclTaxAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_Transaction.InclTaxAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InclTaxAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_Transaction.ExclTaxTansactionShippingCost__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_Transaction.InclTaxTransactionShippingCost__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_Transaction.ShippingMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.OrderDeliveryMethod.ReferenceNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Transaction_Store</name>
        <label>Set Transaction Store</label>
        <locationX>1711</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>REC_Transaction.Store__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Store.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Shipping_Credit_Memo_Line</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Adjustment_Line</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Adjustment Line</label>
        <locationX>1521</locationX>
        <locationY>1495</locationY>
        <assignNextValueToReference>currentItem_Filter_Adjustment_Line</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Credit_Memo_Lines</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Adjustment_Line.Type</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Adjustment</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Adjustment_Line.RelatedLineId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterate_Over_Filtered_Charge_Lines.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_Over_Adjustment_Line</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Line_With_Type_Charge</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Line With Type Charge</label>
        <locationX>2924</locationX>
        <locationY>395</locationY>
        <assignNextValueToReference>currentItem_Filter_Line_With_Type_Charge</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Credit_Memo_Lines</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Line_With_Type_Charge.Type</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Charge</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_Over_Filtered_Charge_Lines_0</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Order_Item_Summaries_By_Id</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Order Item Summaries By Id</label>
        <locationX>1752</locationX>
        <locationY>887</locationY>
        <assignNextValueToReference>currentItem_Filter_Order_Item_Summaries_By_Id</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Order_Item_Summaries</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Order_Item_Summaries_By_Id.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterate_Over_Filtered_Charge_Lines.ReferenceEntityItemId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_Over_Filtered_Order_Item_Summaries</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Product</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Product</label>
        <locationX>2129</locationX>
        <locationY>1205</locationY>
        <assignNextValueToReference>currentItem_Filter_Product_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Products</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Product_0.StockKeepingUnit</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterate_Over_Filtered_Charge_Lines.Product2.masterSku__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_over_Filter_product</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Return_Order_Line_Item</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Return Order Line Item</label>
        <locationX>1236</locationX>
        <locationY>1089</locationY>
        <assignNextValueToReference>currentItem_Filter_Return_Order_Line_Item_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Return_Order_Line_Item</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Return_Order_Line_Item_0.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterate_Over_Filtered_Charge_Lines.ReturnOrderLineItem__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Filter_Return_Order_Line_Item</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>SALESCHANNEL_MANUALORDER</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual Order</stringValue>
        </value>
    </constants>
    <constants>
        <name>SALESCHANNEL_RIMOWA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Rimowa</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Order_Summary_Saleschannel</name>
        <label>Check Order Summary Saleschannel</label>
        <locationX>946</locationX>
        <locationY>304</locationY>
        <defaultConnectorLabel>Do Not Create</defaultConnectorLabel>
        <rules>
            <name>Create_Transcation_Records</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Summary.SalesChannel.SalesChannelName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SALESCHANNEL_RIMOWA</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order_Summary.SalesChannel.SalesChannelName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SALESCHANNEL_MANUALORDER</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Fulfillment_Order.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Warehouse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Delivery_Group_Summary</targetReference>
            </connector>
            <label>Create Transcation Records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Refund_Origin</name>
        <label>Check Refund Origin</label>
        <locationX>1409</locationX>
        <locationY>1098</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>From_Appeasment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Refund.RefundOrigin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appeasement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Adjustment_Line</targetReference>
            </connector>
            <label>From Appeasment</label>
        </rules>
        <rules>
            <name>From_Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Refund.RefundOrigin__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Express_Delivery</targetReference>
            </connector>
            <label>From Return</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Saleschannel_Mapping</name>
        <label>Check Saleschannel Mapping</label>
        <locationX>1425</locationX>
        <locationY>543</locationY>
        <defaultConnector>
            <targetReference>Check_Shipping_Credit_Memo_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Empty</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Saleschannel_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Store</targetReference>
            </connector>
            <label>Is Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Shipping_Credit_Memo_Line</name>
        <label>Check Shipping Credit Memo Line</label>
        <locationX>1554</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>Set_Transaction_Record_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shipping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Shipping_Credit_Memo_Line</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Transaction_Record_Values_0</targetReference>
            </connector>
            <label>Shipping ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Store</name>
        <label>Check Store</label>
        <locationX>1616</locationX>
        <locationY>407</locationY>
        <defaultConnector>
            <targetReference>Check_Shipping_Credit_Memo_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Empty</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Empty2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Store</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Transaction_Store</targetReference>
            </connector>
            <label>Is Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Store_Record</name>
        <label>Check Store Record</label>
        <locationX>1843</locationX>
        <locationY>715</locationY>
        <defaultConnector>
            <targetReference>Set_Transaction_Item_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Empty</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Empty3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Store</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Transaction_Item_Store</targetReference>
            </connector>
            <label>Is Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Express_Delivery</name>
        <label>Express Delivery</label>
        <locationX>1302</locationX>
        <locationY>1420</locationY>
        <defaultConnector>
            <targetReference>Filter_Return_Order_Line_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExpressDelivery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_Filtered_Charge_Lines.ReferenceEntityItemType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery Charge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_Over_Filtered_Charge_Lines.ChargeAmount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Prices_0</targetReference>
            </connector>
            <label>Express Delivery ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_second_hand</name>
        <label>If second hand</label>
        <locationX>2124</locationX>
        <locationY>1002</locationY>
        <defaultConnector>
            <targetReference>Assign_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Second_hand</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Over_Filtered_Charge_Lines.Product2.isSecondHand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_Product</targetReference>
            </connector>
            <label>Second hand</label>
        </rules>
    </decisions>
    <formulas>
        <name>Adj</name>
        <dataType>Number</dataType>
        <expression>-{!V_UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AdjTax</name>
        <dataType>Number</dataType>
        <expression>-({!Get_Credit_Memo_Lines_Adj.AdjustmentAmount} + {!Get_Credit_Memo_Lines_Tax_0.TaxAmount})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ExclTaxAmount</name>
        <dataType>Number</dataType>
        <expression>-{!Get_Credit_Memo.TotalAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ExclTaxAmountItem</name>
        <dataType>Number</dataType>
        <expression>-{!V_ExclTaxAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ExclTaxTansactionShippingCost</name>
        <dataType>Number</dataType>
        <expression>-{!Get_Order_Summary.TotalDeliveryAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>F_ExclTaxAmount</name>
        <dataType>Number</dataType>
        <expression>-{!V_ExclTaxAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>F_InclTaxAmount</name>
        <dataType>Number</dataType>
        <expression>-{!V_InclTaxAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FX_CurrencyCode</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Order_Summary.CurrencyIsoCode})</expression>
    </formulas>
    <formulas>
        <name>FX_GrossUnitPrice</name>
        <dataType>Number</dataType>
        <expression>-{!V_GrossUnitPrice} / {!FX_QtyRecieved}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FX_TransactionLineId</name>
        <dataType>String</dataType>
        <expression>{!Get_Credit_Memo.DocumentNumber__c} + &quot;/&quot; + TEXT({!V_LineNumber})</expression>
    </formulas>
    <formulas>
        <name>FX_UnitPrice</name>
        <dataType>Number</dataType>
        <expression>-{!V_UnitPrice} / {!FX_QtyRecieved}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>InclTaxAmount</name>
        <dataType>Number</dataType>
        <expression>-{!Get_Credit_Memo.TotalAmountWithTax}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>InclTaxAmountItem</name>
        <dataType>Number</dataType>
        <expression>-{!V_InclTaxAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>InclTaxTransactionShippingCost</name>
        <dataType>Number</dataType>
        <expression>-{!Get_Order_Summary.TotalDeliveryAmountWithTax}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LineDiscountAmount</name>
        <dataType>Number</dataType>
        <expression>-{!V_LineDiscountAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PaidAmount</name>
        <dataType>Number</dataType>
        <expression>-{!Get_Credit_Memo.TotalAmountWithTax}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SOM 410 - Credit Memo Insert RCU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 410 - Credit Memo Insert RCU</label>
    <loops>
        <name>Iterate_Over_Adjustment_Line</name>
        <label>Iterate Over Adjustment Line</label>
        <locationX>2289</locationX>
        <locationY>1505</locationY>
        <collectionReference>Filter_Adjustment_Line</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Negative_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Transaction_Item_To_Collection_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Filtered_Charge_Lines</name>
        <label>Iterate Over Filtered Charge Lines</label>
        <locationX>2270</locationX>
        <locationY>514</locationY>
        <collectionReference>Filter_Line_With_Type_Charge</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Line_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Transaction_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Filtered_Charge_Lines_0</name>
        <label>Iterate Over Filtered Charge Lines</label>
        <locationX>2712</locationX>
        <locationY>504</locationY>
        <collectionReference>Filter_Line_With_Type_Charge</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_ChargeLine_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Filtered_Order_Item_Summaries</name>
        <label>Iterate Over Filtered Order Item Summaries</label>
        <locationX>1413</locationX>
        <locationY>887</locationY>
        <collectionReference>Filter_Order_Item_Summaries_By_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Transaction_Item_Tax_Rate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Refund_Origin</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Filter_Return_Order_Line_Item</name>
        <label>Loop Filter Return Order Line Item</label>
        <locationX>1074</locationX>
        <locationY>1090</locationY>
        <collectionReference>Filter_Return_Order_Line_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fx</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Prices</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Filter_product</name>
        <label>Loop over Filter product</label>
        <locationX>1963</locationX>
        <locationY>1203</locationY>
        <collectionReference>Filter_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_current_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Product_with_master_SKU</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Transaction_Items</name>
        <label>Create Transaction Items</label>
        <locationX>2365</locationX>
        <locationY>750</locationY>
        <connector>
            <targetReference>Create_Transaction_Payment</targetReference>
        </connector>
        <inputReference>COL_TransactionItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Transaction_Payment</name>
        <label>Create Transaction Payment</label>
        <locationX>2368</locationX>
        <locationY>913</locationY>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>Get_Order_Summary.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>FX_CurrencyCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaidAmount__c</field>
            <value>
                <elementReference>PaidAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction__c</field>
            <value>
                <elementReference>REC_Transaction.Id</elementReference>
            </value>
        </inputAssignments>
        <object>TransactionPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Transaction_Record</name>
        <label>Create Transaction Record</label>
        <locationX>2041</locationX>
        <locationY>198</locationY>
        <connector>
            <targetReference>Get_Refund</targetReference>
        </connector>
        <inputReference>REC_Transaction</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Credit_Memo</name>
        <label>Get Credit Memo</label>
        <locationX>390</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreditMemoId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CreditMemo</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Memo_Lines</name>
        <label>Get Credit Memo Lines</label>
        <locationX>2330</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Credit_Memo_Lines_Adj</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreditMemoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Credit_Memo.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CreditMemoLine</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Memo_Lines_Adj</name>
        <label>Get Credit Memo Lines ( Adj )</label>
        <locationX>2478</locationX>
        <locationY>307</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Credit_Memo_Lines_Tax_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Adjustment</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreditMemoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Credit_Memo.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CreditMemoLine</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_Memo_Lines_Tax_0</name>
        <label>Get Credit Memo Lines ( Tax )</label>
        <locationX>2617</locationX>
        <locationY>320</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Line_With_Type_Charge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tax</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreditMemoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Credit_Memo.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CreditMemoLine</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fulfillment_Order</name>
        <label>Get Fulfillment Order</label>
        <locationX>814</locationX>
        <locationY>303</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Shipping_Credit_Memo_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvoiceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoices.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrder</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoices</name>
        <label>Get Invoices</label>
        <locationX>675</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Fulfillment_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReferenceEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Delivery_Group_Summary</name>
        <label>Get Order Delivery Group Summary</label>
        <locationX>1225</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Item_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item_Summaries</name>
        <label>Get Order Item Summaries</label>
        <locationX>1233</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Saleschannel_Mapping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Summary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>529</locationX>
        <locationY>305</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Credit_Memo.ReferenceEntityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>2543</locationX>
        <locationY>505</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Return_Order_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StockKeepingUnit</field>
            <operator>In</operator>
            <value>
                <elementReference>C_Products</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Refund</name>
        <label>Get Refund</label>
        <locationX>2180</locationX>
        <locationY>314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Credit_Memo_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Credit_Memo.Refund__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Refund</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RefundOrigin__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Return_Order_Line_Item</name>
        <label>Get Return Order Line Item</label>
        <locationX>2396</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Filtered_Charge_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ChargeLineIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReturnOrderLineItem</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Saleschannel_Mapping</name>
        <label>Get Saleschannel Mapping</label>
        <locationX>1377</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Saleschannel_Mapping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zone__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order_Delivery_Group_Summary.DeliverToCountry</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Channel_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Shipping_Credit_Memo_Line</name>
        <label>Get Shipping Credit Memo Line</label>
        <locationX>883</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Order_Summary_Saleschannel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReferenceEntityItemType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreditMemoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Credit_Memo.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CreditMemoLine</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Store</name>
        <label>Get Store</label>
        <locationX>1626</locationX>
        <locationY>533</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Store</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SourceStoreId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Saleschannel_Mapping.ChannelId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Store__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>266</locationX>
        <locationY>113</locationY>
        <connector>
            <targetReference>Get_Credit_Memo</targetReference>
        </connector>
        <object>CreditMemoCreated__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>C_Products</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChargeLineIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COL_TransactionItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TransactionItem__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Adjustment_Line</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CreditMemoLine</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Line_With_Type_Charge</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CreditMemoLine</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Order_Item_Summaries_By_Id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Product_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Return_Order_Line_Item_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>FX_QtyRecieved</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>REC_Transaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>REC_TransactionItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TransactionItem__c</objectType>
    </variables>
    <variables>
        <name>ReturnLineItemRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>S_Current_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>V_ExclTaxAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>V_GrossUnitPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>V_InclTaxAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>V_LineDiscountAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>V_LineNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>V_UnitPrice</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
