unpackaged/main/default/flows/SOM_660_Manual_Return_Reception.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Convert_DateTime_To_Selected_TimeZone</name>
        <label>Convert DateTime To Selected TimeZone</label>
        <locationX>847</locationX>
        <locationY>403</locationY>
        <actionName>SOM_DateTimeHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen_Validation_Reception</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>dateToConvert</name>
            <value>
                <elementReference>ReceptionDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetTimeZone</name>
            <value>
                <elementReference>Time_zone</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>V_ConvertedDateTime</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Error_Data_Validity</name>
        <label>Assign Error Data Validity</label>
        <locationX>1294</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>V_Error_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FX_Calculated_ErrorMsg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Return_Order_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_ROLI</name>
        <label>Assign Single ROLI</label>
        <locationX>492</locationX>
        <locationY>41</locationY>
        <assignmentItems>
            <assignToReference>S_ReturnOrderLineItem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>L10_Loop_Over_ROLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>L10_Loop_Over_ROLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_Error_Variable</name>
        <label>Empty Error Variable</label>
        <locationX>989</locationX>
        <locationY>637</locationY>
        <assignmentItems>
            <assignToReference>V_Error_Message</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Convert_DateTime_To_Selected_TimeZone</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Time_Zone2</name>
        <choiceText>UTC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UTC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Time_Zone_picklist_Values</name>
        <choiceText>GMT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GMT</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Return_Data_Validity</name>
        <label>Check Return Data Validity</label>
        <locationX>1095</locationX>
        <locationY>418</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_Data_Validity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Go Back</defaultConnectorLabel>
        <rules>
            <name>Go_to_Return_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Location</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Time_zone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ReceptionDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_Error_Variable</targetReference>
            </connector>
            <label>Go to Return Validation</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Locations_for_picklist</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomCountry__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OrderDeliveryGroupSummary.DeliverToCountry</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_User_TimeZone</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TimeZoneSidKey</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>FX_Calculated_ErrorMsg</name>
        <dataType>String</dataType>
        <expression>if( {!Location} != null ,&quot;&quot;, &quot;* Location field is Mandatory&quot; + BR() ) + 
if( {!Time_zone} != null ,&quot;&quot;, &quot;* TimeZone field is Mandatory&quot; + BR() )  +
if( TEXT({!ReceptionDate}) != null ,&quot;&quot;, &quot;* Reception Date field is Mandatory&quot; + BR() )</expression>
    </formulas>
    <formulas>
        <name>FX_CalculatedLocation</name>
        <dataType>String</dataType>
        <expression>if( ISBLANK({!Get_Return_Order.DestinationLocationId}) , {!Get_FOLI.FulfillmentOrder.FulfilledFromLocationId} , {!Get_Return_Order.DestinationLocationId})</expression>
    </formulas>
    <formulas>
        <name>FX_User_Default_TimeZone</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.TimeZoneSidKey})</expression>
    </formulas>
    <interviewLabel>SOM 660 - Manual Return {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 660 - Manual Return Reception</label>
    <loops>
        <name>L10_Loop_Over_ROLI</name>
        <label>L10 Loop Over ROLI</label>
        <locationX>486</locationX>
        <locationY>216</locationY>
        <collectionReference>Get_ReturnOrder_LineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_ROLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_FOLI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_FOLI</name>
        <label>Get FOLI</label>
        <locationX>700</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OrderDeliveryGroupSummary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderItemSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>S_ReturnOrderLineItem.OrderItemSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OrderDeliveryGroupSummary</name>
        <label>Get OrderDeliveryGroupSummary</label>
        <locationX>864</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Return_Order_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Return_Order.OrderSummaryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Return_Order</name>
        <label>Get Return Order</label>
        <locationX>177</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ReturnOrder_LineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ReturnOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ReturnOrder_LineItems</name>
        <label>Get ReturnOrder LineItems</label>
        <locationX>342</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>L10_Loop_Over_ROLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ReturnOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Return_Order.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ReturnOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Return_Order</name>
        <label>Update Return Order</label>
        <locationX>521</locationX>
        <locationY>403</locationY>
        <connector>
            <targetReference>Update_ROLI_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Return_Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DestinationLocationId</field>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReturnDate__c</field>
            <value>
                <elementReference>V_ConvertedDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </inputAssignments>
        <object>ReturnOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ROLI_Records</name>
        <label>Update ROLI Records</label>
        <locationX>347</locationX>
        <locationY>404</locationY>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <inputReference>C_OutPut_ROLI_To_Display</inputReference>
    </recordUpdates>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish_Screen</label>
        <locationX>345</locationX>
        <locationY>581</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>message_Finish</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Return reception processed successfully&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Return_Order_Details</name>
        <label>Return Order Details</label>
        <locationX>1099</locationX>
        <locationY>218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Return_Data_Validity</targetReference>
        </connector>
        <fields>
            <name>Return_Order_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Return_Order_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_OrderSummaryNumber</name>
                    <fieldText>&lt;p&gt;Order Summary Number : {!Get_Return_Order.OrderSummary.OrderNumber}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_RO_Number</name>
                    <fieldText>&lt;p&gt;Return Order Number : {!Get_Return_Order.ReturnOrderNumber}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Return_Order_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Return_Order_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Return_Order_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ReceptionDate</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Reception Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Return_Order_Details_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Time_zone</name>
                    <choiceReferences>Picklist_User_TimeZone</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FX_User_Default_TimeZone</elementReference>
                    </defaultValue>
                    <fieldText>Time zone</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Return_Order_Details_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Return_Order_Details_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Return_Order_Details_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Location</name>
                    <choiceReferences>Locations_for_picklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FX_CalculatedLocation</elementReference>
                    </defaultValue>
                    <fieldText>Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Return_Order_Details_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Return_Order_Details_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Return_Order_Details_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Return_Order_Details_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Error_Section</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 20, 20);&quot;&gt;Required Fields are missing :&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(244, 20, 20);&quot;&gt;{!V_Error_Message}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>V_Error_Message</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ManualReceptionReturnScreen</name>
            <extensionName>c:som_ManualReturnReception</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>listOutputDataWithDetails</name>
                <value>
                    <elementReference>C_Edited_ROLI</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>C_Edited_ROLI</assignToReference>
                <name>listOutputDataWithDetails</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>C_OutPut_ROLI_To_Display</assignToReference>
                <name>listOutputLine</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Validation_Reception</name>
        <label>Screen Validation Reception</label>
        <locationX>658</locationX>
        <locationY>406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Return_Order</targetReference>
        </connector>
        <fields>
            <name>Screen_Validation_Reception_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Validation_Reception_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_OS_Number_2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Order Summary Number : {!Get_Return_Order.OrderSummary.OrderNumber}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Display_RO_Number_2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Return Order Number : {!Get_Return_Order.ReturnOrderNumber}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ReceptionDate_DisplayOnly</name>
                    <fieldText>&lt;p&gt;Reception Date : {!V_ConvertedDateTime}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>locationDisplayOnly</name>
                    <fieldText>&lt;p&gt;Warehouse : {!Location}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Validation_Reception_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_Validation_Reception_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Validation_Reception_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DataTable_List_Edited_ROLI_Display</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>ReturnOrderLineItem</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayAll</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_displayAll</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>ReturnOrderLineItem</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Sku__c,Description,QuantityReceived,SerialNumber__c,ConditionId__c,RepaymentMethod</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Sku__c:205, Description:165, QuantityReceived:175, SerialNumber__c:220, ConditionId__c:170, RepaymentMethod:205</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>C_OutPut_ROLI_To_Display</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnLabels</name>
                        <value>
                            <stringValue>ConditionId__c: Condition,QuantityReceived:Quantity Received,SerialNumber__c:Serial Numbers,</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideHeaderActions</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideHeaderActions</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideCheckboxColumn</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_hideCheckboxColumn</name>
                        <value>
                            <stringValue>CB_TRUE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_isRequired</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_singleRowSelection</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_allowNoneToBeChosen</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Validate Return Reception</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Get_Return_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>C_Edited_ROLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>C_OutPut_ROLI_To_Display</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>IsSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_DateConvertionInput</name>
        <apexClass>SOM_DateConvertionInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S_ReturnOrderLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReturnOrderLineItem</objectType>
    </variables>
    <variables>
        <name>V_ConvertedDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>V_Roli_Collection_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
