unpackaged/main/default/flows/SOM_Cancel_Order_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancel_Fulfillment_Order_Line_Items</name>
        <label>Cancel Fulfillment Order Line Items</label>
        <locationX>1796</locationX>
        <locationY>1026</locationY>
        <actionName>cancelFulfillmentOrderItem</actionName>
        <actionType>cancelFulfillmentOrderItem</actionType>
        <connector>
            <targetReference>Iterate_Over_Fulfillment_Order_Line_Items</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderLineItemsToCancelInput</name>
            <value>
                <elementReference>REC_FulfillmentOrderLineItemsToCancelInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fulfillmentOrderId</name>
            <value>
                <elementReference>Iterate_Over_Fulfillment_Order_Line_Items.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Cancel_Order_Item_Summaries</name>
        <label>Cancel Order Item Summaries</label>
        <locationX>862</locationX>
        <locationY>1209</locationY>
        <actionName>cancelOrderItemSummariesSubmit</actionName>
        <actionType>cancelOrderItemSummariesSubmit</actionType>
        <connector>
            <targetReference>OCI_Release_Reservation_Decision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemSummaryLineItemsToChangeInput</name>
            <value>
                <elementReference>REC_ChangeInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderSummaryId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>CancelOutputRepresentation</assignToReference>
            <name>submitCancelOutput</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Generate_Uuid_Value</name>
        <label>Generate Uuid Value</label>
        <locationX>651</locationX>
        <locationY>930</locationY>
        <actionName>SOM_FlowUtils_UuidGenerator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_OCI_Release_Reservation_Single_Input</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Uuid_Value</assignToReference>
            <name>value</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>OCI_Release_Reservation</name>
        <label>OCI Release Reservation</label>
        <locationX>88</locationX>
        <locationY>744</locationY>
        <actionName>ociReleaseReservation</actionName>
        <actionType>ociReleaseReservation</actionType>
        <connector>
            <targetReference>Set_OS_To_Canceled</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ociReleaseReservationInput</name>
            <value>
                <elementReference>REC_OCIReleaseReservationInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Change_Item_Input_To_Collection</name>
        <label>Add Change Item Input To Collection</label>
        <locationX>1461</locationX>
        <locationY>1229</locationY>
        <assignmentItems>
            <assignToReference>COL_ChangeItemInputRepresentation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>REC_ChangeItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Order_Item_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_FO_Line_Item_To_Collection</name>
        <label>Add FO Line Item To Collection</label>
        <locationX>2395</locationX>
        <locationY>960</locationY>
        <assignmentItems>
            <assignToReference>COL_FulfillmentOrderLineItemInputRepresentation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>REC_FulfillmentOrderLineItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Fulfillment_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_OCI_Single_Input_To_Collection</name>
        <label>Add OCI Single Input To Collection</label>
        <locationX>195</locationX>
        <locationY>1131</locationY>
        <assignmentItems>
            <assignToReference>COL_OCIReleaseReservationSingleInputRepresentation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>REC_OCIReleaseReservationSingleInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Order_Item_Summaries_To_Release_OCI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Change_Input_Representation_Values</name>
        <label>Set Change Input Representation Values</label>
        <locationX>1289</locationX>
        <locationY>1228</locationY>
        <assignmentItems>
            <assignToReference>REC_ChangeItemInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Order_Item_Summaries.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_ChangeItemInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Order_Item_Summaries.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_ChangeItemInputRepresentation.reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RE03</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_ChangeItemInputRepresentation.shippingReductionFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Change_Item_Input_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_FO_Items_To_Cancel_In_Collection</name>
        <label>Set FO Items To Cancel In Collection</label>
        <locationX>2128</locationX>
        <locationY>1026</locationY>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemsToCancelInputRepresentation.fulfillmentOrderLineItemsToCancel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COL_FulfillmentOrderLineItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_Fulfillment_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fulfillment_Order_Line_Items_Input</name>
        <label>Set Fulfillment Order Line Items Input</label>
        <locationX>2394</locationX>
        <locationY>744</locationY>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemInputRepresentation.fulfillmentOrderLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Fulfillment_Order_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_FulfillmentOrderLineItemInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Fulfillment_Order_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_FO_Line_Item_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Location_External_Reference</name>
        <label>Set Location External Reference</label>
        <locationX>432</locationX>
        <locationY>1390</locationY>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationSingleInputRepresentation.locationIdentifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Filtered_Locations.ExternalReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Filtered_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OCI_Release_Reservation_Single_Input</name>
        <label>Set OCI Release Reservation Single Input</label>
        <locationX>533</locationX>
        <locationY>1018</locationY>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationSingleInputRepresentation.actionRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Uuid_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationSingleInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Order_Item_Summaries_To_Release_OCI.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationSingleInputRepresentation.stockKeepingUnit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Order_Item_Summaries_To_Release_OCI.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationSingleInputRepresentation.externalRefId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.OrderNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Order_Item_Summaries_To_Cancel</name>
        <label>Set Order Item Summaries To Cancel</label>
        <locationX>192</locationX>
        <locationY>833</locationY>
        <assignmentItems>
            <assignToReference>REC_OCIReleaseReservationInputRepresentation.releaseRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COL_OCIReleaseReservationSingleInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OCI_Release_Reservation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OS_Items_To_Cancel</name>
        <label>Set OS Items To Cancel</label>
        <locationX>1394</locationX>
        <locationY>835</locationY>
        <assignmentItems>
            <assignToReference>REC_ChangeInputRepresentation.changeItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>COL_ChangeItemInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Fulfillment_Order_Status_To_Canceled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_OS_To_Canceled</name>
        <label>Set OS To Canceled</label>
        <locationX>487</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OS</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Locations</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Locations</label>
        <locationX>639</locationX>
        <locationY>1143</locationY>
        <assignNextValueToReference>currentItem_Filter_Locations</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Locations</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Locations.Id</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterate_Over_Order_Item_Summaries_To_Release_OCI.ReservedAtLocationId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_Over_Filtered_Locations</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Fulfillment_Order</name>
        <label>Check Fulfillment Order</label>
        <locationX>1236</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Fulfillment_Order_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Empty</defaultConnectorLabel>
        <rules>
            <name>Is_FO_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Fulfillment_Orders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Item_Summaries</targetReference>
            </connector>
            <label>Is FO Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Summary_Status</name>
        <label>Check Order Summary Status</label>
        <locationX>1597</locationX>
        <locationY>245</locationY>
        <defaultConnector>
            <targetReference>Error_Screen_OS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Valid</defaultConnectorLabel>
        <rules>
            <name>Is_Status_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Partially fulfilled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Fulfilled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_Screen</targetReference>
            </connector>
            <label>Is Status Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirm_Delete</name>
        <label>Confirm Delete</label>
        <locationX>1350</locationX>
        <locationY>401</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceed_on_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmToggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Fulfillment_Orders</targetReference>
            </connector>
            <label>Proceed on Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>OCI_Release_Reservation_Decision</name>
        <label>OCI Release Reservation Decision</label>
        <locationX>958</locationX>
        <locationY>728</locationY>
        <defaultConnector>
            <targetReference>Set_OS_To_Canceled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cannot Release Reservation</defaultConnectorLabel>
        <rules>
            <name>Release_Reservation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for goods</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Locations</targetReference>
            </connector>
            <label>Release Reservation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SOM - Cancel Order Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM - Cancel Order Summary</label>
    <loops>
        <name>Iterate_Over_Filtered_Locations</name>
        <label>Iterate Over Filtered Locations</label>
        <locationX>433</locationX>
        <locationY>1143</locationY>
        <collectionReference>Filter_Locations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Location_External_Reference</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_OCI_Single_Input_To_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Fulfillment_Order_Line_Items</name>
        <label>Iterate Over Fulfillment Order Line Items</label>
        <locationX>1788</locationX>
        <locationY>604</locationY>
        <collectionReference>Get_Fulfillment_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Fulfillment_Order_Line_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Order_Item_Summaries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Order_Item_Summaries</name>
        <label>Iterate Over Order Item Summaries</label>
        <locationX>1394</locationX>
        <locationY>1029</locationY>
        <collectionReference>Get_Order_Item_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Change_Input_Representation_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_OS_Items_To_Cancel</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Order_Item_Summaries_To_Release_OCI</name>
        <label>Iterate Over Order Item Summaries To Release OCI</label>
        <locationX>442</locationX>
        <locationY>833</locationY>
        <collectionReference>Get_Order_Item_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Generate_Uuid_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Order_Item_Summaries_To_Cancel</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Fulfillment_Order_Line_Items</name>
        <label>Loop Over Fulfillment Order Line Items</label>
        <locationX>2124</locationX>
        <locationY>808</locationY>
        <collectionReference>Get_Fulfillment_Order_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Fulfillment_Order_Line_Items_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_FO_Items_To_Cancel_In_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Fulfillment_Order_Line_Items</name>
        <label>Get Fulfillment Order Line Items</label>
        <locationX>2124</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Fulfillment_Order_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FulfillmentOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Over_Fulfillment_Order_Line_Items.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrderLineItem</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fulfillment_Orders</name>
        <label>Get Fulfillment Orders</label>
        <locationX>1680</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Fulfillment_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Partially Fulfilled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FulfillmentOrder</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Locations</name>
        <label>Get Locations</label>
        <locationX>725</locationX>
        <locationY>826</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Order_Item_Summaries_To_Release_OCI</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ExternalReference</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Item_Summaries</name>
        <label>Get Order Item Summaries</label>
        <locationX>1619</locationX>
        <locationY>1029</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Order_Item_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order Product</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quantity</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Fulfillment_Order_Status_To_Canceled</name>
        <label>Set Fulfillment Order Status To Canceled</label>
        <locationX>1140</locationX>
        <locationY>1033</locationY>
        <connector>
            <targetReference>Cancel_Order_Item_Summaries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Partially Fulfilled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Fulfilled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>FulfillmentOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OS</name>
        <label>Update OS</label>
        <locationX>273</locationX>
        <locationY>480</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>1357</locationX>
        <locationY>247</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirm_Delete</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Do you want to cancel this Order?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmToggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Confirm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_OS</name>
        <label>Error Screen OS</label>
        <locationX>1992</locationX>
        <locationY>246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;You cannot cancel this Order.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Congratulations! Your order has been canceled successfully 👏.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1479</locationX>
        <locationY>23</locationY>
        <connector>
            <targetReference>Check_Order_Summary_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CancelOutputRepresentation</name>
        <apexClass>ConnectApi__SubmitCancelOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COL_ChangeItemInputRepresentation</name>
        <apexClass>ConnectApi__ChangeItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COL_FulfillmentOrderLineItemInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderLineItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>COL_OCIReleaseReservationSingleInputRepresentation</name>
        <apexClass>ConnectApi__OCIReleaseReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Filter_Locations</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>ensureRefundsAsyncInputRepresentation</name>
        <apexClass>ConnectApi__EnsureRefundsAsyncInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_ChangeInputRepresentation</name>
        <apexClass>ConnectApi__ChangeInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_ChangeItemInputRepresentation</name>
        <apexClass>ConnectApi__ChangeItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_FulfillmentOrderLineItemInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderLineItemInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_FulfillmentOrderLineItemsToCancelInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderLineItemsToCancelInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_OCIReleaseReservationInputRepresentation</name>
        <apexClass>ConnectApi__OCIReleaseReservationInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>REC_OCIReleaseReservationSingleInputRepresentation</name>
        <apexClass>ConnectApi__OCIReleaseReservationSingleInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderSummary</objectType>
    </variables>
    <variables>
        <name>Uuid_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
