unpackaged/main/default/flows/SOM_115_ManuallyValidateOrderSummary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <constants>
        <name>ACCEPT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ACCEPT</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Order_Payment_Summary_Type</name>
        <label>Check Order Payment Summary Type</label>
        <locationX>834</locationX>
        <locationY>487</locationY>
        <defaultConnector>
            <targetReference>Manual_Fraud_Decision_COD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TYPE = COD</defaultConnectorLabel>
        <rules>
            <name>Type_NOT_COD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Payment_Summary.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>COD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manual_Fraud_Decision_Not_COD</targetReference>
            </connector>
            <label>Type &lt;&gt; COD</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SOM Unblock OS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SOM 115 - Manually Validate Order Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Order_Payment_Summary</name>
        <label>Get Order Payment Summary</label>
        <locationX>840</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Order_Payment_Summary_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_OS.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderPaymentSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OS</name>
        <label>Get OS</label>
        <locationX>840</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Payment_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Manual_Fraud_Decision_COD</name>
        <label>Manual Fraud Decision COD</label>
        <locationX>712</locationX>
        <locationY>661</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Fraud_Analysis</targetReference>
        </connector>
        <fields>
            <name>FraudValidationCod</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Manual Fraud Validation&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Do you Confirm the order validation ?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Manual_Fraud_Decision_Not_COD</name>
        <label>Manual Fraud Decision Not COD</label>
        <locationX>974</locationX>
        <locationY>659</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Fraud_Analysis</targetReference>
        </connector>
        <fields>
            <name>FraudValidation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Manual Fraud Validation&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Token</name>
            <dataType>String</dataType>
            <fieldText>Customer Token</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(244, 16, 3);&quot;&gt;A customer token must be entered to validate the order&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Customer_Token</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_confirm</name>
        <label>Screen confirm</label>
        <locationX>833</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;The order is successfuly validated.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>714</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_OS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Fraud_Analysis</name>
        <label>Fraud Analysis</label>
        <locationX>833</locationX>
        <locationY>796</locationY>
        <connector>
            <targetReference>Screen_confirm</targetReference>
        </connector>
        <flowName>SOM_Fraud_FraudAnalysisHandler</flowName>
        <inputAssignments>
            <name>customerToken</name>
            <value>
                <elementReference>Customer_Token</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>fraudReviewDecision</name>
            <value>
                <elementReference>ACCEPT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>orderSummaryNumber</name>
            <value>
                <elementReference>Get_OS.OrderNumber</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
