unpackaged/main/default/flows/testPLM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Account_Assignement</name>
        <label>Account Assignement</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ReturnedAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Consent_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Account_Not_eixst</name>
        <label>Account Not eixst</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>errors</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account Not exist</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_OutPut_response</name>
        <label>Assign OutPut response</label>
        <locationX>50</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>VerificationResponse.accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactPointConsentRecord.AccountId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationResponse.DoubleOptInHash</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactPointConsentRecord.DoubleOptInHash__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationResponse.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReturnedAccount.PersonEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VerificationResponse.isValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Id_or_email_Not_Valid</name>
        <label>Id or email Not Valid</label>
        <locationX>1370</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>errors</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account Id or Email Not Valid</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>No_consent_Exist</name>
        <label>No consent Exist</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>VerificationResponse.isValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Consent_fields</name>
        <label>Update Consent fields</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>ContactPointConsentRecord.PrivacyConsentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OptIn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactPointConsentRecord.EffectiveFrom</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactPointConsentRecord.DoubleConsentCaptureDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Udpate_Consent_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_if_exist</name>
        <label>Check Account if exist</label>
        <locationX>710</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Assignement</targetReference>
            </connector>
            <label>Account exist</label>
        </rules>
        <rules>
            <name>Account_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReturnedAccount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Not_eixst</targetReference>
            </connector>
            <label>Account null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Consent_record_if_empty</name>
        <label>Check Consent record if empty</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consent_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactPointConsentRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Consent_fields</targetReference>
            </connector>
            <label>Consent Not Empty</label>
        </rules>
        <rules>
            <name>Consent_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactPointConsentRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_consent_Exist</targetReference>
            </connector>
            <label>Consent Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Account_Id</name>
        <label>Verify Account Id</label>
        <locationX>1172</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountId_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VerificationRequest.accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VerificationRequest.email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VerificationRequest.DoubleOptInHash</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record</targetReference>
            </connector>
            <label>AccountId and email Not Null</label>
        </rules>
        <rules>
            <name>Inputs_Are_Not_Valid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VerificationRequest.accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VerificationRequest.email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VerificationRequest.DoubleOptInHash</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Id_or_email_Not_Valid</targetReference>
            </connector>
            <label>Inputs Are Not Valid</label>
        </rules>
    </decisions>
    <interviewLabel>testPLM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>testPLM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_commSubscriptionConsent_Record</name>
        <label>Create commSubscriptionConsent Record</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Udpate_Account_OptIn_Emailing</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId__c</field>
            <value>
                <elementReference>ContactPointConsentRecord.AccountId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommSubscriptionChannelTypeId</field>
            <value>
                <elementReference>Get_comm.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentCapturedDateTime</field>
            <value>
                <elementReference>ContactPointConsentRecord.CaptureDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ConsentCapturedSource</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactPointId</field>
            <value>
                <elementReference>ContactPointConsentRecord.ContactPointId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveFromDate</field>
            <value>
                <elementReference>ContactPointConsentRecord.EffectiveFrom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Newsletter</stringValue>
            </value>
        </inputAssignments>
        <object>CommSubscriptionConsent</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_if_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VerificationRequest.accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VerificationRequest.email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_comm</name>
        <label>Get CommSubscriptionChannelType record</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_commSubscriptionConsent_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Newsletter</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CommSubscriptionChannelType</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Consent_record</name>
        <label>Get Consent record</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Consent_record_if_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReturnedAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>DoubleOptInHash__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VerificationRequest.DoubleOptInHash</elementReference>
            </value>
        </filters>
        <filters>
            <field>PrivacyConsentStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OptOut</stringValue>
            </value>
        </filters>
        <object>ContactPointConsent</object>
        <outputReference>ContactPointConsentRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId__c</queriedFields>
        <queriedFields>PrivacyConsentStatus</queriedFields>
        <queriedFields>EffectiveFrom</queriedFields>
        <queriedFields>EffectiveTo</queriedFields>
        <queriedFields>DoubleOptInHash__c</queriedFields>
        <queriedFields>ContactPointId</queriedFields>
        <queriedFields>CaptureDate</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Udpate_Account_OptIn_Emailing</name>
        <label>Udpate Account OptIn Emailing</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Assign_OutPut_response</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReturnedAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LastUpdateOptinEmailing__pc</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptinEmailing__pc</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Udpate_Consent_Record</name>
        <label>Udpate Consent Record</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_comm</targetReference>
        </connector>
        <inputReference>ContactPointConsentRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verify_Account_Id</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ContactPointConsentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointConsent</objectType>
    </variables>
    <variables>
        <name>errors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReturnedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Var_CommSubscription_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CommSubscriptionConsent</objectType>
    </variables>
    <variables>
        <name>VerificationRequest</name>
        <apexClass>VerificationRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VerificationResponse</name>
        <apexClass>VerificationResponse</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
