unpackaged/main/default/flows/Transaction_Manage_UCRInternalID_Field_Value.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_UCR_Internal_ID_value</name>
        <label>Check UCR Internal ID value</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Update_UCRinternalID_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UCRInternalId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dates</targetReference>
            </connector>
            <label>is Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Transaction Manage UCRInternalID Field Value {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transaction Manage UCRInternalID Field Value</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Dates</name>
        <label>Update Dates</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>UCRLastUpdateDate__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_UCRinternalID_Value</name>
        <label>Update UCRinternalID Value</label>
        <locationX>506</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>UCRCreationDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UCRInternalId__c</field>
            <value>
                <elementReference>$Record.R360ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UCRLastUpdateDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UCRInternalId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Transaction__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Check_UCR_Internal_ID_value</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
