unpackaged/main/default/flows/Update_Uk_product_Localisation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Update_Uk_product_localization</name>
        <label>Update Uk product localization</label>
        <locationX>562</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>TextValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Sku__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextValue</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>_</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TextValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Locale__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateRecords</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Uk product Localisation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Uk product Localisation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateRecords</name>
        <label>UpdateRecords</label>
        <locationX>726</locationX>
        <locationY>335</locationY>
        <inputAssignments>
            <field>UK_product_localization__c</field>
            <value>
                <elementReference>TextValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Update_Uk_product_localization</targetReference>
        </connector>
        <object>Product_Localization__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TextValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
