unpackaged/main/default/flows/User_BeforeInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Suffix_to_Record_Email</name>
        <label>Add Suffix to Record&#39;s Email</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>EmailWithSSOSuffix</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailWithSSOSuffix</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SSOsuffix</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Email_to_FedID_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_to_FedID_variable</name>
        <label>Assign Email to FedID variable</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>FederationIDvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailWithSSOSuffix</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isNew</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FedID_to_FedID_variable</name>
        <label>Assign FedID to FedID variable</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>FederationIDvalue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FederationIdentifier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isNew</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isNew</name>
        <label>isNew</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>UserStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Record</defaultConnectorLabel>
        <rules>
            <name>New_record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fed_ID_to_Email</targetReference>
            </connector>
            <label>New record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_if_Federation_ID_is_filled_in</name>
        <label>Test if Federation ID is filled in</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Assign_FedID_to_FedID_variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FedID filled</defaultConnectorLabel>
        <rules>
            <name>FedID_empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FederationIdentifier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FederationIdentifier</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SSO_Suffix_for_Instance</targetReference>
            </connector>
            <label>FedID empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserStatus</name>
        <label>UserStatus</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Is_Deactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IsActive</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_User_Clean_StaffCode</targetReference>
            </connector>
            <label>Is Deactivated</label>
        </rules>
        <rules>
            <name>Is_Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IsActive</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fed_ID_to_Email_1</targetReference>
            </connector>
            <label>Is Activated</label>
        </rules>
    </decisions>
    <description>With handling of SSO Suffix from custom metadata type (better handling of metadata type)</description>
    <environments>Default</environments>
    <formulas>
        <name>RecordIsNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <interviewLabel>User_BeforeInsertUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - BeforeInsertUpdate - Set User&#39;s FederationID for this instance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SSO_Suffix_for_Instance</name>
        <label>Get SSO Suffix for Instance</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Suffix_to_Record_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SSO Instance Own Suffix</stringValue>
            </value>
        </filters>
        <object>SSO_Setup_Constant__mdt</object>
        <outputAssignments>
            <assignToReference>SSOsuffix</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_User_Clean_FederationID</name>
        <label>Deactivate User-&gt;Clean FederationID</label>
        <locationX>314</locationX>
        <locationY>1343</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FederationIdentifier</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>FederationIdentifier</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Deactivate_User_Clean_StaffCode</name>
        <label>Deactivate User-&gt;Clean StaffCode</label>
        <locationX>314</locationX>
        <locationY>1019</locationY>
        <connector>
            <targetReference>Deactivate_User_Clean_StoreCode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StaffCode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>StaffCode__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Deactivate_User_Clean_StoreCode</name>
        <label>Deactivate User-&gt;Clean StoreCode</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Deactivate_User_CleanUCRID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StoreCode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>StoreCode__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Deactivate_User_CleanUCRID</name>
        <label>Deactivate User-&gt;Clean UCRID</label>
        <locationX>314</locationX>
        <locationY>1235</locationY>
        <connector>
            <targetReference>Deactivate_User_Clean_FederationID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UCRInternalId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>UCRInternalId__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Fed_ID_to_Email</name>
        <label>Set Fed ID to Email</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <filterLogic>(1 OR 2 OR (NOT 3)) AND 4</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>Get_SSO_Suffix_for_Instance</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>FederationIdentifier</field>
            <value>
                <elementReference>FederationIDvalue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Fed_ID_to_Email_1</name>
        <label>Set Fed ID to Email</label>
        <locationX>578</locationX>
        <locationY>1019</locationY>
        <filterLogic>(1 OR 2 OR (NOT 3)) AND 4</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>Get_SSO_Suffix_for_Instance</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>FederationIdentifier</field>
            <value>
                <elementReference>FederationIDvalue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Test_if_Federation_ID_is_filled_in</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailWithSSOSuffix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Email</elementReference>
        </value>
    </variables>
    <variables>
        <name>FederationIDvalue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SSOsuffix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
